<div id="pagHome">
    <h1 id="h1Home">Soja RR</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sojarr.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div>
        <p style="margin-left: 6em;"> <b> Soja RR: </b> La evolución tecnológica que transformó la agricultura brasileña
            <br>
        <p style="margin-left: 8em;">
            La soja RR, que significa Roundup Ready Soy, representa un hito en la historia de la agricultura brasileña.
            Desarrollada a finales de los años 1990, esta variedad de soja transgénica se ha convertido en uno de los
            principales productos
            sector agrícola del país, revolucionando el sector e impulsando su productividad y competitividad en el
            mercado
            global.

        <p style="margin-left: 6em;"> <b>Resistencia al glifosato: una ventaja revolucionaria:</b>

        <p style="margin-left: 8em;">
            La principal característica de la soja RR es su resistencia al glifosato, un herbicida altamente eficaz en
            Control de
            malas hierbas. <br>
            Esta resistencia proporcionó varios beneficios a los agricultores, tales como:

        <p style="margin-left: 10em;">
            <b> Reducción del uso de herbicidas: </b> La necesidad de aplicar herbicidas se ha reducido drásticamente,
            minimizando el impacto ambiental y los costes de producción. <br>
            <b> Mayor control de malezas: </b> La soja RR se ha vuelto más competitiva contra las malezas,
            dando como resultado un aumento en la productividad de los cultivos. <br>
            <b> Facilitación del manejo de las plantaciones: </b> El control facilitado de las malezas permitió un
            manejo
            más eficiente
            plantaciones eficientes, optimizando el tiempo y los recursos de los agricultores.

        <p style="margin-left: 6em;"> <b> Impacto en la agricultura brasileña: </b>

            La adopción de la soja RR generó un impacto significativo en la agricultura brasileña, impulsando varios
            aspectos del
            sector:

        <p style="margin-left: 8em;">
            <b> Aumento de la productividad: </b> La productividad de la soja en Brasil ha crecido considerablemente en
            las
            últimas décadas, en
            en gran parte debido a la adopción de la soja RR. <br>
            <b> Ampliación del área plantada: </b> El área plantada con soja en Brasil también se ha expandido
            significativamente, lo que hace que el
            país el mayor productor y exportador de soja del mundo. <br>
            <b> Modernización de la agricultura: </b> La soja RR contribuyó a la modernización de la agricultura
            brasileña,
            impulsando la
            adopción de nuevas tecnologías y prácticas agrícolas. <br>
            <b> Generación de ingresos y empleo: </b> La cadena productiva de la soja genera millones de empleos
            directos e
            indirectos en Brasil,
            contribuyendo al desarrollo socioeconómico del país.

        <p style="margin-left: 6em;"> <b> Desafíos y perspectivas: </b>

            A pesar de los beneficios de la soja RR, su uso también presenta algunos desafíos, como:

        <p style="margin-left: 8em;">
            <b> Resistencia al glifosato: </b> El uso excesivo de glifosato puede provocar la aparición de malezas
            resistentes al glifosato.
            herbicida, lo que requiere la búsqueda de nuevas soluciones de control. <br>
            <b> Impactos ambientales: </b> El uso de herbicidas, incluso con soja RR, puede tener impactos negativos en
            el
            medio ambiente,
            como la contaminación del suelo y del agua. <br>
            <b> Cuestiones sociales: </b> La expansión del área plantada con soja puede generar conflictos sociales,
            como
            disputas por la tierra y
            agua.

        <p style="margin-left: 6em;"> El futuro de la soja RR en Brasil dependerá de la capacidad del sector para
            afrontar
            estos desafíos
            de forma sostenible y responsable. <br>
            Es fundamental invertir en investigación y desarrollo para buscar nuevas variedades de soja que sean más
            resistentes a
            plagas y enfermedades, con menor impacto ambiental y que contribuyan al desarrollo social de las comunidades
            rurales. <br>
            La soja RR seguirá siendo un producto importante para la agricultura brasileña, mientras se mantenga su
            producción y
            su uso se realiza de forma sostenible y responsable.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>