<h1 id="h1Home">Soja RR</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sojarr.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        <p>La soja Roundup Ready (RR) es una variedad de soja transgénica resistente al herbicida glifosato. Exploremos más sobre esta tecnología:

            <p style="margin-left: 2em;"> <b>Historia de la soja RR (Roundup Ready): </b>
            <p style="margin-left: 3em;">La soja RR fue la primera planta transgénica aprobada para su cultivo en Brasil. Fue desarrollado por Monsanto en Estados Unidos en los años 1980.
            Esta variedad de soja fue modificada genéticamente, insertándole un gen de la bacteria Agrobacterium sp., haciéndola insensible al glifosato, que es el ingrediente activo del herbicida Roundup®.
            <p style="margin-left: 2em;"><b>Cómo funciona la Soja RR: </b>
            <p style="margin-left: 3em;">La soja RR es resistente al glifosato, lo que significa que los agricultores pueden aplicar este herbicida a los cultivos sin dañar la soja.
            El glifosato bloquea la enzima EPSP sintasa, esencial para la síntesis de aminoácidos en las plantas. Debido a que la soja RR no se ve afectada por el glifosato, puede crecer incluso cuando se aplica el herbicida.
            <p style="margin-left: 2em;"><b>Adopción y consecuencias: </b>
            <p style="margin-left: 3em;">La soja RR facilitó el manejo de malezas en los cultivos, reduciendo costos y haciendo más eficiente el control.
            En Brasil, la soja RR se cultivó legalmente a partir de 2005 y se convirtió en una opción altamente competitiva para los agricultores.
            <p style="margin-left: 2em;"><b>Eventos transgénicos aprobados para la soja en Brasil: </b>
            <p style="margin-left: 3em;">Además de la soja RR, en Brasil también se han aprobado otras variedades transgénicas, como la soja Bt, que es resistente a los insectos.
            Consejos para utilizar soja RR y otros OGM con herbicidas:
            <p>Consultar mejores prácticas de manejo para obtener los mejores resultados con soja RR y otras tecnologías transgénicas.
            En resumen, la soja RR es una herramienta importante para los agricultores, ya que proporciona una mayor eficiencia en el control de malezas y contribuye a la productividad de los cultivos.    
    </div>
    <br>
    <hr class="rounded">
</div>
