<h1 id="h1Home">Diamante</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/diamante.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">
    <p style="margin-left: 6em;"> <b> Diamante: </b> La piedra preciosa que brilla en Brasil <br>
    <p style="margin-left: 8em;">
        Brasil ostenta el título de ser uno de los mayores productores de diamantes del mundo, reconocido por su calidad
        belleza superior e impresionante de estas piedras preciosas.
        Encontrados en diferentes regiones del país, principalmente en Chapada Diamantina, los diamantes brasileños
        encantan al
        mundo con su brillo, color y corte impecable.

    <p style="margin-left: 6em;"> <b> Un viaje millonario: </b>
    <p style="margin-left: 8em;">
        La historia de la exploración de diamantes en Brasil se remonta al siglo XVIII, cuando se descubrieron los
        primeros yacimientos.
        descubierto en la región de Minas Gerais.
        Desde entonces, la búsqueda de estas piedras preciosas ha impulsado el desarrollo de la región, atrayendo
        aventureros,
        mineros e inversiones de todo el mundo.

    <p style="margin-left: 6em;"> <b> Funciones únicas: </b>

    <p style="margin-left: 8em;">
        Los diamantes brasileños se distinguen por sus características únicas, como:

    <p style="margin-left: 10em;">
        <b> Pureza: </b> Presentan un alto grado de pureza, con pocas inclusiones o imperfecciones. <br>
        <b> Color: </b> Varían en diferentes colores, desde el tradicional blanco hasta tonos raros como el rosa, el
        amarillo y el azul. <br>
        <b>Corte: </b> Son cortados con maestría por expertos artesanos, revelando todo su brillo y belleza. <br>
        <b> Brillo: </b> Tienen un brillo intenso e inconfundible, lo que los hace codiciados en todo el mundo. <br>

    <p style="margin-left: 6em;"> <b> Tipos de diamantes brasileños: </b>

    <p style="margin-left: 8em;">
        <b> Carbonado: </b> El tipo de diamante más común en Brasil, conocido por su color negro y alta resistencia.
        <br>
        <b> Maculine: </b> Tiene manchas negras o marrones, pero aún así tiene un gran valor. <br>
        <b>Brillante:</b> Cortado en forma triangular, es el tipo más popular y buscado por su belleza y brillo. <br>
        <b> Baguette: </b> Corte de forma rectangular, ideal para anillos y collares. <br>
        <b> Marquise: </b> Con un corte en forma de barco, tiene un aspecto elegante y sofisticado. <br>

    <p style="margin-left: 6em;"> <b> Más que joyas: </b>

    <p style="margin-left: 8em;">
        Los diamantes brasileños van más allá del mundo de la joyería. Se utilizan en diversas aplicaciones
        industriales, tales como:

    <p style="margin-left: 10em;">
        <b>Herramientas de corte:</b> Su extrema dureza las hace ideales para herramientas de corte de alta precisión.
        <br>
        <b> Abrasivos: </b> Se utilizan en papel de lija y otros materiales abrasivos para pulir y pulir diversos
        materiales. <br>
        <b> Electrónica: </b> Componentes en dispositivos electrónicos debido a su excelente conductividad térmica. <br>
        <b> Medicina: </b> Aplicado en instrumental quirúrgico e implantes médicos debido a su biocompatibilidad. <br>

    <p style="margin-left: 6em;"> <b> Un futuro brillante: </b>

    <p style="margin-left: 8em;">
        La industria de los diamantes en Brasil tiene un futuro prometedor, con potencial de crecer aún más en los
        próximos años.
        décadas.

        Las inversiones en tecnología de exploración, cortadores calificados y marketing estratégico son esenciales para
        Garantizar la competitividad del país en el mercado mundial de diamantes y valorizar aún más esta piedra
        preciosa.
        que tanto brilla en Brasil.

        El diamante brasileño es un símbolo de riqueza, belleza y tradición. Más que una joya, representa fuerza y
        potencial de Brasil, un país que talla piedras preciosas y conquista el mundo con su brillo.**
        <br>
        <br>
        <hr class="rounded">
</div>