<h1 id="h1Home">Café</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/cafe.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        El café es un producto de origen primario utilizado como materia prima por diferentes sectores de la sociedad. Además, el café es uno de los principales componentes del valor de la producción agrícola brasileña 2. Si desea saber más sobre el mercado del café, sus perspectivas de futuro y la comercialización del producto básico
    </div>
    <br>
    <hr class="rounded">
</div>

