<div id="pagHome">
    <h1 id="h1Home">Café</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/cafe.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div>
        <p style="margin-left: 6em;"> <b> Café brasileño: </b> Un sabor que conquista el mundo
        <p style="margin-left: 8em;">El café brasileño es reconocido internacionalmente por su excelencia en sabor,
            aroma
            y calidad. Cultivado en regiones con climas y altitudes ideales, el café brasileño se destaca por su
            diversidad
            de blends y asados, atendiendo a los paladares más diversos.

        <p style="margin-left: 6em;"> <b> Un poco de historia: </b>
        <p style="margin-left: 8em;">La historia del café en Brasil se remonta al siglo XVIII, cuando se introdujeron
            plántulas
            en el pais. Desde entonces, el café se ha convertido en una parte esencial de la cultura y la economía
            brasileñas. Hoy Brasil es el
            El mayor productor y exportador de café del mundo, responsable de alrededor de un tercio de la producción
            mundial.

        <p style="margin-left: 6em;"> <b>Características del Café Brasileño:</b>
        <p style="margin-left: 8em;"> <b> Sabor: </b> El café brasileño tiene un sabor rico e intenso, con notas que
            Varían según la región de cultivo y el tipo de tueste. <br>
            <b>Aroma:</b> El aroma del café brasileño es llamativo y afrutado, con notas de chocolate, especias y
            flores.
            <br>
            <b> Acidez: </b> La acidez del café brasileño es generalmente baja, lo que da como resultado una bebida
            suave y
            equilibrada.
            <br>
            <b> Cuerpo: </b> El cuerpo del café brasileño varía de cuerpo medio a grande, dependiendo del tueste. <br>

        <p style="margin-left: 6em;"> <b> Tipos de café brasileño: </b>

        <p style="margin-left: 8em;"> <b> Arábica: </b> La variedad de café más común en Brasil, conocida por su sabor.
            Aroma superior y complejo. <br>
            <b> Robusta: </b> Variedad más robusta, con mayor contenido en cafeína y sabor más amargo. <br>
            <b> Natural: </b> Proceso de secado del café en el que los granos se secan al sol, conservando su sabor
            afrutado.
            <br>
            <b> Lavado: </b> Proceso de secado del café en el que los granos se lavan antes de secarse, dando como
            resultado
            un
            Sabor más limpio y ácido. <br>

        <p style="margin-left: 6em;"> <b> Café brasileño en el mundo: </b>

        <p style="margin-left: 8em;"> El café brasileño es apreciado en todo el mundo por su calidad superior y
            versatilidad. <br>
            Se utiliza en diferentes tipos de bebidas, como espresso, capuchino, latte macchiato y café filtrado. <br>

            El café brasileño también es un ingrediente importante en varias recetas culinarias, como pasteles, tartas y
            dulce. <br>

        <p style="margin-left: 6em;"> <b> Beneficios del café brasileño: </b>

        <p style="margin-left: 8em;">Rico en antioxidantes, que combaten los radicales libres y protegen las células del
            cuerpo.
            <br>
            Fuente de cafeína, que mejora el estado de alerta y la concentración. <br>
            Ayuda con la digestión y el metabolismo. <br>
            Puede reducir el riesgo de algunas enfermedades crónicas, como la diabetes tipo 2 y las enfermedades
            neurodegenerativas. <br>

        <p style="margin-left: 6em;"> <b> Conclusión: </b>

        <p style="margin-left: 8em;"> El café brasileño es un producto de alta calidad que conquista paladares en todo
            el
            mundo.
            mundo. Su rica historia, sabor único y diversos beneficios la convierten en una bebida ideal para cualquier
            ocasión.
            <br>

            Si aún no has probado el café brasileño, ¡te invito a hacerlo! estoy seguro de que lo haras
            enamórate de esta deliciosa y especial bebida.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>