<h1 id="h1Home">Etanol</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/etanol.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        O etanol, também conhecido como álcool etílico, é um composto orgânico pertencente à função química dos álcoois. Sua fórmula química é C2H6O. É um líquido incolor, inflamável e miscível em água.

        O etanol tem diversas aplicações industriais, incluindo o uso como solvente e na produção de bebidas alcoólicas. No entanto, sua principal aplicação é como biocombustível. O etanol é produzido principalmente pela fermentação de açúcares presentes em plantas como a cana-de-açúcar e o milho.

        Uma das grandes vantagens do etanol é que ele gera menos dióxido de carbono para a atmosfera em comparação com a gasolina. No entanto, o preço do etanol pode variar e é influenciado por diversos fatores.

        No Brasil, o etanol começou a ser utilizado no início do século XX e ganhou destaque com a introdução dos veículos flex fuel. No entanto, a produção de etanol requer grandes extensões de terra para o cultivo da cana-de-açúcar, o que pode levar a danos ambientais e competir com a produção de alimentos.
    </div>
    <br>
    <hr class="rounded">
</div>
