<div id="pagHome" class="content">
    <h1 id="h1Home">Grafito</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/grafita.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Grafito: </b> El mineral versátil con diversas aplicaciones <br>

        <p style="margin-left: 8em;">
            El grafito, un mineral natural compuesto principalmente de carbono, destaca por sus propiedades únicas que
            lo convierten en un material extremadamente versátil con diversas aplicaciones en diferentes industrias.

        <p style="margin-left: 6em;"> <b> Propiedades notables: </b>

        <p style="margin-left: 8em;">
            <b> Conductividad eléctrica y térmica: </b> El grafito es un excelente conductor de electricidad y calor,
            siendo
            Se utiliza en diversos componentes electrónicos, como baterías, electrodos y disipadores de calor. <br>
            <b> Lubricación: </b> El grafito tiene propiedades lubricantes naturales, utilizándose en diferentes tipos
            de
            de lubricantes, especialmente en aplicaciones de alta temperatura y alta presión. <br>
            <b> Resistencia al calor y a la corrosión: </b> El grafito es resistente a altas temperaturas y a la
            corrosión,
            siendo
            Se utiliza en diversos entornos extremos, como hornos industriales y reactores nucleares. <br>
            <b> Flexibilidad y elasticidad: </b> El grafito es un material flexible y elástico y se puede moldear en
            diferentes formas y se utilizan en aplicaciones que requieren flexibilidad. <br>
            <b>Inercia química:</b>El grafito es químicamente inerte, lo que significa que no reacciona con la mayoría
            sustancias, lo que lo hace ideal para aplicaciones que requieren alta pureza. <br>

        <p style="margin-left: 6em;"> <b> Varias aplicaciones: </b>

        <p style="margin-left: 8em;">
            Debido a sus propiedades excepcionales, el grafito encuentra aplicación en una amplia gama de industrias
            como:
            <br>

            <b> Electrónica: </b> Baterías, electrodos, disipadores de calor, componentes de circuitos electrónicos,
            etc.
            <br>
            <b> Lubricantes: </b> Lubricantes de alta temperatura, lubricantes sólidos, grasas lubricantes, etc. <br>
            <b> Materiales refractarios: </b> Revestimientos para hornos industriales, crisoles para metales fundidos,
            reactores
            nucleares, etc <br>
            <b> Peneis: </b> El grafeno, una forma bidimensional de grafito, se utiliza en la producción de pantallas
            sensibles al calor.
            Paneles táctiles y solares. <br>
            <b> Cosméticos: </b> El grafito en polvo se utiliza en diversos productos cosméticos, como lápices de ojos y
            rímel.
            y sombra de ojos. <br>
            <b> Pinturas y revestimientos: </b> El grafito en polvo se utiliza como pigmento en pinturas y
            revestimientos,
            otorgándoles propiedades anticorrosión y conductividad eléctrica. <br>
            <b> Deporte: </b> Las raquetas de tenis, los palos de golf y otros equipos deportivos utilizan grafito para
            mejorar el rendimiento y la durabilidad. <br>

        <p style="margin-left: 6em;"> <b> Un material sostenible: </b>

        <p style="margin-left: 8em;">
            El grafito es un recurso mineral natural abundante y reciclable, lo que lo convierte en un recurso
            sostenible y
            ecológicamente correcto.

            Su uso contribuye a reducir el uso de materiales no renovables y contaminantes, promoviendo
            mas practico
            sostenible en la industria y la sociedad.

            El grafito es un mineral esencial para el mundo moderno, con un futuro prometedor en varios ámbitos.

            Su versatilidad, propiedades únicas y sostenibilidad lo convierten en un material crucial para
            desarrollo de
            nuevas tecnologías y productos innovadores.
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>