<h1 id="h1Home">Grafito</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/grafita.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        El grafito, también conocido como grafito, es un mineral suave, metálico y de color gris oscuro. Se presenta en la naturaleza en forma de cristales hexagonales con una estructura en capas. El grafito es el resultado de una red suelta de átomos de carbono, lo que le permite ser maleable. La base para la formación del grafito es el carbono puro, que también forma diamante y fullereno.<br>
        El grafito es conductor de corriente eléctrica y calor, ya que cada átomo de carbono comparte tres de los cuatro electrones de la estructura, cediendo el cuarto a una banda de conducción común, como ocurre en los metales. El grafito es resistente a las altas temperaturas y a la oxidación. Debido a su alto punto de fusión, también se utiliza como material refractario.<br>
        Los yacimientos de grafito más importantes se encuentran en China, Canadá, Brasil, México, Rusia, India, Madagascar y Sri Lanka. El grafito tiene importantes aplicaciones en la industria: en la fabricación de ladrillos y piezas refractarias, crisoles para la industria del acero, latón y bronce, lubricantes sólidos o de base aceite y agua, pinturas para proteger estructuras de hierro y acero, cátodos de baterías de materiales alcalinos, motores eléctricos. cepillos, electrodos de lámparas de arco eléctrico, etc. Una de las aplicaciones más importantes del grafito es el uso de lápices y portaminas.<br>
        El grafeno es un nuevo material derivado del grafito que está provocando una gran revolución en la industria por sus propiedades únicas: es maleable, impermeable y translúcido, más resistente que el diamante y un excelente conductor eléctrico. La gama de productos que pueden beneficiarse del grafeno es amplia.<br>    </div>
    <br>
    <hr class="rounded">
</div>
