<div id="pagHome">
    <h1 id="h1Home">Maíz blanco Canjica</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/milhocanjica.jpg" width="200" height="200">
        <br>
        <br>
    </div>

    <div>
        <p style="margin-left: 6em;"> <b> Maíz blanco: </b> Un sabor tradicional con una versatilidad incomparable <br>

        <p style="margin-left: 8em;">
            El maíz molido blanco, también conocido como maíz molido, harina de maíz canjica o canjicão, es un
            ingrediente
            Cocina tradicional brasileña, presente en varios platos dulces y salados. <br>
            Su textura suave y sabor único lo convierten en un alimento versátil, utilizado en recetas que van desde
            caldos
            y guisos.
            incluso dulces y pasteles.

        <p style="margin-left: 6em;"> <b> Origen e Historia: </b>

        <p style="margin-left: 8em;">
            El maíz blanco molido es originario de América Central y fue introducido en Brasil por los colonizadores.
            Portugués. <br>
            A lo largo de los siglos, se ha convertido en un alimento popular en la cultura gastronómica brasileña,
            especialmente en
            regiones rurales.

        <p style="margin-left: 6em;"> <b>Propiedades nutricionales:</b>

        <p style="margin-left: 8em;">
            El maíz blanco molido es un alimento rico en nutrientes, tales como:

        <p style="margin-left: 10em;">
            <b> Hidratos de Carbono: </b> Fuente de energía para el organismo, principalmente en forma de almidón. <br>
            <b> Proteínas: </b> Importantes para el desarrollo y reparación de los tejidos musculares. <br>
            <b> Fibras: </b> Ayudan a la digestión, regulan el intestino y favorecen la saciedad. <br>
            <b> Vitaminas: </b> Rica en vitaminas del grupo B, como B1, B2 y B5, importantes para el metabolismo.
            energía, la
            sistema nervioso y función muscular. <br>
            <b>Minerales: </b>Fuente de hierro, fósforo, magnesio y potasio, minerales esenciales para el buen
            funcionamiento del
            cuerpo.

        <p style="margin-left: 6em;"> <b>Beneficios para la salud:</b>

        <p style="margin-left: 8em;">
            El consumo regular de maíz blanco molido puede traer varios beneficios para la salud, tales como:

        <p style="margin-left: 10em;">
            <b>Prevenir enfermedades crónicas: </b> Ayuda en la prevención de enfermedades crónicas como diabetes tipo
            2,
            cardíaco y
            algunos tipos de cáncer. <br>
            <b> Controla el colesterol: </b> La fibra presente en el maíz molido ayuda a reducir el colesterol LDL
            ("malo"),
            reduciendo el riesgo de enfermedades cardíacas. <br>
            <b>Mejora la digestión:</b>Las fibras también ayudan a regular los intestinos y previenen el estreñimiento.
            <br>
            <b> Fortalece el sistema inmunológico: </b> Rico en vitaminas y minerales, el maíz molido ayuda a fortalecer
            el
            sistema
            inmunológico, protegiendo al organismo contra enfermedades. <br>
            <b> Promueve la saciedad: </b> Las fibras y proteínas del maíz molido promueven la saciedad, ayudando a
            control de
            peso corporal.

        <p style="margin-left: 6em;"> <b>Versatilidad en la cocina:</b>

        <p style="margin-left: 8em;">
            El maíz molido blanco es un ingrediente extremadamente versátil y se puede utilizar en varios platos.
            Cocina brasileña, como:

        <p style="margin-left: 10em;">
            <b>Hominy:</b>Plato dulce tradicional elaborado con maíz, leche, azúcar, canela y clavo. <br>
            <b> Pamonha: </b> Un plato salado elaborado con maíz rallado, leche, queso, condimentos y cocinado al fuego
            o al
            horno.
            hoja de maíz. <br>
            <b> Cuscús: </b> Plato elaborado con maíz molido y cocido, que se puede servir dulce o salado. <br>
            <b> Sopas y guisos: </b> El maíz molido se puede utilizar para agregar cremosidad y sabor a sopas y guisos.
            <br>
            <b>Tortas y dulces: </b> El maíz molido se puede utilizar en la masa para pasteles, tartas y otros dulces.

        <p style="margin-left: 6em;">
            El maíz molido blanco es un alimento nutritivo, versátil y sabroso que debe formar parte de tu dieta
            habitual.
            todos los brasileños. <br>
            Además de ser un ingrediente tradicional y culturalmente importante, el maíz molido ofrece varios
            beneficios.
            para la salud y se puede utilizar en una variedad de platos deliciosos.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>