<h1 id="h1Home">Salvado de maiz</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhocanjica.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        <p style="margin-left: 2em;"><b>Maíz blanco:</b><p>
            <p style="margin-left: 3em;"> Un grano versátil con raíces brasileñas
            El maíz blanco, también conocido como maíz germinado, es una variedad originaria de Brasil y ampliamente cultivada en todo el país. Sus granos suaves y blancos lo convierten en un ingrediente esencial en muchos platos tradicionales, además de tener varias aplicaciones industriales.
           
            <p style="margin-left: 2em;"><b>Características y beneficios:</b></p>
           
            <p style="margin-left: 3em;">Sabor y textura: El maíz blanco tiene un sabor suave y dulce, con una textura suave y cremosa cuando se cocina.
            Nutrición: Rico en vitaminas, minerales y fibra, el maíz blanco es una importante fuente de energía para el organismo. Aporta hidratos de carbono complejos, proteínas, hierro, fósforo, potasio y vitaminas del grupo B, como B1, B3 y B5.
            Versatilidad: El maíz blanco se puede consumir de diferentes formas, ya sea fresco, cocido, molido o en forma de maíz molido, harina de maíz, tamal, polenta y varios otros sabrosos platos.
            Aplicaciones industriales: El almidón de maíz extraído del maíz blanco se utiliza en diversos productos alimenticios e industriales, como cremas, salsas, panes, galletas, pinturas, cosméticos e incluso biocombustibles.
            Usos populares:
           
            <p style="margin-left: 2em;"><b>Molino de maíz:</b></p>
            <p style="margin-left: 3em;">Un plato típico brasileño elaborado con maíz blanco cocido en leche o caldo, generalmente con azúcar, canela y clavo.
            Tamal: Masa fresca y cremosa hecha con maíz blanco rallado y cocido, que puede ser salado o dulce.
            Harina de maíz: La harina de maíz blanco se utiliza en varias recetas, como pasteles, panes, galletas, cuscús y polenta.
            Maíz cocido: Una opción sencilla y sabrosa para acompañar las comidas, el maíz blanco cocido se puede condimentar con mantequilla, sal y pimienta.
            Crema de maíz: Crema elaborada con maíz blanco cocido, leche, mantequilla y condimentos, ideal para servir como entrante o guarnición.
            Cultivo y Producción:
           
            El maíz blanco se adapta a diferentes climas y tipos de suelo, con mayor producción en las regiones Centro-Oeste y Sudeste de Brasil. Su plantación requiere cuidados como riego, fertilización y control de plagas y enfermedades. La cosecha ocurre aproximadamente entre 90 y 120 días después de la siembra.
           
            <p style="margin-left: 2em;"><b>Importancia cultural:</b></p>
           
            <p style="margin-left: 3em;">El maíz blanco tiene gran importancia cultural en Brasil, presente en varias leyendas, fiestas populares y platos típicos. Es un símbolo de la rica cocina brasileña y de la fuerte conexión entre la gente y la tierra.
           
            <p style="margin-left: 2em;"><b>Conclusión:</b></p>
           
            <p style="margin-left: 3em;">El maíz blanco es un grano nutritivo y versátil con gran importancia cultural en Brasil. Su presencia en la cocina brasileña es amplia, desde platos sencillos hasta recetas más elaboradas. Además, sus diversas aplicaciones industriales lo convierten en un producto esencial para la economía del país.
    </div>
    <br>
    <hr class="rounded">
</div>
