<h1 id="h1Home">黑豆</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/feijaopreto.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        什麼是黑豆？

        黑豆 (Phaseolus vulgaris) 是一種源自中美洲和南美洲的豆類。它們是巴西美食的主食，存在於多種傳統食譜中，例如 feijoada、bean tutu 和 acarajé。
       
        黑豆的特色和好處：
       
        營養：黑豆富含蛋白質、纖維、維生素和礦物質，如鐵、鉀和鎂。 它是植物蛋白的絕佳來源，對素食者和純素食者都很重要。
        健康：經常食用黑豆對健康有多種益處，例如降低膽固醇、控制血糖水平和預防心血管疾病。
        多功能性：黑豆可用於多種食譜，如沙拉、湯、燉菜、素食漢堡，甚至糖果。
        永續性：黑豆種植被認為是可持續的，因為它幾乎不需要灌溉，並有助於土壤固氮。
        黑豆的應用：
       
        糧食安全：黑豆是一種經濟實惠且營養豐富的食品，有助於人民的糧食和營養安全。
        對抗飢餓：黑豆是植物性蛋白質的重要來源，有助於對抗飢餓和營養不良。
        農民的收入：黑豆生產為家庭農民帶來收入，特別是在條件較差的地區。
        環境永續性：黑豆的種植有助於環境的可持續性，減少自然資源的使用和溫室氣體的排放。
        結論：
       
        黑豆是一種營養豐富、用途廣泛且永續的食品，有可能為糧食安全、人口健康、農民收入和環境永續發展做出貢獻。 建議經常食用，以獲得均衡健康的飲食。
       
        了解更多：
       
        Embrapa 米和豆類：https://www.embrapa.br/arroz-e-feijao
        巴西豆類和油籽協會 (ABIOVE)：https://www.abiove.org.br/ </div>    <br>
    <hr class="rounded">
</div>
