<div id="pagHome">
    <h1 id="h1Home">黑豆</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/feijaopreto.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div>
        <p style="margin-left: 6em;"> <b> 黑豆：</b> 巴西餐桌上營養豐富、用途廣泛的食物<br>
        <p style="margin-left: 8em;">黑豆是巴西美食中最傳統的食材之一，它不僅僅是一種簡單的豆子
            食物。 <br>它是這個國家文化和歷史的象徵，幾個世紀以來一直出現在家庭餐桌上，並被認為是
            完整且營養豐富的食物。 <br>

        <p style="margin-left: 6em;"> <b> 一點歷史：</b>

        <p style="margin-left: 8em;">黑豆於 16 世紀由葡萄牙人引入巴西，並很快適應了氣候和土壤
            巴西人。 <br>
            隨著時間的推移，它成為人們飲食中的主食，並在文化中佔據重要地位。
            並成為巴西美食的主要菜餚之一。 <br>

        <p style="margin-left: 6em;"> <b> 營養特性：</b>

        <p style="margin-left: 8em;">黑豆是一種富含蛋白質、纖維、維生素和礦物質的食物，對健康和幸福至關重要。

        <p style="margin-left: 10em;"> <b> 蛋白質：</b> 優質植物蛋白的來源，對組織發育和修復很重要
            肌肉發達。 <br>
            <b>纖維：</b>它們有助於消化，調節腸道並促進飽腹感，有助於控制體重。 <br>
            <b> 維生素：</b> 富含 B 群維生素，如 B1、B2 和 B6，對能量代謝很重要，
            神經和肌肉功能。 <br>
            <b>礦物質：</b>鐵、磷、鎂和鉀的來源，這些礦物質是身體正常運作所必需的。 <br>

        <p style="margin-left: 6em;"> <b>健康益處：</b>

        <p style="margin-left: 8em;">經常食用黑豆可以帶來多種健康益處，例如：<br>

        <p style="margin-left: 10em;"> <b> 預防慢性疾病：</b> 有助於預防慢性疾病，如第 2 型糖尿病、心臟病等
            癌症的類型。 <br>
            <b> 控制膽固醇：</b> 黑豆中的纖維有助於降低低密度脂蛋白（「壞」）膽固醇，從而減少
            心臟病的風險。 <br>
            <b>改善消化：</b>纖維也有助於調節腸道並防止便秘。 <br>
            <b>增強免疫系統：</b>黑豆富含維生素和礦物質，有助於增強免疫系統
            免疫，保護身體免受疾病侵害。 <br>
            <b>促進飽足感：</b>黑豆中的纖維和蛋白質可促進飽足感，有助於控制體重
            身體。 <br>


        <p style="margin-left: 6em;"> <b>烹飪多功能性：</b>

        <p style="margin-left: 8em;">黑豆是一種用途極為廣泛的食材，可用於各種烹飪菜餚
            巴西語，例如：

        <p style="margin-left: 10em;"> <b> Feijoada：</b> 典型的巴西菜餚，由黑豆、肉乾、香腸、paio 和調味料製成。 <br>
            <b> Tropeiro：</b> 來自米納斯吉拉斯州的一道菜餚，由黑豆、脆皮、木薯粉、捲心菜和雞蛋製成。 <br>
            <b> Baião de Dois：</b> 東北菜，由黑豆、米、煤起司、瓶裝奶油和乾肉製成。 <br>
            <b> Salpicão：</b> 一種清爽的沙拉，由黑豆、雞絲、番茄、洋蔥和調味料製成。 <br>
            <b>黑豆湯：</b>用黑豆、蔬菜、調味料和蔬菜或肉湯熬煮成的營養美味的湯。 <br>

        <p style="margin-left: 6em;">黑豆是一種完整、營養豐富、用途廣泛且美味的食物，應該成為您日常飲食的一部分。
            所有巴西人。 <br><br>

            除了作為一種傳統和具有重要文化意義的食物外，黑豆還為人類提供了多種好處。
            衛生，可用於各種美味佳餚。
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>