<h1 id="h1Home">Contato</h1>

<div class="textFont">
    <div class="formularioContato">

        <form action="#" method="post" enctype="multipart/form-data">
            <label>
                <span><i class="icon icon-user-1"></i> Nome</span>
                <input type="text" name="nome"  class="nameLabel" required="">
            </label>

            <label>
                <span><i class="icon icon-email"></i> E-mail</span>
                <input type="text" name="email" class="fade_8S" class="emailLabel">
            </label>
            <label>
                <span><i class="icon icon-flag"></i> Assunto</span>
                <input type="text" name="assunto" required=""   class="assuntoLabel">
            </label>

            <label>
                <span><i class="icon icon-comment"></i> Mensagem</span>
                <textarea name="mensagem" rows="3" required=""   class="mensagemLabel"></textarea>
            </label>

            <button class="btn-envia" title="Enviar">
                <a style='color: white; font-size: medium;' href="mailto:sergiofeitosa@gmail.com?subject=Assunto do email&cc=sergiofeitosa@live.com&body=Conteúdo do email que será preenchido automaticamente">Enviar</a>
            </button>
        </form>
    </div><!--Formulario Contato-->
    <hr class="rounded">
</div>

<div id="divHome">
    <div id="imagem">
        <span id="titleRede"> Diretor de Vendas: Edson Sarapu de Oliveira </span>
        <img src="/carousel/browser/assets/images/whatsapp.png" width="20" height="20">
        <span id="titleRede"> +55 19 982011040  </span>
        <img src="/carousel/browser/assets/images/telegram.png" width="20" height="20">
        <span id="titleRede"> +55 19 982011040 </span>
        <img src="/carousel/browser/assets/images/facebook.png" width="20" height="20">
        <span id="titleRede">testeContato</span>
        <img src="/carousel/browser/assets/images/instagram.png" width="20" height="20">
        <span id="titleRede">testeContato</span>
        <img src="/carousel/browser/assets/images/email.png" width="20" height="20">
        <span id="titleRede">testeContatogmail.com</span>
    </div>
    <div id="imagem">
        <span id="titleRede"> Representante Europa: Samuel Glauber  </span>
        <img src="/carousel/browser/assets/images/whatsapp.png" width="20" height="20">
        <span id="titleRede"> +44 7411 444483 </span>
        <img src="/carousel/browser/assets/images/telegram.png" width="20" height="20">
        <span id="titleRede"> +44 7411 444483 </span>
        <img src="/carousel/browser/assets/images/facebook.png" width="20" height="20">
        <span id="titleRede">testeContato</span>
        <img src="/carousel/browser/assets/images/instagram.png" width="20" height="20">
        <span id="titleRede">testeContato</span>
        <img src="/carousel/browser/assets/images/email.png" width="20" height="20">
        <span id="titleRede">testeContatogmail.com</span>
    </div>
    <div id="imagem">
        <img src="/carousel/browser/assets/images/endereco.jpg" width="17" height="17">
        <span id="titleRede">Endereço: Avenida Capitão da Silva, 1234 - Piracicaba - SP -- CEP-10234-001</span>
    </div>
    <hr class="rounded">
</div>

