<h1 id="h1Home">Corn</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milho.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        Corn is one of the most used and nutritious cereals in the world. It is believed to originate from pre-Columbian America. Corn is rich in carbohydrates, proteins, vitamins (mainly B1 and E) and minerals. Corn husks are a rich source of fiber, which is important for maintaining intestinal rhythm.<br>
        Although corn is an ingredient present in several Brazilian dishes, such as hominy and pamonha, its consumption on Brazilian tables, whether directly or indirectly, is very low. According to Embrapa, only 5% of all corn produced in Brazil is consumed directly by man.
        The majority (65%) is used as animal feed.<br>
        Corn is a cereal that occupies a prominent place in agriculture and industry throughout the world. Its versatility and wide range of applications make it a vital component in human nutrition, as well as in the production of animal feed, in the manufacture of bioplastics, fuels and a multitude of industrial products.<br>
        The world's largest corn producers are the United States. Brazil is the third largest producer in the world. Thus, alongside soybeans, corn represents around 80% of all grain production in Brazil. The largest producers are the states of Paraná, Rio Grande do Sul, Minas Gerais, Goiás and São Paulo.<br>    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>

</div>