<h1 id="h1Home">Sorghum Broom</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgovassoura.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

        <p>Broom sorghum is an interesting crop with several applications. I will provide a summary on the subject:

            <p style="margin-left: 2em;"><b>Characterization of Sorghum-Broom Accessions Using Morphoagronomic Descriptors:</b>
            <p style="margin-left: 3em;">A study carried out at the Federal University of Viçosa (UFV) characterized 66 sorghum-broom accessions using morphoagronomic descriptors. The objective was to select promising materials for commercial cultivation1.
            The descriptors evaluated included characteristics of the adult plant, stem, leaf, panicle and caryopsis.
            This research aims to improve the production and use of broom sorghum.
            <p style="margin-left: 2em;"><b>Types of Sorghum</b>:
            <p style="margin-left: 3em;">There are different types of sorghum, and broom sorghum is one of them.
            The broom-type sorghum group is used to make brooms, while the biomass group is used for energy production, with a calorific value similar to that of sugarcane, eucalyptus and elephant grass2.
            <p style="margin-left: 2em;"><b>Origin and Use of Sorghum-Broom:</b>
            <p style="margin-left: 3em;">Broom sorghum is a plant species from the Graminae family, originating from the African continent.
            The most used part of the plant is the panicle, from which the straw used to make sorghum broom, also known as “caipira broom” in the state of São Paulo, originates.
    </div>
    <br>
    <hr class="rounded">
</div>
