<div id="pagHome" class="content">
    <h1 id="h1Home">Sorghum Broom</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sorgovassoura.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">

        <p style="margin-left: 6em;"> <b> Broom Sorghum: </b> A Plant with Multiple Uses <br>
        <p style="margin-left: 8em;">
            Broom sorghum, also known as broom sorghum or witches' broom, is a plant native to Africa and Europe.
            Asia
            which adapted very well to the Brazilian climate. <br>
            With its rusticity, resistance to drought and adaptability to different types of soil, broom sorghum has
            become
            one
            plant of great economic and social importance, especially in the most arid regions of the country.

        <p style="margin-left: 6em;"> <b> Much More Than Brooms: </b>

        <p style="margin-left: 8em;">
            Although the popular name is broom sorghum, this plant offers several other uses, such as:

        <p style="margin-left: 10em;">
            <b> Animal feed: </b> Broom sorghum is an important source of forage for livestock, providing
            nutrients and energy
            for animals. <br>
            <b> Biomass: </b> The plant can be used in the production of biomass to generate renewable energy, such as
            biogas and
            biofuels. <br>
            <b> Civil construction: </b> The broom sorghum stalk can be used in the manufacture of ecological bricks and
            panels of
            seal. <br>
            <b> Crafts: </b> The plant's fibers can be used in the production of baskets, hats, bags and others
            objects
            handcrafted.

        <p style="margin-left: 6em;"> <b> Environmental Benefits: </b>

        <p style="margin-left: 8em;">
            The cultivation of broom sorghum brings several benefits to the environment, such as:

        <p style="margin-left: 10em;">
            <b>Erosion control:</b>
            The plant's deep root system helps protect the soil against erosion, especially in
            sloped areas. <br>
            <b>Improvement of soil fertility:</b>The decomposition of organic matter in sorghum broom contributes to
            increase
            soil fertility, making it richer in nutrients. <br>
            <b> Reduction in the use of pesticides: </b> Broom sorghum is considered a plant resistant to pests and
            diseases,
            what reduces
            the need to use pesticides in its production. <br>
            <b>Carbon capture:</b>The plant helps capture and store carbon from the atmosphere, contributing to the
            combat the
            climate changes.

        <p style="margin-left: 6em;"> <b> A Plant with Great Potential: </b>

        <p style="margin-left: 8em;">
            Broom sorghum is a plant with great potential for Brazil, especially in regions with a dry climate and
            semiarid. <br>
            With its diverse uses and benefits, this plant can contribute to socioeconomic development
            sustainable,
            generating income for rural communities and protecting the environment. <br>

            Invest in research and development, in the dissemination of its properties and in adding value to its
            products
            are some of the actions that can further boost the use of broom sorghum in Brazil and contribute to a
            future
            greener and more sustainable. <br>

            Broom sorghum is much more than just a plant. It is a source of opportunities, benefits and
            sustainability
            to Brazil.
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>