<div id="pagHome">
    <h1 id="h1Home">糖</h1>
    <div id="divCarousel">
        <ngx-slick-carousel class="carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <figure>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">
                        <img src="{{ slide.img }}" alt="" class="img-style">
                    </a>
                    <figcaption>
                        <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                    </figcaption>
                </figure>
            </div>
        </ngx-slick-carousel>
    </div>
    <br>
    <div>
        <br>
        <p style="margin-left: 6em;"> <b> 什麼是糖？ </b>
        <p style="margin-left: 8em;">糖是一種簡單的碳水化合物，主要從甘蔗和
            甜菜。它是多種食譜中的重要成分，用於使食物和飲料變甜。
        </p>

        <p style="margin-left: 6em;"> <b> 糖的種類：</b>
        <p style="margin-left: 8em;">
            <b>精製糖：（ICUMSA 45）</b>它經過精煉過程，去除雜質並留下糖分
            更白、更細的晶體。 <br>
            <b>結晶糖：（ICUMSA 150）</b>這是最常見的類型，具有大而乾燥的晶體。 <br>
            <b>紅糖：（ICUMSA 600-1200）</b>這是一種加工程度較低的糖，具有濕潤的晶體和更美味的味道。
            激烈的。 <br>
            <b>德梅拉拉糖：（ICUMSA VHP）</b>它是一种红糖，晶體較大，味道較溫和。
        </p>

        <p style="margin-left: 6em;"> <b>糖的好處：</b>
        <p style="margin-left: 8em;">
            <b>能量：</b>糖為身體提供快速能量，對於身體活動和
            精神的。 <br>
            <b>味道：</b>使食物和飲料變甜，使它們更美味、更有吸引力。 <br>
            <b>保存：</b>有助於保存食物，例如醬汁中的水果。 <br>
            <b>質地：</b>在食譜中，糖有助於蛋糕、餡餅和其他糖果的質地和奶油味。
        </p>

        <p style="margin-left: 6em;"> <b>消費注意事項：</b>
        <p style="margin-left: 8em;">攝取過多的糖會導致多種健康問題，例如肥胖、
            糖尿病、心臟病和蛀牙。在飲食中適量攝取糖很重要。
            平衡。

        <p style="margin-left: 6em;"> <b>糖的替代品：</b>
        <p style="margin-left: 8em;">為了減少糖的消耗，有幾種替代方法，例如：<br>
            天然甜味劑：甜菊糖、木糖醇、赤藻醣醇。 <br>
            水果：香蕉、蘋果、葡萄。 <br>
            蜂蜜：具有有益特性的天然甜味劑。 </p>

        <p style="margin-left: 6em;"> <b> 結論：</b>

        <p style="margin-left: 8em;">糖是一種多功能成分，有很多好處，但食用它很重要
            適度。選擇糖的替代品和均衡飲食對於保持良好的健康狀況很重要
            健康。 </p>

        <p style="margin-left: 6em;"> <b>了解更多：</b>

        <p style="margin-left: 8em;">
            巴西甘蔗工業協會 (ABIA)：https://www.abia.org.br/ <br>
            衛生署：https://www.gov.br/saude/pt-br </p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>