<h1 id="h1Home">ICUMSA 100-150 sugar</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/acucaric100.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        ICUMSA 100-150 sugar is an intermediate type within the ICUMSA scale, falling between ICUMSA 45 and ICUMSA VHP. Let's explore more about it:

        <p style="margin-left: 2em;" >What is ICUMSA 100-150 sugar?</p>
        <p style="margin-left: 4em;" >ICUMSA 100-150 represents an intermediate level of purity.<br>
        Its polarization is at least 99.50%.<br>
        It has a moderate sucrose content, making it suitable for various industrial applications.<br>
        Its color varies from light to medium brown.<br>
        The particle size is in the range of 0.9 to 1.2 mm.</p>
        <p style="margin-left: 2em;" >Applications:</p>
        <p style="margin-left: 4em;" >ICUMSA 100-150 is widely used in food processing and certain industrial applications.
        It offers a balance between purity and economy, being suitable for situations that do not require the absolute whiteness of ICUMSA 45.
        <p>Therefore, if you are looking for a sugar with intermediate characteristics, ICUMSA 100-150 sugar may be a suitable choice for your needs!</p>
    
    </div>
    <br>
    <hr class="rounded">
</div>
