<h1 id="h1Home">Corn bran</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhobrania.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        <p style="margin-left: 2em;">What is Corn Bran?
        
            <p style="margin-left: 3em;">Derived from grinding corn grains, the outer part of the grain being rich in fiber<br>
            Natural source of insoluble and soluble fiber, important for digestive health<br>
            Rich in nutrients such as B vitamins, iron, magnesium and zinc<br>
            Low glycemic index, helping to control blood sugar levels<br>
            Gluten-free, making it a suitable option for celiacs and people with gluten sensitivity<br>
           
            <p style="margin-left: 2em;">Health Benefits of Corn Bran
           
            <p style="margin-left: 3em;">Promotes digestive health: The high fiber content of corn bran contributes to good bowel function, preventing constipation and promoting regular bowel movements.<br>
            Helps with weight control: The fiber in corn bran increases satiety, helping to control appetite and reduce caloric intake, which can be beneficial for those looking to lose weight or maintain a healthy weight.<br>
            Regulates cholesterol levels: The soluble fiber present in corn bran can help reduce LDL (bad) cholesterol, reducing the risk of heart disease.<br>
            Controls blood sugar levels: The low glycemic index of corn bran helps control blood sugar levels, making it a beneficial option for people with diabetes or pre-diabetes.<br>
            Strengthens the immune system: Corn bran is rich in beta-glucan, a type of fiber that helps strengthen the immune system, fighting infections and diseases.<br>
           
            <p style="margin-left: 2em;">Culinary Uses of Corn Bran
           
            <p style="margin-left: 3em;">Breakfast cereal: Add corn bran to your breakfast cereal to increase the fiber and nutrient content.<br>
            Yogurt and smoothies: Mix cornmeal into your yogurt or smoothies for an extra boost of fiber and flavor.<br>
            Muffins, Cookies and Breads: Replace some of the wheat flour with corn bran in your muffins, cookies and bread recipes to add texture, fiber and nutrients.<br>
            Burgers and meatballs: Incorporate corn bran into burgers and meatballs
    </div>
    <br>
    <hr class="rounded">
</div>
