<h1 id="h1Home">Corn Flour</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhocornflouria.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        <b>What is Corn Flour? </b>
        
        <p style="margin-left: 2em; ">Derived from finely ground dried corn kernels<br>
        Obtained from different varieties of corn, such as white, yellow and blue<br>
        Available in coarse, medium and fine grinds for different uses<br>
        Naturally gluten-free, making it a great alternative for people with celiac disease or gluten sensitivity<br>
       
        <p><b>Types of Corn Flour </b>
       
        <p style="margin-left: 2em; "><b>Yellow Corn Flour:</b> This is the most common type, boasting a mild flavor and light yellow color. It's a workhorse in the kitchen, perfect for baking, cornbread, and polenta.<br>
        <b>White Corn Flour:</b> This variety offers a slightly sweeter and milder flavor compared to yellow corn flour. It stands out for making tortillas, arepas and is a great thickener for soups and stews.<br>
        <b>Blue Corn Flour:</b> Stand out from the crowd with blue corn flour! It has a unique nutty flavor and vibrant blue color that adds a stunning visual element to your dishes. Blue cornmeal shines in tortillas, enchiladas and can add a colorful pop to baked goods.<br>

        <p><b>Culinary Magic of Corn Flour</b>
       
        <p style="margin-left: 2em; ">
        <b>Baking:</b> Cornmeal adds a light, fluffy texture to pancakes, muffins, cookies and cakes.<br>
        <b>Thicken:</b> Use corn flour as a gluten-free thickener for soups, stews and sauces.<br>
        <b>Ethnic Dishes:</b> Basic ingredient of Latin American cuisine for tortillas, arepas, tamales and empanadas.<br>
        <b>Frying:</b> Coat seafood or vegetables with cornmeal for a light, crispy fried finish.<br>
        <b>Polenta:</b> Coarse cornmeal is cooked into a creamy polenta porridge, a versatile base for savory dishes.
    </div>
    <br>
    <hr class="rounded">
</div>
