<div id="pagHome">
    <h1 id="h1Home">Corn Flour</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/milhocornflouria.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div>
        <p style="margin-left: 6em;"> <b> Corn Flour: </b> An Essential Ingredient in Brazilian Cuisine <br>
        <p style="margin-left: 8em;">
            Corn flour, derived from grinding dried corn kernels, is a fundamental ingredient in cooking.
            Brazilian, present in several recipes since the colonial period.
            Its versatility, flavor and nutritional value make it an indispensable item on the table of Brazilian
            families,
            especially in the Central-West and Northeast regions.

        <p style="margin-left: 6em;"> <b> More than a Simple Ingredient: </b>

        <p style="margin-left: 8em;">
            Corn flour goes beyond just a simple culinary ingredient. It is rich in history, culture and tradition,
            representing the identity and creativity of the Brazilian people. <br>
            Its presence in typical dishes such as couscous, polenta, tamale, cornmeal cake and farofa demonstrates the
            importance
            cultural
            and gastronomy of corn flour in Brazil.

        <p style="margin-left: 6em;"> <b> Types of Corn Flour: </b>

        <p style="margin-left: 8em;">
            <b> Cornmeal: </b> Finer, sifted type, used in the preparation of cakes, cookies, couscous and polenta. <br>
            <b> Farinheira: </b> Thicker and with crushed grains, ideal for making farofas, angu and biju. <br>
            <b> Demigrossa: </b> Versatile, can be used in various recipes, such as cakes, breads, farofas and creams.
            <br>
            <b> Whole: </b> Preserves whole corn grains, providing a higher fiber and nutrient content. <br>

        <p style="margin-left: 6em;"> <b>Health Benefits:</b>

        <p style="margin-left: 8em;">
            Corn flour, especially wholemeal, offers several health benefits, such as:

        <p style="margin-left: 10em;">
            <b> Rich in fiber: </b> Helps with digestion, regulates the intestine and promotes satiety, helping to
            control
            of the weight. <br>
            <b> Source of energy: </b> Provides energy for the body, mainly in the form of complex carbohydrates. <br>
            <b> Contains vitamins and minerals: </b> Source of B vitamins, iron, phosphorus and magnesium, important
            for the good
            functioning of the organism. <br>
            <b> Does not contain gluten: </b> Ideal for people with celiac disease or gluten intolerance. <br>
            <b> Versatile and tasty: </b> Can be used in various recipes, sweet and savory, pleasing everyone
            palates.

        <p style="margin-left: 6em;"> <b> Brazilian Cuisine Delights: </b>

        <p style="margin-left: 8em;">
            Corn flour is the basis of several typical Brazilian dishes, such as:

        <p style="margin-left: 10em;">
            <b> Couscous: </b> A versatile side dish, served with various dishes, such as sun-dried meat, tropeiro beans
            and
            Stew. <br>
            <b> Polenta: </b> An Italian dish traditionally made with cornmeal, which can be served with meat ragu,
            Tomato Sauce
            or cheese. <br>
            <b> Tamale: </b> A delicacy made with grated green corn, milk and seasonings, cooked in the corn straw
            itself.
            <br>
            <b> Cornmeal cake: </b> A simple and tasty cake, made with cornmeal, milk, eggs, sugar and butter. <br>
            <b> Farofa: </b> A crispy and tasty side dish, made with toasted corn flour, butter, onion and
            spices.

        <p style="margin-left: 6em;">
            Corn flour is an essential ingredient in Brazilian cuisine, present in several typical dishes and
            enjoyed by people of all ages. <br>
            Its versatility, flavor and nutritional value make it a complete and tasty food, which enriches the dinner
            table.
            Brazilian families and represents the country's culture and tradition.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>