<h1 id="h1Home">Sugar</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/acucar.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        What is Sugar?

        Sugar is a simple carbohydrate, obtained mainly from sugar cane and sugar beet. It is an essential ingredient in several recipes and used to sweeten foods and drinks.
       
        Types of Sugar:
       
        Crystal sugar: It is the most common type, with large, dry crystals.
        Refined sugar: It goes through a refinement process that removes impurities and leaves the crystals whiter and finer.
        Icing sugar: It is refined sugar ground into a fine powder.
        Brown sugar: It is a less processed sugar, with moist crystals and a more intense flavor.
        Demerara sugar: It is a type of brown sugar with larger crystals and a milder flavor.
        Benefits of Sugar:
       
        Energy: Sugar provides quick energy for the body, being important for physical and mental activities.
        Flavor: Sweetens foods and drinks, making them tastier and more attractive.
        Conservation: Helps preserve foods, such as fruit in jams.
        Texture: In recipes, sugar contributes to the texture and creaminess of cakes, pies and other sweets.
        Consumption Precautions:
       
        Excessive sugar consumption can cause several health problems, such as obesity, diabetes, heart disease and cavities. It is important to consume sugar in moderation and within a balanced diet.
       
        Alternatives to Sugar:
       
        To reduce sugar consumption, there are several alternatives, such as:
       
        Natural sweeteners: stevia, xylitol, erythritol.
        Fruits: banana, apple, grape.
        Honey: natural sweetener with beneficial properties.
        Conclusion:
       
        Sugar is a versatile ingredient with many benefits, but it is important to consume it in moderation. Choosing alternatives to sugar and a balanced diet are important to maintain good health.
       
        For more information:
       
        Brazilian Sugarcane Industry Association (ABIA): https://www.abia.org.br/
        Ministry of Health: https://www.gov.br/saude/pt-br </div>    <br>
    <hr class="rounded">
</div>
