<h1 id="h1Home">Serviços</h1>
<div id="divCarousel" >
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <figure>
                <img src="{{ slide.img }}" alt="" class="img-style">
                <figcaption>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                </figcaption>
            </figure>
        </div>
    </ngx-slick-carousel>
    <br>
    <br>
    <div  class="textFont">
        Os serviços de compra e venda de commodities envolvem a negociação de matérias-primas básicas, como metais, energia, produtos agrícolas, entre outros. Essas transações são realizadas por meio de contratos futuros e opções na Bolsa de Valores.<br>

        As empresas que oferecem esses serviços possuem equipes de corretores com vasta experiência em intermediação nos mercados de commodities, atuando tanto no mercado interno quanto na exportação. Elas oferecem acesso às principais Bolsas de Futuros e as melhores ferramentas e estratégias para o gerenciamento do risco de preço da comercialização agrícola.<br>
        
        Além disso, essas empresas fornecem informações diárias, da abertura até o fechamento do mercado, com todas as atualizações para uma tomada de decisão mais assertiva. Elas monitoram as condições de mercado e acionam gatilhos de compra e venda de acordo com metas de lucratividades estipuladas pelo cliente.<br>
        
        Os benefícios do Trading de Commodities incluem alavancagem até 500:1, escolha entre uma ampla gama de commodities, como energia, metais e produtos agrícolas, e a possibilidade de entrar e sair de negociações sempre que desejar. Além disso, é possível negociar em qualquer direção que se acredite que os mercados irão.<br>
        
        No entanto, é importante ressaltar que a negociação de commodities é recomendada apenas para investidores experientes, pois os riscos são altos. Portanto, é aconselhável buscar aconselhamento de um consultor financeiro antes de investir em commodities.<br>
    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>

</div>
