<h1 id="h1Home">Azúcar ICUMSA 600-1200 </h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/acucaric600.jpg"  width="200" height="200">
    <br>
    <br>
    <div  class="textFont">
        <p>El azúcar ICUMSA 600-1200 es un tipo específico de azúcar que tiene algunas características distintas. Exploremos más al respecto:

            <p style="margin-left: 2em;" >¿Qué es el azúcar ICUMSA 600-1200?
            <p style="margin-left: 4em;" >El término “ICUMSA” significa “Comisión Internacional para Métodos Uniformes de Análisis del Azúcar”. Es una organización que establece estándares para el análisis de azúcares.
            <p style="margin-left: 4em;" >El número “600-1200” se refiere al rango de valores de color del azúcar, medido en unidades ICUMSA. Esta escala de colores se utiliza para clasificar el color del azúcar blanco refinado.
            <p style="margin-left: 4em;" El ><b>Azúcar ICUMSA 600-1200</b> se considera un azúcar de color más oscuro en comparación con el azúcar refinado estándar (generalmente con valores ICUMSA más bajos).
            <p style="margin-left: 4em;" >Se puede utilizar en diversas aplicaciones, como en la industria de alimentos y bebidas, en la fabricación de dulces, en panadería y en productos de confitería.
            <p style="margin-left: 4em;" >El color más oscuro puede deberse a impurezas o al proceso de refinado.</p>
        Nota: El color del azúcar no sólo afecta la apariencia, sino que también puede influir en el sabor y la textura de los productos finales.
    </div>
    <br>
    <hr class="rounded">
</div>
