<div id="pagHome" class="content">
    <h1 id="h1Home">Azúcar ICUMSA 600-1200 </h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/acucaric600.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Azúcar Icumsa 600: </b> Dulzor versátil para diversas aplicaciones <br>
        <p style="margin-left: 8em;">
            El azúcar Icumsa 600, también conocido como azúcar refinada, es un tipo de azúcar altamente purificado con
            Grano fino, ideal para diversas aplicaciones culinarias e industriales.
            Su alta pureza y sabor neutro lo convierten en un ingrediente versátil, presente en muchos productos
            cotidianos.
            día.

        <p style="margin-left: 6em;"> <b> Características: </b>

        <p style="margin-left: 8em;">
            <b> Pureza: </b> El azúcar Icumsa 600 tiene un alto contenido de sacarosa (99,8%), dando como resultado un
            azúcar puro y
            con sabor neutro. <br>
            <b> Granulación Fina: </b> Posee cristales finos y uniformes, que facilitan la disolución y utilización en
            diversos
            ingresos. <br>
            <b> Color de la Luz: </b> Presenta un color blanco brillante, ideal para realzar el color de alimentos y
            bebidas. <br>
            <b>Sabor Neutro:</b> El azúcar Icumsa 600 tiene un sabor ligeramente dulce y sin regusto, lo que lo hace
            Versátil para diversas aplicaciones. <br>


        <p style="margin-left: 6em;"> <b> Aplicaciones: </b>

        <p style="margin-left: 8em;">
            <b>Cocina:</b> Se utiliza en diversas recetas dulces, como pasteles, tartas, galletas, dulces y postres.
            <br>
            <b> Bebidas: </b> Ideal para endulzar cafés, tés, jugos, vitaminas y otras bebidas. <br>
            <b> Industria Alimentaria: </b> Se utiliza en la producción de helados, chocolate, pan, jaleas, conservas y
            otros.
            productos alimenticios. <br>
            <b> Industria Farmacéutica: </b> Se utiliza en la producción de medicamentos, jarabes y otros productos
            farmacéuticos. <br>
            <b> Industria Cosmética: </b> Se emplea en la producción de cremas, lociones, perfumes y otros productos
            cosméticos. <br>


        <p style="margin-left: 6em;"> <b> Beneficios: </b>

        <p style="margin-left: 8em;">
            <b> Larga vida útil: </b> El azúcar Icumsa 600 tiene una larga vida útil y puede almacenarse por mucho
            tiempo.
            periodos sin perder sus propiedades. <br>
            <b> Facilidad de Disolución: </b> Sus finos cristales se disuelven fácilmente en líquidos, facilitando su
            uso.
            Úselo en varias recetas. <br>
            <b> Sabor Versátil: </b> El sabor neutro del azúcar Icumsa 600 lo hace ideal para diversas aplicaciones, sin
            interferir con el sabor original de la comida. <br>
            <b> Aplicación versátil: </b> Puede utilizarse en diversas recetas culinarias, bebidas y productos
            industriales.
            <br>


        <p style="margin-left: 6em;"> <b> Consejos de almacenamiento: </b>

        <p style="margin-left: 8em;">
            Guarda el azúcar Icumsa 600 en un lugar fresco, seco y libre de humedad. <br>
            Mantener el envase bien cerrado después de su uso para evitar la absorción de humedad. <br>
            Consumir azúcar Icumsa 600 dentro de la fecha de vencimiento indicada en el empaque. <br>
            El azúcar Icumsa 600 es un ingrediente esencial en la cocina y la industria, ofreciendo dulzura,
            versatilidad y
            Sabor neutro para diversas aplicaciones. <br>

        <p style="margin-left: 6em;">¡Consume con moderación y disfruta de tus recetas favoritas!
        <br>
        <br>
        <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>