<h1 id="h1Home">完整的大豆</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sojaintacta.jpg" width="200" height="200">
    <br>
    <br>
    <div class="textFont">

        <p>Intacta 大豆是一種基因改造品種，近年來徹底改變了農業綜合企業。讓我們多了解這項技術：

            <p style="margin-left: 2em;"><b>什麼是完整大豆？ </b>
            <p style="margin-left: 3em;">完整大豆是一種基因改造大豆，旨在提高農業生產力。
            Intacta 大豆在實驗室進行了基因改造，以獲得更好的結果。
            該技術利用蘇雲金芽孢桿菌 (Bt) 細菌中提取的蛋白質來使穀物抵抗毛毛蟲等害蟲。
            <p style="margin-left: 2em;"><b>完整技術的工作原理：</b>
            <p style="margin-left: 3em;">插入了 Intacta 大豆、源自 Bt 細菌的蛋白質 Cry1Ac 和 Cry1F。
            這些蛋白質攻擊毛毛蟲的消化系統，使穀物對這些昆蟲產生抵抗力。
            Intacta 技術還提供對除草劑草甘膦的抗性，從而減少了施用農業化學物質的需要。
            <p style="margin-left: 2em;"><b>完整大豆的好處：</b>
            <p style="margin-left: 3em;"><b>提高生產力：</b>由於害蟲造成的損失減少，農民獲得了更高的產量。
            <p style="margin-left: 3em;"><b>產品品質：</b>完整的大豆保持其營養和商業品質。
            <p style="margin-left: 3em;"><b>長期成本效益：</b>農業農藥使用量的減少補償了初始投資。
            <p>完整大豆是應對現代農業挑戰的重要工具，可確保更高的效率和永續性。
    </div>
    <br>
    <hr class="rounded">
</div>