<div id="pagHome" class="content">
    <h1 id="h1Home">完整的大豆</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sojaintacta.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">

        <p style="margin-left: 6em;"> <b> 完整大豆：</b> 巴西農業的挑戰與機會 <br>

        <p style="margin-left: 8em;">
            完整大豆，也稱為 RR（Roundup Ready）大豆，是一種基因改造大豆品種
            為了
            抵抗除草劑草甘膦。 <br>
            它於 1996 年在巴西引入，徹底改變了國家農業，顯著提高了農業生產效率。
            生產力
            並降低生產成本。 <br>
            然而，完整的大豆也引發了爭議和激烈的爭論，引發了人們對它們的質疑。
            影響
            環境、社會和經濟。

        <p style="margin-left: 6em;"> <b> 完整大豆的優點：</b>

        <p style="margin-left: 8em;">
            <b>提高生產力：</b>
            草甘膦抗性可以有效控制雜草，減少
            對勞動力和傳統除草劑的需求，導致生產力顯著提高
            來自
            巴西的大豆。 <br>
            <b>降低成本：</b>
            對勞動力和傳統除草劑需求的減少導致了
            生產成本，使完整大豆在國際市場上更具競爭力。 <br>
            <b>易於管理：</b>
            使用草甘膦更容易控制雜草，簡化了作物管理，
            使中小農戶更容易獲得完整的大豆。

        <p style="margin-left: 6em;"> <b> 完整大豆的挑戰：</b>

        <p style="margin-left: 8em;">
            <b>環境影響：</b>
            草甘膦的大量使用會對環境造成損害，例如土壤污染和
            水的減少、有益昆蟲的死亡、雜草抗性的發展。 <br>
            <b>健康問題：</b>一些研究提出了對完整大豆的安全性的擔憂
            人類健康，
            例如過敏、生殖問題和罹癌的可能性。 <br>
            <b>市場集中度：</b>完整大豆種子的生產由少數公司主導
            跨國公司，其中
            引發了人們對市場集中度和農民對這些公司的依賴的擔憂。 <br>
            <b>社會影響：</b>完整大豆的擴張可能導致森林砍伐、生物多樣性喪失和
            衝突
            社會，主要是原住民和傳統社區。

        <p style="margin-left: 6em;"> <b>完整大豆的未來：</b>

        <p style="margin-left: 8em;">
            完整大豆將繼續成為巴西農業的重要產品，但必須尋求
            最大限度地減少其負面影響並確保其生產和消費可持續的解決方案。 <br>

            <b>研發：</b>投資大豆新品種的研發更多
            抵抗
            病蟲害少，除草劑用量少，對環境較有利。 <br>
            <b>永續農業：</b>採用永續農業實踐，如輪作、
            綜合管理
            病蟲害防治及精準農業，減少農藥的使用，保護環境。
            <br>
            <b>對話與透明度：</b>促進社會不同部門之間的對話，包括
            農民，
            消費者、工業界、政府和學術界，尋求一致的解決方案來應對完整大豆的挑戰。

        <p style="margin-left: 6em;">
            完整的大豆有潛力為全球糧食安全和發展做出貢獻
            巴西的社會經濟地位。 <br>
            然而，其生產和消費必須以負責任和可持續的方式進行，
            保證
            保護環境、人民健康和社區福祉。
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>