<h1 id="h1Home">大豆</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/soja.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        大豆 (Glycine max) 是一種原產於東亞的豆類植物，但現在在世界各地廣泛種植和消費。 大豆是世界上最著名的種子之一，對於生產系統至關重要。 在巴西，大豆佔該國穀物種植面積的 56%。<br>
        大豆由蛋白質、纖維、單醣、寡醣、油、鈣、磷、鐵、鈉、鉀、鎂、銅、碳水化合物、脂質、維生素B 和E、Omega3 和6 組成。它是蛋白質的良好來源而且，與許多其他富含蛋白質的食物不同，它的飽和脂肪含量低且不含膽固醇。<br>
        1901年，穀物在巴西非常重要，從那天起，坎皮納斯農業站開始種植，種子開始分發給聖保羅的生產者。 2021年，巴西產量達13,540.9萬噸，位居全球第一大糧食生產國和出口國。<br>
        巴西最大的大豆生產國是馬托格羅索州、巴拉那州、南里奧格蘭德州和戈亞斯州，預計產量將從13540.9萬噸增至14075萬噸，繼續保持全球第一大大豆生產國地位。 .<br>    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>
</div>
