<div id="pagHome">
    <h1 id="h1Home">Grafite</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/grafita.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div>
        <p style="margin-left: 6em;"> <b> Grafite: </b> O Mineral Versátil com Diversas Aplicações <br>

        <p style="margin-left: 8em;">
            O grafite, um mineral natural composto principalmente por carbono, se destaca por suas propriedades únicas
            que o
            tornam um material extremamente versátil com diversas aplicações em diferentes indústrias.

        <p style="margin-left: 6em;"> <b> Propriedades Notáveis: </b>

        <p style="margin-left: 8em;">
            <b> Condutividade elétrica e térmica: </b> O grafite é um excelente condutor de eletricidade e calor, sendo
            utilizado em diversos componentes eletrônicos, como baterias, eletrodos e dissipadores de calor. <br>
            <b> Lubrificação: </b> O grafite possui propriedades lubrificantes naturais, sendo utilizado em diversos
            tipos
            de lubrificantes, especialmente em aplicações de alta temperatura e alta pressão. <br>
            <b> Resistência ao calor e à corrosão: </b> O grafite é resistente a altas temperaturas e à corrosão, sendo
            utilizado em diversos ambientes extremos, como em fornos industriais e em reatores nucleares. <br>
            <b> Flexibilidade e elasticidade: </b> O grafite é um material flexível e elástico, podendo ser moldado em
            diversas formas e utilizado em aplicações que exigem flexibilidade. <br>
            <b> Inércia química: </b> O grafite é quimicamente inerte, o que significa que não reage com a maioria das
            substâncias, tornando-o ideal para aplicações que exigem alta pureza. <br>

        <p style="margin-left: 6em;"> <b> Aplicações Diversas: </b>

        <p style="margin-left: 8em;">
            Devido às suas propriedades excepcionais, o grafite encontra aplicação em uma ampla gama de indústrias,
            como: <br>

            <b> Eletrônica: </b> Baterias, eletrodos, dissipadores de calor, componentes de circuitos eletrônicos, etc.
            <br>
            <b> Lubrificantes: </b> Lubrificantes para alta temperatura, lubrificantes sólidos, graxas lubrificantes,
            etc. <br>
            <b> Materiais refratários: </b> Revestimentos para fornos industriais, cadinhos para metais fundidos,
            reatores
            nucleares, etc. <br>
            <b> Peneis: </b> Grafeno, uma forma bidimensional de grafite, é utilizado na produção de telas sensíveis ao
            toque e painéis solares. <br>
            <b> Cosméticos: </b> O grafite em pó é utilizado em diversos produtos cosméticos, como lápis de olho, rímel
            e sombra para os olhos. <br>
            <b> Tintas e revestimentos: </b> O grafite em pó é utilizado como pigmento em tintas e revestimentos,
            conferindo-lhes propriedades anticorrosivas e de condutividade elétrica. <br>
            <b> Esporte: </b> Raquetes de tênis, tacos de golfe e outros equipamentos esportivos utilizam grafite para
            melhorar o desempenho e a durabilidade. <br>

        <p style="margin-left: 6em;"> <b> Um Material Sustentável: </b>

        <p style="margin-left: 8em;">
            O grafite é um recurso mineral natural abundante e reciclável, o que o torna um material sustentável e
            ecologicamente correto.

            Sua utilização contribui para a redução do uso de materiais não renováveis e poluentes, promovendo
            práticas mais
            sustentáveis na indústria e na sociedade.

            O grafite é um mineral essencial para o mundo moderno, com um futuro promissor em diversas áreas.

            Sua versatilidade, propriedades únicas e sustentabilidade o tornam um material crucial para o
            desenvolvimento de
            novas tecnologias e produtos inovadores.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>