<h1 id="h1Home">Café</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/cafe.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">
    <p style="margin-left: 6em;"> <b> Café Brasileiro: </b> Um Sabor que Conquista o Mundo
    <p style="margin-left: 8em;"> O café brasileiro é reconhecido internacionalmente por sua excelência em sabor, aroma
        e qualidade. Cultivado em regiões com climas e altitudes ideais, o café brasileiro se destaca pela diversidade
        de blends e torrações, atendendo aos mais diversos paladares.

    <p style="margin-left: 6em;"> <b> Um Pouco de História: </b>
    <p style="margin-left: 8em;">A história do café no Brasil remonta ao século XVIII, quando mudas foram introduzidas
        no país. Desde então, o café se tornou parte essencial da cultura e economia brasileira. Hoje, o Brasil é o
        maior produtor e exportador de café do mundo, responsável por cerca de um terço da produção global.

    <p style="margin-left: 6em;"> <b> Características do Café Brasileiro: </b>
    <p style="margin-left: 8em;"> <b> Sabor: </b> O café brasileiro apresenta um sabor rico e intenso, com notas que
        variam de acordo com a região de cultivo e o tipo de torra. <br>
        <b> Aroma: </b> O aroma do café brasileiro é marcante e frutado, com notas de chocolate, especiarias e flores.
        <br>
        <b> Acidez: </b> A acidez do café brasileiro é geralmente baixa, resultando em uma bebida suave e equilibrada.
        <br>
        <b> Corpo: </b> O corpo do café brasileiro varia de médio a encorpado, dependendo da torração. <br>

    <p style="margin-left: 6em;"> <b> Tipos de Café Brasileiro: </b>

    <p style="margin-left: 8em;"> <b> Arábica: </b> A variedade mais comum de café no Brasil, conhecida por seu sabor
        superior e aroma complexo. <br>
        <b> Robusta: </b> Uma variedade mais robusta, com maior teor de cafeína e sabor mais amargo. <br>
        <b> Natural: </b> Processo de secagem do café em que os grãos são secos ao sol, preservando seu sabor frutado.
        <br>
        <b> Lavado: </b> Processo de secagem do café em que os grãos são lavados antes de serem secos, resultando em um
        sabor mais limpo e ácido. <br>

    <p style="margin-left: 6em;"> <b> O Café Brasileiro no Mundo: </b>

    <p style="margin-left: 8em;"> O café brasileiro é apreciado em todo o mundo por sua qualidade superior e
        versatilidade. <br>
        É utilizado em diversos tipos de bebidas, como espresso, cappuccino, latte macchiato e café filtrado. <br>

        O café brasileiro também é um ingrediente importante em diversas receitas culinárias, como bolos, tortas e
        doces. <br>

    <p style="margin-left: 6em;"> <b> Benefícios do Café Brasileiro: </b>

    <p style="margin-left: 8em;">Rico em antioxidantes, que combatem os radicais livres e protegem as células do corpo.
        <br>
        Fonte de cafeína, que melhora o estado de alerta e a concentração. <br>
        Auxilia na digestão e no metabolismo. <br>
        Pode reduzir o risco de algumas doenças crônicas, como diabetes tipo 2 e doenças neurodegenerativas. <br>

    <p style="margin-left: 6em;"> <b> Conclusão: </b>

    <p style="margin-left: 8em;"> O café brasileiro é um produto de alta qualidade que conquista paladares em todo o
        mundo. Sua rica história, sabor único e diversos benefícios o tornam uma bebida ideal para qualquer ocasião.
        <br>

        Se você ainda não experimentou o café brasileiro, convido-o a fazê-lo! Tenho certeza de que você vai se
        apaixonar por essa bebida deliciosa e especial.
        <br>
        <br>
        <hr class="rounded">
</div>