<h1 id="h1Home">Sorgo Vassoura</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgovassoura.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

            <p>O sorgo-vassoura é uma cultura interessante com várias aplicações. Vou fornecer um resumo sobre o assunto:

            <p style="margin-left: 2em;"><b>Caracterização de Acessos de Sorgo-Vassoura Utilizando Descritores Morfoagronômicos:</b>
                <p style="margin-left: 3em;">Um estudo realizado na Universidade Federal de Viçosa (UFV) caracterizou 66 acessos de sorgo-vassoura por meio de descritores morfoagronômicos. O objetivo era selecionar materiais promissores para o cultivo comercial1.
            Os descritores avaliados incluíram características da planta adulta, colmo, folha, panícula e cariopse.
            Essa pesquisa visa melhorar a produção e utilização do sorgo-vassoura.
            <p style="margin-left: 2em;"><b>Tipos de Sorgo</b>:
                <p style="margin-left: 3em;">Existem diferentes tipos de sorgo, e o sorgo-vassoura é um deles.
            O grupo de sorgo do tipo vassoura é usado para confeccionar vassouras, enquanto o grupo de biomassa é destinado à produção de energia, com poder calorífico similar ao da cana, eucalipto e capim elefante2.
            <p style="margin-left: 2em;"><b>Origem e Utilização do Sorgo-Vassoura:</b>
                <p style="margin-left: 3em;">O sorgo-vassoura é uma espécie vegetal da família Graminae, originária do continente africano.
            A parte mais utilizada da planta é a panícula, da qual se origina a palha usada na confecção da vassoura de sorgo, também conhecida como “vassoura caipira” no estado de São Paulo
    
        </div>
    <br>
    <hr class="rounded">
</div>
