<div id="pagHome" class="content">
    <h1 id="h1Home">Sorgo Vassoura</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sorgovassoura.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">

        <p style="margin-left: 6em;"> <b> Sorgo Vassoura: </b> Uma Planta com Múltiplos Usos <br>
        <p style="margin-left: 8em;">
            O sorgo vassoura, também conhecido como sorgo-vassoura ou vassoura-de-bruxa, é uma planta nativa da África e
            da
            Ásia
            que se adaptou muito bem ao clima brasileiro. <br>
            Com sua rusticidade, resistência à seca e adaptabilidade a diversos tipos de solo, o sorgo vassoura se
            tornou
            uma
            planta de grande importância econômica e social, especialmente nas regiões mais áridas do país.

        <p style="margin-left: 6em;"> <b> Muito Mais que Vassouras: </b>

        <p style="margin-left: 8em;">
            Embora o nome popular seja sorgo vassoura, essa planta oferece diversos outros usos, como:

        <p style="margin-left: 10em;">
            <b> Alimentação animal: </b> O sorgo vassoura é uma importante fonte de forragem para o gado, fornecendo
            nutrientes e energia
            para os animais. <br>
            <b> Biomassa: </b> A planta pode ser utilizada na produção de biomassa para a geração de energia renovável,
            como
            biogás e
            biocombustíveis. <br>
            <b> Construção civil: </b> O talo do sorgo vassoura pode ser utilizado na fabricação de tijolos ecológicos e
            painéis de
            vedação. <br>
            <b> Artesanato: </b> As fibras da planta podem ser utilizadas na produção de cestos, chapéus, bolsas e
            outros
            objetos
            artesanais.

        <p style="margin-left: 6em;"> <b> Benefícios Ambientais: </b>

        <p style="margin-left: 8em;">
            O cultivo do sorgo vassoura traz diversos benefícios para o meio ambiente, como:

        <p style="margin-left: 10em;">
            <b> Controle da erosão: </b>
            O sistema radicular profundo da planta ajuda a proteger o solo contra a erosão, especialmente em
            áreas declivosas. <br>
            <b> Melhoria da fertilidade do solo: </b> A decomposição da matéria orgânica do sorgo vassoura contribui
            para
            aumentar a
            fertilidade do solo, tornando-o mais rico em nutrientes. <br>
            <b> Redução do uso de agrotóxicos: </b> O sorgo vassoura é considerado uma planta resistente a pragas e
            doenças,
            o que reduz
            a necessidade de utilizar agrotóxicos na sua produção. <br>
            <b> Captura de carbono: </b> A planta ajuda a capturar e armazenar carbono da atmosfera, contribuindo para o
            combate às
            mudanças climáticas.

        <p style="margin-left: 6em;"> <b> Uma Planta com Grande Potencial: </b>

        <p style="margin-left: 8em;">
            O sorgo vassoura é uma planta com grande potencial para o Brasil, especialmente em regiões com clima seco e
            semiárido. <br>
            Com seus diversos usos e benefícios, essa planta pode contribuir para o desenvolvimento socioeconômico
            sustentável,
            gerando renda para as comunidades rurais e protegendo o meio ambiente. <br>

            Investir em pesquisa e desenvolvimento, na divulgação de suas propriedades e na agregação de valor aos seus
            produtos
            são algumas das ações que podem impulsionar ainda mais o uso do sorgo vassoura no Brasil e contribuir para
            um
            futuro
            mais verde e sustentável. <br>

            O sorgo vassoura é muito mais do que uma simples planta. É uma fonte de oportunidades, benefícios e
            sustentabilidade
            para o Brasil.
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>