<div id="pagHome" class="content">
    <h1 id="h1Home">Sorghum</h1>
    <div id="divCarousel">
        <ngx-slick-carousel class="carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <figure>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">
                        <img src="{{ slide.img }}" alt="" class="img-style">
                    </a>
                    <figcaption>
                        <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                    </figcaption>
                </figure>
            </div>
        </ngx-slick-carousel>
    </div>
    <br>
    <br>
    <div class="textFont">

        <p style="margin-left: 6em;"> <b> Sorghum: </b> A Promising Cereal for the Future of Brazilian Agriculture <br>
        <p style="margin-left: 8em;"> Sorghum, an ancient and resilient cereal, has been gaining prominence in the
            agricultural scene
            Brazilian as an alternative
            promising way to diversify production and ensure food security.
            Adapted to different climates and soils, sorghum has advantageous characteristics that make it an ideal
            option
            attractive
            for farmers and consumers. <br>

        <p style="margin-left: 6em;"> <b> A Versatile Cereal: </b>

        <p style="margin-left: 8em;"> Sorghum stands out for its versatility and can be used in different segments:

        <p style="margin-left: 10em;"> <b> Human food: </b> Fresh grains, sorghum flour, sorghum flakes,
            sorghum noodles, etc. <br>
            <b> Animal feed: </b> Source of energy and nutrients for raising cattle, pigs, poultry and other animals.
            <br>
            <b> Biofuels: </b> Production of ethanol and biogas, renewable and sustainable fuels for vehicles
            automotive and energy generation. <br>
            <b> Industry: </b> Production of plastics, biomaterials, pharmaceuticals and other products. <br>


        <p style="margin-left: 6em;"> <b> Advantages for Agriculture: </b>

        <p style="margin-left: 8em;"> Sorghum cultivation offers significant advantages for Brazilian agriculture:

        <p style="margin-left: 10em;">
            <b> Drought resistance: </b> Adapted to dry climatic conditions, sorghum withstands prolonged droughts with
            bigger
            efficiency than other cereals, such as corn. <br>
            <b> Tolerance to saline soils: </b> Sorghum is tolerant to saline and degraded soils, allowing
            its production
            in areas with adverse soil conditions. <br>
            <b> Lower need for inputs: </b> Sorghum requires fewer pesticides and fertilizers than other cereals,
            contributing
            for sustainable agriculture and environmental preservation. <br>
            <b> Short cultivation cycle: </b> Sorghum has a short cultivation cycle, allowing more than one harvest per
            harvest.
            year in some
            regions. <br>

        <p style="margin-left: 6em;"> <b> A Nutritious Cereal: </b>

        <p style="margin-left: 8em;"> Sorghum is a food rich in nutrients, such as:

        <p style="margin-left: 10em;">
            <b> Carbohydrates: </b> Source of energy for the body. <br>
            <b> Proteins: </b> Important for the development and repair of muscle tissues. <br>
            <b> Fibers: </b> They help with digestion, regulate the intestine and promote satiety. <br>
            <b> Vitamins: </b> Rich in B vitamins, such as B1, B2 and B6, important for metabolism
            energy, the nervous system and muscular function. <br>
            <b> Minerals: </b> Source of iron, phosphorus, magnesium and potassium, essential minerals for the proper
            functioning of the
            body. <br>

        <p style="margin-left: 6em;"> <b>Health Benefits:</b>

        <p style="margin-left: 8em;">Regular consumption of sorghum can bring several health benefits, such as:

        <p style="margin-left: 10em;"> <b> Prevent chronic diseases: </b> Helps in the prevention of chronic diseases
            such
            as
            type 2 diabetes, heart disease and
            some types of cancer. <br>
            <b> Control cholesterol: </b> The fiber present in sorghum helps reduce LDL ("bad") cholesterol,
            decreasing the
            risk of heart disease. <br>
            <b>Improve digestion:</b>Fibers also help regulate the intestines and prevent constipation.
            Strengthen the immune system: Rich in vitamins and minerals, sorghum helps strengthen the system
            immunological,
            protecting the body against diseases. <br>
            <b> Promote satiety: </b> The fibers and proteins in sorghum promote satiety, helping to control
            Weight
            body. <br>


        <p style="margin-left: 6em;"> <b> A Sustainable Future: </b>

        <p style="margin-left: 8em;">Sorghum has a crucial role to play in building a more sustainable future
            for agriculture
            Brazilian:

        <p style="margin-left: 10em;"> <b> Food security: </b> Contributes to the country's food security,
            diversifying grain production and
            ensuring the availability of nutritious food for the population. <br>
            <b> Environmental sustainability: </b> Promotes the environmental sustainability of agriculture, through
            lower
            utilization of
            inputs and adaptability to different climatic conditions. <br>
            <b> Income for farmers: </b> Generates income for farmers, especially in areas with conditions
            climate
            adverse conditions or degraded soils. <br>
        <p style="margin-left: 6em;">Sorghum is a promising cereal with great potential for the future of agriculture
            Brazilian.

            Its adaptability, versatility, nutritional benefits and positive impact on sustainability make it a
            option
            attractive to farmers, consumers and the environment.
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>