<div id="pagHome">
    <h1 id="h1Home">Feijão Preto</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/feijaopreto.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div>
        <p style="margin-left: 6em;"> <b> Feijão Preto: </b> Um Alimento Nutritivo e Versátil para a Mesa Brasileira
            <br>
        <p style="margin-left: 8em;">O feijão preto, um dos ingredientes mais tradicionais da culinária brasileira, é
            muito
            mais do que um simples
            alimento. <br> Ele é um símbolo da cultura e da história do país, presente na mesa das famílias há séculos e
            considerado
            um alimento completo e nutritivo. <br>

        <p style="margin-left: 6em;"> <b> Um Pouco de História: </b>

        <p style="margin-left: 8em;"> O feijão preto foi introduzido no Brasil pelos portugueses no século XVI e
            rapidamente
            se adaptou ao clima e solo
            brasileiro. <br>
            Com o passar do tempo, ele se tornou um alimento básico na dieta da população, ganhando destaque na cultura
            alimentar do país e se tornando um dos principais pratos da culinária brasileira. <br>

        <p style="margin-left: 6em;"> <b> Propriedades Nutricionais: </b>

        <p style="margin-left: 8em;"> O feijão preto é um alimento rico em proteínas, fibras, vitaminas e minerais,
            essenciais para a saúde e o bem-estar.

        <p style="margin-left: 10em;"> <b> Proteínas: </b> Fonte de proteínas vegetais de alta qualidade, importantes
            para o
            desenvolvimento e reparo dos tecidos
            musculares. <br>
            <b> Fibras: </b> Auxiliam na digestão, regulam o intestino e promovem a saciedade, auxiliando no controle do
            peso. <br>
            <b> Vitaminas: </b> Rico em vitaminas do complexo B, como B1, B2 e B6, importantes para o metabolismo
            energético, o sistema
            nervoso e a função muscular. <br>
            <b> Minerais: </b> Fonte de ferro, fósforo, magnésio e potássio, minerais essenciais para o bom
            funcionamento do
            organismo. <br>

        <p style="margin-left: 6em;"> <b> Benefícios para a Saúde: </b>

        <p style="margin-left: 8em;"> O consumo regular de feijão preto pode trazer diversos benefícios para a saúde,
            como:
            <br>

        <p style="margin-left: 10em;"> <b> Prevenir doenças crônicas: </b> Auxilia na prevenção de doenças crônicas como
            diabetes tipo 2, doenças cardíacas e alguns
            tipos de câncer. <br>
            <b> Controlar o colesterol: </b> As fibras presentes no feijão preto ajudam a reduzir o colesterol LDL
            ("ruim"),
            diminuindo o
            risco de doenças cardíacas. <br>
            <b> Melhorar a digestão: </b> As fibras também auxiliam na regulação do intestino e previnem a constipação.
            <br>
            <b> Fortalecer o sistema imunológico: </b> Rico em vitaminas e minerais, o feijão preto ajuda a fortalecer o
            sistema
            imunológico, protegendo o organismo contra doenças. <br>
            <b> Promover a saciedade: </b> As fibras e proteínas do feijão preto promovem a saciedade, auxiliando no
            controle do peso
            corporal. <br>


        <p style="margin-left: 6em;"> <b> Versatilidade na Culinária: </b>

        <p style="margin-left: 8em;"> O feijão preto é um ingrediente extremamente versátil, podendo ser utilizado em
            diversos pratos da culinária
            brasileira, como:

        <p style="margin-left: 10em;"> <b> Feijoada: </b> Um prato típico brasileiro feito com feijão preto, carne seca,
            linguiça, paio e temperos. <br>
            <b> Tropeiro: </b> Um prato mineiro feito com feijão preto, torresmo, farinha de mandioca, couve e ovos.
            <br>
            <b> Baião de Dois: </b> Um prato nordestino feito com feijão preto, arroz, queijo coalho, manteiga de
            garrafa e
            carne seca. <br>
            <b> Salpicão: </b> Uma salada refrescante feita com feijão preto, frango desfiado, tomate, cebola e
            temperos.
            <br>
            <b> Sopa de feijão preto: </b> Uma sopa nutritiva e saborosa feita com feijão preto, legumes, temperos e
            caldo
            de legumes ou carne. <br>

        <p style="margin-left: 6em;"> O feijão preto é um alimento completo, nutritivo, versátil e saboroso, que deve
            fazer
            parte da dieta regular de
            todos os brasileiros. <br>

            Além de ser um alimento tradicional e culturalmente importante, o feijão preto oferece diversos benefícios
            para
            a saúde e pode ser utilizado em uma variedade de pratos deliciosos.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>