<h1 id="h1Home">Feijão Preto</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/feijaopreto.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        O que é Feijão Preto?

        O feijão preto (Phaseolus vulgaris) é um tipo de leguminosa originária da América Central e do Sul. É um alimento básico na culinária brasileira, presente em diversas receitas tradicionais, como a feijoada, o tutu de feijão e o acarajé.
        
        Características e Benefícios do Feijão Preto:
        
        Nutrição: O feijão preto é rico em proteínas, fibras, vitaminas e minerais, como ferro, potássio e magnésio. É uma excelente fonte de proteína vegetal, importante para vegetarianos e veganos.
        Saúde: O consumo regular de feijão preto está associado a diversos benefícios à saúde, como a redução do colesterol, o controle da glicemia e a prevenção de doenças cardiovasculares.
        Versatilidade: O feijão preto pode ser utilizado em diversas receitas, como saladas, sopas, ensopados, hambúrgueres vegetarianos e até mesmo doces.
        Sustentabilidade: O cultivo do feijão preto é considerado sustentável, pois requer pouca irrigação e contribui para a fixação de nitrogênio no solo.
        Aplicações do Feijão Preto:
        
        Segurança alimentar: O feijão preto é um alimento acessível e nutritivo, contribuindo para a segurança alimentar e nutricional da população.
        Combate à fome: O feijão preto é uma importante fonte de proteína vegetal, ajudando a combater a fome e a desnutrição.
        Renda para agricultores: A produção de feijão preto gera renda para agricultores familiares, especialmente em áreas menos favorecidas.
        Sustentabilidade ambiental: O cultivo do feijão preto contribui para a sustentabilidade ambiental, com menor uso de recursos naturais e menor emissão de gases de efeito estufa.
        Conclusão:
        
        O feijão preto é um alimento nutritivo, versátil e sustentável, com potencial para contribuir para a segurança alimentar, a saúde da população, a renda dos agricultores e a sustentabilidade ambiental. Seu consumo regular é recomendado para uma dieta equilibrada e saudável.
        
        Para mais informações:
        
        Embrapa Arroz e Feijão: https://www.embrapa.br/arroz-e-feijao
        Associação Brasileira de Leguminosas e Oleaginosas (ABIOVE): https://www.abiove.org.br/    </div>
    <br>
    <hr class="rounded">
</div>
