<h1 id="h1Home">Escoba de sorgo</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgovassoura.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

        <p>El sorgo de retama es un cultivo interesante con varias aplicaciones. Haré un resumen sobre el tema:

            <p style="margin-left: 2em;"><b>Caracterización de las accesiones de sorgo-escoba mediante descriptores morfoagronómicos:</b>
            <p style="margin-left: 3em;">Un estudio realizado en la Universidad Federal de Viçosa (UFV) caracterizó 66 accesiones de sorgo-escoba utilizando descriptores morfoagronómicos. El objetivo fue seleccionar materiales prometedores para el cultivo comercial1.
            Los descriptores evaluados incluyeron características de la planta adulta, tallo, hoja, panícula y cariopsis.
            Esta investigación tiene como objetivo mejorar la producción y uso del sorgo de retama.
            <p style="margin-left: 2em;"><b>Tipos de sorgo</b>:
            <p style="margin-left: 3em;">Existen diferentes tipos de sorgo y el sorgo de retama es uno de ellos.
            El grupo del sorgo tipo retama se utiliza para la elaboración de escobas, mientras que el grupo de la biomasa se utiliza para la producción de energía, con un poder calorífico similar al de la caña de azúcar, el eucalipto y el pasto elefante2.
            <p style="margin-left: 2em;"><b>Origen y uso de la retama de sorgo:</b>
            <p style="margin-left: 3em;">El sorgo de retama es una especie vegetal de la familia Graminae, originaria del continente africano.
            La parte más utilizada de la planta es la panícula, de donde se origina la paja con la que se elabora la escoba de sorgo, también conocida como “escoba de caipira” en el estado de São Paulo.

        </div>
    <br>
    <hr class="rounded">
</div>
