<h1 id="h1Home">Escoba de sorgo</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgovassoura.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">

    <p style="margin-left: 6em;"> <b> Sorgo de retama: </b> Una planta con múltiples usos <br>
    <p style="margin-left: 8em;">
        El sorgo de retama, también conocido como sorgo de retama o escoba de bruja, es una planta originaria de África
        y Europa.
        Asia
        que se adaptó muy bien al clima brasileño. <br>
        Por su rusticidad, resistencia a la sequía y adaptabilidad a diferentes tipos de suelo, el sorgo de retama se ha
        convertido
        uno
        Planta de gran importancia económica y social, especialmente en las regiones más áridas del país.

    <p style="margin-left: 6em;"> <b> Mucho más que escobas: </b>

    <p style="margin-left: 8em;">
        Aunque el nombre popular es sorgo de retama, esta planta ofrece varios usos más, como:

    <p style="margin-left: 10em;">
        <b> Alimento animal: </b> El sorgo de retama es una fuente importante de forraje para el ganado, ya que
        proporciona
        nutrientes y energía
        para animales. <br>
        <b> Biomasa: </b> La planta se puede utilizar en la producción de biomasa para generar energía renovable, como
        biogás y
        biocombustibles. <br>
        <b>Construcción civil: </b> El tallo de sorgo de retama puede utilizarse en la fabricación de ladrillos
        ecológicos y
        paneles de
        sello. <br>
        <b>Artesanías: </b> Las fibras de la planta se pueden utilizar en la elaboración de cestas, sombreros, bolsos y
        otros.
        objetos
        hecho a mano.

    <p style="margin-left: 6em;"> <b> Beneficios medioambientales: </b>

    <p style="margin-left: 8em;">
        El cultivo de sorgo retama aporta varios beneficios al medio ambiente, tales como:

    <p style="margin-left: 10em;">
        <b>Control de erosión:</b>
        El profundo sistema de raíces de la planta ayuda a proteger el suelo contra la erosión, especialmente en
        zonas inclinadas. <br>
        <b>Mejora de la fertilidad del suelo:</b>La descomposición de la materia orgánica en la retama de sorgo
        contribuye a
        aumentar la
        fertilidad del suelo, haciéndolo más rico en nutrientes. <br>
        <b> Reducción del uso de pesticidas: </b> El sorgo de retama es considerado una planta resistente a plagas y
        enfermedades,
        lo que reduce
        la necesidad de utilizar pesticidas en su producción. <br>
        <b>Captura de carbono:</b>La planta ayuda a capturar y almacenar carbono de la atmósfera, contribuyendo a la
        combatir el
        cambios climáticos.

    <p style="margin-left: 6em;"> <b> Una planta con gran potencial: </b>

    <p style="margin-left: 8em;">
        El sorgo retama es una planta con gran potencial para Brasil, especialmente en regiones con clima seco y
        Semi árido. <br>
        Con sus diversos usos y beneficios, esta planta puede contribuir al desarrollo socioeconómico
        sostenible,
        generar ingresos para las comunidades rurales y proteger el medio ambiente. <br>

        Invertir en investigación y desarrollo, en la difusión de sus propiedades y en añadir valor a sus
        productos
        son algunas de las acciones que pueden impulsar aún más el uso del sorgo retama en Brasil y contribuir a una
        futuro
        más verde y más sostenible. <br>

        El sorgo retama es mucho más que una simple planta. Es una fuente de oportunidades, beneficios y
        sostenibilidad
        para Brasil.
        <br>
        <br>
        <hr class="rounded">
</div>