<h1 id="h1Home">爆米花玉米</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhobrania.jpg" width="200" height="200">
    <br>
    <br>
    <div class="textFont">

        <p style="margin-left: 2em;">什麼是玉米麩皮？
        
            <p style="margin-left: 3em;">源自研磨玉米粒，穀物外部富含纖維<br>
            不溶性和可溶性纖維的天然來源，對消化健康很重要<br>
            富含B群維生素、鐵、鎂、鋅等營養素<br>
            低升糖指數，有助於控制血糖值<br>
            不含麩質，使其成為乳糜瀉患者和麩質敏感人群的合適選擇<br>
          
            <p style="margin-left: 2em;">玉米麩的健康益處
          
            <p style="margin-left: 3em;">促進消化健康：玉米麩的高纖維含量有助於良好的腸道功能，防止便秘並促進規律排便。
            有助於控制體重：玉米麩中的纖維可以增加飽腹感，有助於控制食慾並減少熱量攝入，這對於想要減肥或保持健康體重的人來說是有益的。
            調節膽固醇水平：玉米麩中的可溶性纖維有助於降低低密度脂蛋白（壞）膽固醇，降低心臟病的風險。
            控制血糖水平：玉米麩的低血糖指數有助於控制血糖水平，使其成為糖尿病或糖尿病前期患者的有益選擇。
            增強免疫系統：玉米麩富含β-葡聚醣，這是一種有助於增強免疫系統、對抗感染和疾病的纖維。
          
            <p style="margin-left: 2em;">玉米麩的烹飪用途
          
            <p style="margin-left: 3em;">早餐麥片：在早餐麥片中添加玉米麩以增加纖維和營養成分。
            優格和冰沙：將玉米粉混合到優格或冰沙中，以額外增加纖維和風味。
            鬆餅、餅乾和麵包：在鬆餅、餅乾和麵包配方中用玉米麩代替部分小麥粉，以增加質地、纖維和營養。
            漢堡和肉丸：將玉米麩加入漢堡和肉丸中
    </div>
    <br>
    <hr class="rounded">
</div>