<h1 id="h1Home">Emerald</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/esmeralda.jpg" width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        The emerald is one of the most coveted gemstones in the world, known for its beautiful, deep green. It is the noblest variety of the mineral beryl. The green color of the emerald is due to the presence of minute amounts of chromium and sometimes vanadium.<br>

        The emerald is prized as a gem and the price per carat places it among the most valuable stones in the world. It has a hardness of 7.5 - 8.0 on the Mohs Scale. The main emerald deposits are Colombian, but they can also be found in Brazil — in Minas Gerais and Goiás —, in Russia, in Zimbabwe and in Afghanistan.<br>

        Emerald is extremely sensitive to strong knocks, scratches and sudden changes in temperature. Furthermore, the emerald promotes financial stability, attunes us to the vibrational pattern of abundance and provides physical, mental and emotional balance in those who wear it.<br>

        Finally, the emerald is the stone that represents those born in the month of May, being a symbol of rebirth and love. Therefore, it is the ideal gift for birthdays of the month, for Mother's Day and even for future brides and grooms who wish to propose in May.<br>    </div>
    <br>
    <hr class="rounded">
</div>