<div id="pagHome" class="content">
    <h1 id="h1Home">Emerald</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/esmeralda.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Emerald: </b>The Green Jewel that Enchant the World <br>
        <p style="margin-left: 8em;">
            The emerald, a precious stone known for its vibrant green color and intense shine, is one of the most
            coveted and valuable in the world.
            Its natural beauty and rich symbolism make it an object of desire for collectors, jewelers and lovers of
            precious stones.

        <p style="margin-left: 6em;"> <b> Origin and History: </b>

        <p style="margin-left: 8em;">
            Emeralds are formed in igneous and metamorphic rocks, under conditions of high pressure and temperature.
            They have been mined and prized by many civilizations throughout history, from the ancient Egyptians and
            Romans to the Incas and Aztecs.

        <p style="margin-left: 6em;"> <b> Characteristics and Properties: </b>

        <p style="margin-left: 8em;">
            <b> Color: </b> The green color of the emerald is caused by the presence of chromium in its composition. The
            green hue can vary from
            light green to dark green, with bluish or yellowish tones. <br>
            <b> Brilliance: </b> Emeralds have a glassy, ​​intense and captivating shine, which makes them even more
            attractive. <br>
            <b> Cutting: </b> Emeralds are generally cut in cabochons, which enhances their color and shine. <br>
            <b>Inclusions:</b>Small imperfections, known as inclusions, are common in emeralds and can even enlarge
            its value, if unique characteristics of the stone are considered. <br>

        <p style="margin-left: 6em;"> <b> Symbolism and Meanings: </b>

        <p style="margin-left: 8em;">
            The emerald is associated with various symbolisms and meanings, such as:

        <p style="margin-left: 10em;">
            <b>Wealth and Prosperity:</b> The emerald is believed to attract wealth, abundance and luck to its
            possessor. <br>
            <b> Wisdom and knowledge: </b> The green stone is related to wisdom, intelligence and the ability to make
            decisions
            wise. <br>
            <b> Love and fidelity: </b> The emerald symbolizes true love, fidelity and loyalty between couples. <br>
            <b>Health and well-being:</b> Emerald is believed to have healing properties, which can bring physical and
            mental health
            for its owner. <br>
            <b> Protection: </b> The green stone is also associated with protection against negative energies and envy.
            <br>

        <p style="margin-left: 6em;"> <b> Main Deposits: </b>

        <p style="margin-left: 8em;">
            Emeralds are found in different parts of the world, but the main deposits are located in:

        <p style="margin-left: 10em;">
            <b> Colombia: </b> Famous for its high-quality, intense green emeralds, Colombia is considered the main
            world producer of stone. <br>
            <b> Brazil: </b> Brazil also has important deposits of emeralds, mainly in the states of Minas Gerais, Goiás
            and Bahia. <br>
            <b>Zambia:</b>Zambia emeralds are known for their bluish-green color and high transparency. <br>
            <b> Russia: </b> Russian emeralds come in darker shades of green and are valued for their rarity. <br>

        <p style="margin-left: 6em;"> <b> Tips for Buying Emeralds: </b>

        <p style="margin-left: 8em;">
            When buying an emerald, it is important to consider some factors, such as:

        <p style="margin-left: 10em;">
            <b>Origin:</b> The origin of the emerald is an important factor that influences its value. Emeralds from
            renowned deposits, such as
            Colombia and Brazil are generally more expensive. <br>
            <b>Color:</b>The color of the emerald is one of the main factors that determine its value. Emeralds with
            shades of green
            intense and vibrant are more valued. <br>
            <b>Clarity:</b> Emeralds with few inclusions are rarer and more valuable. <br>
            <b> Cutting: </b> The quality of the emerald's cutting also influences its value. A well-made cut highlights
            the
            beauty and shine of the stone. <br>
            <b> Certificate: </b> It is important to buy the emerald with a certificate of authenticity and quality
            issued by a
            renowned gemological laboratory. <br>
        <p style="margin-left: 6em;">
            The emerald is a rare and precious gem that enchants with its natural beauty and rich symbolism.
            If you are thinking about purchasing an emerald, remember to do your research, consider the factors
            mentioned
            above and purchase from a reputable seller to ensure the authenticity and quality of the stone.
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>