<h1 id="h1Home">爆米花玉米</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhocanjica.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">

        <p style="margin-left: 6em;"> <b> 白玉米玉米粥：</b> 具有無與倫比的多功能性的傳統風味<br>

            <p style="margin-left: 8em;">
            白玉米粥，也稱為玉米粥、canjica 玉米粉或 canjicão，是一種成分
            傳統的巴西美食，有多種甜味和鹹味菜餚。 <br>
            其柔軟的質地和獨特的風味使其成為多功能食品，可用於湯和燉菜等食譜中。
            甚至糖果和蛋糕。
           
            <p style="margin-left: 6em;"> <b>起源與歷史：</b>
           
            <p style="margin-left: 8em;">
            白色玉米粥原產於中美洲，由殖民者引入巴西
            葡萄牙語。 <br>
            幾個世紀以來，它已成為巴西飲食文化中的流行食品，尤其是在
            農村地區。
           
            <p style="margin-left: 6em;"> <b> 營養特性：</b>
           
            <p style="margin-left: 8em;">
            白玉米粥是一種富含營養的食物，例如：
           
            <p style="margin-left: 10em;">
            <b>碳水化合物：</b>身體的能量來源，主要以澱粉的形式存在。 <br>
            <b>蛋白質：</b>對於肌肉組織的發育和修復很重要。 <br>
            <b>纖維：</b>它們有助於消化、調節腸道並促進飽足感。 <br>
            <b> 維生素：</b> 富含 B 群維生素，如 B1、B2 和 B5，對新陳代謝很重要
            能源，
            神經系統和肌肉功能。 <br>
            <b> 礦物質：</b> 鐵、磷、鎂和鉀的來源，是身體正常運作所必需的礦物質
            身體。
           
            <p style="margin-left: 6em;"> <b>健康益處：</b>
           
            <p style="margin-left: 8em;">
            經常食用白玉米粥可以帶來多種健康益處，例如：
           
            <p style="margin-left: 10em;">
            <b>預防慢性疾病：</b>有助於預防慢性疾病，如第2型糖尿病、
            心臟和
            某些類型的癌症。 <br>
            <b>控制膽固醇：</b>玉米中的纖維有助於降低低密度脂蛋白膽固醇
            （「壞的」），
            降低心臟病的風險。 <br>
            <b>改善消化：</b>纖維也有助於調節腸道並防止便秘。 <br>
            <b> 增強免疫系統：</b> 玉米粥富含維生素和礦物質，有助於增強免疫力
            系統
            免疫，保護身體免受疾病侵害。 <br>
            <b>促進飽足感：</b>玉米粥中的纖維和蛋白質可促進飽足感，有助於
            控制
            體重。
           
            <p style="margin-left: 6em;"> <b>烹飪多功能性：</b>
           
            <p style="margin-left: 8em;">
            白玉米粥是一種用途極為廣泛的配料，可用於各種菜餚中。
            巴西美食，例如：
           
            <p style="margin-left: 10em;">
            <b>玉米粥：</b>傳統的甜食，由玉米粥、牛奶、糖、肉桂和丁香製成。 <br>
            <b> Pamonha：</b> 一種美味佳餚，由磨碎的玉米粥、牛奶、奶酪、調味料製成，在爐子上或在烤箱中烹製
            玉米葉。 <br>
            <b> 蒸粗麥粉：</b> 用煮熟並磨碎的玉米粥製成的菜餚，可以甜食或鹹食。 <br>
            <b>湯和燉菜：</b>玉米粥可用於為湯和燉菜添加奶油味和風味。
            <br>
            <b>蛋糕和糖果：</b>玉米粥可用於蛋糕、派和其他糖果的麵團。
           
            <p style="margin-left: 6em;">
            白玉米粥是一種營養豐富、用途廣泛且美味的食物，應該成為您日常飲食的一部分。
            所有巴西人。 <br>
            除了作為傳統和文化上重要的成分外，玉米粥還具有多種好處
            為了健康，可用於各種美味菜餚。
    <br>
    <br>
    <hr class="rounded">
</div>