<h1 id="h1Home">爆米花玉米</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhocanjicajpg" width="200" height="200">
    <br>
    <br>
    <div class="textFont">

        <p style="margin-left: 2em;"><b>白玉米：</b><p>
            <p style="margin-left: 3em;"> 源自巴西的多功能穀物
            白玉米，又稱發芽玉米，是原產於巴西的品種，在全國廣泛種植。其柔軟的白色顆粒使其成為許多傳統菜餚的重要成分，並具有多種工業應用。
           
            <p style="margin-left: 2em;"><b>功能與優點：</b></p>
           
            <p style="margin-left: 3em;">味道和質感：白玉米味道溫和甜美，煮熟後口感柔軟，呈奶油狀。
            營養：白玉米富含維生素、礦物質和纖維，是人體能量的重要來源。它提供複雜的碳水化合物、蛋白質、鐵、磷、鉀和 B 群維生素，如 B1、B3 和 B5。
            多功能性：白玉米可以以不同的方式食用，無論是新鮮的、煮熟的、磨碎的還是以玉米粥、玉米粉、玉米粉蒸肉、玉米粥和其他幾種美味菜餚的形式。
            工業應用：從白玉米中提取的玉米澱粉用於各種食品和工業產品，如奶油、醬汁、麵包、餅乾、油漆、化妝品甚至生物燃料。
            流行用途：
           
            <p style="margin-left: 2em;"><b>玉米粥：</b></p>
            <p style="margin-left: 3em;">一道典型的巴西菜餚，用牛奶或肉湯煮熟的白玉米製成，通常添加糖、肉桂和丁香。
            玉米粉蒸肉：一種新鮮的奶油麵團，由磨碎並煮熟的白玉米製成，可以是鹹味的，也可以是甜味的。
            玉米粉：白玉米粉用於多種食譜，如蛋糕、麵包、餅乾、蒸粗麥粉和玉米粥。
            煮熟的玉米：煮熟的白玉米是簡單而美味的佐餐選擇，可以用奶油、鹽和胡椒調味。
            玉米奶油：由煮熟的白玉米、牛奶、奶油和調味料製成的奶油，非常適合作為開胃菜或配菜。
            栽培與生產：
           
            白玉米適應不同的氣候和土壤類型，巴西中西部和東南部地區產量較多。您的種植園需要灌溉、施肥以及病蟲害防治等照護。種植後約 90 至 120 天收成。
           
            <p style="margin-left: 2em;"><b>文化重要性：</b></p>
           
            <p style="margin-left: 3em;">白玉米在巴西具有重要的文化意義，出現在多個傳說、流行節日和典型菜餚中。它是豐富的巴西美食以及人民與土地之間緊密聯繫的象徵。
           
            <p style="margin-left: 2em;"><b>結論：</b></p>
           
            <p style="margin-left: 3em;">白玉米是一種營養豐富、用途廣泛的穀物，在巴西具有重要的文化意義。它在巴西美食中的應用非常廣泛，從簡單的菜餚到更精緻的食譜。此外，其多樣化的工業應用使其成為國家經濟的重要產品。
    </div>
    <br>
    <hr class="rounded">
</div>