<div id="pagHome" class="content">
    <h1 id="h1Home">International Commodities</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/agrokelvy4.png" alt="agrokelvy">
        <span class="complementoLogo"></span>
        <img src="/carousel/browser/assets/images/naviocarga.jpg" alt="Transporte Marítimo">
        <span class="complemento"></span>
        <img src="/carousel/browser/assets/images/commodities.jpg" alt="Commodities">
        <span class="complemento"></span>
        <img src="/carousel/browser/assets/images/commodities3.jpg" alt="Beans">
        <span class="complemento"></span>
        <img src="/carousel/browser/assets/images/acucarHome.jpg" alt="Sugar">
        <span class="complemento"></span>
        <img src="/carousel/browser/assets/images/milhoHome.jpg" alt="Corn">
        <span class="complemento"></span>
        <img src="/carousel/browser/assets/images/coresp.jpg" alt="Core- SP">
        <br>
        <br>
    </div>
    <div class="container">
        <h4 id="divText">
            <p style="margin-left: 6em;"><b>Commodities</b>
        </h4>
        <h4 id="divText">
            <p style="margin-left: 8em;">Commodities are basic products that are widely traded
                scale. To the
                Major commodities traded around the world include:
        </h4>
        <ul>
            <p style="margin-left: 10em; color: dimgrey;">

                <li>
                    <b>Coffee:</b> Coffee is an agricultural commodity that is used to produce roasted and ground
                    coffee,
                    coffee
                    soluble and
                    other drinks. The price of coffee is influenced by several factors, such as supply and demand, the
                    climate and
                    to the
                    government policies.<br>
                </li>
                <li>
                    <b>Copper:</b> Copper is a metallic commodity that is used in electronics, construction and other
                    applications. O
                    Copper price is influenced by several factors, such as supply and demand, political
                    international and
                    The
                    global economy.<br>
                </li>
                <li>
                    <b>Corn:</b> Corn is an agricultural commodity that is used to produce animal feed,
                    biofuel and
                    food for humans. The price of corn is influenced by several factors, such as supply and
                    demand, the
                    climate and government policies.<br>
                </li>
                <li>
                    <b>Cotton:</b> Cotton is an agricultural commodity that is used to produce clothing, fabrics and
                    others
                    products.
                    The price of cotton is influenced by several factors, such as supply and demand, weather and
                    policies
                    government.<br>
                </li>
                <li>
                    <b>Gold:</b> Gold is a valuable commodity that is used in jewelry, electronics and investments. O
                    price
                    of
                    gold is
                    influenced by several factors, such as inflation, international politics and the demand for
                    jewelry.<br>
                </li>
                <li>
                    <b>Oil:</b> It is the most traded commodity in the world. Oil is used to
                    produce gasoline, diesel, kerosene and other petroleum products. The price of oil is
                    influenced
                    per
                    various factors such as supply and demand, international politics and natural disasters.<br>
                </li>
                <li>
                    <b>Silver:</b> Silver is a metallic commodity that is used in jewelry, electronics, and other
                    applications. O
                    price of
                    silver is influenced by several factors such as supply and demand, international politics and
                    economy
                    global.<br>
                </li>
                <li>
                    <b>Soybeans:</b> Soybeans are an agricultural commodity that is used to produce soybean oil, feed
                    animal and
                    biofuel. The price of soybeans is influenced by several factors, such as supply and demand, the
                    climate and
                    government policies.<br>
                </li>
                <li>
                    <b>Sugar: </b> Sugar is an agricultural commodity that is used to produce food and
                    drinks. O
                    price of
                    Sugar is influenced by several factors, such as supply and demand, climate and policies
                    governmental. <br>
                </li>
                <li>
                    <b>Wheat:</b> Wheat is an agricultural commodity that is used to produce food for humans
                    It is
                    portion
                    animal.
                    The price of wheat is influenced by several factors, such as supply and demand, weather and
                    policies
                    government.<br>
                </li>
        </ul>
        <h4 id="divText">
            <p style="margin-left: 6em;"><b>Sales Modus Operandi</b>
        </h4>

        <p style="margin-left: 8em; color: dimgrey; ">
            In international trade, the terms of negotiation define the responsibilities and costs of the
            transportation of
            merchandise from seller to buyer. <br>
            Understanding these terms is crucial to ensuring a safe and efficient transaction, avoiding
            misunderstandings and
            additional costs. <br>
            In this guide, we willanalyze in detail the terms CIF (Cost, Insurance and Freight), FOB Stowed and FOB
            About
            Wheels, revealing their characteristics and differences. <br> <br>

            <b>1. CIF (Cost, Insurance and Shipping):</b>

        <p style="margin-left: 10em;">
            In CIF, the seller assumes responsibility for: <br>

        <ul>
            <p style="margin-left: 10em; color: dimgrey;">

                <li>Cost of merchandise: The agreed price for the product itself.</li>
                <li>Insurance: Purchase and payment of marine insurance to cover risks during transport.
                </li>
                <li>Freight: Payment for transporting the goods to the port of destination designated in the contract.
                </li>
        </ul>

        <p style="margin-left: 10em;">
            The buyer assumes responsibility for:

        <ul>
            <p style="margin-left: 10em; color: dimgrey;">

                <li>Port expenses at the port of destination: Unloading fees, storage and other costs
                    related to the arrival of goods at the port.</li>
                <li>Internal transport: Contracting and paying for the transport of goods from the port of destination
                    to
                    O
                    final location desired by the buyer.</li>
                <li>Import expenses: Taxes, fees and other charges related to the entry of goods
                    at the
                    destination country.</li>
        </ul>

        <p style="margin-left: 8em; color: dimgrey;">
            <b>2. FOB Stowed:</b>

        <p style="margin-left: 10em;">
            At FOB Estivado, the seller assumes responsibility for:

        <ul>
            <p style="margin-left: 10em; color: dimgrey;">
                <li>Cost of merchandise: The agreed price for the product itself.</li>
                <li>Stevedoring: Placing the goods on board the ship, including costs for stacking, mooring and
                    fixation.</li>
        </ul>

        <p style="margin-left: 10em;">
            The buyer assumes responsibility for:

        <ul>
            <p style="margin-left: 10em; color: dimgrey;">

                <li>Insurance: Purchase and payment of marine insurance to cover risks during transport.
                </li>
                <li>Freight: Payment for the transportation of goods from the moment of stowage to the port of
                    destiny
                    designated in the contract. </li>
                <li>Port expenses at the port of destination: Unloading fees, storage and other costs
                    related to the arrival of goods at the port. </li>
                <li>Internal transport: Contracting and paying for the transport of goods from the port of destination
                    to
                    O
                    final location desired by the buyer. </li>
                <li>Import expenses: Taxes, fees and other charges related to the entry of goods
                    at the
                    destiny country. </li>
        </ul>

        <p style="margin-left: 8em; color: dimgrey;">
            <b>3. FOB On Wheels:</b>

        <p style="margin-left: 10em;">
            At FOB Sobre Rodas, the seller assumes responsibility for:

        <ul>
            <p style="margin-left: 10em; color: dimgrey;">

                <li>Cost of merchandise: The agreed price for the product itself. </li>
                <li>Delivery of the goods to the buyer's vehicle or to a location designated by the buyer:
                    seller
                    assumes transportation costs to the delivery location. </li>
        </ul>

        <p style="margin-left: 10em;">
            The buyer assumes responsibility for:

        <ul>
            <p style="margin-left: 10em; color: dimgrey;">

                <li>Insurance: Hiring and paying for insurance (optional, depending on the agreement between the
                    parties).
                </li>
                <li>Import expenses: Taxes, fees and other charges related to the entry of goods
                    at the
                    destination country (if applicable). </li>
        </ul>

        <h4 id="divText">
            <p style="margin-left: 6em;"><b> Choosing the ideal trading term depends on several factors,
                    like: </b>
        </h4>

        <ul>
            <p style="margin-left: 10em; color: dimgrey;">

                <li>Type of merchandise: CIF is more used for maritime cargo, while FOB Estivated and
                    FOB on Wheels
                    can be used for different types of transport. </li>
                <li>Location of the parties: The distance between the seller and the buyer influences the choice of
                    more appropriate term
                    to share costs and responsibilities. </li>
                <li>Experience of the parties: If one of the parties does not have experiencewith import or export, the
                    CIF can be
                    more advantageous as it includes insurance. </li>
                <li>Negotiation between the parties: Terms can be flexible and adjusted according to
                    needs and
                    preferences of both parties. </li>
        </ul>

        <h4 id="divText">
            <p style="margin-left: 6em;"><b> Recommendations: </b>
        </h4>
        <p style="margin-left: 10em; color: dimgrey;">
            Consult an international trade specialist: An experienced professional can assist you in
            choice of
            most suitable trading term for your transaction.

            <br>
            <br>
        <footer class="footer navbar-fixed-bottom">
        </footer>
    </div>
</div>