<h1 id="h1Home">International Commodities</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/agrokelvy4.png" alt="agrokelvy">
    <span class="complementoLogo"></span>
    <img src="/carousel/browser/assets/images/naviocarga.jpg" alt="Transporte Marítimo">
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities.jpg" alt="Commodities">
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities2.jpg" alt="Commodities2">
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities3.jpg" alt="Beans">
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/acucarHome.jpg" alt="Sugar">
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/milhoHome.jpg" alt="Corn">
    <br>
    <br>
</div>
<div class="container">
    <h4 id="divText">
        <p style="margin-left: 6em;"><b>Commodities</b>
    </h4>
    <h4 id="divText">
        <p style="margin-left: 8em;">Commodities are basic products that are traded on a large scale. The main
            commodities traded in the world include:
    </h4>
    <p style="margin-left: 10em;"><b>Oil:</b> It is the most traded commodity in the world. Petroleum is used to produce
        gasoline, diesel, kerosene and other petroleum products. The price of oil is influenced by several factors, such
        as supply and demand, international politics and natural disasters.<br>
        <b>Gold:</b> Gold is a valuable commodity that is used in jewelry, electronics and investments. The price of
        gold is influenced by several factors, such as inflation, international politics and demand for jewelry.<br>
        <b>Soy:</b> Soy is an agricultural commodity that is used to produce soybean oil, animal feed and biofuel. The
        price of soybeans is influenced by several factors, such as supply and demand, weather and government
        policies.<br>
        <b>Corn:</b> Corn is an agricultural commodity that is used to produce animal feed, biofuel and food for humans.
        The price of corn is influenced by several factors, such as supply and demand, weather and government
        policies.<br>
        <b>Coffee:</b> Coffee is an agricultural commodity that is used to produce roasted and ground coffee, instant
        coffee and other beverages. The price of coffee is influenced by several factors, such as supply and demand,
        weather and government policies.<br>
        <b>Sugar:</b> Sugar is an agricultural commodity that is used to produce food and beverages. The price of sugar
        is influenced by several factors, such as supply and demand, weather and government policies.<br>
        <b>Cotton:</b> Cotton is an agricultural commodity that is used to produce clothing, fabrics and other products.
        The price of cotton is influenced by several factors, such as supply and demand, weather and government
        policies.<br>
        <b>Copper:</b> Copper is a metallic commodity that is used in electronics, construction and other applications.
        The price of copper is influenced by several factors, such as supply and demand, international politics and the
        global economy.<br>
        <b>Silver:</b> Silver is a metallic commodity that is used in jewelry, electronics, and other applications. The
        price of silver is influenced by several factors, such as supply and demand, international politics and the
        global economy.<br>
        <b>Wheat:</b> Wheat is an agricultural commodity that is used to produce human food and animal feed. The price
        of wheat is influenced by several factors, such as supply and demand, weather and government policies.<br>

    <h4 id="divText">
        <p style="margin-left: 6em;"><b>Sales Modus Operandi</b>
    </h4>

    <p style="margin-left: 8em;"><b>CIF:</b>
    <p style="margin-left: 10em;">Delivered to destination port; i.e. loading, road freight and sea freight to the port
        of destination

    <p style="margin-left: 8em;"><b>STOCKED FOB:</b>
    <p style="margin-left: 10em;">It is freight with loading, road freight delivered to the port of embarkation.

    <p style="margin-left: 8em;"><b>FOB ON WHEELS:</b>
    <p style="margin-left: 10em;">It is freight with loading at the plant or farm. Road and sea freight paid by the
        buyer
        <br>
        <br>
        <hr class="rounded">
</div>