
<h1 id="h1Home">International Commodities</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/agrokelvy4.png" alt="agrokelvy" >
    <span class="complementoLogo"></span>
    <img src="/carousel/browser/assets/images/naviocarga.jpg" alt="Transporte Marítimo" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities.jpg" alt="Commodities" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities2.jpg" alt="Commodities2" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities3.jpg" alt="Beans" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/acucarHome.jpg" alt="Sugar" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/milhoHome.jpg" alt="Corn" >
    <br>
    <div class="container">
        <br>
        <h4  id="divText">Commodities are basic products that are traded on a large scale. The main commodities traded around the world include:</h4>
        <b>Petroleum:</b> It is the most traded commodity in the world. Petroleum is used to produce gasoline, diesel, kerosene and other petroleum products. The price of oil is influenced by several factors, such as supply and demand, international politics and natural disasters.<br>
        <b>Gold:</b> Gold is a valuable commodity that is used in jewelry, electronics and investments. The price of gold is influenced by several factors, such as inflation, international politics and demand for jewelry.<br>
        <b>Soy:</b> Soybeans are an agricultural commodity that is used to produce soybean oil, animal feed and biofuel. The price of soybeans is influenced by several factors, such as supply and demand, weather and government policies.<br>
        <b>Corn:</b> Corn is an agricultural commodity that is used to produce animal feed, biofuel and food for humans. The price of corn is influenced by several factors, such as supply and demand, weather and government policies.<br>
        <b>Coffee:</b> Coffee is an agricultural commodity that is used to produce roasted and ground coffee, instant coffee, and other beverages. The price of coffee is influenced by several factors, such as supply and demand, weather and government policies.<br>
        <b>Sugar:</b> Sugar is an agricultural commodity that is used to produce food and beverages. The price of sugar is influenced by several factors, such as supply and demand, weather and government policies.<br>
        <b>Cotton:</b> Cotton is an agricultural commodity that is used to produce clothing, fabrics and other products. The price of cotton is influenced by several factors, such as supply and demand, weather and government policies.<br>
        <b>Copper:</b> Copper is a metallic commodity that is used in electronics, construction and other applications. The price of copper is influenced by several factors, such as supply and demand, international politics and the global economy.<br>
        <b>Silver:</b> Silver is a metallic commodity that is used in jewelry, electronics, and other applications. The price of silver is influenced by several factors, such as supply and demand, international politics and the global economy.<br>
        <b>Wheat:</b> Wheat is an agricultural commodity that is used to produce human food and animal feed. The price of wheat is influenced by several factors, such as supply and demand, weather and government policies.<br>

        <h4 id="divText"><b>Types of Financial Operations</b></h4>
         <b>SBLC - Transferable/NON - Transferable - NO PB 2%:</b>
             <p>It is essential to differentiate between transferable and non-transferable SBLC. While non-transferable SBLCs are confined to the original beneficiary, transferable SBLCs offer the option of transferring the credit to another party, allowing greater flexibility in business transactions.</p> <br>
         <b>DLC - LC - Transferable:</b>
             <p>A Documentary Letter of Credit is a type of LC that includes additional documentation requirements. It specifies the necessary documents that the seller must present to the bank to receive payment.
                These documents typically include commercial invoices, bills of lading, inspection certificates, and other relevant documents. DLCs provide an additional layer of security for both parties, ensuring that the seller meets all necessary obligations before receiving payment.</p><br>
         <b>CIF/FOB sale:</b>
             <p>What is CIF Shipping?
                 In CIF shipping, the seller is responsible for all costs and risks involved in transporting the goods to the recipient. In case of problems, all responsibility lies with the store and not the customer.</p>
        
             <p>What is FOB Shipping?
                 In this type of shipping, the seller is free from responsibility for the delivery of the product. Unlike CIF, here it is the buyer who assumes the costs and risks of transportation. When the purchase is completed, the seller finishes his work.
                 The modality is widely used among companies, as in cases like these it is common for the buyer to know a reliable carrier or have a partnership with a supplier, which allows delivery to be speeded up without depending on the seller.</p><br>
    </div>

</div>
