<h1 id="h1Home"> 国际商品 </h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/agrokelvy4.png" alt="agrokelvy" >
    <span class="complementoLogo"></span>
    <img src="/carousel/browser/assets/images/naviocarga.jpg" alt="海洋运输" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities.jpg" alt="商品图片" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities2.jpg" alt="图像商品 2" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities3.jpg" alt="穀物" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/acucarHome.jpg" alt="糖" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/milhoHome.jpg" alt="玉米" >



    <br>
    <div class="container">    
        <br>
        <h4 id="divText">大宗商品是大规模交易的基础产品。全球贸易的主要商品包括：</h4>
        <b>石油:</b> 它是世界上交易量最大的商品。石油用于生产汽油、柴油、煤油和其他石油产品。石油价格受供需、国际政治和自然灾害等多种因素影响。<br>
        <b>金子:</b> 黄金是一种有价值的商品，用于珠宝、电子产品和投资。黄金价格受到多种因素的影响，例如通货膨胀、国际政治和珠宝需求。<br>
        <b>大豆:</b> 大豆是一种农产品，用于生产豆油、动物饲料和生物燃料。大豆价格受供需、天气、政府政策等多种因素影响。<br>
        <b>玉米:</b> 玉米是一种农产品，用于生产动物饲料、生物燃料和人类食品。玉米价格受供需、天气和政府政策等多种因素影响。<br>
        <b>咖啡:</b> 咖啡是一种农产品，用于生产烘焙和研磨咖啡、速溶咖啡和其他饮料。咖啡的价格受供需、天气和政府政策等多种因素影响。<br>
        <b>糖:</b> 糖是一种用于生产食品和饮料的农产品。食糖价格受供需、天气和政府政策等多种因素影响。<br>
        <b>棉布:</b> 棉花是一种农产品，用于生产服装、织物和其他产品。棉花价格受供需、天气和政府政策等多种因素影响。<br>
        <b>铜:</b> 铜是一种金属商品，用于电子、建筑和其他应用。铜价受供需、国际政治、全球经济等多种因素影响。<br>
        <b>银:</b> 白银是一种金属商品，用于珠宝、电子产品和其他应用。白银价格受供需、国际政治和全球经济等多种因素影响。<br>
        <b>小麦:</b> 小麦是一种农产品，用于生产人类食品和动物饲料。小麦价格受供需、天气和政府政策等多种因素影响。<br>
    
        <h4 id="divText"><b>财务操作类型</b></h4>
         <b>SBLC - 可转让/不可转让 - 可转让 - 无 PB 2%：</b>
             <p>区分可转让和不可转让的 SBLC 至关重要。 虽然不可转让的SBLC仅限于原始受益人，但可转让的SBLC提供了将信用证转让给另一方的选择，从而使商业交易具有更大的灵活性。</p> <br>
         <b>DLC - LC - 可转让：</b>
             <p>跟单信用证是一种包含附加文件要求的信用证。 它指定了卖方必须向银行出示才能接收付款的必要文件。
                这些文件通常包括商业发票、提单、检验证书和其他相关文件。 DLC 为双方提供了额外的安全层，确保卖方在收到付款之前履行所有必要的义务。</p><br>
         <b>CIF/FOB 销售：</b>
             <p>什么是 CIF 运输？
                 在CIF运输中，卖方负责将货物运输至收件人的所有费用和风险。 如有问题，所有责任由商店而非顾客承担。</p>
        
             <p>什么是 FOB 运输？
                 在这种类型的运输中，卖方不承担产品交付的责任。 与CIF不同，这里是买方承担运输成本和风险。 当购买完成后，卖家就完成了他的工作。
                 该模式在公司之间广泛使用，因为在此类情况下，买方通常知道可靠的承运商或与供应商建立合作伙伴关系，这可以加快交货速度，而无需依赖卖方。</p><br>
    
    </div>

</div>

