<h1 id="h1Home"> 国际商品 </h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/agrokelvy4.png" alt="agrokelvy">
    <span class="complementoLogo"></span>
    <img src="/carousel/browser/assets/images/naviocarga.jpg" alt="海洋运输">
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities.jpg" alt="商品图片">
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities2.jpg" alt="图像商品 2">
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities3.jpg" alt="穀物">
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/acucarHome.jpg" alt="糖">
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/milhoHome.jpg" alt="玉米">
    <br>
    <br>
</div>
<div class="container">
    <h4 id="divText">
        <p style="margin-left: 6em;"><b>商品</b>
    </h4>
    <h4 id="divText">
        <p style="margin-left: 8em;">商品是大規模交易的基本產品。全球交易的主要商品包括：
    </h4>
    <p style="margin-left: 10em;"><b>石油：</b>它是全世界交易量最大的商品。石油用於生產汽油、柴油、煤油和其他石油產品。石油價格受供需、國際政治和自然災害等多種因素影響。 <br>
        <b>黃金：</b>黃金是一種有價值的商品，用於珠寶、電子產品和投資。黃金價格受到通貨膨脹、國際政治和珠寶需求等多種因素的影響。 <br>
        <b>大豆：</b>大豆是一種農產品，用於生產豆油、動物飼料和生物燃料。大豆價格受供需、天氣、政府政策等多種因素影響。 <br>
        <b>玉米：</b>玉米是一種農產品，用於生產動物飼料、生質燃料和人類食品。玉米價格受供需、天氣和政府政策等多種因素影響。 <br>
        <b>咖啡：</b>咖啡是一種農產品，用於生產烘焙和研磨咖啡、即溶咖啡和其他飲料。咖啡的價格受供需、天氣和政府政策等多種因素影響。 <br>
        <b>糖：</b>糖是一種農產品，用於生產食品和飲料。食糖價格受供需、天氣和政府政策等多種因素影響。 <br>
        <b>棉花：</b>棉花是一種農產品，用於生產服裝、織品和其他產品。棉花價格受供需、天氣和政府政策等多種因素影響。 <br>
        <b>銅：</b>銅是一種金屬商品，用於電子、建築和其他應用。銅價受供需、國際政治、全球經濟等多種因素影響。 <br>
        <b>銀：</b>銀是一種金屬商品，用於珠寶、電子產品和其他應用。白銀價格受供需、國際政治和全球經濟等多種因素影響。 <br>
        <b>小麥：</b>小麥是一種農產品，用於生產人類食品和動物飼料。小麥價格受供需、天氣和政府政策等多種因素影響。 <br>

    <h4 id="divText">
        <p style="margin-left: 6em;"><b>銷售方式</b>
    </h4>

    <p style="margin-left: 8em;"><b>到岸價格：</b>
    <p style="margin-left: 10em;">已送達目的港；即到目的港的裝載、公路貨運和海運

    <p style="margin-left: 8em;"><b>庫存離岸價：</b>
    <p style="margin-left: 10em;">這是已裝貨的貨物，公路貨物運送到裝船港。

    <p style="margin-left: 8em;"><b>車輪上的FOB：</b>
    <p style="margin-left: 10em;">這是在工廠或農場裝載的貨物。公路和海運運費由買方支付
        <br>
        <br>
        <hr class="rounded">
</div>