<h1 id="h1Home"> 国际商品 </h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/agrokelvy4.png" alt="agrokelvy" >
    <span class="complementoLogo"></span>
    <img src="/carousel/browser/assets/images/naviocarga.jpg" alt="海洋运输" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities.jpg" alt="商品图片" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities2.jpg" alt="图像商品 2" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities3.jpg" alt="穀物" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/acucarHome.jpg" alt="糖" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/milhoHome.jpg" alt="玉米" >



    <br>
    <div class="container">    
        <br>
        <h4 id="divText">大宗商品是大规模交易的基础产品。全球贸易的主要商品包括：</h4>
        <b>石油:</b> 它是世界上交易量最大的商品。石油用于生产汽油、柴油、煤油和其他石油产品。石油价格受供需、国际政治和自然灾害等多种因素影响。<br>
        <b>金子:</b> 黄金是一种有价值的商品，用于珠宝、电子产品和投资。黄金价格受到多种因素的影响，例如通货膨胀、国际政治和珠宝需求。<br>
        <b>大豆:</b> 大豆是一种农产品，用于生产豆油、动物饲料和生物燃料。大豆价格受供需、天气、政府政策等多种因素影响。<br>
        <b>玉米:</b> 玉米是一种农产品，用于生产动物饲料、生物燃料和人类食品。玉米价格受供需、天气和政府政策等多种因素影响。<br>
        <b>咖啡:</b> 咖啡是一种农产品，用于生产烘焙和研磨咖啡、速溶咖啡和其他饮料。咖啡的价格受供需、天气和政府政策等多种因素影响。<br>
        <b>糖:</b> 糖是一种用于生产食品和饮料的农产品。食糖价格受供需、天气和政府政策等多种因素影响。<br>
        <b>棉布:</b> 棉花是一种农产品，用于生产服装、织物和其他产品。棉花价格受供需、天气和政府政策等多种因素影响。<br>
        <b>铜:</b> 铜是一种金属商品，用于电子、建筑和其他应用。铜价受供需、国际政治、全球经济等多种因素影响。<br>
        <b>银:</b> 白银是一种金属商品，用于珠宝、电子产品和其他应用。白银价格受供需、国际政治和全球经济等多种因素影响。<br>
        <b>小麦:</b> 小麦是一种农产品，用于生产人类食品和动物饲料。小麦价格受供需、天气和政府政策等多种因素影响。<br>
    
        <h4 id="divText"><b>銷售方式</b></h4>

        <b>到岸價格：</b>
        <p>運送至目的港；即到目的港的裝載、公路貨運和海運</p>
       
        <b>儲存的離岸價格：</b>
        <p>這是已裝貨的貨物，是運送到裝船港的公路貨物。</p>
       
        <b>車輪上的FOB：</b>
        <p>這是在工廠或農場裝載的貨物。公路和海運運費由買方支付</p>
    </div>

</div>

