<div id="pagHome">
    <h1 id="h1Home">GMO-free corn</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/milhonomgmoia.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div>
        <p style="margin-left: 6em;"> <b> Non-GMO Corn: </b> A Conscious and Healthy Choice <br>

        <p style="margin-left: 8em;">
            Non-GMO corn (Genetically Modified Organisms) stands out as a healthy and sustainable alternative
            for
            consumers looking for more natural foods that are free from genetic engineering. <br>
            Grown without the use of genetic modification techniques, non-GMO corn offers several benefits for the
            health and
            for the environment.

        <p style="margin-left: 6em;"> <b> A More Natural Choice: </b>

        <p style="margin-left: 8em;">
            <b> GMO-free: </b> Produced without the use of genetic modification techniques, ensuring that the plant's
            DNA
            original be
            preserved. <br>
            <b> No artificial additives: </b> Does not contain artificial or synthetic ingredients, such as pesticides
            and
            fertilizers
            chemicals, which can be harmful to health and the environment. <br>
            <b> Authentic flavor and aroma: </b> Preserves the natural flavor and aroma of corn, providing a unique
            experience
            gastronomic
            more authentic and tasty.

        <p style="margin-left: 6em;"> <b>Health Benefits:</b>

        <p style="margin-left: 8em;">
            <b> More nutritious: </b> Studies indicate that non-GMO corn may have a higher content of essential
            nutrients,
            such as
            vitamins,
            minerals and antioxidants, compared to GMO corn. <br>
            <b>Less allergenic:</b>The genetic modification process can increase the allergenic potential of some
            foods. O
            Non-GMO corn is a safer option for people with food allergies. <br>
            <b> Promotes biodiversity: </b> The production of non-GMO corn contributes to the preservation of
            biodiversity,
            protecting the
            traditional corn varieties and environmental balance.

        <p style="margin-left: 6em;"> <b>Environmental Sustainability: </b>

        <p style="margin-left: 8em;">
            <b> Fewer pesticides: </b> Growing non-GMO corn generally uses fewer pesticides, reducing the
            ground contamination
            and water, and protecting the health of farmers and consumers. <br>
            <b> Greater soil fertility: </b> Sustainable agricultural practices, such as crop rotation and green manure,
            used in the
            Non-GMO corn cultivation contributes to soil preservation and fertility. <br>
            <b> Combating climate change: </b> The production of non-GMO corn emits fewer greenhouse gases,
            contributing to the
            mitigating climate change and for a more sustainable future.

        <p style="margin-left: 6em;"> <b> A Promising Future: </b>

        <p style="margin-left: 8em;">
            Demand for non-GMO foods is growing around the world, driven by consumer awareness
            about
            benefits to health and the environment. <br>
            Brazil, one of the largest corn producers in the world, has great potential to become a global leader in
            production of non-GMO corn, meeting growing market demand and contributing to a brighter future
            sustainable and
            healthy. <br>
            By choosing non-GMO corn, you are making a conscious and responsible choice for your health, the environment
            and
            for the
            future of the planet.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>