<h1 id="h1Home">Maíz libre de OGM</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhonomgmo.jpg"  width="200" height="200" >
    <br>
    <br>
    </div>
    <div  class="textFont">
        <p style="margin-left: 6em;"> <b> Maíz sin OGM: </b> Una elección consciente y saludable <br>

            <p style="margin-left: 8em;">
            El maíz no transgénico (Organismos Genéticamente Modificados) destaca como una alternativa saludable y sostenible
            para
            Los consumidores buscan alimentos más naturales y libres de ingeniería genética. <br>
            Cultivado sin el uso de técnicas de modificación genética, el maíz no transgénico ofrece varios beneficios para el
            salud y
            por el medio ambiente.
           
            <p style="margin-left: 6em;"> <b> Una elección más natural: </b>
           
            <p style="margin-left: 8em;">
            <b> Libre de OGM: </b> Producido sin el uso de técnicas de modificación genética, asegurando que el ADN de la planta
            ser original
            Preservado. <br>
            <b> Sin aditivos artificiales: </b> No contiene ingredientes artificiales o sintéticos, como pesticidas y
            fertilizantes
            productos químicos que pueden ser perjudiciales para la salud y el medio ambiente. <br>
            <b> Sabor y aroma auténticos: </b> Conserva el sabor y aroma natural del maíz, brindando una experiencia única
            gastronómico
            más auténtico y sabroso.
           
            <p style="margin-left: 6em;"> <b>Beneficios para la salud:</b>
           
            <p style="margin-left: 8em;">
            <b> Más nutritivo: </b> Los estudios indican que el maíz no transgénico puede tener un mayor contenido de nutrientes esenciales, como
            vitaminas,
            minerales y antioxidantes, en comparación con el maíz transgénico.  <br>
            <b>Menos alergénico:</b>El proceso de modificación genética puede aumentar el potencial alergénico de algunos
            alimentos. oh
            El maíz sin OGM es una opción más segura para las personas con alergias alimentarias. <br>
            <b> Promueve la biodiversidad: </b> La producción de maíz no transgénico contribuye a la preservación de la biodiversidad,
            protegiendo el
            Variedades tradicionales de maíz y equilibrio ambiental.
           
            <p style="margin-left: 6em;"> <b>Sostenibilidad ambiental: </b>
           
            <p style="margin-left: 8em;">
            <b> Menos pesticidas: </b> El cultivo de maíz no transgénico generalmente utiliza menos pesticidas, lo que reduce el
            contaminación del suelo
            y el agua, y proteger la salud de los agricultores y consumidores. <br>
            <b> Mayor fertilidad del suelo: </b> Prácticas agrícolas sostenibles, como la rotación de cultivos y el abono verde,
            utilizado en el
            El cultivo de maíz no transgénico contribuye a la preservación y fertilidad del suelo. <br>
            <b> Luchar contra el cambio climático: </b> La producción de maíz no transgénico emite menos gases de efecto invernadero,
            contribuyendo a la
            mitigar el cambio climático y por un futuro más sostenible.
           
            <p style="margin-left: 6em;"> <b> Un futuro prometedor: </b>
           
            <p style="margin-left: 8em;">
            La demanda de alimentos no transgénicos está creciendo en todo el mundo, impulsada por la concienciación de los consumidores.
            acerca de
            beneficios para la salud y el medio ambiente. <br>
            Brasil, uno de los mayores productores de maíz del mundo, tiene un gran potencial para convertirse en líder mundial en
            producción de maíz no transgénico, satisfaciendo la creciente demanda del mercado y contribuyendo a un futuro mejor
            sostenible y
            saludable. <br>
            Al elegir maíz no transgénico, está tomando una decisión consciente y responsable para su salud, el medio ambiente y
            Para el
            futuro del planeta.
            <br>
            <br>
            <hr class="rounded">
</div>
