<h1 id="h1Home">Hierro</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/ferro.jpg" width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        El hierro es un elemento químico representado por el símbolo Fe, con número atómico 26 y masa atómica 55,851. Este metal de transición tiene un color blanco plateado en estado químicamente puro, pero tiene un color grisáceo debido a la presencia de sulfuro de hierro, siliciuro y carburo. El hierro tiene fuertes propiedades magnéticas y es conocido por ser uno de los elementos más utilizados en la historia de la humanidad.<br>

        En la naturaleza, el hierro no se encuentra en estado libre, sino comúnmente en forma de pirita (FeS), hematita (Fe2O3) y magnetita (Fe3O4). Reduciendo estos compuestos en un horno calentado a una temperatura de 2000°C, se obtiene hierro.<br>

        El hierro tiene una amplia gama de aplicaciones. Es un componente esencial en la producción de acero, una aleación de hierro y carbono, que es muy utilizada en la construcción civil, en la fabricación de automóviles, barcos, entre otros. Además, el hierro es un nutriente mineral necesario para mantener el bienestar, la energía y el metabolismo saludable del cuerpo3. Ayuda a la salud celular y participa en muchas funciones enzimáticas.<br>

        Sin embargo, es importante señalar que la extracción y uso del hierro tiene impactos significativos en el medio ambiente. La minería de hierro puede provocar la degradación del suelo y el agua, mientras que la producción de acero es una de las industrias que consume más energía y contribuye significativamente a las emisiones globales de dióxido de carbono.<br>    </div>
    <br>
    <hr class="rounded">
</div>