<h1 id="h1Home">Hierro</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/ferro.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">
    <p style="margin-left: 6em;"> <b> Hierro: </b> Un metal esencial para la civilización moderna <br>
    <p style="margin-left: 8em;">El hierro, un metal abundante en la corteza terrestre, ha dado forma a la historia de
        la humanidad desde
        la edad del hierro,
        Hacia el 1200 a.C. Su durabilidad, resistencia y versatilidad lo hicieron imprescindible para el desarrollo.
        de herramientas,
        armas, máquinas e infraestructura, impulsando el progreso en varias áreas.

    <p style="margin-left: 6em;"> <b> Propiedades del hierro: </b>

    <p style="margin-left: 8em;">
        <b> Fuerte y Resistente: </b> Soporta grandes fuerzas e impactos, lo que lo hace ideal para edificios, máquinas
        y
        herramientas. <br>
        <b> Maleable y Dúctil: </b> Puede moldearse en diferentes formas, permitiendo la creación de estructuras
        complejas y
        personalizado. <br>
        <b> Magnético: </b> Esta propiedad es fundamental para motores eléctricos y otros dispositivos.
        electromagnético. <br>
        <b> Alta Conductividad Térmica y Eléctrica: </b> Eficiente en la transferencia de calor y electricidad, siendo
        Utilizado en diversos componentes electrónicos y sistemas de calefacción. <br>
        <b> Aleaciones con otros metales: </b> Forma aleaciones con otros metales, como carbono (acero) y níquel (acero
        inoxidable),
        ampliando sus propiedades y aplicaciones. <br>

    <p style="margin-left: 6em;"> <b> Aplicaciones del hierro: </b>

    <p style="margin-left: 8em;">
        <b> Construcción civil: </b> Las barras de hierro refuerzan el hormigón en edificios, puentes y otras
        estructuras. <br>
        <b> Industria Automotriz: </b> Las carrocerías, motores y piezas de los vehículos se fabrican con acero y hierro
        fundido. <br>
        <b> Maquinaria y Equipo: </b> Maquinaria agrícola, herramientas industriales y equipos de construcción
        Utilizan hierro fundido y acero. <br>
        <b> Electrodomésticos: </b> Los refrigeradores, estufas, lavadoras y otros electrodomésticos tienen componentes
        de hierro y acero. <br>
        <b>Vías férreas:</b> El hierro fundido y el acero se utilizan en la construcción de vías férreas,
        permitiendo el transporte eficiente de personas y carga. <br>

    <p style="margin-left: 6em;"> <b>El hierro en la historia:</b>

    <p style="margin-left: 8em;">
        <b> Edad del Hierro: </b> La Edad del Hierro marcó la transición desde la Edad del Bronce, lo que impulsó el
        desarrollo.
        de herramientas, armas y agricultura más eficientes. <br>
        <b> Revolución Industrial: </b> El hierro fue crucial para la Revolución Industrial, permitiendo la construcción
        de
        máquinas, herramientas e infraestructura que impulsaron la producción y el comercio. <br>
        <b>Edificios históricos:</b>Puentes, monumentos y rascacielos icónicos como la Torre Eiffel y el Golden Gate
        Puente, utilizó hierro y acero en su construcción. <br>
        <b> Retos y Sostenibilidad: </b>

    <p style="margin-left: 10em;">
        <b> Minería e Impacto Ambiental: </b> La extracción de mineral de hierro puede causar impactos ambientales, como
        deforestación, contaminación del agua y del aire. Las prácticas mineras sostenibles y las tecnologías de
        reciclaje son
        esencial para minimizar estos impactos. <br>
        <b> Corrosión: </b> El hierro es susceptible a la corrosión, lo que requiere medidas de protección como pintura,
        galvanizado
        o el uso de acero inoxidable, para alargar su vida útil. <br>

    <p style="margin-left: 6em;">
        El hierro sigue siendo un metal esencial para la sociedad moderna, impulsando el desarrollo en varios
        sectores.
        Con un uso responsable, prácticas mineras sostenibles y tecnologías innovadoras, el hierro seguirá siendo
        contribuir al progreso de la humanidad durante muchos años más.
        <br>
        <br>
        <hr class="rounded">
</div>