<h1 id="h1Home">Algodón</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/algodao.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        El algodón es una fibra natural derivada de la planta del algodón, comúnmente utilizada para producir tejidos en la industria de la moda. Esta planta pertenece al género Gossypium, que pertenece a la misma familia que la okra, el cacao y el hibisco, las Malvaceae. El algodón es una planta procedente de climas tropicales y subtropicales, por lo que crece en regiones cálidas.

        La palabra "algodón" se refiere a la cápsula de fibras suaves que rodean las semillas de la planta de algodón y parecen una pelota de golf. Existen diferentes tipos de algodón en la naturaleza, desde fibras blancas hasta fibras de colores. La fibra de algodón es excelente para la absorción, tiene buena durabilidad, se puede teñir fácilmente, no conduce electricidad, se adapta al cuerpo y además ofrece cierta comodidad.
        
        El algodón es uno de los cultivos más antiguos del mundo y tiene sus orígenes en la India alrededor del año 3000 a.C. Se cree que fue traído a América por los españoles en el siglo XVII. Actualmente, el algodón se cultiva en varios países, entre ellos Estados Unidos, China, India, Brasil y Pakistán.
        
        En Brasil, el ciclo del algodón representa uno de los ciclos económicos del país, ocurrido durante los siglos XVIII y XIX. Uno de los factores que impulsó el cultivo de algodón en el país fue la Revolución Industrial inglesa, que requirió cada vez más materias primas para fabricar productos de la industria textil.    </div>
    <br>
    <hr class="rounded">
</div>
