<div id="pagHome" class="content">
    <h1 id="h1Home">Algodón</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/algodao.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b>Algodón: </b> Una fibra con mil y un usos
        <p style="margin-left: 6em;"> <b>Introducción </b>
        <p style="margin-left: 8em;">El algodón, originario de Asia, es una fibra natural suave, transpirable y
            absorbente,
            de cápsulas de algodón. Su importancia trasciende la industria textil, siendo utilizada en
            diferentes sectores e impactando las vidas de personas en todo el mundo. En esta presentación exploraremos
            la
            características únicas del algodón, su proceso de producción, los diversos usos y las condiciones
            socioeconómicas y
            Aspectos ambientales del cultivo del algodón.
        <p style="margin-left: 6em;"> <b>Características del algodón</b>

        <p style="margin-left: 8em;">
            <b>Fibra natural:</b> Renovable, biodegradable y compostable, favoreciendo la sostenibilidad. <br />
            <b>Suavidad y comodidad:</b> Ideal para ropa interior, prendas de vestir y otras prendas que requieran
            contacto
            directo con la piel.
            piel. <br />
            <b>Transpirabilidad:</b> Permite la circulación del aire, aportando frescor y bienestar. <br />
            <b>Absorción:</b> Ayuda a regular la temperatura corporal, absorbiendo y liberando el sudor. <br />
            <b>Versatilidad:</b> Adaptable a diferentes técnicas de procesamiento y teñido, cubriendo diferentes
            necesidades
            necesidades. <br />
            <b>Durabilidad:</b> Robusto, duradero y de fácil cuidado, alargando la vida útil de los productos. <br />

        <p style="margin-left: 6em;"> <b>Proceso de producción </b>

        <p style="margin-left: 8em;">
            <b>Plantación y cultivo: </b> El algodón se siembra en suelos adecuados, lo que requiere un clima cálido y
            húmedo para
            su desarrollo. <br />
            <b>Floración y Fructificación: </b> Las flores del algodón dan lugar a cápsulas que contienen fibras de
            algodón.
            <br />
            <b>Cosecha:</b> Las cápsulas maduras se recolectan manualmente o mediante máquinas, separando las fibras del
            semillas. <br />
            <b>Desburbujeo y Desfibración:</b> Las fibras se separan de las semillas e impurezas, a través de un
            proceso mecánico. <br />
            <b>Hilado: </b> Las fibras de algodón se transforman en hilo, listo para tejer. <br />
            <b>Tejido: </b> Los hilos de algodón se entrelazan en diferentes patrones, creando tejidos con diferentes
            características. <br />
            <b>Acabados: </b> Los tejidos de algodón pueden recibir diferentes acabados, como teñido, estampado y
            mercerización, para agregar valor y propiedades específicas. <br />

        <p style="margin-left: 6em;"> <b>Usos del algodón </b>

        <p style="margin-left: 8em">
            <b>Textil: </b> Prendas de vestir, ropa de cama, toallas, bufandas y otros artículos textiles. <br />
            <b>Higiene personal: </b> Algodón crudo en discos, varillas flexibles y vendas. <br />
            <b>Filtros: </b> En mascarillas, filtros de aire y café. <br />
            <b>Alimentos: </b> Aceite comestible de semilla de algodón y subproductos para alimentación animal. <br />
            <b>Industria: </b> Papel, cartón, explosivos y celulosa. <br />
            <b>Cosméticos: </b> Fibras de algodón en cremas, lociones y otros productos de belleza. <br />


        <p style="margin-left: 6em;"> <b>Impactos socioeconómicos y ambientales</b>

        <p style="margin-left: 8em;">
            <b>Socioeconómico:</b> Generación de ingresos y empleos en el campo y en la industria textil, impulsando la
            desarrollo local y regional. <br />
            <b>Ambiental:</b> Impactos negativos como consumo de agua, uso de pesticidas y emisión de gases de efecto
            invernadero.
            invernadero, lo que requiere prácticas agrícolas sostenibles para minimizar los daños. <br />

        <p style="margin-left: 6em;"> <b>Conclusión</b>

        <p style="margin-left: 8em;">
            El algodón, con sus propiedades únicas y su versatilidad, es una fibra esencial para el bienestar humano y
            economia global. Comprender su proceso de producción, usos e impactos socioambientales es crucial para
            promover
            uso consciente y sostenible de este vital recurso natural. A través de prácticas e innovaciones agrícolas
            responsables
            tecnologías tecnológicas, podemos garantizar que el algodón siga contribuyendo al desarrollo humano y a la
            preservación
            del medio ambiente para las generaciones futuras. <br>


        <p style="margin-left: 6em;"><b>Recursos adicionales</b>

        <p style="margin-left: 8em;">
            ABRAPA: https://www.abrapa.com.br/
            IMA: [URL no válida eliminada]
            Embrapa Algodão: https://www.embrapa.br/algodao
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>