<h1 id="h1Home">Salvado de maiz</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhobrania.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        <p style="margin-left: 2em;">¿Qué es el salvado de maíz?
        
            <p style="margin-left: 3em;">Derivado de la molienda de granos de maíz, siendo la parte exterior del grano rica en fibra<br>
            Fuente natural de fibra soluble e insoluble, importante para la salud digestiva<br>
            Rico en nutrientes como vitamina B, hierro, magnesio y zinc<br>
            Bajo índice glucémico, ayudando a controlar los niveles de azúcar en sangre.<br>
            Sin gluten, por lo que es una opción apta para celíacos y personas con sensibilidad al gluten<br>
           
            <p style="margin-left: 2em;">Beneficios para la salud del salvado de maíz
           
            <p style="margin-left: 3em;">Promueve la salud digestiva: El alto contenido de fibra del salvado de maíz contribuye al buen funcionamiento intestinal, previniendo el estreñimiento y promoviendo deposiciones regulares.<br>
            Ayuda a controlar el peso: La fibra del salvado de maíz aumenta la saciedad, ayudando a controlar el apetito y reducir la ingesta calórica, lo que puede ser beneficioso para quienes buscan perder peso o mantener un peso saludable.<br>
            Regula los niveles de colesterol: La fibra soluble presente en el salvado de maíz puede ayudar a reducir el colesterol LDL (malo), reduciendo el riesgo de enfermedades cardíacas.<br>
            Controla los niveles de azúcar en sangre: El bajo índice glucémico del salvado de maíz ayuda a controlar los niveles de azúcar en sangre, lo que lo convierte en una opción beneficiosa para personas con diabetes o prediabetes.<br>
            Fortalece el sistema inmunológico: El salvado de maíz es rico en betaglucano, un tipo de fibra que ayuda a fortalecer el sistema inmunológico, combatiendo infecciones y enfermedades.<br>
           
            <p style="margin-left: 2em;">Usos culinarios del salvado de maíz
           
            <p style="margin-left: 3em;">Cereal para el desayuno: agregue salvado de maíz a su cereal para el desayuno para aumentar el contenido de fibra y nutrientes.<br>
            Yogur y batidos: mezcle harina de maíz con su yogur o batidos para obtener un impulso extra de fibra y sabor.<br>
            Muffins, galletas y panes: Reemplace parte de la harina de trigo con salvado de maíz en sus recetas de muffins, galletas y pan para agregar textura, fibra y nutrientes.<br>
            Hamburguesas y albóndigas: Incorpora salvado de maíz a las hamburguesas y albóndigas
    </div>
    <br>
    <hr class="rounded">
</div>
