<div id="pagHome" class="content">
    <h1 id="h1Home">石墨</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/grafita.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> 石墨：</b> 用途廣泛的多功能礦物 <br>

        <p style="margin-left: 8em;">
            石墨是一種主要由碳組成的天然礦物，因其獨特的性能而脫穎而出
            使其成為一種用途極為廣泛的材料，在不同行業中具有多種應用。

        <p style="margin-left: 6em;"> <b> 值得注意的屬性：</b>

        <p style="margin-left: 8em;">
            <b>導電性和導熱性：</b>石墨是一種優良的電和熱導體，
            用於各種電子元件，如電池、電極和散熱器。 <br>
            <b>潤滑：</b>石墨具有天然的潤滑特性，用於不同類型的
            潤滑劑，特別是在高溫和高壓應用。 <br>
            <b>耐熱和耐腐蝕：</b>石墨具有耐高溫和耐腐蝕的特性，
            用於各種極端環境，如工業爐和核反應器。 <br>
            <b>柔韌性與彈性：</b>石墨是一種柔韌性和彈性材料，可以模製成
            不同的形狀並用於需要靈活性的應用。 <br>
            <b>化學惰性：</b>石墨具有化學惰性，這意味著它不會與大多數物質發生反應。
            物質，使其成為需要高純度的應用的理想選擇。 <br>

        <p style="margin-left: 6em;"> <b> 各種應用：</b>

        <p style="margin-left: 8em;">
            由於其卓越的性能，石墨在廣泛的行業中得到應用，例如：<br>

            <b>電子：</b>電池、電極、散熱器、電子電路元件等。 <br>
            <b>潤滑劑：</b>高溫潤滑劑、固體潤滑劑、潤滑脂等。 <br>
            <b>耐火材料：</b>工業爐內襯、熔融金屬坩堝、反應器
            核等<br>
            <b> Peneis：</b> 石墨烯是一種二維形式的石墨，用於生產熱敏屏幕。
            觸控板和太陽能電池板。 <br>
            <b> 化妝品：</b> 石墨粉用於各種化妝品，如眼線、睫毛膏
            和眼影。 <br>
            <b>油漆和塗料：</b>粉末石墨用作油漆和塗料中的顏料，
            賦予它們防腐和導電性能。 <br>
            <b>運動：</b>網球拍、高爾夫球桿和其他運動器材使用石墨來
            提高性能和耐用性。 <br>

        <p style="margin-left: 6em;"> <b> 永續材料：</b>

        <p style="margin-left: 8em;">
            石墨是一種豐富且可回收的天然礦產資源，這使其成為可持續發展的能源
            生態正確。

            它的使用有助於減少不可再生和污染材料的使用，促進
            更實用
            工業和社會的永續發展。

            石墨是現代世界的重要礦物，在多個領域具有廣闊的前景。

            其多功能性、獨特性能和永續性使其成為重要的材料
            發展
            新技術和創新產品。
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>