<h1 id="h1Home">石墨</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/grafita.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        石墨，又稱石墨，是一種柔軟的、金屬性的、深灰色的礦物。 它在自然界中以具有層狀結構的六方晶體的形式存在。 石墨是鬆散的碳原子網絡的結果，這使得它具有可塑性。 形成石墨的基礎是純碳，它也形成鑽石和富勒烯。<br>
        石墨是電流和熱的導體，因為每個碳原子共享結構中四個電子中的三個，而將第四個電子交給一個共同的導帶，就像金屬一樣。 石墨耐高溫和抗氧化。 由於熔點高，也用作耐火材料。<br>
        最重要的石墨礦藏位於中國、加拿大、巴西、墨西哥、俄羅斯、印度、馬達加斯加和斯里蘭卡。 石墨在工業上有重要應用：用於製造磚塊和耐火部件、鋼鐵、黃銅和青銅工業的坩堝、固體或油基和水基潤滑劑、保護鋼鐵結構的油漆、電池陰極鹼性材料、電動機電刷、電弧燈電極等 石墨最重要的應用之一是鉛筆和自動鉛筆的使用。<br>
        石墨烯是一種源自石墨的新材料，由於其獨特的性能正在推動工業領域的一場重大革命：它具有延展性、防水性、半透明性、比鑽石更耐磨以及優異的電導體。 可以受益於石墨烯的產品範圍非常廣泛。<br>    </div>
    <br>
    <hr class="rounded">
</div>
