<h1 id="h1Home">Conventional Soy</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sojaconvencional.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        <p>Conventional soybeans are a cultivation option that does not involve genetic changes, but still offers important advantages. Let's explore some characteristics and benefits of conventional soy:

            <p><b>Characteristics of Conventional Soy:</b>
            <p style="margin-left: 3em;"><b>Not Genetically Modified (GM):</b> Conventional soy does not undergo genetic modifications, which means that its natural characteristics remain intact.
            <p style="margin-left: 3em;"><b>Natural Technology:</b> Although it is not transgenic, conventional soybeans have natural technologies that help protect them against diseases and pests.
            <p style="margin-left: 3em;"><b>Competitive Productivity:</b> Even without genetic modifications, conventional soybeans can reach competitive productivity levels.
            <p><b>Conventional Soy Cultivars:</b> Embrapa has developed several conventional soy cultivars that offer attractive options for producers:
           
            <p style="margin-left: 4em;"><b>BRS 284:</b> A cultivar that has stood out in national productivity competitions, competing on equal terms with transgenic technologies.
            <p style="margin-left: 4em;"><b>BRSMG 534:</b> Resistant to Asian soybean rust, providing greater efficiency.
            <p style="margin-left: 4em;"><b>BRS 7781:</b> Semi-precocious or early cycle, adapted to different regions.
            <p style="margin-left: 4em;"><b>BRS 546:</b> Productive and allows early sowing.
            <p style="margin-left: 4em;"><b>BRS 573:</b> Stable in multiple regions.
            <p style="margin-left: 4em;"><b>BRS 523:</b> Early, with tolerance to bed bug complex.
            <p style="margin-left: 4em;"><b>BRS 539:</b> With Shield® and Block® technologies, it also allows early sowing.
            <p style="margin-left: 4em;"><b>BRS 531:</b> Resistance to Asian rust.
            <p style="margin-left: 4em;"><b>BRS 525:</b> Early, suitable for rotation with other crops.
            <p style="margin-left: 4em;"><b>BRS 517:</b> Early, high productivity and disease resistance.
           
            <p><b>Free Soy Institute:</b><br>
            <p style="margin-left: 3em;">Founded by Aprosoja Mato Grosso and Embrapa, the Instituto Soja Livre promotes the development of the conventional soybean market, guaranteeing freedom of choice for rural producers in the selection of technologies and cultivars that bring profitability and safety in the harvest.<br>
            <p>Conventional soy continues to be a relevant alternative for farmers, offering a GMO-free option with productive potential.
    </div>
    <br>
    <hr class="rounded">
</div>
