<div id="pagHome">
    <h1 id="h1Home">Conventional Soy</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sojaconvencional.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div>
        <p style="margin-left: 6em;"> <b> Conventional Soy: </b> A Pillar of Brazilian Agriculture with Challenges and
            Opportunities <br>
        <p style="margin-left: 8em;">
            Conventional soybeans, grown without the use of genetic modification techniques, stand out as one of the
            main
            agricultural products from Brazil. <br>
            Its large-scale production boosts the national economy, creates jobs and contributes to security
            to feed
            global. <br>
            However, conventional soybean cultivation also presents socio-environmental challenges that need to be
            seriously addressed.
            considered and resolved.

        <p style="margin-left: 6em;"> <b> An Agricultural Giant: </b>

        <p style="margin-left: 8em;">
            <b> Largest producer and exporter in the world: </b>
            Brazil holds the title of largest producer and exporter of soybeans in the world,
            accounting for around a third of global production. <br>
            <b>Economic importance:</b>
            Soy represents a fundamental pillar for the Brazilian economy, generating millions of
            direct and indirect jobs and contributing significantly to the country's GDP. <br>
            <b>Food safety:</b>
            Large-scale soybean production ensures national and global food security, providing
            a rich and nutritious source of vegetable protein for the world's population. <br>

        <p style="margin-left: 6em;"> <b> Socio-environmental Challenges: </b>

        <p style="margin-left: 8em;">
            <b>Deforestation:</b>
            Deforestation for the expansion of conventional soybean cultivation areas is one of the main
            socio-environmental challenges, causing loss of biodiversity, greenhouse gas emissions and soil degradation.
            <br>
            <b>Intensive use of pesticides:</b>
            Conventional soybean cultivation depends on the intensive use of pesticides, which can
            contaminate soil, water and food, in addition to harming human health and the environment. <br>
            <b> Pest and disease resistance: </b>
            Frequent use of the same pesticides can lead to the development of resistance
            in pests and diseases, requiring the application of new chemicals and increasing production costs. <br>
            <b>Social impacts:</b>The expansion of soybean monocultures can generate negative social impacts, such as
            concentration
            of land, land conflicts and rural migration.

        <p style="margin-left: 6em;"> <b> Pathways to a Sustainable Future: </b>

        <p style="margin-left: 8em;">
            <b>Sustainable agriculture:</b>The adoption of sustainable agricultural practices such as precision
            agriculture, rotation
            of crops and the integrated management of pests and diseases, is essential to reduce the socio-environmental
            impacts of
            soybean cultivation. <br>
            <b> Certified non-GMO soy: </b> The production of non-GMO soy certified by strict bodies offers
            to the
            consumers a more sustainable option with less environmental impact. <br>
            <b> Research and development: </b> Invest in research and development of new, more resistant soybean
            varieties
            The
            pests and diseases, with less need for pesticides and more adapted to different climatic conditions is
            crucial
            for the future of conventional soy. <br>
            <b> Dialogue and collaboration: </b> Dialogue between different sectors of society, such as producers,
            industry, government,
            NGOs and consumers, it is essential to find joint solutions to the socio-environmental challenges of soy
            conventional and build a more sustainable future for the sector. <br>

        <p style="margin-left: 6em;">
            Conventional soy will continue to be an important product for the Brazilian economy and security
            global food. <br>
            However, it is essential that its cultivation is carried out in a responsible and sustainable way,
            minimizing
            socio-environmental impacts and seeking alternatives for the production of cleaner and more environmentally
            friendly soy. <br>
            By joining forces and adopting sustainable agricultural practices, we can ensure that soybeans
            convention continues to contribute to the development of Brazil and the world, without compromising the
            future of
            our planet.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>