<div id="pagHome" class="content">
    <h1 id="h1Home">Ferro</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/ferro.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> O Ferro: </b> Um Metal Essencial para a Civilização Moderna <br>
        <p style="margin-left: 8em;">O ferro, um metal abundante na crosta terrestre, moldou a história da humanidade
            desde
            a Idade do Ferro,
            por volta de 1200 a.C. Sua durabilidade, resistência e versatilidade o tornaram essencial para o
            desenvolvimento
            de ferramentas,
            armas, máquinas e infraestrutura, impulsionando o progresso em diversas áreas.

        <p style="margin-left: 6em;"> <b> Propriedades do Ferro: </b>

        <p style="margin-left: 8em;">
            <b> Forte e Resistente: </b> Suporta grandes forças e impactos, tornando-o ideal para construções, máquinas
            e
            ferramentas. <br>
            <b> Maleável e Dúctil: </b> Pode ser moldado em diversas formas, permitindo a criação de objetos complexos e
            personalizados. <br>
            <b> Magnético: </b> Essa propriedade é fundamental para motores elétricos e outros dispositivos
            eletromagnéticos. <br>
            <b> Alta Condutividade Térmica e Elétrica: </b> Eficiente na transferência de calor e eletricidade, sendo
            utilizado em diversos componentes eletrônicos e sistemas de aquecimento. <br>
            <b> Liga com Outros Metais: </b> Forma ligas com outros metais, como carbono (aço) e níquel (aço
            inoxidável),
            expandindo suas propriedades e aplicações. <br>

        <p style="margin-left: 6em;"> <b> Aplicações do Ferro: </b>

        <p style="margin-left: 8em;">
            <b> Construção Civil: </b> Vergalhões de ferro reforçam concreto em edifícios, pontes e outras estruturas.
            <br>
            <b> Indústria Automotiva: </b> Carrocerias, motores e peças de veículos são fabricados com aço e ferro
            fundido. <br>
            <b> Maquinaria e Equipamentos: </b> Máquinas agrícolas, ferramentas industriais e equipamentos de construção
            utilizam ferro fundido e aço. <br>
            <b> Eletrodomésticos: </b> Geladeiras, fogões, lavadoras de roupa e outros eletrodomésticos possuem
            componentes
            de ferro e aço. <br>
            <b> Trilhos Ferroviários: </b> Ferro fundido e aço são utilizados na construção de trilhos ferroviários,
            permitindo o transporte eficiente de pessoas e cargas. <br>

        <p style="margin-left: 6em;"> <b> O Ferro na História: </b>

        <p style="margin-left: 8em;">
            <b> Idade do Ferro: </b> A Idade do Ferro marcou a transição da Idade do Bronze, impulsionando o
            desenvolvimento
            de ferramentas, armas e agricultura mais eficientes. <br>
            <b> Revolução Industrial: </b> O ferro foi crucial para a Revolução Industrial, permitindo a construção de
            máquinas, ferramentas e infraestrutura que impulsionaram a produção e o comércio. <br>
            <b> Construções Históricas: </b> Pontes, monumentos e arranha-céus icônicos, como a Torre Eiffel e o Golden
            Gate
            Bridge, utilizaram ferro e aço em sua construção. <br>
            <b> Desafios e Sustentabilidade: </b>

        <p style="margin-left: 10em;">
            <b> Mineração e Impacto Ambiental: </b> A extração de minério de ferro pode causar impactos ambientais, como
            desmatamento, poluição da água e do ar. Práticas de mineração sustentável e tecnologias de reciclagem são
            essenciais para minimizar esses impactos. <br>
            <b> Corrosão: </b> O ferro é suscetível à corrosão, o que exige medidas de proteção, como pintura,
            galvanização
            ou o uso de aço inoxidável, para prolongar sua vida útil. <br>

        <p style="margin-left: 6em;">
            O ferro continua sendo um metal essencial para a sociedade moderna, impulsionando o desenvolvimento em
            diversos
            setores.
            Com o uso responsável, práticas de mineração sustentável e tecnologias inovadoras, o ferro continuará a
            contribuir para o progresso da humanidade por muitos anos.
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>