<h1 id="h1Home">Sorgo Dulce</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgosacarino.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

        <p>El sorgo dulce es un tipo de sorgo alto, con una altura de planta de más de dos metros. Destaca por tener un tallo dulce y jugoso, parecido a la caña de azúcar. A continuación se ofrece información relevante sobre el sorgo dulce:

            <p style="margin-left: 2em;"><b>Características del Sorgo Dulce:</b>
            <p style="margin-left: 3em;">Sorgo dulce: El sorgo dulce tiene tallos ricos en azúcar fermentable, lo que lo convierte en una alternativa interesante para la producción de etanol.
            <p style="margin-left: 3em;">Panícula Abierta: Su panícula (racimo) es abierta y produce pocos granos (semillas).
            <p style="margin-left: 3em;">Uso: El sorgo dulce se puede utilizar como forraje, en forma de ensilaje y también para corte.
           
            <p style="margin-left: 2em;"><b>Potencial de producción de etanol:</b>
            <p style="margin-left: 3em;">El sorgo dulce es una opción que se está estudiando para satisfacer la demanda mundial de combustible, reemplazando al petróleo.
            <p style="margin-left: 3em;">Tres características hacen que esta planta sea sostenible:
            <p style="margin-left: 3em;">Bioetanol renovable: el sorgo dulce produce bioetanol, una fuente de energía renovable.
            <p style="margin-left: 3em;">Reducción de Emisiones: Su cultivo reduce la emisión de gases contaminantes.
            <p>En resumen, el sorgo dulce ofrece potencial tanto en la producción de etanol como como alimento para el ganado, siendo una alternativa interesante para la agricultura y la industria.

    </div>
    <br>
    <hr class="rounded">
</div>
