<h1 id="h1Home">Graphite</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/grafita.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        Graphite, also known as graphite, is a soft, metallic, dark gray mineral. It occurs in nature in the form of hexagonal crystals with a layered structure. Graphite is the result of a loose network of carbon atoms, which allows it to be malleable. The basis for the formation of graphite is pure carbon, which also forms diamond and fullerene.<br>
        Graphite is a conductor of electric current and heat, as each carbon atom shares three of the four electrons in the structure, giving up the fourth to a common conduction band, as in metals. Graphite is resistant to high temperatures and oxidation. Due to its high melting point, it is also used as a refractory material.<br>
        The most important graphite deposits are found in China, Canada, Brazil, Mexico, Russia, India, Madagascar and Sri Lanka. Graphite has important applications in industry: in the manufacture of bricks and refractory parts, crucibles for the steel, brass and bronze industries, solid or oil and water-based lubricants, paints to protect iron and steel structures, battery cathodes alkaline materials, electric motor brushes, electric arc lamp electrodes, etc. One of the most important applications of graphite is in the use of pencils and mechanical pencils.<br>
        Graphene is a new material derived from graphite that is driving a major revolution in industry due to its unique properties: it is malleable, waterproof, and translucent, more resistant than diamond and an excellent electrical conductor. The range of products that can benefit from graphene is vast.<br>    </div>
    <br>
    <hr class="rounded">
</div>
