<div id="pagHome" class="content">
    <h1 id="h1Home">Graphite</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/grafita.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Graphite: </b> The Versatile Mineral with Various Applications <br>

        <p style="margin-left: 8em;">
            Graphite, a natural mineral composed mainly of carbon, stands out for its unique properties that
            make it an extremely versatile material with diverse applications in different industries.

        <p style="margin-left: 6em;"> <b> Notable Properties: </b>

        <p style="margin-left: 8em;">
            <b> Electrical and thermal conductivity: </b> Graphite is an excellent conductor of electricity and heat,
            being
            used in various electronic components, such as batteries, electrodes and heat sinks. <br>
            <b> Lubrication: </b> Graphite has natural lubricating properties, being used in different types of
            of lubricants, especially in high temperature and high pressure applications. <br>
            <b> Heat and corrosion resistance: </b> Graphite is resistant to high temperatures and corrosion, being
            used in various extreme environments, such as industrial furnaces and nuclear reactors. <br>
            <b> Flexibility and elasticity: </b> Graphite is a flexible and elastic material and can be molded into
            different shapes and used in applications that require flexibility. <br>
            <b>Chemical inertness:</b>Graphite is chemically inert, which means it does not react with most
            substances, making it ideal for applications requiring high purity. <br>

        <p style="margin-left: 6em;"> <b> Various Applications: </b>

        <p style="margin-left: 8em;">
            Due to its exceptional properties, graphite finds application in a wide range of industries such as: <br>

            <b> Electronics: </b> Batteries, electrodes, heat sinks, electronic circuit components, etc. <br>
            <b> Lubricants: </b> High temperature lubricants, solid lubricants, lubricating greases, etc. <br>
            <b> Refractory materials: </b> Linings for industrial furnaces, crucibles for molten metals, reactors
            nuclear, etc. <br>
            <b> Peneis: </b> Graphene, a two-dimensional form of graphite, is used in the production of heat-sensitive
            screens.
            touch and solar panels. <br>
            <b> Cosmetics: </b> Powdered graphite is used in various cosmetic products, such as eye pencils, mascara
            and eye shadow. <br>
            <b> Paints and coatings: </b> Powdered graphite is used as a pigment in paints and coatings,
            giving them anti-corrosion and electrical conductivity properties. <br>
            <b> Sport: </b> Tennis rackets, golf clubs and other sports equipment use graphite to
            improve performance and durability. <br>

        <p style="margin-left: 6em;"> <b> A Sustainable Material: </b>

        <p style="margin-left: 8em;">
            Graphite is an abundant and recyclable natural mineral resource, which makes it a sustainable and
            Ecologically correct.

            Its use contributes to reducing the use of non-renewable and polluting materials, promoting
            more practical
            sustainable in industry and society.

            Graphite is an essential mineral for the modern world, with a promising future in several areas.

            Its versatility, unique properties and sustainability make it a crucial material for
            development of
            new technologies and innovative products.
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>