<h1 id="h1Home">購物</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/compra.png"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        購買商品是金融市場上的常見做法，可以透過多種方式進行。 大宗商品是基本商品，例如穀物、金屬和石油，廣泛用於生產其他商品和服務。<br>

        購買商品有多種方式：<br>

        <b>期貨合約：</b>購買商品最常見的方式是透過期貨合約，這是在未來日期以固定價格購買或出售特定數量商品的協議。 這些合約在紐約商品交易所 (NYMEX) 和芝加哥商品交易所 (CBOT) 等商品交易所進行交易。<br>

        <b>商品ETF：</b>商品交易所交易基金(ETF)允許投資者購買一籃子商品而不是單一商品。 這些基金像股票一樣在證券交易所進行交易。<br>

        <b>商品公司股票：</b>投資商品的另一種方式是購買生產商品的公司的股票。 例如，如果您想投資石油，您可以購買石油公司的股票。<br>

        <b>商品共同基金：</b>這些基金投資於各種商品，並由專業人士管理。 對於那些喜歡將投資決策留給專業人士的投資者來說，它們可能是一個不錯的選擇。<br>

        在購買商品之前，仔細研究並了解相關風險非常重要。 大宗商品可能會波動，價格可能會快速波動。 因此，建議在投資商品之前尋求財務顧問的建議。<br>    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>
</div>