<h1 id="h1Home">Sales</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/venda.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        Commodity sales is an activity that involves trading basic raw materials, such as metals, energy and agricultural products. These transactions are carried out through futures contracts and options on the Stock Exchange.<br>

        Commodities are homogeneous, interchangeable goods that are often used as inputs in the production of other products. They are produced and sold in large quantities and can be stored for a certain period without significant loss of quality.<br>
       
        Companies that operate in the sale of commodities have teams of brokers with extensive experience in intermediation in the commodity markets, operating both in the domestic and export markets. They offer access to the main Futures Exchanges and the best tools and strategies for managing the price risk of agricultural marketing.<br>
       
        However, it is important to note that commodity trading is only recommended for experienced investors as the risks are high. Therefore, it is advisable to seek advice from a financial advisor before investing in commodities.<br>    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>
</div>