<h1 id="h1Home">Mineral</h1>
<div id="divCarousel">
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <figure>
                <img src="{{ slide.img }}" alt="" class="img-style">
                <figcaption>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                </figcaption>
            </figure>
        </div>
    </ngx-slick-carousel>
    <br>
    <br>
    <div  class="textFont">
        Os minerais são substâncias sólidas homogêneas, geralmente de origem inorgânica, formadas por um ou mais elementos químicos, comumente encontrados na natureza. Eles possuem uma estrutura molecular bem definida e diferenciada, que resulta em propriedades distintas. As principais características dos minerais são: estrutura sólida e cristalina, composição química definida, e arranjo atômico ordenado.<br>

Os minerais podem ser formados por átomos de apenas um elemento químico ou por diferentes elementos. Os átomos se arranjam e formam combinações com proporções determinadas e formas geométricas definidas. Eles se formam na natureza por cristalização, recristalização ou ainda por reações químicas. A ocorrência dessas substâncias é influenciada pelas condições de temperatura, pressão e ambiente químico.<br>

Os minerais são classificados em metálicos e não-metálicos. Os minerais metálicos são aqueles que apresentam características como condutividade elétrica e calorífica. São exemplos o ferro, o alumínio e o ouro. Os minerais não metálicos são os demais, isto é, aqueles que não dispõem das propriedades típicas dos elementos metálicos. São exemplos o calcário, o basalto e sais.<br>

Os minerais são importantes para as economias nacionais e para a dinâmica econômica global, servindo de matéria-prima para a indústria e sendo comercializados como commodities no mercado internacional. Apesar disso, sua exploração irrestrita pode ocasionar problemas ambientais, como degradação do solo, poluição, desmatamento e até mesmo graves acidentes ambientais.<br>
    </div>
    <br>
    <hr class="rounded">

</div>
