<h1 id="h1Home">Grafite</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/grafita.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        O grafite, também conhecido como grafita, é um mineral cinza escuro, metálico e macio. Ele ocorre na natureza em forma de cristais hexagonais com estrutura em camadas. O grafite é o resultado de uma rede frouxa de átomos de carbono, que lhe permite maleabilidade. A base da formação do grafite é o carbono puro, que também forma o diamante e o fulereno.<br>
        O grafite é um condutor de corrente elétrica e de calor, pois cada átomo de carbono partilha três dos quatro elétrons da estrutura, cedendo o quarto a uma banda de condução comum, como nos metais. O grafite é resistente a altas temperaturas e oxidação. Devido a seu alto ponto de fusão, é também usado como material refratário.<br>
        As jazidas mais importantes de grafite encontram-se na China, Canadá, Brasil, México, Rússia, Índia, Madagascar e Siri Lanka. O grafite tem importantes aplicações na indústria: na fabricação de tijolos e peças refratárias, cadinhos para as indústrias de aço, latão e bronze, lubrificantes sólidos ou a base de óleo e água, tintas para proteção de estruturas de ferro e aço, catodos de baterias alcalinas, escovas de motores elétricos, eletrodos de lâmpadas elétricas de arco voltaico etc. Uma das aplicações mais importantes do grafite é na utilização do lápis, e da lapiseira.<br>
        O grafeno é um novo material derivado do grafite que impulsiona uma grande revolução na indústria em virtude de suas propriedades únicas: é maleável, impermeável, e translúcido, mais resistente que o diamante e excelente condutor elétrico. A gama de produtos que podem se beneficiar do grafeno é vasta.<br>
    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>
</div>
