<h1 id="h1Home">翠</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/esmeralda.jpg" width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        祖母綠是世界上最令人垂涎​​的寶石之一，以其美麗的深綠色而聞名。 它是綠柱石礦物中最高貴的品種。 祖母綠的綠色是由於存在微量的鉻，有時存在釩。<br>

        祖母綠被視為寶石，每克拉的價格使其躋身世界上最有價值的寶石之列。 它的莫氏硬度為 7.5 - 8.0。 主要祖母綠礦床位於哥倫比亞，但也可以在巴西（米納斯吉拉斯州和戈亞斯州）、俄羅斯、辛巴威和阿富汗找到。<br>

        祖母綠對強烈撞擊、刮傷和溫度突然變化極為敏感。 此外，祖母綠還可以促進財務穩定，使我們適應豐富的振動模式，並為佩戴它的人提供身體、心理和情感的平衡。<br>

        最後，祖母綠是代表五月出生者的寶石，是重生和愛情的象徵。 因此，它是本月生日、母親節甚至希望在五月求婚的未來新娘和新郎的理想禮物。<br>    </div>
    <br>
    <hr class="rounded">
</div>