<h1 id="h1Home">Maíz</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milho.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        El maíz es uno de los cereales más utilizados y nutritivos del mundo. Se cree que es originario de la América precolombina. El maíz es rico en carbohidratos, proteínas, vitaminas (principalmente B1 y E) y minerales. Las hojas de maíz son una rica fuente de fibra, que es importante para mantener el ritmo intestinal.<br>
        Si bien el maíz es un ingrediente presente en varios platos brasileños, como el maíz molido y la pamonha, su consumo en las mesas brasileñas, ya sea directa o indirectamente, es muy bajo. Según Embrapa, sólo el 5% de todo el maíz producido en Brasil es consumido directamente por el hombre.
        La mayoría (65%) se utiliza como alimento para animales.<br>
        El maíz es un cereal que ocupa un lugar destacado en la agricultura y la industria en todo el mundo. Su versatilidad y amplio abanico de aplicaciones lo convierten en un componente vital en la nutrición humana, así como en la producción de piensos para animales, en la fabricación de bioplásticos, combustibles y multitud de productos industriales.<br>
        Los mayores productores de maíz del mundo son Estados Unidos. Brasil es el tercer productor mundial. Así, junto con la soja, el maíz representa alrededor del 80% de toda la producción de cereales en Brasil. Los mayores productores son los estados de Paraná, Rio Grande do Sul, Minas Gerais, Goiás y São Paulo.<br>    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>

</div>