<h1 id="h1Home">Soy</h1>
<div id="divCarousel" >
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <figure>
                <img src="{{ slide.img }}" alt="" class="img-style">
                <figcaption>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                </figcaption>
            </figure>
        </div>
    </ngx-slick-carousel>
    <br>
    <br>
    <div class="textFont"> 

        <p style="margin-left: 2em;">There are more than 2 thousand types of soy registered with the Ministry of Agriculture, but we can classify them into three large distinct groups:

        <p style="margin-left: 2em;"><b>Conventional Soy:</b>
        <p style="margin-left: 4em;">These seeds are produced in a traditional way, without the use of Genetically Modified Organisms (GMOs). They are non-transgenic cultivars and do not have specific resistance to herbicides.
        <p style="margin-left: 2em;"><b>RR Soya (Roundup Ready):</b>
        <p style="margin-left: 4em;">RR soybean cultivars are transgenic and tolerant to the herbicide Glyphosate. This means that these plants can resist the application of this herbicide, making it easier to control weeds in crops.
        <p style="margin-left: 2em;"><b>Intact Soybeans:</b>
        <p style="margin-left: 4em;">These seeds are produced with more advanced technology. In addition to being transgenic and resistant to Glyphosate, they also have protection against pests, such as caterpillars. This makes Intacta soybeans an interesting choice for producers looking for greater protection against insects.
        
        <p style="margin-left: 2em;">In addition, soybean cultivars can present different types of growth, such as determinate, indeterminate and semi-determinate. Most Brazilian cultivars have determinate growth, which means that the plant grows little after the beginning of flowering and no longer branches.
        
        <p style="margin-left: 2em;">Remember that choosing the correct cultivar is fundamental to the success of soybean farming. The producer must consider the characteristics of the farm, research the properties of each variety and invest in certified materials to obtain the best results.
                
    </div>    
    <br>
    <hr class="rounded">
</div>

