<h1 id="h1Home">ICUMSA 100-150 糖是</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/acucaric100.jpg" width="200" height="200">
    <br>
    <br>
    <div class="textFont">
        ICUMSA 100-150 糖是 ICUMSA 等级内的中间类型，介于 ICUMSA 45 和 ICUMSA VHP 之间。 让我们进一步探讨一下：

        <p style="margin-left: 2em;" >什么是 ICUMSA 100-150 糖？</p>
        <p style="margin-left: 4em;" >ICUMSA 100-150 代表中等纯度水平。<br>
        其极化率至少为 99.50%。<br>
        其蔗糖含量适中，适合各种工业应用。<br>
        其颜色从浅棕色到中棕色不等。<br>
        粒径范围为0.9~1.2毫米。</p>
        <p style="margin-left: 2em;" >应用：</p>
        <p style="margin-left: 4em;" >ICUMSA 100-150 广泛用于食品加工和某些工业应用。
        它在纯度和经济性之间取得了平衡，适用于不需要 ICUMSA 45 绝对白度的情况。
        <p>因此，如果您正在寻找具有中间特性的糖，ICUMSA 100-150 糖可能是满足您需求的合适选择！</p>
    </div>
    <br>
    <hr class="rounded">
</div>