<h1 id="h1Home">Soja</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/soja.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        A soja (Glycine max) é uma leguminosa nativa do leste da Ásia, mas agora é amplamente cultivada e consumida em todo o mundo. A soja é uma das sementes mais conhecidas no mundo e é essencial para o sistema produtivo. No Brasil, a soja representa 56% da área plantada com grãos no país.<br>
        A soja é composta por proteínas, fibras, monossacarídeos, oligossacarídeos, óleos, cálcio, fósforo, ferro, sódio, potássio, magnésio, cobre, carboidratos, lipídios, vitaminas B e E, ômega 3 e 6. É uma boa fonte de proteína e, diferentemente de muitos outros alimentos ricos em proteínas, é baixa em gorduras saturadas e não contém colesterol.<br>
        No Brasil, o grão teve muita importância em 1901, a partir de então, nessa data, começaram os cultivos na Estação Agropecuária de Campinas e a semente passou a ser distribuída para os produtores paulistas. Em 2021, o Brasil liderou o ranking como o maior produtor e exportador do grão, com uma produção de 135,409 milhões de toneladas.<br>
        Os maiores produtores de soja no Brasil são Mato Grosso, Paraná, Rio Grande do Sul e Goiás. Estima-se que a produção aumente de 135,409 milhões de toneladas para 140,75 milhões de toneladas, mantendo o país com o posto de maior produtor do grão no mundo.<br>
    </div>
    <br>
    <hr class="rounded">
</div>
