<div id="pagHome" class="content">
    <h1 id="h1Home">金子</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/ouro.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> 金：</b> 一種具有歷史、意義和各種應用的貴金屬
            <br>

        <p style="margin-left: 8em;">
            黃金是一種貴金屬，以其無與倫比的光澤和金色而聞名，超越了貨幣價值，成為
            強調
            因其豐富的歷史、象徵意義和多功能性。

        <p style="margin-left: 6em;"> <b> 古往今來，黃金征服了人類並成為： </b>

        <p style="margin-left: 8em;">
            <b>財富和權力的象徵：</b>自古以來，黃金就與皇室、繁榮和財富聯繫在一起。
            社會地位。
            國王、王后和皇帝佩戴黃金珠寶和裝飾品，展示他們的財富和權力。 <br>
            <b> 交換貨幣：</b> 幾個世紀以來，黃金一直是各種貨幣體系的基礎。
            文明。你的
            耐用性、稀有性和美觀性使其成為可靠且通用的交換媒介。 <br>
            <b> 藝術和裝飾物件：</b> 黃金在整個歷史中一直激勵著藝術家和工匠，並被廣泛使用
            在創造中
            雕塑、繪畫、珠寶、裝飾品甚至樂器。 <br>
            <b>價值儲存：</b>在經濟不穩定時期，黃金成為避風港
            投資，因為
            隨著時間的推移保持其價值。 <br>
            <b>工業金屬：</b>儘管黃金有著奢華的形象，但它在以下領域也有重要的應用：
            工業，如
            電子、牙科甚至醫學。

        <p style="margin-left: 6em;"> <b> 黃金的獨特屬性：</b>

        <p style="margin-left: 8em;">
            <b>延展性和延展性：</b>黃金是世界上最具延展性和延展性的金屬之一，允許
            被塑造
            在非常細的螺紋或極薄的片材中。 <br>
            <b> 耐腐蝕：</b> 黃金具有很強的耐腐蝕和抗氧化能力，可保持其光澤和光澤。
            美由
            幾個世紀。 <br>
            <b>優良的熱和電導體：</b>金具有很高的導熱性和導電性，
            使其成為理想的
            用於各種技術應用。 <br>
            <b>生物相容性：</b>金是一種生物相容性材料，這意味著它不會引起過敏反應
            在身體上
            人類，允許其用於醫療和牙科植入物。

        <p style="margin-left: 6em;"> <b> 生產與提取：</b>

        <p style="margin-left: 8em;">
            黃金在世界各地的自然界中被發現，通常以金塊或礦脈的形式存在。
            <br>
            它的提取可以透過不同的方法進行，例如小規模的手工採礦，或
            這
            使用重型機械和先進技術進行大規模採礦。

        <p style="margin-left: 6em;"> <b> 巴西：</b>

        <p style="margin-left: 8em;">
            巴西是世界上最大的黃金生產國之一，尤其是亞馬遜地區。 <br>
            然而，採礦活動必須負責任地進行，尊重環境和
            當地社區，以確保該部門的可持續性和自然資源的保護。

        <p style="margin-left: 6em;"> <b>黃金的未來：</b>

        <p style="margin-left: 8em;">
            黃金仍然是一種有價值且令人垂涎的資產，在不同領域具有多種應用。 <br>

            受經濟不確定性等因素的推動，未來幾年黃金需求預計將保持強勁，
            氧
            全球中產階級的成長和對安全投資的尋求。 <br>

        <p style="margin-left: 6em;"> 因此，黃金仍然是幾個世紀以來令人類著迷的貴金屬
            並將繼續發揮作用
            在歷史、文化和全球經濟中具有重要意義。
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>