<div id="pagHome" class="content">
    <h1 id="h1Home">Intact Soybeans</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sojaintacta.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Intact Soy: </b> Challenges and Opportunities for Brazilian Agriculture <br>

        <p style="margin-left: 8em;">
            Intact soybeans, also known as RR (Roundup Ready) soybeans, are a genetically modified soybean variety
            for
            resist the herbicide glyphosate. <br>
            Its introduction in Brazil in 1996 revolutionized national agriculture, significantly increasing the
            productivity
            and reducing production costs. <br>
            However, intact soybeans have also generated controversy and heated debate, raising questions about their
            impacts
            environmental, social and economic.

        <p style="margin-left: 6em;"> <b> Advantages of Intact Soybeans: </b>

        <p style="margin-left: 8em;">
            <b>Increased Productivity:</b>
            Glyphosate resistance allowed efficient weed control, reducing
            need for labor and traditional herbicides, which led to a significant increase in productivity
            from the
            soybeans in Brazil. <br>
            <b>Cost Reduction:</b>
            The reduction in the need for labor and traditional herbicides resulted in a reduction
            production costs, making intact soybeans more competitive on the international market. <br>
            <b> Ease of Management: </b>
            The easier control of weeds with glyphosate simplified crop management,
            making intact soybeans more accessible to small and medium-sized farmers.

        <p style="margin-left: 6em;"> <b> Challenges of Intact Soy: </b>

        <p style="margin-left: 8em;">
            <b>Environmental Impacts:</b>
            The intensive use of glyphosate can cause damage to the environment, such as soil contamination and
            of water, the death of beneficial insects and the development of resistance in weeds. <br>
            <b>Health Concerns:</b> Some studies raise concerns about the safety of intact soybeans for
            human health,
            such as the possibility of allergies, reproductive problems and the development of cancer. <br>
            <b> Market Concentration: </b> The production of intact soybean seeds is dominated by a few companies
            multinationals, which
            raises concerns about market concentration and farmers' dependence on these companies. <br>
            <b>Social Impacts:</b>The expansion of intact soy can lead to deforestation, loss of biodiversity and
            conflicts
            social, mainly with indigenous and traditional communities.

        <p style="margin-left: 6em;"> <b>The Future of Intact Soy: </b>

        <p style="margin-left: 8em;">
            Intact soybeans will continue to be an important product for Brazilian agriculture, but it is essential to
            seek
            solutions to minimize their negative impacts and ensure their production and consumption in a sustainable
            way.
            <br>

            <b> Research and Development: </b> Invest in research and development of new soybean varieties more
            resistant to
            pests and diseases, with less need for herbicides and more beneficial to the environment. <br>
            <b> Sustainable Agriculture: </b> Adopt sustainable agricultural practices, such as crop rotation,
            integrated management
            of pests and diseases and precision agriculture, to reduce the use of pesticides and preserve the
            environment.
            <br>
            <b> Dialogue and Transparency: </b> Promote dialogue between different sectors of society, including
            farmers,
            consumers, industry, government and academia, to seek consensual solutions to the challenges of intact soy.

        <p style="margin-left: 6em;">
            Intact soybeans have the potential to contribute to global food security and development
            socioeconomic status of Brazil. <br>
            However, it is essential that its production and consumption are carried out in a responsible and
            sustainable
            way, to
            to guarantee
            the protection of the environment, the health of the population and the well-being of communities.
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>