<h1 id="h1Home">Intact Soybeans</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sojaintacta.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        <p>Intacta soy is a transgenic variety that has revolutionized agribusiness in recent years. Let’s understand more about this technology:

            <p style="margin-left: 2em;"><b>What is Intact Soy? </b>
            <p style="margin-left: 3em;">Intact soy is a type of transgenic soy created with the aim of improving agricultural productivity.
            Intacta soybeans have undergone genetic modifications in the laboratory to obtain better results.
            This technology uses proteins derived from the bacteria Bacillus thuringiensis (Bt) to make grains resistant to insect pests, such as caterpillars.
            <p style="margin-left: 2em;"><b>How Intact Technology Works: </b>
            <p style="margin-left: 3em;">Intacta soybeans, the proteins Cry1Ac and Cry1F, derived from the Bt bacteria, were inserted.
            These proteins attack the caterpillars' digestive system, making the grains resistant to these insects.
            Intacta technology also provides resistance to the herbicide glyphosate, which reduces the need to apply agrochemicals.
            <p style="margin-left: 2em;"><b>Benefits of Intact Soybeans:</b>
            <p style="margin-left: 3em;"><b>Increased Productivity:</b> With fewer losses caused by pests, farmers obtain greater yields.
            <p style="margin-left: 3em;"><b>Product Quality:</b> Intact soybeans maintain their nutritional and commercial quality.
            <p style="margin-left: 3em;"><b>Long-Term Cost-Benefit:</b> The reduction in the use of agricultural pesticides compensates for the initial investment.<br>
            <p>Intact soy is an important tool to face the challenges of modern agriculture, ensuring greater efficiency and sustainability.
    </div>
    <br>
    <hr class="rounded">
</div>
