
<h1 id="h1Home">Soja</h1>
<div id="divCarousel" >
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <figure>
                <img src="{{ slide.img }}" alt="" class="img-style">
                <figcaption>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                </figcaption>
            </figure>
        </div>
    </ngx-slick-carousel>
    <br>
    <br>
    <div class="textFont"> 

        <p>Existem mais de 2 mil tipos de soja registrados no Ministério da Agricultura, mas podemos classificá-los em três grandes grupos distintos:

            <p><b>Soja Convencional:</b> 
            <p style="margin-left: 4em;">Essas sementes são produzidas de forma tradicional, sem o uso de Organismos Geneticamente Modificados (OGMs). São cultivares não transgênicas e não possuem resistência específica a herbicidas.
            <p><b>Soja RR (Roundup Ready):</b> 
            <p style="margin-left: 4em;">As cultivares de soja RR são transgênicas e tolerantes ao herbicida Glifosato. Isso significa que essas plantas podem resistir à aplicação desse herbicida, facilitando o controle de ervas daninhas na lavoura.
            <p><b>Soja Intacta:</b> 
            <p style="margin-left: 4em;">Essas sementes são produzidas com tecnologia mais avançada. Além de serem transgênicas e resistentes ao Glifosato, também possuem proteção contra pragas, como lagartas. Isso torna a soja Intacta uma escolha interessante para produtores que buscam maior proteção contra insetos.
            
            <p>Além disso, as cultivares de soja podem apresentar diferentes tipos de crescimento, como determinado, indeterminado e semideterminado. A maioria das cultivares brasileiras possui crescimento determinado, o que significa que a planta cresce pouco após o início do florescimento e não mais ramifica.
            
            <p>Lembrando que a escolha do cultivar correto é fundamental para o sucesso da lavoura de soja. O produtor deve considerar as características da fazenda, pesquisar as propriedades de cada variedade e investir em materiais certificados para obter os melhores resultados
    
    


    </div>    
    <br>
    <hr class="rounded">
</div>

