<div id="pagHome" class="content">
    <h1 id="h1Home">Cana de Açucar</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/canadeacucar.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Cana-de-Açúcar: </b> Doçura que Move o Brasil e o Mundo
        <p style="margin-left: 8em;"> A cana-de-açúcar, mais do que um simples ingrediente culinário, é um pilar da
            história, economia e cultura
            brasileira. <br> Desde sua introdução no país no século XVI, a cana se tornou um dos principais produtos
            agrícolas do
            Brasil, moldando sua sociedade e impulsionando seu desenvolvimento. <br>

        <p style="margin-left: 6em;"> <b> Muito Mais que Açúcar: </b>

        <p style="margin-left: 8em;"> Embora o açúcar seja o produto mais conhecido derivado da cana, ela oferece uma
            gama
            de versáteis subprodutos, como:

        <p style="margin-left: 8em;"><b> Etanol: </b> Uma fonte de energia renovável e sustentável, utilizada como
            combustível para veículos e na geração de
            eletricidade. <br>
            <b> Melado: </b> Um adoçante natural rico em nutrientes, ideal para adoçar receitas e bebidas de forma mais
            saudável. <br>
            <b> Vinhoto: </b> Um fertilizante orgânico rico em nutrientes, que contribui para a fertilidade do solo e a
            qualidade das
            plantações. <br>
            <b> Bagacilho: </b> Resíduo da moagem da cana, utilizado como combustível para usinas e na produção de papel
            e
            celulose. <br>

        <p style="margin-left: 6em;"> <b> Um Gigante em Produção: </b>

        <p style="margin-left: 8em;"> O Brasil detém o título de maior produtor e exportador mundial de cana-de-açúcar,
            respondendo por cerca de um terço
            da produção global. <br> As regiões Sudeste e Centro-Oeste concentram a maior parte do cultivo, com destaque
            para estados
            como São Paulo, Minas Gerais e Goiás.

        <p style="margin-left: 6em;"> <b> Impacto Social e Ambiental: </b>

        <p style="margin-left: 8em;"> A cadeia produtiva da cana-de-açúcar gera milhões de empregos diretos e indiretos
            no
            Brasil, contribuindo para o
            desenvolvimento social e econômico das regiões produtoras. <br>

            No entanto, o cultivo da cana também apresenta desafios socioambientais, como a desmatamento, uso intensivo
            de
            água
            e agrotóxicos e queima da palha da cana.

        <p style="margin-left: 6em;"> <b> Um Futuro Sustentável: </b>

        <p style="margin-left: 8em;"> O setor da cana-de-açúcar busca constantemente soluções inovadoras e sustentáveis
            para
            minimizar esses impactos,
            como: <br>

        <p style="margin-left: 8em;"> <b> Aprimoramento das técnicas agrícolas: </b> Adoção de práticas como a
            agricultura
            de precisão e o manejo sustentável do
            solo para reduzir o uso de recursos naturais e aumentar a produtividade. <br>
            <b> Investimento em energias renováveis: </b> Utilização do bagacilho da cana como fonte de energia para as
            usinas e
            comunidades, diminuindo a emissão de gases poluentes. <br>
            <b> Reciclagem e reuso da água: </b> Implementação de sistemas de tratamento e reuso de água nas usinas para
            reduzir o
            consumo de água potável. <br>
            <b> Combate à queima da palha: </b> Adoção de técnicas alternativas para a colheita da cana, como a palha
            picada
            e queimada
            em fornalhas para gerar energia. <br> <br>

            A cana-de-açúcar continuará a ser um importante produto para o Brasil, desde que seu cultivo seja feito de
            forma
            sustentável e responsável. <br> <br>

            Juntos, podemos construir um futuro mais verde e doce para a cana-de-açúcar e para o nosso planeta!
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>