<h1 id="h1Home">爆米花玉米</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhocornflouria.jpg" width="200" height="200">
    <br>
    <br>
    <div class="textFont">

        <b>什麼是玉米粉？ </b>
        
        <p style="margin-left: 2em; ">源自精細研磨的乾玉米粒<br>
        取自不同品種的玉米，如白玉米、黃玉米和藍玉米<br>
        提供粗磨、中磨和細磨，適合不同用途<br>
        天然不含麩質，使其成為患有乳糜瀉或麩質敏感的人的絕佳替代品<br>
       
        <p><b>玉米粉的種類</b>
       
        <p style="margin-left: 2em; "><b>黃色玉米粉：</b>這是最常見的類型，具有溫和的味道和淺黃色。 它是廚房裡的主力，非常適合烘焙、玉米麵包和玉米粥。
        <b>白玉米粉：</b>與黃玉米粉相比，此品種的味道稍甜且溫和。 它在製作玉米餅、玉米餅方面表現出色，也是湯和燉菜的絕佳增稠劑。
        <b>藍色玉米粉：</b>用藍色玉米粉從人群中脫穎而出！ 它具有獨特的堅果風味和充滿活力的藍色，為您的菜餚增添令人驚嘆的視覺元素。 藍色玉米粉在玉米餅、辣醬玉米餅餡中大放異彩，還可以為烘焙食品增添色彩。

        <p><b>玉米粉的烹飪魔法</b>
       
        <p style="margin-left: 2em;">
        <b>烘焙：</b>玉米粉為薄煎餅、鬆餅、餅乾和蛋糕增添了輕盈、蓬鬆的質感。
        <b>增稠：</b>使用玉米粉作為湯、燉菜和醬汁的無麩質增稠劑。
        <b>民族菜餚：</b>拉丁美洲美食的基本成分，包括玉米餅、玉米餅、玉米粉蒸肉和肉餡捲餅。
        <b>油炸：</b>在海鮮或蔬菜上塗上玉米粉，以獲得清淡、酥脆的油炸效果。
        <b>玉米粥：</b>將粗玉米粉煮成奶油玉米粥，這是鹹味菜餚的多功能底料。
    </div>
    <br>
    <hr class="rounded">
</div>