<h1 id="h1Home">爆米花玉米</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhocornflouria.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">
    <p style="margin-left: 6em;"> <b> 玉米粉：</b> 巴西美食中的重要成分<br>
    <p style="margin-left: 8em;">
        玉米粉是通過研磨乾燥的玉米粒而獲得的，是烹飪的基本成分。
        巴西風味，自殖民時期以來就出現在多種食譜中。
        它的多功能性、風味和營養價值使其成為巴西家庭餐桌上不可或缺的食品，
        尤其是中西部和東北部。

    <p style="margin-left: 6em;"> <b> 不只是簡單的成分：</b>

    <p style="margin-left: 8em;">
        玉米粉不僅僅是一種簡單的烹飪原料。它有著豐富的歷史、文化和傳統，
        代表巴西人民的身份和創造力。 <br>
        它在蒸粗麥粉、玉米粥、玉米粉蒸肉、玉米粉蛋糕和法洛法等典型菜餚中的存在表明了其重要性
        文化
        以及巴西的玉米粉美食。

    <p style="margin-left: 6em;"> <b> 玉米粉種類：</b>

    <p style="margin-left: 8em;">
        <b> 玉米粉：</b> 較細的、過篩的類型，用於製作蛋糕、餅乾、蒸粗麥粉和玉米粥。 <br>
        <b> Farinheira：</b> 較厚且帶有碎粒，非常適合製作 Farofas、angu 和 biju。 <br>
        <b> Demigrossa：</b> 用途廣泛，可用於各種食譜，如蛋糕、麵包、farofas 和奶油。 <br>
        <b> 完整：</b> 保存完整的玉米粒，提供更高的纖維和營養成分。 <br>

    <p style="margin-left: 6em;"> <b>健康益處：</b>

    <p style="margin-left: 8em;">
        玉米粉，尤其是全麥粉，具有多種健康益處，例如：

    <p style="margin-left: 10em;">
        <b>富含纖維：</b>幫助消化，調節腸道，促進飽足感，有助於控制
        的重量。 <br>
        <b>能量來源：</b>提供身體能量，主要以複合碳水化合物的形式。 <br>
        <b> 含有維生素和礦物質：</b> B 群維生素、鐵、磷和鎂的來源，很重要
        為了好的
        有機體的功能。 <br>
        <b> 不含麩質：</b> 非常適合患有乳糜瀉或麩質不耐症的人。 <br>
        <b>多才多藝又美味：</b>可用於各種食譜，甜鹹可口，討人喜歡
        味覺。

    <p style="margin-left: 6em;"> <b> 巴西美食：</b>

    <p style="margin-left: 8em;">
        玉米粉是幾種典型巴西菜餚的基礎，例如：

    <p style="margin-left: 10em;">
        <b> 蒸粗麥粉：</b> 多功能配菜，可搭配各種菜餚，如曬乾的肉、特羅佩羅豆和
        燉。 <br>
        <b>玉米粥：</b>傳統上用玉米粉製成的義大利菜餚，可以搭配肉醬，
        番茄醬
        或起司。 <br>
        <b>玉米粉蒸肉：</b>一種用磨碎的綠色玉米、牛奶和調味料製成的美味佳餚，用玉米秸稈本身烹製而成。
        <br>
        <b>玉米粉蛋糕：</b>簡單又美味的蛋糕，由玉米粉、牛奶、雞蛋、糖和奶油製成。 <br>
        <b> Farofa：</b> 酥脆可口的配菜，由烤玉米粉、黃油、洋蔥和
        香料。

    <p style="margin-left: 6em;">
        玉米粉是巴西美食的重要成分，存在於幾種典型菜餚中
        受到各個年齡層的人的喜愛。 <br>
        其多功能性、風味和營養價值使其成為一種完整可口的食品，並豐富了餐桌。
        巴西家庭代表了該國的文化和傳統。
        <br>
        <br>
        <hr class="rounded">
</div>