<h1 id="h1Home">{{ this.texto }}</h1>
<div id="divCarousel" >
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <figure>
                <img src="{{ slide.img }}" alt="" class="img-style">
                <figcaption>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                </figcaption>
            </figure>
        </div>
    </ngx-slick-carousel>
    <br>
    <br>
    <div class="textFont"> 
        O agronegócio, também conhecido como agrobusiness, é um setor econômico que envolve uma cadeia de produção alimentar que interliga vários setores, como a agricultura, a pecuária e a indústria. Ele compreende as atividades econômicas ligadas à agropecuária, ao manejo de florestas para comércio e serviços (silvicultura) e ao extrativismo vegetal.<br>
        O agronegócio é um setor econômico bastante importante para a sociedade mundial, pois envolve uma cadeia de produção alimentar que interliga vários setores, como a agricultura, a pecuária e a indústria, além do comércio que consome seus produtos. Nesse setor, o emprego de tecnologia é intenso, não sendo restrito ao campo rural, estando também presente no campo industrial, com indústrias de sementes, adubos, agrotóxicos e outros insumos agrícolas.<br>
        No Brasil, o agronegócio é uma das atividades mais lucrativas. O setor representa 23% do PIB (Produto Interno Bruto), segundo o IBGE (Instituto Brasileiro de Geografia e Estatística). Nos últimos 25 anos, conforme o Ministério a Agricultura, Pecuária e Abastecimento (MAPA), a área plantada cresceu 53% e a produção 260% e a produtividade aumentou 135%.<br>
        Os produtos de maior valor no agronegócio brasileiro são: algodão em pluma, arroz, feijão, milho, complexo soja (grão, farelo e óleo), café, açúcar, laranja, carnes, celulose e papel. A produção nacional de carne ocorre, em ordem de tamanho do rebanho, no Mato Grosso, Mato Grosso do Sul, São Paulo, Goiânia, Paraná, Rondônia e Rio Grande do Sul.<br>
        No entanto, o agronegócio também representa perigo para o meio-ambiente, especialmente pela adoção do sistema de produção intensivo.</div>
    <br>
    <hr class="rounded">


</div>
