<h1 id="h1Home">Milho</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milho.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        O milho é um dos cereais mais utilizados e nutritivos em todo o mundo. Acredita-se que ele seja originário da América pré-colombiana. O milho é rico em carboidratos, proteínas, vitaminas (principalmente B1 e E) e sais minerais. A casca do milho é uma rica fonte de fibras, que são importantes para a manutenção do ritmo intestinal.<br>
        Embora o milho seja um ingrediente presente em vários pratos brasileiros, como a canjica e a pamonha, seu consumo na mesa dos brasileiros, seja direta ou indiretamente, é muito baixo. Segundo a Embrapa, apenas 5% de todo o milho produzido no Brasil é consumido diretamente pelo homem. 
        A grande parte (65%) é utilizada na alimentação de animais.<br>
        O milho é um cereal que ocupa um lugar de destaque na agricultura e na indústria em todo o mundo. Sua versatilidade e ampla gama de aplicações o tornam um componente vital na alimentação humana, bem como na produção de ração animal, na fabricação de bioplásticos, combustíveis e uma infinidade de produtos industriais.<br>
        Os maiores produtores mundiais do milho são os Estados Unidos. O Brasil é o terceiro maior produtor mundial. Assim, ao lado da soja, o milho representa cerca de 80% de toda a produção de grãos do Brasil. Os maiores produtores são os estados do Paraná, Rio Grande do Sul, Minas Gerais, Goiás e São Paulo.<br>
    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>

</div>