<div id="pagHome" class="content">
    <h1 id="h1Home">大豆</h1>
    <div id="divCarousel">
        <ngx-slick-carousel class="carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <figure>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">
                        <img src="{{ slide.img }}" alt="" class="img-style">
                    </a>
                    <figcaption>
                        <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                    </figcaption>
                </figure>
            </div>
        </ngx-slick-carousel>
        <br>
        <br>
    </div>
    <div class="textFont">

        <p style="margin-left: 6em;"> <b> 大豆：</b> 滋養世界的黃金穀物 <br>
        <p style="margin-left: 8em;">大豆，原產於亞洲的黃金穀物，已成為主要產品之一
            巴西和世界的農業。
            大豆在該國廣大地區種植，因其高生產力、多功能性和重要性而脫穎而出。
            為了經濟、食物和環境。

        <p style="margin-left: 6em;"> <b> 不只是穀物：</b>

        <p style="margin-left: 8em;"> 大豆不只是簡單的金穀物。它被用於多個領域
            行業，例如：

        <p style="margin-left: 10em;"> <b>人類食物：</b> 豆漿、豆腐、豆油、大豆蛋白、
            大豆卵磷脂等<br>
            <b> 動物飼料：</b> 飼養牛、豬、家禽和其他動物的蛋白質和能量來源。 <br>
            <b> 生質燃料：</b>生產生質柴油，一種可再生且永續的車輛燃料
            機動車。 <br>
            <b> 工業：</b> 塑膠、橡膠、油漆、化妝品等產品的生產。 <br>


        <p style="margin-left: 6em;"> <b> 對巴西經濟的重要性：</b>

        <p style="margin-left: 8em;">巴西是世界上最大的大豆生產國和出口國，佔全球大豆產量的約 1%
            佔全球產量的三分之一。
            大豆生產為該國創造了數百萬個直接和間接就業崗位，為經濟發展做出了重大貢獻
            產區經濟社會發展。

        <p style="margin-left: 6em;"> <b> 營養豐富的穀物：</b>

        <p style="margin-left: 8em;">大豆是一種富含營養的食物，例如：

        <p style="margin-left: 10em;"> <b> 蛋白質：</b> 優質蛋白質的來源，對人體很重要
            肌肉組織的發育和修復。 <br>
            <b> 好脂肪：</b> 富含不飽和脂肪酸，如歐米伽3和歐米伽6，對身體健康很重要。
            心臟和大腦。 <br>
            <b> 纖維：</b> 它們有助於消化、調節腸道並促進飽足感。 <br>
            <b> 維生素：</b> 富含 B 群維生素，如 B1、B2 和 B6，對新陳代謝很重要
            能量、神經系統和肌肉功能。 <br>
            <b> 礦物質：</b> 鐵、鈣、磷、鎂和鉀的來源，這些礦物質是身體健康所必需的
            有機體的功能。 <br>

        <p style="margin-left: 6em;"> <b> 健康益處：</b>

        <p style="margin-left: 8em;">經常食用大豆可以帶來多種健康益處，例如：

        <p style="margin-left: 10em;"> <b> 預防慢性疾病：</b> 有助於預防慢性疾病，如
            2 型糖尿病、心臟病和某些類型的癌症。 <br>
            <b> 控制膽固醇：</b> 大豆中的有益脂肪有助於降低低密度脂蛋白（「壞」）膽固醇，
            降低心臟病的風險。 <br>
            <b> 改善消化：</b>纖維也有助於調節腸道並防止便秘。 <br>
            <b> 增強免疫系統：</b> 大豆富含維生素和礦物質，有助於增強免疫系統
            免疫，保護身體免受疾病侵害。 <br>
            <b> 促進飽足感：</b> 大豆中的纖維和蛋白質可促進飽足感，有助於控制
            體重。 <br>


        <p style="margin-left: 6em;"> <b> 挑戰與永續性：</b>

        <p style="margin-left: 8em;"> 巴西的大豆種植面臨一些挑戰，例如：

        <p style="margin-left: 10em;"> <b> 森林砍伐：</b>大豆種植面積的擴大可能導致
            森林砍伐，對環境造成負面影響。 <br>
            <b>使用殺蟲劑：</b> 過量使用殺蟲劑除了危害土壤和水外，還會污染土壤和水。
            人類健康和環境。 <br>
            <b>土地集中：</b> 大豆生產集中在少數人手中，這可能導致
            社會不平等和收入集中。 <br>


        <p style="margin-left: 6em;"> <b> 必須尋求應對這些挑戰的解決方案，例如：</b>

        <p style="margin-left: 8em;"> <b> 採用永續農業實踐：</b> 精準農業、管理
            水土保持、輪作等<br>
            <b>減少農藥的使用：</b> 尋求生物替代品來控制病蟲害。 <br>
            <b>推動土地改革：</b> 更公平、公正地分配土地。 <br>

        <p style="margin-left: 6em;"> 大豆是一種具有巨大潛力的穀物，可以滋養世界並為世界做出貢獻
            巴西社會經濟發展。 <br>
            透過投資於永續發展、技術創新和社會責任，我們可以確保大豆生產繼續成為國家成長的引擎，同時不損害環境和人民福祉。
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>