<h1 id="h1Home">Trigo</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/trigo.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        El trigo (Triticum spp.) es una gramínea cultivada en todo el mundo, siendo el segundo cereal más cultivado, detrás del maíz y por delante del arroz. Su grano es muy utilizado en el consumo humano, desde harina de trigo para pan hasta como ingrediente en la elaboración de cerveza. Además, también forma parte de la alimentación animal.<br>
        El trigo es originario de Oriente Medio, más concretamente de la “Media Luna Fértil”, zona geográfica que abarca la sección africana y asiática de la región (antes Mesopotamia). Hacia el 4.000 a.C. se descubrió el proceso de fermentación del trigo, dando lugar a los primeros panes.<br>
        A Brasil, el trigo llegó probablemente en 1534, con Martim Afonso de Souza, quien lo introdujo en una región que hoy forma parte de São Paulo. Las principales zonas productoras de trigo en Brasil son Rio Grande do Sul y Paraná. Para la cosecha 2021/2022, la producción de trigo en Brasil se estima en 8,1 millones de toneladas, un aumento del 5,9% respecto a la última cosecha.<br>
        El trigo es un alimento sumamente importante para nuestra salud en términos de nutrición. Además de ser una importante fuente de energía para el organismo, al ser un carbohidrato, el trigo es un alimento rico en vitaminas y minerales esenciales para la vida humana, como vitaminas del grupo B, potasio, fósforo y magnesio.<br >    </div>
    <br>
    <hr class="rounded">
</div>
