<h1 id="h1Home">Trigo</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/trigo.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">
    <p style="margin-left: 6em;"> <b> Trigo: </b> El corazón de los panes brasileños <br>
    <p style="margin-left: 8em;"> El trigo, un cereal dorado de origen asiático, se ha convertido en uno de los
        alimentos más importantes de la dieta brasileña.
        Presente en las mesas familiares desde hace siglos, el trigo es fundamental para la elaboración de pan, pastas,
        pasteles, galletas y otros productos alimenticios, siendo considerado un alimento básico y versátil.

    <p style="margin-left: 6em;"> <b> Un poco de historia: </b>

    <p style="margin-left: 8em;">
        El trigo fue introducido en Brasil por los colonizadores portugueses en el siglo XVI.
        Inicialmente su cultivo estuvo restringido a pequeñas áreas, pero con el tiempo se fue expandiendo a diferentes
        regiones del país, principalmente en el Sur.
        Actualmente, Brasil es el séptimo productor de trigo del mundo, pero aún depende de importar parte del grano
        para satisfacer la demanda interna.
        El cultivo de trigo en Brasil enfrenta desafíos como la mecanización de la cosecha, la sanidad de las
        plantaciones y la competitividad con el mercado internacional.

    <p style="margin-left: 6em;"> <b> La importancia del trigo en la dieta: </b>

    <p style="margin-left: 8em;">El trigo es un alimento rico en nutrientes, como:

    <p style="margin-left: 10em;">
        <b>Hidratos de Carbono: Fuente de energía para el organismo. </b> <br>
        <b> Proteínas: </b> Importantes para el desarrollo y reparación de los tejidos musculares. <br>
        <b> Fibras: </b> Ayudan a la digestión, regulan el intestino y favorecen la saciedad. <br>
        <b> Vitaminas: </b> Rica en vitaminas del complejo B, como B1, B2 y B6, importantes para el metabolismo
        energético, el sistema nervioso y la función muscular. <br>
        <b>Minerales: </b>Fuente de hierro, fósforo, magnesio y potasio, minerales esenciales para el buen
        funcionamiento del organismo. <br>

    <p style="margin-left: 6em;"> <b>Beneficios para la salud:</b>

    <p style="margin-left: 8em;"> El consumo regular de productos integrales puede aportar varios beneficios para la
        salud, como por ejemplo:

    <p style="margin-left: 10em;">
        <b> Prevenir enfermedades crónicas: </b> Ayuda a prevenir enfermedades crónicas como diabetes tipo 2,
        enfermedades cardíacas y algunos tipos de cáncer. <br>
        <b> Controla el colesterol: </b> La fibra presente en el trigo integral ayuda a reducir el colesterol LDL
        ("malo"), reduciendo el riesgo de enfermedades cardíacas. <br>
        <b> Mejora la digestión: </b> Las fibras también ayudan a regular los intestinos y previenen el estreñimiento.
        <br>
        <b> Fortalecer el sistema inmunológico: </b> Rico en vitaminas y minerales, el trigo integral ayuda a fortalecer
        el sistema inmunológico, protegiendo el organismo contra enfermedades. <br>
        <b> Promueve la saciedad: </b> Las fibras y proteínas del trigo integral promueven la saciedad, ayudando a
        controlar el peso corporal. <br>

    <p style="margin-left: 6em;"> <b> El trigo en la cultura brasileña: </b>

    <p style="margin-left: 8em;"> El trigo está presente en varias tradiciones y costumbres brasileñas, como:

    <p style="margin-left: 10em;">
        <b> Fiesta de la Cosecha del Trigo: </b> Celebración de la cosecha del trigo en diferentes regiones del país,
        con música, baile y comidas típicas. <br>
        <b> Pan de Trigo Casero: </b> Un alimento básico en la mesa de las familias brasileñas, presente en varias
        recetas y guarniciones. <br>
        <b> Tarta de Trigo: </b> Un postre tradicional y versátil, disfrutado en muchas ocasiones. <br>
        <b> Galletas de Trigo: </b> Un snack sabroso y nutritivo, ideal para cualquier momento del día. <br>

    <p style="margin-left: 6em;"> <b> El futuro del trigo en Brasil: </b>

    <p style="margin-left: 8em;"> El futuro del trigo en Brasil depende de las inversiones en investigación y
        desarrollo, la búsqueda de nuevas variedades más resistentes a enfermedades y plagas, la modernización de la
        infraestructura de producción y almacenamiento y la Promoción del consumo de productos a base de trigo integral.
        <br>
        Con esfuerzos conjuntos del gobierno, la industria y la sociedad civil, Brasil puede convertirse en un productor
        de trigo más eficiente y sostenible, satisfaciendo la demanda interna e incluso exportando el excedente de
        producción. <br>
        El trigo es un cereal importante para la alimentación, la cultura y la economía brasileñas. <br>
        Consumiendo productos a base de trigo integral contribuyes a una alimentación más sana y nutritiva y al
        desarrollo del país.
        <br>
        <br>
        <hr class="rounded">
</div>