<h1 id="h1Home">銅</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/cobre.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        銅是一種化學元素，符號為Cu，原子序29，原子質量63.55，屬於元素週期表第11族。 它是一種具有低調黃紅色的金屬，具有輕微不透明的光澤和宜人的外觀。 銅具有很強的耐腐蝕性且非常不活潑。 它是導電率第二高的金屬，僅次於銀。<br>
        在自然界中，銅以三種形式存在：黃銅礦（硫化銅和鐵）、輝銅礦（硫化銅）和孔雀石（碳酸銅）。 銅可以發生不同類型的化學反應，其最著名的產物是硫酸銅。<br>
        自新石器時代以來，人類就認識了銅，當時它被用來生產工作工具、武器和器皿。 它可以以其純淨形式使用，也可以與其他金屬結合使用，例如，銅和錫之間的合金起源於青銅時代1。<br>
        銅的主要應用之一是用於生產金屬合金，這是由兩種或多種成分的混合物形成的材料，其中至少一種是金屬。 用銅生產的金屬合金有 1,000 多種。 一些例子有：黃銅（銅+ 鋅）、青銅（銅+ 錫）、白銀（銅+ 鎳）、18 克拉金（金+ 銀+ 銅）和汞合金（銀+ 錫+ 銅+ 汞）。< br >
        目前，大部分金屬用於生產電線、電話、照明和電信電纜。 銅也用於製造炊具，因為它是一種優良的導熱材料。<br>
        銅是對人體正常運作也很重要的礦物質之一。 它在血液中濃度較低，但具有與酶活性和血細胞形成相關的功能。 富含銅的食物有：海鮮、雞蛋、牛肉和豬肉、杏仁、蘑菇、葵花籽、豆類和堅果。<br>    </div>
    <br>
    <hr class="rounded">
</div>