<div id="pagHome" class="content">
    <h1 id="h1Home">銅</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/cobre.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> 銅：</b> 現代性的基本金屬<br>
        <p style="margin-left: 8em;">
            銅是一種具有高導電性和導熱性的延展性金屬，是一種脫穎而出的元素
            現代社會發展的根本。
            銅存在於多個工業領域，確保了我們的基本設備的正常運行
            日復一日，從能源生產到數位通訊。

        <p style="margin-left: 6em;"> <b> 豐富歷史的金屬：</b>

        <p style="margin-left: 8em;">
            銅的使用可以追溯到數千年前，美索不達米亞地區的使用記錄可追溯至公元前 6000 年左右。
            縱觀歷史，銅曾被用於多種用途，例如：

        <p style="margin-left: 10em;">
            <b>製造工具和武器：</b>在史前時代，銅被用來製造工具和武器，
            由於其可塑性和抵抗力。 <br>
            <b>建築：</b>銅被用來建造房屋、寺廟和其他紀念碑，主要是因為它的
            耐腐蝕性能。 <br>
            <b>貨幣：</b>在一些古代文明中，銅因其價值和價值而被用作交換貨幣。
            耐用性。 <br>
            <b>裝飾物品：</b>銅也用於製造裝飾物品，例如花瓶、雕塑和
            珠寶。 <br>

        <p style="margin-left: 6em;"> <b> 銅的獨特特性：</b>

        <p style="margin-left: 8em;">
            銅具有多種特性，使其成為多種應用的重要金屬：

        <p style="margin-left: 10em;">
            <b> 高導電性：</b> 銅是最好的電導體之一，用於製造
            電線、電纜、電動機和其他電子元件。 <br>
            <b>高導熱性：</b>銅也是一種優良的熱導體，用於水管
            熱水、熱交換器和散熱器。 <br>
            <b>延展性和延展性：</b>銅是一種具有延展性和延展性的金屬，可以輕鬆塑造成不同的形狀。
            形狀，這有助於其在不同類型的應用中使用。 <br>
            <b>耐腐蝕：</b>銅是一種耐腐蝕金屬，非常適合在潮濕環境中使用
            或生理食鹽水。 <br>
            <b>可回收性：</b>銅是一種高度可回收的材料，有助於環境的永續發展。 <br>


        <p style="margin-left: 6em;"> <b>銅在現代性的應用：</b>

        <p style="margin-left: 8em;">
            銅是當今世界上最常用的金屬之一，在不同領域具有多種應用：

        <p style="margin-left: 10em;">
            <b>能源生產和分配：</b>銅對於能源的生產、傳輸和分配至關重要
            電氣，用於電線、電纜、變壓器和其他零件。 <br>
            <b>土木建築：</b>銅用於冷熱水管、電線、屋頂等
            土木建築構件。 <br>
            <b>電子：</b>銅用於各種電子元件，如印刷電路、電線、電纜和
            連接器。 <br>
            <b> 汽車：</b> 銅用於電線、電動馬達、散熱器和其他車輛零件
            機動車。 <br>
            <b>工業：</b>銅用於各種工業設備，例如發動機、管道、熱交換器和
            其他組件。 <br>

        <p style="margin-left: 6em;"> <b> 銅的永續未來：</b>

        <p style="margin-left: 8em;">銅仍將是現代社會發展不可或缺的金屬，前景廣闊
            受再生能源、電氣化和城市化需求不斷增長的推動。 <br>

            回收銅對於確保其使用的可持續性、減少影響至關重要
            其生產對環境的影響。 <br>

            銅是我們日常生活中不可或缺的金屬，有助於科技發展、生產
            能源、建築和全球經濟的其他幾個部門。 <br>

            投資銅的研究、開發和回收對於確保更光明的未來至關重要
            地球和國家的永續發展為了下一代。
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>