<h1 id="h1Home">玉米</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milho.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        玉米是世界上使用最多且營養豐富的穀物之一。 據信它起源於前哥倫布時期的美洲。 玉米富含碳水化合物、蛋白質、維生素（主要是B1和E）和礦物質。 玉米皮是豐富的纖維來源，對於維持腸道節律非常重要。<br>
        儘管玉米是玉米粥和帕莫尼亞等多種巴西菜餚中的成分，但在巴西餐桌上的直接或間接消費量非常低。 據 Embrapa 稱，巴西生產的玉米中只有 5% 直接被人類食用。
        大部分（65%）用作動物飼料。<br>
        玉米是一種穀物，在全世界農業和工業中佔有重要地位。 其多功能性和廣泛的應用使其成為人類營養以及動物飼料生產、生物塑料、燃料和多種工業產品製造中的重要組成部分。<br>
        世界上最大的玉米生產國是美國。 巴西是世界第三大生產國。 因此，玉米與大豆一起約佔巴西糧食總產量的 80% 左右。 最大的生產國是巴拉那州、南里奧格蘭德州、米納斯吉拉斯州、戈亞斯州和聖保羅州。<br>    </div>
    <br>
    <hr class="rounded">

</div>