<h1 id="h1Home">Açucar ICUMSA 600-1200</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/acucaric600.jpg" width="200" height="200">
    <br>
    <br>
    <div  class="textFont">

        <p>O açúcar ICUMSA 600-1200 é um tipo específico de açúcar que tem algumas características distintas. Vamos explorar mais sobre ele:

            <p style="margin-left: 2em;" >O que é o açúcar ICUMSA 600-1200?
            <p style="margin-left: 4em;" >O termo “ICUMSA” significa “International Commission for Uniform Methods of Sugar Analysis” (Comissão Internacional para Métodos Uniformes de Análise de Açúcar). É uma organização que estabelece padrões para a análise de açúcares.
            <p style="margin-left: 4em;" >O número “600-1200” refere-se à faixa de valores da cor do açúcar, medida em unidades ICUMSA. Essa escala de cor é usada para classificar a cor do açúcar branco refinado.
            <p style="margin-left: 4em;" ><b>Açúcar ICUMSA 600-1200</b> é considerado um açúcar de cor mais escura em comparação com o açúcar refinado padrão (geralmente com valores ICUMSA mais baixos).
            <p style="margin-left: 4em;" >Ele pode ser usado em várias aplicações, como na indústria de alimentos e bebidas, na fabricação de doces, na panificação e em produtos confeitados.
            <p style="margin-left: 4em;" >A cor mais escura pode ser devida a impurezas ou ao processo de refino.</p>
        Nota: A cor do açúcar não afeta apenas a aparência, mas também pode influenciar o sabor e a textura dos produtos finais.

    </div>
    <br>
    <hr class="rounded">
</div>
