<div id="pagHome" class="content">
    <h1 id="h1Home">Grain Sorghum</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sorgogranifero.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b>Grain Sorghum: </b> A Promising Cereal for the Future of Brazilian Agriculture
            <br>

        <p style="margin-left: 8em;">
            Grain sorghum, also known as millet, has stood out as a promise for the future of
            Brazilian agriculture. <br>
            With unique characteristics and high productive potential, sorghum presents itself as a sustainable and
            resilient way to diversify grain production in the country, contributing to food security and
            rural development.

        <p style="margin-left: 6em;"> <b> A Versatile and Adaptable Cereal: </b>

        <p style="margin-left: 8em;">
            <b>Climate and Soil:</b>
            Sorghum adapts to different climates and soil types, from semi-arid regions to areas with high
            rainfall, even tolerating saline and acidic soils. <br>
            <b> Short Cycle: </b> It has a short cultivation cycle, which allows planting at different times of the year
            and
            rotation
            of crops, optimizing land use. <br>
            <b> Drought Resistance: </b> Sorghum is highly resistant to drought, a crucial trait for cultivation in
            regions
            with low water availability. <br>
            <b> Diseases and Pests: </b> It has lower susceptibility to diseases and pests compared to other cereals,
            reducing the
            need to use pesticides.

        <p style="margin-left: 6em;"> <b> Benefits for Brazilian Agriculture: </b>

        <p style="margin-left: 8em;">
            <b>Production Diversification:</b>
            Sorghum cultivation contributes to the diversification of grain production in Brazil,
            reducing dependence on soybeans and corn. <br>
            <b> Food Security: </b> Ensures greater food security for the population, as it offers an alternative
            to feed
            nutritious and easy to produce. <br>
            <b> Sustainability: </b> Sorghum is a sustainable cereal, as it requires less water, fertilizers and
            pesticides
            in
            compared to other cereals. <br>
            <b> Rural Development: </b> Boosts rural development, generating income and opportunities for small
            farmers.

        <p style="margin-left: 6em;"> <b> Various Applications: </b>

        <p style="margin-left: 8em;">
            Grain sorghum has several applications, such as:

        <p style="margin-left: 10em;">
            <b> Human Food: </b> Fresh grains, sorghum flour, sorghum flakes, sorghum oil, etc. <br>
            <b> Animal Feed: </b> Source of energy and nutrients for raising cattle, pigs, poultry and other animals.
            <br>
            <b> Biofuels: </b> Production of ethanol and biogas, renewable and sustainable fuels. <br>
            <b> Industry: </b> Production of plastics, rubber, pharmaceuticals, cosmetics and other products.

        <p style="margin-left: 6em;"> <b> A Promising Future: </b>

        <p style="margin-left: 8em;">
            Grain sorghum has a promising future in Brazil. <br>
            With investments in research and development, technological innovation and public incentive policies,
            sorghum
            can become an important cereal for Brazilian agriculture, contributing to the diversification of
            production, food security, sustainability and rural development. <br>
            Grain sorghum represents an opportunity for Brazil to build a more resilient agriculture,
            sustainable and prosperous, ensuring food security for the population and boosting the country's
            development.
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>