<h1 id="h1Home">Grain Sorghum</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgogranifero.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        <p>Grain sorghum is a type of sorghum with specific characteristics and diverse applications. Let’s explore more details about it:

            <p><b>What is grain sorghum? </b>
            <p style="margin-left: 2em;">Grain sorghum (Sorghum bicolor) is a species of cereal that belongs to the Poaceae family, the same family as corn.
            Also known as Guinea corn, grain sorghum is versatile and of great economic importance.
            Its plants are short, up to 170 cm tall, and produce grains at the upper end of the plant.
            Grain sorghum grains are the main product and are mainly used in the animal feed industry. Furthermore, they can be used in the form of silage.<br>
            <p><b>Economic and social benefits:</b>
            <p style="margin-left: 2em;">Grain sorghum is a safe and profitable alternative for grain production in the off-season (winter harvest).
            It has low susceptibility to mycotoxins and great tolerance to toxic aluminum in the soil and water stress.
            Its productivity varies between 4 and 6 tons per hectare, making it an interesting choice for producers.
            Sorghum grains are used in the manufacture of animal feed, benefiting animal breeders and the feed industry.
            <p><b>Cultivation and characteristics:</b>
            <p style="margin-left: 2em;">Grain sorghum is 100% mechanized, from planting to harvesting.
            Its panicle is small and compact, located at the upper end of the plant.
            It is a drought-tolerant crop and ideal for arid lands.
            In addition to the grains, after harvesting, the rest of the still green plant can be used as hay or for grazing.
            <p>In summary, grain sorghum is a promising option for Brazilian farmers, offering economic and environmental benefits amid climate challenges.
    </div>
    <br>
    <hr class="rounded">
</div>
