<h1 id="h1Home">ICUMSA 45 sugar</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/acucaric45.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        <p>ICUMSA 45 sugar is one of the most sought after types by global sugar importers due to its purity and degree of whiteness. Let's explore more about it:</p>

        <p><b>What is ICUMSA 45 sugar?</b>
            <p style="margin-left: 2em;">The term “ICUMSA” stands for “International Commission for Uniform Methods of Sugar Analysis”. It is an acronym that denotes quality standards for different types of sugar.</p>
            <p style="margin-left: 2em;"><b>ICUMSA 45 sugar</b> is known as <b>white sugar</b>. It is highly refined and suitable for human consumption and use in a wide range of food production.
        Its appearance is sparkling white and its purity is high, with 99.8% sucrose in its composition.
        The ICUMSA 45 sugar refinement process removes bacteria and contaminants present in raw sugar, making it safer for consumption.
        <p><b>Characteristics of ICUMSA 45 Sugar:</b><br>
        <p style="margin-left: 2em;"><b>Polarization:</b> Minimum 99.80 degrees.<br>
        <b>Ash content:</b> Maximum 0.04%.<br>
        <b>Solubility:</b> 100% (dry and free from retardation).<br>
        <b>Color:</b> Sparkling white.<br>
        <b>Granulation:</b> Fine.<br>
        <b>Moisture:</b> Maximum 0.04%.</p><br>
        <b>Applications:</b>
        <p style="margin-left: 2em;">ICUMSA 45 sugar is commonly used in the food and beverage industry, especially in applications where a pure white appearance is crucial.
        Its solubility is 100% DTR (Within Internationally Accepted Limits) and free flowing, ensuring ease of application.
        Therefore, if you are looking for high quality sugar for your needs, <b>ICUMSA 45 sugar</b> is an excellent choice!
    </div>    
    <br>
    <hr class="rounded">
</div>
