<h1 id="h1Home">Sugar Cane</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/canadeacucar.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        Sugarcane (Glycine max) is a thin, fibrous plant with a cylindrical shape and long leaves. It can reach up to six meters in height and is from the same family as rice, corn, barley and other grasses. Its stem is rich in sucrose, which makes sugarcane the main raw material for sugar, an essential food for humans. Furthermore, sugar cane is also the main source of alcohol, especially ethanol, which is economically important as an alternative fuel.<br>

        Sugar cane originates in Oceania, more precisely in what is now the island of New Guinea, north of Australia. It does very well in places with a tropical and subtropical climate, such as Brazil, where it is widely cultivated. In Brazil, sugar cane arrived around 1520, brought by the Portuguese. It prospered mainly in the Northeast of the country, being responsible for transforming Brazil into the largest producer and exporter of sugar in the period that extended until the 17th century. Today, most of the sugarcane fields are located in the interior region of São Paulo.<br>

        Sugarcane is also used in its natural state as pasture consumed by cattle, or as an ingredient in foods such as rapadura, molasses, brandy, among other products. Sugarcane also has other purposes. It is used in its natural state as pasture consumed by cattle, or as an ingredient in foods such as rapadura, molasses, brandy, among other products.<br>    </div>
    <br>
    <hr class="rounded">
</div>
