<div id="pagHome" class="content">
    <h1 id="h1Home">咖啡</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/cafe.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> 巴西咖啡：</b> 征服世界的風味
        <p style="margin-left: 8em;">巴西咖啡因其卓越的風味和香氣而受到國際認可
            和品質。巴西咖啡生長在氣候和海拔理想的地區，因其多樣性而脫穎而出
            混合和烘焙，滿足最多樣化的口味。

        <p style="margin-left: 6em;"> <b> 一點歷史：</b>
        <p style="margin-left: 8em;">巴西咖啡的歷史可以追溯到 18 世紀，當時引入了幼苗
            在國內。從那時起，咖啡已成為巴西文化和經濟的重要組成部分。今天，巴西是
            世界上最大的咖啡生產國和出口國，約佔全球產量的三分之一。

        <p style="margin-left: 6em;"> <b>巴西咖啡的特色：</b>
        <p style="margin-left: 8em;"> <b> 風味：</b> 巴西咖啡風味濃鬱，具有以下特徵：
            它們根據種植地區和烘焙類型而有所不同。 <br>
            <b> 香氣：</b> 巴西咖啡的香氣濃鬱，果香濃鬱，帶有巧克力、香料和鮮花的香氣。
            <br>
            <b>酸度：</b>巴西咖啡的酸度普遍較低，因此喝起來順滑平衡。
            <br>
            <b> 酒體：</b> 巴西咖啡的酒體從中度到濃鬱不等，取決於烘焙程度。 <br>

        <p style="margin-left: 6em;"> <b> 巴西咖啡的種類：</b>

        <p style="margin-left: 8em;"> <b> 阿拉比卡咖啡：</b> 巴西最常見的咖啡品種，以其風味而聞名
            香氣高級而複雜。 <br>
            <b> 羅布斯塔：</b> 較強的品種，咖啡因含量較高，味道較苦。 <br>
            <b> 自然：</b> 咖啡乾燥過程，咖啡豆在陽光下乾燥，保留其果味。
            <br>
            <b> 水洗：</b> 咖啡乾燥過程，在乾燥之前對咖啡豆進行清洗，從而產生
            更乾淨、更酸的味道。 <br>

        <p style="margin-left: 6em;"> <b> 世界上的巴西咖啡：</b>

        <p style="margin-left: 8em;">巴西咖啡因其卓越的品質和
            多功能性。 <br>
            它用於不同類型的飲料，如濃縮咖啡、卡布奇諾、拿鐵瑪奇朵和過濾咖啡。 <br>

            巴西咖啡也是多種烹飪食譜的重要成分，例如蛋糕、派和
            糖果。 <br>

        <p style="margin-left: 6em;"> <b>巴西咖啡的好處：</b>

        <p style="margin-left: 8em;">富含抗氧化劑，可對抗自由基並保護人體細胞。
            <br>
            咖啡因的來源，可提高警覺性和注意力。 <br>
            有助於消化和新陳代謝。 <br>
            它可以降低一些慢性疾病的風險，例如第 2 型糖尿病和神經退化性疾病。 <br>

        <p style="margin-left: 6em;"> <b> 結論：</b>

        <p style="margin-left: 8em;">巴西咖啡是征服世界各地味蕾的高品質產品。
            世界。其豐富的歷史、獨特的風味和多種功效使其成為任何場合的理想飲品。
            <br>

            如果您還沒有嘗試過巴西咖啡，我邀請您嘗試！我相信你會的
            愛上這種美味又特別的飲料。
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>