<div id="pagHome" class="content">
    <h1 id="h1Home">Gold</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/ouro.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Gold: </b> A Precious Metal with History, Meaning and Various Applications
            <br>

        <p style="margin-left: 8em;">
            Gold, a noble metal known for its unparalleled shine and golden color, transcends monetary value and becomes
            highlights
            for its rich history, symbolism and versatility.

        <p style="margin-left: 6em;"> <b> Through the ages, gold conquered humanity and became: </b>

        <p style="margin-left: 8em;">
            <b> Symbol of wealth and power: </b> Since ancient times, gold has been associated with royalty, prosperity
            and
            social status.
            Kings, queens and emperors sported gold jewelry and adornments, demonstrating their wealth and power. <br>
            <b> Currency of exchange: </b> For centuries, gold served as the basis for monetary systems of various
            civilizations. Your
            durability, rarity, and beauty have made it a reliable and universal medium of exchange. <br>
            <b> Object of art and decoration: </b> Gold has inspired artists and artisans throughout history, being used
            in creating
            sculptures, paintings, jewelry, decorative objects and even musical instruments. <br>
            <b> Store of value: </b> In times of economic instability, gold becomes a safe haven for
            investments, because
            maintains its value over time. <br>
            <b> Industrial metal: </b> Despite its luxurious image, gold also has important applications in
            industry, as in
            electronics, dentistry and even medicine.

        <p style="margin-left: 6em;"> <b> Unique Properties of Gold: </b>

        <p style="margin-left: 8em;">
            <b> Malleability and ductility: </b> Gold is one of the most malleable and ductile metals in the world,
            allowing
            be shaped
            in very fine threads or extremely thin sheets. <br>
            <b> Corrosion resistance: </b> Gold is highly resistant to corrosion and oxidation, maintaining its shine
            and
            beauty by
            centuries. <br>
            <b> Excellent conductor of heat and electricity: </b> Gold has high thermal and electrical conductivity,
            making it ideal
            for various technological applications. <br>
            <b>Biocompatibility:</b>Gold is a biocompatible material, which means it does not cause allergic reactions
            on body
            human, allowing its use in medical and dental implants.

        <p style="margin-left: 6em;"> <b> Production and Extraction: </b>

        <p style="margin-left: 8em;">
            Gold is found in nature in many places around the world, usually in the form of nuggets or mineral veins.
            <br>
            Its extraction can be carried out through different methods, such as artisanal mining, on a small scale, or
            The
            large-scale mining, using heavy machinery and advanced techniques.

        <p style="margin-left: 6em;"> <b> Brazil: </b>

        <p style="margin-left: 8em;">
            Brazil is one of the largest gold producers in the world, with emphasis on the Amazon region. <br>
            Mining activities, however, must be carried out responsibly, with respect for the environment and
            local communities, to ensure the sustainability of the sector and the preservation of natural resources.

        <p style="margin-left: 6em;"> <b>The future of gold: </b>

        <p style="margin-left: 8em;">
            Gold continues to be a valuable and coveted asset, with diverse applications in different areas. <br>

            Demand for gold is expected to remain strong in the coming years, driven by factors such as economic
            uncertainty,
            O
            growth of the global middle class and the search for safe investments. <br>

        <p style="margin-left: 6em;"> Therefore, gold remains a precious metal that has fascinated humanity for
            centuries
            and will continue to play a role
            important in history, culture and the global economy.
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>