<h1 id="h1Home">高粱掃把</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgovassoura.jpg" width="200" height="200">
    <br>
    <br>
    <div class="textFont">

        <p>高粱是一種有趣的作物，有多種用途。我將提供有關該主題的摘要：

            <p style="margin-left: 2em;"><b>使用形態農藝描述子來表徵高粱掃帚種質：</b>
            <p style="margin-left: 3em;">維索薩聯邦大學 (UFV) 進行的一項研究使用形態農學描述符對 66 個高粱掃帚種質進行了表徵。目的是選擇有前景的商業種植材料1。
            評估的描述符包括成年植物、莖、葉、圓錐花序和穎果的特徵。
            本研究旨在提高高粱的生產和利用。
            <p style="margin-left: 2em;"><b>高粱類型</b>：
            <p style="margin-left: 3em;">高粱有多種類型，高粱就是其中之一。
            掃帚型高粱組用於製造掃帚，而生物質組用於能源生產，其熱值與甘蔗、桉樹和像草相似2。
            <p style="margin-left: 2em;"><b>高粱掃帚的起源與用途：</b>
            <p style="margin-left: 3em;">高粱是禾本科植物，原產於非洲大陸。
            該植物最常用的部分是圓錐花序，用於製造高粱掃帚（在聖保羅州也稱為“caipira broom”）的稻草就來自於圓錐花序。
    </div>
    <br>
    <hr class="rounded">
</div>