<div id="pagHome" class="content">
    <h1 id="h1Home">高粱掃把</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sorgovassoura.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">

        <p style="margin-left: 6em;"> <b>高粱：</b>一種具有多種用途的植物<br>
        <p style="margin-left: 8em;">
            高粱，又稱高粱或巫婆帚，是一種原產於非洲和歐洲的植物。
            亞洲
            非常適合巴西的氣候。 <br>
            高粱以其質樸、耐旱、對土壤類型的適應性強，已成為
            一
            植物具有重大的經濟和社會重要性，特別是在該國最乾燥的地區。

        <p style="margin-left: 6em;"> <b> 不只是掃帚：</b>

        <p style="margin-left: 8em;">
            雖然俗名是高粱，但這種植物還有其他幾種用途，例如：

        <p style="margin-left: 10em;">
            <b>動物飼料：</b>高粱是牲畜飼料的重要來源，提供
            營養和能量
            對於動物。 <br>
            <b>生物質：</b>該植物可用於生產生物質以產生再生能源，例如
            沼氣和
            生物燃料。 <br>
            <b>土木建築：</b>高粱稈可用於製造生態磚和
            面板的
            海豹。 <br>
            <b>手工藝品：</b>該植物的纖維可用於製作籃子、帽子、袋子等
            物體
            手工製作的。

        <p style="margin-left: 6em;"> <b> 環境效益：</b>

        <p style="margin-left: 8em;">
            種植高粱為環境帶來了多種好處，例如：

        <p style="margin-left: 10em;">
            <b>侵蝕控制：</b>
            該植物的深層根係有助於保護土壤免受侵蝕，特別是在
            傾斜區域。 <br>
            <b>提高土壤肥力：</b>高粱掃帚中有機質的分解有助於
            增加
            土壤肥力，使其養分更豐富。 <br>
            <b>減少農藥的使用：</b>高粱被認為是抗病蟲害的植物，
            什麼減少了
            在其生產過程中需要使用殺蟲劑。 <br>
            <b>碳捕獲：</b>該植物有助於捕獲和儲存大氣中的碳，有助於
            打擊
            氣候變遷。

        <p style="margin-left: 6em;"> <b> 潛力巨大的植物：</b>

        <p style="margin-left: 8em;">
            高粱對巴西來說是一種具有巨大潛力的植物，特別是在氣候乾燥和乾旱的地區。
            半乾旱。 <br>
            憑藉其多種用途和效益，該植物可以為社會經濟發展做出貢獻
            可持續的，
            為農村社區創造收入並保護環境。 <br>

            投資研發、傳播其特性、增加其價值
            產品
            一些行動可以進一步促進高粱在巴西的使用，並有助於
            未來
            更綠色、更永續。 <br>

            高粱不僅僅是一種植物。它是機會、利益和
            永續性
            到巴西。
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>