<h1 id="h1Home">Soja</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/soja.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        La soja (Glycine max) es una leguminosa originaria del este de Asia, pero ahora se cultiva y consume ampliamente en todo el mundo. La soja es una de las semillas más conocidas del mundo y es fundamental para el sistema de producción. En Brasil, la soja representa el 56% del área plantada con granos en el país.<br>
        La soja está compuesta por proteínas, fibras, monosacáridos, oligosacáridos, aceites, calcio, fósforo, hierro, sodio, potasio, magnesio, cobre, carbohidratos, lípidos, vitaminas B y E, omega 3 y 6. Es una buena fuente de proteínas. y, a diferencia de muchos otros alimentos ricos en proteínas, es bajo en grasas saturadas y no contiene colesterol.<br>
        En Brasil, el grano fue muy importante en 1901, a partir de entonces, en esa fecha, se inició el cultivo en la Estación Agrícola de Campinas y la semilla comenzó a distribuirse a los productores de São Paulo. En 2021, Brasil lideró el ranking como mayor productor y exportador del grano, con una producción de 135.409 millones de toneladas.<br>
        Los mayores productores de soja de Brasil son Mato Grosso, Paraná, Rio Grande do Sul y Goiás. Se estima que la producción aumentará de 135.409 millones de toneladas a 140,75 millones de toneladas, manteniendo al país como el mayor productor de granos del mundo. .<br>    </div>
    <br>
    <hr class="rounded">
</div>
