<div id="pagHome" class="content">
    <h1 id="h1Home">Soja Convencional</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sojaconvencional.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">

        <p style="margin-left: 6em;"> <b> Soja Convencional: </b> Um Pilar da Agricultura Brasileira com Desafios e
            Oportunidades <br>
        <p style="margin-left: 8em;">
            A soja convencional, cultivada sem o uso de técnicas de modificação genética, se destaca como um dos
            principais
            produtos agrícolas do Brasil. <br>
            Sua produção em larga escala impulsiona a economia nacional, gera empregos e contribui para a segurança
            alimentar
            global. <br>
            No entanto, o cultivo da soja convencional também apresenta desafios socioambientais que precisam ser
            seriamente
            considerados e solucionados.

        <p style="margin-left: 6em;"> <b> Um Gigante Agrícola: </b>

        <p style="margin-left: 8em;">
            <b> Maior produtor e exportador mundial: </b>
            O Brasil detém o título de maior produtor e exportador de soja do mundo,
            respondendo por cerca de um terço da produção global. <br>
            <b> Importância econômica: </b>
            A soja representa um pilar fundamental para a economia brasileira, gerando milhões de
            empregos diretos e indiretos e contribuindo significativamente para o PIB do país. <br>
            <b> Segurança alimentar: </b>
            A produção em larga escala da soja garante a segurança alimentar nacional e global, fornecendo
            uma fonte de proteína vegetal rica e nutritiva para a população mundial. <br>

        <p style="margin-left: 6em;"> <b> Desafios Socioambientais: </b>

        <p style="margin-left: 8em;">
            <b> Desmatamento: </b>
            O desmatamento para a expansão das áreas de cultivo da soja convencional é um dos principais
            desafios socioambientais, causando perda de biodiversidade, emissões de gases de efeito estufa e degradação
            do solo. <br>
            <b> Uso intensivo de agrotóxicos: </b>
            O cultivo da soja convencional depende do uso intensivo de agrotóxicos, que podem
            contaminar o solo, a água e os alimentos, além de prejudicar a saúde humana e o meio ambiente. <br>
            <b> Resistência de pragas e doenças: </b>
            O uso frequente dos mesmos agrotóxicos pode levar ao desenvolvimento de resistência
            em pragas e doenças, exigindo a aplicação de novos produtos químicos e aumentando os custos de produção.
            <br>
            <b> Impactos sociais: </b> A expansão das monoculturas de soja pode gerar impactos sociais negativos, como
            concentração
            de terras, conflitos por terra e migração rural.

        <p style="margin-left: 6em;"> <b> Caminhos para um Futuro Sustentável: </b>

        <p style="margin-left: 8em;">
            <b> Agricultura sustentável: </b> A adoção de práticas agrícolas sustentáveis, como a agricultura de
            precisão, a rotação
            de culturas e o manejo integrado de pragas e doenças, é fundamental para reduzir os impactos socioambientais
            do
            cultivo da soja. <br>
            <b> Soja não transgênica certificada: </b> A produção de soja não transgênica certificada por órgãos
            rigorosos oferece
            aos
            consumidores uma opção mais sustentável e com menor impacto ambiental. <br>
            <b> Pesquisa e desenvolvimento: </b> Investir em pesquisa e desenvolvimento de novas variedades de soja mais
            resistentes
            a
            pragas e doenças, com menor necessidade de agrotóxicos e mais adaptadas às diferentes condições climáticas é
            crucial
            para o futuro da soja convencional. <br>
            <b> Diálogo e colaboração: </b> O diálogo entre os diferentes setores da sociedade, como produtores,
            indústria, governo,
            ONGs e consumidores, é essencial para encontrar soluções conjuntas para os desafios socioambientais da soja
            convencional e construir um futuro mais sustentável para o setor. <br>

        <p style="margin-left: 6em;">
            A soja convencional continuará a ser um produto importante para a economia brasileira e para a segurança
            alimentar global. <br>
            No entanto, é fundamental que o seu cultivo seja feito de forma responsável e sustentável, minimizando os
            impactos socioambientais e buscando alternativas para a produção de uma soja mais limpa e amiga do ambiente.
            <br>
            Através da união de esforços e da adoção de práticas agrícolas sustentáveis, podemos garantir que a soja
            convencional continue a contribuir para o desenvolvimento do Brasil e do mundo, sem comprometer o futuro do
            nosso planeta.
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>