<h1 id="h1Home">Soja Convencional</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sojaconvencional.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

        <p>A soja convencional é uma opção de cultivo que não envolve alterações genéticas, mas ainda assim oferece vantagens importantes. Vamos explorar algumas características e benefícios da soja convencional:

        <p><b>Características da Soja Convencional:</b>
            <p style="margin-left: 3em;"><b>Não é Geneticamente Modificada (GM):</b> A soja convencional não passa por modificações genéticas, o que significa que suas características naturais permanecem intactas.
            <p style="margin-left: 3em;"><b>Tecnologia Natural:</b> Embora não seja transgênica, a soja convencional possui tecnologias naturais que ajudam a protegê-la contra doenças e pragas.
            <p style="margin-left: 3em;"><b>Produtividade Competitiva:</b> Mesmo sem as modificações genéticas, a soja convencional pode alcançar níveis de produtividade competitivos.
        <p><b>Cultivares de Soja Convencional:</b> A Embrapa desenvolveu várias cultivares de soja convencional que oferecem opções atrativas para os produtores:
        
                <p style="margin-left: 4em;"><b>BRS 284:</b> Uma cultivar que tem se destacado em concursos nacionais de produtividade, competindo em igualdade com tecnologias transgênicas.
                <p style="margin-left: 4em;"><b>BRSMG 534:</b> Resistente à ferrugem-asiática da soja, proporcionando maior eficiência.
                <p style="margin-left: 4em;"><b>BRS 7781:</b> Ciclo semiprecoce ou precoce, adaptada a diferentes regiões.
                <p style="margin-left: 4em;"><b>BRS 546:</b> Produtiva e permite semeadura antecipada.
                <p style="margin-left: 4em;"><b>BRS 573:</b> Estável em várias regiões.
                <p style="margin-left: 4em;"><b>BRS 523:</b> Precoce, com tolerância ao complexo de percevejos.
                <p style="margin-left: 4em;"><b>BRS 539:</b> Com tecnologias Shield® e Block®, também permite semeadura antecipada.
                <p style="margin-left: 4em;"><b>BRS 531:</b> Resistência à ferrugem-asiática.
                <p style="margin-left: 4em;"><b>BRS 525:</b> Precoce, adequada para rotação com outras culturas.
                <p style="margin-left: 4em;"><b>BRS 517:</b> Precoce, alta produtividade e resistência a doenças.

        <p><b>Instituto Soja Livre:</b><br>
            <p style="margin-left: 3em;">Fundado pela Aprosoja Mato Grosso e Embrapa, o Instituto Soja Livre promove o desenvolvimento do mercado de soja convencional, garantindo a liberdade de escolha do produtor rural na seleção de tecnologias e cultivares que tragam rentabilidade e segurança na safra.<br>
        <p>A soja convencional continua sendo uma alternativa relevante para os agricultores, oferecendo uma opção livre de OGMs e com potencial produtivo.
    </div>
    <br>
    <hr class="rounded">
</div>
