
#header {
    display: flex;
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    justify-content: space-between;
    box-shadow: 0px 4px 4px #ccc;
    background-color: #719c71;

    #logo {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        
        display: flex;
        gap: 40px;
        align-items: center;

        svg {
            cursor: pointer;
        }
    }

    #menu {
        display: flex;
        gap: 30px;
        a {
            text-decoration: none;
            color: #333;
            font-size: 16px;
            &:hover {
                color: dodgerblue;

            }
        }
    }
    
    #title {
        max-width: max-content;
        align-self: center;
    }

}

