<div id="header" >
    <div id="logo">
        <img class="color_icon" alt="menu" 
        title= "{{ sidebarActive ? 'Close Menu' : 'Open Menu'}}"
        [src]="
        sidebarActive
        ? '/carousel/browser/assets/images/icons/left-arrow.svg'           
        : '/carousel/browser/assets/images/icons/menu.svg'
       " (click)="toggleSidebar.emit()" />
    </div>

    <div class="titlenormal">
        {{ this.data.name }}

    </div>

    <div class="titleresume">
        {{'AgroKelvy' }}

    </div>

    <div class="menuhorizontal">

        <div id="menu">
            <div *ngIf="this.service == '服务'">
                <a routerLink="home/chinese">
                    {{ this.home }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="servico/chinese">
                    {{ this.service }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="contato/chinese">
                    {{ this.contact }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="">
                    {{ this.logout }}
                </a>
            </div>
            <div *ngIf="this.service == 'Service'">
                <a routerLink="home/english">
                    {{ this.home }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="servico/english">
                    {{ this.service }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="contato/english">
                    {{ this.contact }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="">
                    {{ this.logout }}
                </a>

            </div>
            <div *ngIf="this.service == 'Serviços'">
                <a routerLink="home/portuguese">
                    {{ this.home }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="servico/portuguese">
                    {{ this.service }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="contato/portuguese">
                    {{ this.contact }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="">
                    {{ this.logout }}
                </a>
            </div>
            <div *ngIf="this.service == 'Servicio'">
                <a routerLink="home/spanish">
                    {{ this.home }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="servico/spanish">
                    {{ this.service }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="contato/spanish">
                    {{ this.contact }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="">
                    {{ this.logout }}
                </a>
            </div>
        </div>
    </div>

    <div class="menuvertical">

        <div class="vertical-menu">
            <div *ngIf="this.service == '服务'">
                <a routerLink="home/chinese">
                    {{ this.home }}
                </a>
                <a routerLink="servico/chinese">
                    {{ this.service }}
                </a>
                <a routerLink="contato/chinese">
                    {{ this.contact }}
                </a>
                <a routerLink="">
                    {{ this.logout }}
                </a>
            </div>
            <div *ngIf="this.service == 'Service'">
                <a routerLink="home/english">
                    {{ this.home }}
                </a>
                <a routerLink="servico/english">
                    {{ this.service }}
                </a>
                <a routerLink="contato/english">
                    {{ this.contact }}
                </a>
                <a routerLink="">
                    {{ this.logout }}
                </a>
            </div>
            <div *ngIf="this.service == 'Serviços'">
                <a routerLink="home/portuguese">
                    {{ this.home }}
                </a>
                <a routerLink="servico/portuguese">
                    {{ this.service }}
                </a>
                <a routerLink="contato/portuguese">
                    {{ this.contact }}
                </a>
                <a routerLink="">
                    {{ this.logout }}
                </a>
            </div>
            <div *ngIf="this.service == 'Servicio'">
                <a routerLink="home/spanish">
                    {{ this.home }}
                </a>
                <a routerLink="servico/spanish">
                    {{ this.service }}
                </a>
                <a routerLink="contato/spanish">
                    {{ this.contact }}
                </a>
                <a routerLink="">
                    {{ this.logout }}
                </a>
            </div>

        </div>

    </div>

    <div class="menuvertical2">

        <div class="vertical-menu2">
            <div *ngIf="this.service == '服务'">
                <a routerLink="home/chinese">
                    {{ this.home }}
                </a>
                <a routerLink="servico/chinese">
                    {{ this.service }}
                </a>
                <a routerLink="contato/chinese">
                    {{ this.contact }}
                </a>
                <a routerLink="">
                    {{ this.logout }}
                </a>
            </div>
            <div *ngIf="this.service == 'Service'">
                <a routerLink="home/english">
                    {{ this.home }}
                </a>
                <a routerLink="servico/english">
                    {{ this.service }}
                </a>
                <a routerLink="contato/english">
                    {{ this.contact }}
                </a>
                <a routerLink="">
                    {{ this.logout }}
                </a>
            </div>
            <div *ngIf="this.service == 'Serviços'">
                <a routerLink="home/portuguese">
                    {{ this.home }}
                </a>
                <a routerLink="servico/portuguese">
                    {{ this.service }}
                </a>
                <a routerLink="contato/portuguese">
                    {{ this.contact }}
                </a>
                <a routerLink="">
                    {{ this.logout }}
                </a>
            </div>
            <div *ngIf="this.service == 'Servicio'">
                <a routerLink="home/spanish">
                    {{ this.home }}
                </a>
                <a routerLink="servico/spanish">
                    {{ this.service }}
                </a>
                <a routerLink="contato/spanish">
                    {{ this.contact }}
                </a>
                <a routerLink="">
                    {{ this.logout }}
                </a>
            </div>

        </div>

    </div>


    <div id="menuimghorizontal">
        <img class="fi fi-ch" alt="Chines" [src]="'/carousel/browser/assets/images/bandeirachina.png'"
            (click)="toogleChineseLanguageSend()" title="Chinese">
        <img class="fi fi-us" alt="Ingles" [src]="'/carousel/browser/assets/images/bandeira-estados_unidos.png'"
            (click)="toogleEnglishLanguageSend()" title="English">
        <img class="fi fi-br" alt="Portugues" [src]="'/carousel/browser/assets/images/bandeirabrasil.jpg'"
            (click)="tooglePortugueseLanguageSend()" title="Portuguese">
        <img class="fi fi-es" alt="Espanha" [src]="'/carousel/browser/assets/images/bandeira-espanha.png'"
            (click)="toogleSpanishLanguageSend()" title="Spanish">
    </div>

    <div id="menuimgvertical">
        <ul>
            <li><img class="fi fi-ch" alt="Chines" [src]="'/carousel/browser/assets/images/bandeirachina.png'"
                    (click)="toogleChineseLanguageSend()" title="Chinese"></li>
            <li><img class="fi fi-us" alt="Ingles" [src]="'/carousel/browser/assets/images/bandeira-estados_unidos.png'"
                    (click)="toogleEnglishLanguageSend()"  title="English"></li>
            <li><img class="fi fi-br" alt="Portugues" [src]="'/carousel/browser/assets/images/bandeirabrasil.jpg'"
                    (click)="tooglePortugueseLanguageSend()"  title="Portuguese"></li>
            <li><img class="fi fi-es" alt="Espanha" [src]="'/carousel/browser/assets/images/bandeira-espanha.png'"
                    (click)="toogleSpanishLanguageSend()" title="Spanish"></li>
        </ul>
    </div>