#header {
    display: flex;
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    justify-content: space-between;
    box-shadow: 0px 4px 4px #ccc;
    background-color: #719c71;

    #logo {
        font-size: 24px;
        font-weight: bold;
        color: #333;

        display: flex;
        gap: 40px;
        align-items: center;
        padding-right: 10px;

        svg {
            cursor: pointer;
        }
    }

    #menu {
        display: flex;
        gap: 30px;

        a {
            text-decoration: none;
            color: #333;
            font-size: 16px;

            &:hover {
                color: dodgerblue;

            }
        }
    }

    #title {
        max-width: max-content;
        align-self: center;
    }

}

#subItem {
    width: 200px;
    padding-left: 40px;
    ;
    font-size: 5px;
}

#iconSpace {
    padding-right: 15px;
    ;
}

#textSubItem {
    font-size: 15px;
    padding-left: 5px;
}

#textSubItemGrande {
    font-size: 15px;
    padding-left: 5px;
}

#iconText {
    font-size: 24px;
    font-weight: bold;
    color: #333;

    display: flex;
    gap: 40px;
    align-items: center;

    svg {
        cursor: pointer;
    }
}

.backColor {
    background-image: url("/assets/images/cafe.jpg");
}



@media screen and ((min-width: 870px) and (max-width: 1599px)) {

    .menuhorizontal {
        display: block;
    }
}

.menuvertical {
    display: none;
    align-items: center;
    padding-right: 20px;

}

@media screen and ((min-width: 300px) and (max-width: 869px)) {
    .menuhorizontal {
        display: none;
    }

    .menuvertical {
        display: block;
        align-items: center;
        padding-right: 20px;
        word-break: keep-all;
    }
}

.vertical-menu {
    width: 100px;
    /* Set a width if you like */
}

.vertical-menu a {
    color: black;
    /* Black text color */
    display: block;
    /* Make the links appear below each other */
    text-decoration: none;
    /* Remove underline from links */
}

@media screen and (min-width: 1680px) {
    img {
        width: 20px;
        height: 20px;
    }
}

@media screen and ((min-width: 870px) and (max-width: 1679px)) {
    img {
        width: 20px;
        height: 20px;
    }
}


@media screen and ((min-width: 360px) and (max-width: 869px)) {
    img {
        width: 20px;
        height: 20px;
    }
}