
<div id="header">
    <div id="logo">
        <img alt="menu" [src]="
        sidebarActive
        ? '/carousel/browser/assets/images/icons/left-arrow.svg'            
        : '/carousel/browser/assets/images/icons/menu.svg'
       " (click)="toggleSidebar.emit()" />
    </div>

    <div class="menuhorizontal">
        {{ this.data.name }}

    </div>

    <div class="menuvertical">
        {{ this.data.name }}

    </div>

    <div class="menuhorizontal">

        <div id="menu">
            <div *ngIf="this.service == '服务'">
                <a routerLink="home/chinese">
                    {{ this.home }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="servico/chinese">
                    {{ this.service }}
                </a>
            </div>
            <div *ngIf="this.service == 'Service'">
                <a routerLink="home/english">
                    {{ this.home }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="servico/english">
                    {{ this.service }}
                </a>
            </div>
            <div *ngIf="this.service == 'Serviços'">
                <a routerLink="home/portuguese">
                    {{ this.home }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="servico/portuguese">
                    {{ this.service }}
                </a>
            </div>
            <div *ngIf="this.service == 'Servicio'">
                <a routerLink="home/spanish">
                    {{ this.home }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="servico/spanish">
                    {{ this.service }}
                </a>
            </div>
            <a routerLink="contato">
                {{ this.contact }}
            </a>
            <a routerLink="">
                {{ this.logout }}
            </a>
        </div>
    </div>

    <div class="menuvertical">

        <div class="vertical-menu">
            <div *ngIf="this.service == '服务'">
                <a routerLink="home/chinese">
                    {{ this.home }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="servico/chinese">
                    {{ this.service }}
                </a>
            </div>
            <div *ngIf="this.service == 'Service'">
                <a routerLink="home/english">
                    {{ this.home }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="servico/english">
                    {{ this.service }}
                </a>
            </div>
            <div *ngIf="this.service == 'Serviços'">
                <a routerLink="home/portuguese">
                    {{ this.home }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="servico/portuguese">
                    {{ this.service }}
                </a>
            </div>
            <div *ngIf="this.service == 'Servicio'">
                <a routerLink="home/spanish">
                    {{ this.home }} &nbsp;&nbsp;&nbsp;
                </a>
                <a routerLink="servico/spanish">
                    {{ this.service }}
                </a>
            </div>
            <a routerLink="contato">
                {{ this.contact }}
            </a>
            <a routerLink="">
                {{ this.logout }}
            </a>

        </div>

    </div>

    <div id="menu">
        <img class="fi fi-ch" alt="Chines" [src]="'/carousel/browser/assets/images/bandeira-china.jpg'"
            (click)="toogleChineseLanguageSend()">
        <img class="fi fi-us" alt="Ingles" [src]="'/carousel/browser/assets/images/bandeira-estados_unidos.png'"
            (click)="toogleEnglishLanguageSend()">
        <img class="fi fi-br" alt="Portugues" [src]="'/carousel/browser/assets/images/bandeira-brasil.png'"
            (click)="tooglePortugueseLanguageSend()">
        <img class="fi fi-es" alt="Espanha" [src]="'/carousel/browser/assets/images/bandeira-espanha.png'"
            (click)="toogleSpanishLanguageSend()">
    </div>