<!--<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/">
            <img class="logo" src="assets\images\agrokelvy2.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a routerLink="{{ routeUrl }}">
            <i class="material-icons">
                {{ icon }}
            </i>
            {{ title }}
        </a>

    </span>
</mat-toolbar>
-->

<div id="header">
    <div id="logo">
        <img
        alt="menu"
        [src]="
        sidebarActive
        ? '/carousel/browser/assets/images/cross.svg'            
        : '/carousel/browser/assets/images/menu.svg'
       "
        (click)= "toggleSidebar.emit()"
        />
        AgroKelvy -- Commodities Internacionais
    </div>
    <div id="menu">
        <a routerLink="">
            Home
        </a>
        <a routerLink="servico">
            Serviços
        </a>
        <a routerLink="contato">
            Contatos
        </a>
        <a routerLink="">
            Logout
        </a>
    </div>
</div>
