<div id="pagHome">
    <h1 id="h1Home">Corn bran</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/milhocanjica.jpg" width="200" height="200">
        <br>
        <br>
    </div>

    <div>
        <p style="margin-left: 6em;"> <b> White Corn Hominy: </b> A Traditional Flavor with Unparalleled Versatility
            <br>

        <p style="margin-left: 8em;">
            White hominy corn, also known as hominy corn, canjica cornmeal or canjicão, is an ingredient
            traditional Brazilian cuisine, present in several sweet and savory dishes. <br>
            Its soft texture and unique flavor make it a versatile food, used in recipes ranging from broths and stews.
            even sweets and cakes.

        <p style="margin-left: 6em;"> <b> Origin and History: </b>

        <p style="margin-left: 8em;">
            White hominy corn originates from Central America and was introduced to Brazil by colonizers
            Portuguese. <br>
            Over the centuries, it has become a popular food in Brazilian food culture, especially in
            rural regions.

        <p style="margin-left: 6em;"> <b> Nutritional Properties: </b>

        <p style="margin-left: 8em;">
            White hominy corn is a food rich in nutrients, such as:

        <p style="margin-left: 10em;">
            <b> Carbohydrates: </b> Source of energy for the body, mainly in the form of starch. <br>
            <b> Proteins: </b> Important for the development and repair of muscle tissues. <br>
            <b> Fibers: </b> They help with digestion, regulate the intestine and promote satiety. <br>
            <b> Vitamins: </b> Rich in B vitamins, such as B1, B2 and B5, important for metabolism
            energy, the
            nervous system and muscular function. <br>
            <b> Minerals: </b> Source of iron, phosphorus, magnesium and potassium, essential minerals for the proper
            functioning of the
            body.

        <p style="margin-left: 6em;"> <b>Health Benefits:</b>

        <p style="margin-left: 8em;">
            Regular consumption of white hominy corn can bring several health benefits, such as:

        <p style="margin-left: 10em;">
            <b> Prevent chronic diseases: </b> Helps in the prevention of chronic diseases such as type 2 diabetes,
            cardiac and
            some types of cancer. <br>
            <b> Control cholesterol: </b> The fiber present in hominy corn helps reduce LDL cholesterol
            ("bad"),
            reducing the risk of heart disease. <br>
            <b>Improve digestion:</b>Fibers also help regulate the intestines and prevent constipation. <br>
            <b> Strengthen the immune system: </b> Rich in vitamins and minerals, hominy corn helps to strengthen the
            system
            immunological, protecting the body against diseases. <br>
            <b> Promote satiety: </b> The fibers and proteins in hominy corn promote satiety, helping to
            control of
            body weight.

        <p style="margin-left: 6em;"> <b>Cooking Versatility:</b>

        <p style="margin-left: 8em;">
            White hominy corn is an extremely versatile ingredient and can be used in various dishes.
            Brazilian cuisine, such as:

        <p style="margin-left: 10em;">
            <b>Hominy:</b>A traditional sweet dish made with hominy, milk, sugar, cinnamon and cloves. <br>
            <b> Pamonha: </b> A savory dish made with grated hominy, milk, cheese, seasonings and cooked on the stove or
            in
            the
            corn leaf. <br>
            <b> Couscous: </b> A dish made with cooked and ground hominy, which can be served sweet or savory. <br>
            <b> Soups and stews: </b> Hominy can be used to add creaminess and flavor to soups and stews.
            <br>
            <b>Cakes and sweets: </b> Hominy can be used in the dough for cakes, pies and other sweets.

        <p style="margin-left: 6em;">
            White hominy corn is a nutritious, versatile and tasty food that should be part of your regular diet.
            all Brazilians. <br>
            In addition to being a traditional and culturally important ingredient, hominy corn offers several benefits
            for health and can be used in a variety of delicious dishes.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>