<h1 id="h1Home">Corn bran</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhocanjica.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        <p style="margin-left: 2em;"><b>White Corn:</b><p>
            <p style="margin-left: 3em;"> A Versatile Grain with Brazilian Roots
            White corn, also known as sprouting corn, is a variety native to Brazil and widely cultivated throughout the country. Its soft, white grains make it an essential ingredient in many traditional dishes, as well as having several industrial applications.
           
            <p style="margin-left: 2em;"><b>Features and Benefits:</b></p>
           
            <p style="margin-left: 3em;">Taste and texture: White corn has a mild and sweet flavor, with a soft and creamy texture when cooked.
            Nutrition: Rich in vitamins, minerals and fiber, white corn is an important source of energy for the body. It provides complex carbohydrates, proteins, iron, phosphorus, potassium and B vitamins, such as B1, B3 and B5.
            Versatility: White corn can be consumed in different ways, whether fresh, cooked, ground or in the form of hominy, cornmeal, tamale, polenta and several other tasty dishes.
            Industrial applications: Corn starch extracted from white corn is used in various food and industrial products, such as creams, sauces, breads, cookies, paints, cosmetics and even biofuels.
            Popular Uses:
           
            <p style="margin-left: 2em;"><b>Hominy:</b></p>
            <p style="margin-left: 3em;">A typical Brazilian dish made with white corn cooked in milk or broth, usually with sugar, cinnamon and cloves.
            Tamale: A fresh and creamy dough made with grated and cooked white corn, which can be savory or sweet.
            Cornmeal: White corn flour is used in several recipes, such as cakes, breads, cookies, couscous and polenta.
            Cooked corn: A simple and tasty option to accompany meals, cooked white corn can be seasoned with butter, salt and pepper.
            Corn cream: A cream made with cooked white corn, milk, butter and seasonings, ideal for serving as a starter or side dish.
            Cultivation and Production:
           
            White corn is adapted to different climates and soil types, with greater production in the Central-West and Southeast regions of Brazil. Your plantation requires care such as irrigation, fertilization and pest and disease control. Harvest occurs approximately 90 to 120 days after planting.
           
            <p style="margin-left: 2em;"><b>Cultural Importance:</b></p>
           
            <p style="margin-left: 3em;">White corn has great cultural importance in Brazil, present in several legends, popular festivals and typical dishes. It is a symbol of rich Brazilian cuisine and the strong connection between the people and the land.
           
            <p style="margin-left: 2em;"><b>Conclusion:</b></p>
           
            <p style="margin-left: 3em;">White corn is a nutritious, versatile grain with great cultural importance in Brazil. Its presence in Brazilian cuisine is vast, from simple dishes to more elaborate recipes. Furthermore, its diverse industrial applications make it an essential product for the country's economy.
    </div>
    <br>
    <hr class="rounded">
</div>
