<div id="pagHome">
    <h1 id="h1Home">Açucar ICUMSA 100-150</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/acucaric100.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div>

        <p style="margin-left: 6em;"> <b> Açúcar Icumsa 100: </b> Doçura Pura e Versátil para o Seu Dia a Dia <br>
        <p style="margin-left: 8em;">
            O açúcar Icumsa 100, também conhecido como açúcar refinado, é um produto puro e
            versátil, ideal para adoçar suas receitas e bebidas favoritas.
            Obtido através da refinação da cana-de-açúcar, o Icumsa 100 apresenta grãos brancos e
            cristalinos e um sabor neutro e doce, que se adapta a diversos tipos de preparações.

        <p style="margin-left: 6em;"> <b> Características do Açúcar Icumsa 100: </b> <br>

        <p style="margin-left: 8em;">
            <b> Pureza: </b> O Icumsa 100 possui alta pureza, com teor mínimo de sacarose de 99,5%, o que o torna um
            produto
            de alta
            qualidade e livre de impurezas. <br>
            <b> Sabor Neutro: </b> O sabor do Icumsa 100 é doce e neutro, sem interferir no sabor original das receitas.
            <br>
            <b> Grãos Finos: </b> Seus grãos finos e uniformes facilitam a dissolução e o uso em diversas aplicações.
            <br>

            <b> Versatilidade: </b> O Icumsa 100 é um produto extremamente versátil, podendo ser utilizado em: <br><br>

        <p style="margin-left: 10em;">
            <b> Bebidas: </b> Adoçar café, chá, sucos, vitaminas e outras bebidas. <br>
            <b> Doces e Sobremesas: </b> Preparar bolos, tortas, biscoitos, cremes, mousses e outros doces. <br>
            <b> Conservas: </b> Conservar frutas, legumes e outros alimentos. <br>
            <b> Culinária: </b> Adoçar pratos salgados, como molhos e carnes. <br>
            <b> Fermentação: </b> Produzir bebidas alcoólicas, como cerveja e vinho. <br>

        <p style="margin-left: 6em;"> <b> Benefícios do Açúcar Icumsa 100: </b>

        <p style="margin-left: 8em;">
            <b> Longa Vida Útil: </b> O Icumsa 100 possui longa vida útil, podendo ser armazenado por longos períodos
            sem
            perder suas propriedades. <br>
            <b> Facilidade de Armazenamento: </b> Seus grãos secos e cristalinos facilitam o armazenamento em locais
            frescos
            e secos. <br>
            <b> Dissolução Rápida: </b> O Icumsa 100 se dissolve rapidamente em líquidos, facilitando o preparo de
            bebidas e
            receitas. <br>
            <b> Sabor Consistente: </b> Seu sabor neutro e doce garante um sabor consistente em todas as suas
            aplicações.
            <br>
            <b> Produto Seguro: </b> O Icumsa 100 é um produto seguro e confiável, produzido de acordo com rigorosos
            padrões
            de qualidade e segurança alimentar. <br>


        <p style="margin-left: 6em;"> <b> Dicas para Usar o Açúcar Icumsa 100: </b>

        <p style="margin-left: 8em;"> Armazene o Icumsa 100 em local fresco, seco e livre de umidade. <br>
            Mantenha o recipiente bem fechado após o uso. <br>
            Utilize colheres medidas para dosar o açúcar com precisão. <br>
            Ajuste a quantidade de açúcar de acordo com o seu paladar e a receita. <br>
            Experimente o Icumsa 100 em diversas receitas e bebidas para descobrir novas combinações saborosas. <br>
            O açúcar Icumsa 100 é um ingrediente essencial na cozinha, ideal para adoçar suas receitas e bebidas
            favoritas
            de
            forma prática, versátil e saborosa. <br>

        <p style="margin-left: 6em;"> Com sua alta qualidade, sabor neutro e longa vida útil, o Icumsa 100 é a escolha
            perfeita para quem busca um produto
            puro e confiável para adoçar seus momentos.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>