<h1 id="h1Home">Açucar ICUMSA 100-150</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/acucaric100.jpg" width="200" height="200">
    <br>
    <br>
    <div  class="textFont">

        O açúcar ICUMSA 100-150 é um tipo intermediário dentro da escala ICUMSA, situando-se entre o ICUMSA 45 e o ICUMSA VHP. Vamos explorar mais sobre ele:

        <p style="margin-left: 2em;" >O que é o açúcar ICUMSA 100-150?</p>
        <p style="margin-left: 4em;" >O ICUMSA 100-150 representa um nível de pureza intermediário.<br>
        Sua polarização é de no mínimo 99,50%.<br>
        Possui um teor moderado de sacarose, tornando-o adequado para diversas aplicações industriais.<br>
        Sua cor varia de castanho claro a médio.<br>
        A granulometria está na faixa de 0,9 a 1,2 mm.</p>
        <p style="margin-left: 2em;" >Aplicações:</p>
        <p style="margin-left: 4em;" >O ICUMSA 100-150 é amplamente utilizado no processamento de alimentos e em certas aplicações industriais.
        Ele oferece um equilíbrio entre pureza e economia, sendo adequado para situações que não requerem a brancura absoluta do ICUMSA 45.
        <p>Portanto, se você está buscando um açúcar com características intermediárias, o açúcar ICUMSA 100-150 pode ser uma escolha adequada para suas necessidades!</p>
    </div>
    <br>
    <hr class="rounded">
</div>
