<h1 id="h1Home">Farelo de Milho</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhobrania.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

        <p style="margin-left: 2em;">O que é Farelo de Milho?
        
            <p style="margin-left: 3em;">Derivado da moagem dos grãos de milho, sendo a parte externa do grão rica em fibras<br>
            Fonte natural de fibras insolúveis e solúveis, importantes para a saúde digestiva<br>
            Rico em nutrientes como vitaminas B, ferro, magnésio e zinco<br>
            Baixo índice glicêmico, ajudando a controlar os níveis de açúcar no sangue<br>
            Sem glúten, tornando-o uma opção adequada para celíacos e pessoas com sensibilidade ao glúten<br>
            
            <p style="margin-left: 2em;">Benefícios à Saúde do Farelo de Milho
            
            <p style="margin-left: 3em;">Promove a saúde digestiva: O alto teor de fibras do farelo de milho contribui para o bom funcionamento do intestino, prevenindo constipação e promovendo movimentos intestinais regulares.<br>
            Auxilia no controle do peso: As fibras do farelo de milho aumentam a saciedade, ajudando a controlar o apetite e reduzir a ingestão calórica, o que pode ser benéfico para quem busca perder peso ou manter um peso saudável.<br>
            Regula os níveis de colesterol: A fibra solúvel presente no farelo de milho pode ajudar a reduzir o colesterol LDL (mau), diminuindo o risco de doenças cardíacas.<br>
            Controla os níveis de açúcar no sangue: O baixo índice glicêmico do farelo de milho ajuda a controlar os níveis de açúcar no sangue, sendo uma opção benéfica para pessoas com diabetes ou pré-diabetes.<br>
            Fortalece o sistema imunológico: O farelo de milho é rico em beta-glucana, um tipo de fibra que auxilia no fortalecimento do sistema imunológico, combatendo infecções e doenças.<br>
            
            <p style="margin-left: 2em;">Usos Culinários do Farelo de Milho
            
            <p style="margin-left: 3em;">Cereal matinal: Adicione farelo de milho ao seu cereal matinal para aumentar o teor de fibras e nutrientes.<br>
            Iogurte e smoothies: Misture farelo de milho ao seu iogurte ou smoothies para um impulso extra de fibras e sabor.<br>
            Muffins, biscoitos e pães: Substitua parte da farinha de trigo por farelo de milho em suas receitas de muffins, biscoitos e pães para adicionar textura, fibras e nutrientes.<br>
            Hambúrgueres e almôndegas: Incorpore farelo de milho em hambúrgueres e almôndegas<br>
        <br>    
    </div>
    <br>
    <hr class="rounded">
</div>
