<h1 id="h1Home">穀物高粱</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgogranifero.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">

    <p style="margin-left: 6em;"> <b>高粱：</b> 巴西農業未來前景光明的穀物
        <br>

    <p style="margin-left: 8em;">
        高粱，也稱為小米，是對未來的承諾。
        巴西農業。 <br>
        高粱具有獨特的特性和高生產潛力，是一種可持續發展的作物
        使該國糧食生產多樣化的有彈性的方式，為糧食安全和
        鄉村發展。

    <p style="margin-left: 6em;"> <b> 多功能且適應性強的穀物：</b>

    <p style="margin-left: 8em;">
        <b>氣候和土壤：</b>
        高粱適應不同的氣候和土壤類型，從半乾旱地區到高海拔地區
        降雨，甚至可以耐受鹽鹼和酸性土壤。 <br>
        <b>週期短：</b>它的栽培週期短，可以在一年中的不同時間種植，
        迴轉
        農作物，優化土地利用。 <br>
        <b> 抗旱性：</b> 高粱具有高度抗旱性，這是高粱栽培的重要特性
        地區
        可用水量低。 <br>
        <b>病蟲害：</b>與其他穀物相比，它對病蟲害的敏感度較低，
        減少
        需要使用農藥。

    <p style="margin-left: 6em;"> <b> 對巴西農業的好處：</b>

    <p style="margin-left: 8em;">
        <b>生產多元化：</b>
        高粱種植有助於巴西糧食生產的多樣化，
        減少對大豆和玉米的依賴。 <br>
        <b>糧食安全：</b>確保人民更大的糧食安全，因為它提供了替代方案
        餵食
        營養豐富，製作簡單。 <br>
        <b>永續性：</b>高粱是一種永續穀物，因為它需要較少的水、化學肥料和殺蟲劑
        在
        與其他穀物相比。 <br>
        <b>農村發展：</b>促進農村發展，為小型企業創造收入與機會
        農民。

    <p style="margin-left: 6em;"> <b> 各種應用：</b>

    <p style="margin-left: 8em;">
        高粱有多種用途，例如：

    <p style="margin-left: 10em;">
        <b>人類食品：</b>新鮮穀物、高粱粉、高粱片、高粱油等。 <br>
        <b>動物飼料：</b>飼養牛、豬、家禽和其他動物的能量和營養來源。 <br>
        <b>生質燃料：</b>生產乙醇和沼氣、再生和永續燃料。 <br>
        <b>工業：</b>塑膠、橡膠、藥品、化妝品等產品的生產。

    <p style="margin-left: 6em;"> <b> 充滿希望的未來：</b>

    <p style="margin-left: 8em;">
        高粱在巴西有著廣闊的前景。 <br>
        透過對研發、技術創新和公共激勵政策的投資，高粱
        可以成為巴西農業的重要穀物，有助於多樣化
        生產、糧食安全、永續性和農村發展。 <br>
        高粱為巴西建設更具彈性的農業提供了機會，
        永續和繁榮，確保人民的糧食安全並促進國家的發展。
        <br>
        <br>
        <hr class="rounded">
</div>