<h1 id="h1Home">穀物高粱</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgogranifero.jpg" width="200" height="200">
    <br>
    <br>
    <div class="textFont">

        <p>粒用高粱是特性獨特、用途多樣的高粱品種。讓我們探討一下它的更多細節：

            <p><b>什麼是高粱？ </b>
            <p style="margin-left: 2em;">高粱（Sorghum bicolor）是一種禾本科穀物，與玉米屬於同一科。
            高粱也稱為幾內亞玉米，用途廣泛，具有重要的經濟意義。
            它的植株矮小，最高可達170厘米，在植株的上端結出穀粒。
            糧食高粱粒是主要產品，主要用於動物飼料工業。此外，它們可以以青貯飼料的形式使用。
            <p><b>經濟與社會效益：</b>
            <p style="margin-left: 2em;">高粱是淡季（冬季收穫）糧食生產的安全且有利可圖的替代品。
            它對黴菌毒素的敏感性較低，對土壤中的有毒鋁和水分壓力具有強烈的耐受性。
            它的生產力在每公頃 4 至 6 噸之間，這使其成為生產者的一個有趣的選擇。
            高粱籽粒用於製造動物飼料，使動物飼養者和飼料工業受益。
            <p><b>栽培及特性：</b>
            <p style="margin-left: 2em;">高粱從種植到收穫都是 100% 機械化。
            它的圓錐花序小而緊湊，位於植物的上端。
            它是一種耐旱作物，非常適合乾旱地區。
            除了穀物之外，收穫後剩餘的綠色植物可以用作乾草或放牧。
            <p>總而言之，對於巴西農民來說，高粱是一個有前途的選擇，可以在氣候挑戰的情況下提供經濟和環境效益。
                
    </div>
    <br>
    <hr class="rounded">
</div>