<h1 id="h1Home">White Corn Flour</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhoflourbrancaia.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">
    <p style="margin-left: 6em;"> <b> White Corn Flour: </b> Flavor and Versatility at the Brazilian Table <br>
    <p style="margin-left: 8em;">
        White corn flour, a fundamental ingredient in Brazilian cuisine, is derived from corn kernels
        white and offers
        diverse possibilities of use, from traditional dishes to creative recipes.

    <p style="margin-left: 6em;"> <b> A Little History: </b>

    <p style="margin-left: 8em;">
        The history of white corn flour in Brazil dates back to the time of indigenous peoples, who already used corn
        ground to
        prepare different foods. <br>
        With the arrival of Portuguese colonizers, the consumption of corn flour intensified, becoming a
        staple food
        in the population's diet.

    <p style="margin-left: 6em;"> <b> Nutritional Properties: </b>

    <p style="margin-left: 8em;">
        White corn flour is a food rich in nutrients, such as:

    <p style="margin-left: 10em;">
        <b> Carbohydrates: </b> Source of energy for the body. <br>
        <b> Proteins: </b> Important for the development and repair of muscle tissues. <br>
        <b> Fibers: </b> They help with digestion, regulate the intestine and promote satiety. <br>
        <b> Vitamins: </b> Rich in B vitamins, such as B1, B2 and B3, important for metabolism
        energy, the nervous system and muscular function. <br>
        <b> Minerals: </b> Source of iron, phosphorus, magnesium and potassium, essential minerals for the proper
        functioning of the
        body.

    <p style="margin-left: 6em;"> <b>Health Benefits:</b>

    <p style="margin-left: 8em;">
        Regular consumption of white corn flour can bring several health benefits, such as:

    <p style="margin-left: 10em;">
        <b> Prevent chronic diseases: </b> Helps in the prevention of chronic diseases such as type 2 diabetes,
        heart disease and some types of cancer. <br>
        <b> Control cholesterol: </b> The fiber present in corn flour helps reduce LDL cholesterol
        ("bad"), reducing the risk of heart disease. <br>
        <b>Improve digestion:</b>Fibers also help regulate the intestines and prevent constipation. <br>
        <b> Strengthen the immune system: </b> Rich in vitamins and minerals, corn flour helps to strengthen the
        immune system, protecting the body against diseases. <br>
        <b> Promote satiety: </b> The fibers and proteins in corn flour promote satiety, helping to
        body weight control.

    <p style="margin-left: 6em;"> <b>Cooking Versatility:</b>

    <p style="margin-left: 8em;">
        White corn flour is an extremely versatile ingredient and can be used in a variety of dishes.
        Brazilian cuisine, such as:

    <p style="margin-left: 10em;">
        <b> Cornmeal cake: </b> A traditional Brazilian cake made with white corn flour, milk, eggs, sugar and
        oil. <br>
        <b> Cornmeal bread: </b> A rustic bread made with white corn flour, milk, yeast and salt. <br>
        <b> Couscous: </b> A northeastern dish made with white corn flour, water and salt. <br>
        <b> Angu: </b> A dish from Minas Gerais made with white corn flour, water and salt. <br>
        <b> Tamale: </b> A typical Midwestern dish made with fresh grated corn, milk, sugar and salt.

    <p style="margin-left: 6em;"> White corn flour is a tasty, nutritious and versatile food that should make
        part of the regular diet of all Brazilians. <br>
        In addition to being a traditional and culturally important ingredient, white corn flour offers several
        health benefits and can be used in a variety of delicious dishes.
        <br>
        <br>
        <hr class="rounded">
</div>