<div id="pagHome" class="content">
    <h1 id="h1Home">ICUMSA 600-1200 sugar</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/acucaric600.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Icumsa 600 Sugar: </b> Versatile Sweetness for Various Applications <br>
        <p style="margin-left: 8em;">
            Icumsa 600 sugar, also known as refined sugar, is a type of highly purified sugar with
            fine grain, ideal for various culinary and industrial applications.
            Its high purity and neutral flavor make it a versatile ingredient, present in many everyday products.
            day.

        <p style="margin-left: 6em;"> <b> Features: </b>

        <p style="margin-left: 8em;">
            <b> Purity: </b> Icumsa 600 sugar has a high sucrose content (99.8%), resulting in a pure and
            with neutral flavor. <br>
            <b> Fine Granulation: </b> It has fine and uniform crystals, which facilitate dissolution and use in various
            revenues. <br>
            <b> Light Color: </b> Presents a bright white color, ideal for enhancing the color of foods and drinks. <br>
            <b> Neutral Flavor: </b> Icumsa 600 sugar has a slightly sweet taste and no aftertaste, which makes it
            Versatile for various applications. <br>


        <p style="margin-left: 6em;"> <b> Applications: </b>

        <p style="margin-left: 8em;">
            <b> Cooking: </b> Used in various sweet recipes, such as cakes, pies, cookies, sweets and desserts. <br>
            <b> Drinks: </b> Ideal for sweetening coffees, teas, juices, vitamins and other drinks. <br>
            <b> Food Industry: </b> Used in the production of ice cream, chocolate, bread, jellies, preserves and others
            food products. <br>
            <b> Pharmaceutical Industry: </b> Used in the production of medicines, syrups and other pharmaceutical
            products.
            <br>
            <b> Cosmetic Industry: </b> Employed in the production of creams, lotions, perfumes and other cosmetic
            products.
            <br>


        <p style="margin-left: 6em;"> <b> Benefits: </b>

        <p style="margin-left: 8em;">
            <b> Long Shelf Life: </b> Icumsa 600 sugar has a long shelf life and can be stored for long
            periods without losing their properties. <br>
            <b> Ease of Dissolving: </b> Its fine crystals dissolve easily in liquids, making it easier to use.
            Use in various recipes. <br>
            <b> Versatile Flavor: </b> The neutral flavor of Icumsa 600 sugar makes it ideal for various applications,
            without
            interfere with the original flavor of the food. <br>
            <b> Versatile Application: </b> Can be used in various culinary recipes, drinks and industrial products.
            <br>


        <p style="margin-left: 6em;"> <b> Storage Tips: </b>

        <p style="margin-left: 8em;">
            Store Icumsa 600 sugar in a cool, dry, moisture-free place. <br>
            Keep the container tightly closed after use to prevent moisture absorption. <br>
            Consume Icumsa 600 sugar within the expiration date indicated on the packaging. <br>
            Icumsa 600 sugar is an essential ingredient in the kitchen and industry, offering sweetness, versatility and
            neutral flavor for various applications. <br>

        <p style="margin-left: 6em;">Consume in moderation and enjoy your favorite recipes!
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>