<h1 id="h1Home">Harina de maiz</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhoflour.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        <b>¿Qué es la harina de maíz? </b>
        
        <p style="margin-left: 2em; ">Derivado de granos de maíz secos finamente molidos<br>
        Obtenido de diferentes variedades de maíz, como el blanco, amarillo y azul<br>
        Disponible en molienda gruesa, media y fina para diferentes usos<br>
        Naturalmente sin gluten, lo que lo convierte en una excelente alternativa para personas con enfermedad celíaca o sensibilidad al gluten<br>
       
        <p><b>Tipos de harina de maíz </b>
       
        <p style="margin-left: 2em; "><b>Harina de maíz amarilla:</b> Este es el tipo más común y tiene un sabor suave y un color amarillo claro. Es un caballo de batalla en la cocina, perfecto para hornear, pan de maíz y polenta.<br>
        <b>Harina de Maíz Blanco:</b> Esta variedad ofrece un sabor ligeramente más dulce y suave en comparación con la harina de maíz amarillo. Destaca para hacer tortillas, arepas y es un gran espesante para sopas y guisos.<br>
        <b>Harina de maíz azul:</b> ¡Destaca entre la multitud con harina de maíz azul! Tiene un sabor a nuez único y un color azul vibrante que agrega un elemento visual sorprendente a sus platos. La harina de maíz azul brilla en tortillas, enchiladas y puede agregar un toque colorido a los productos horneados.<br>

        <p><b>Magia Culinaria de la Harina de Maíz</b>
       
        <p style="margin-left: 2em; ">
        <b>Hornear:</b> La harina de maíz agrega una textura ligera y esponjosa a los panqueques, muffins, galletas y pasteles.<br>
        <b>Espesar:</b> Utilice harina de maíz como espesante sin gluten para sopas, guisos y salsas.<br>
        <b>Platos Étnicos:</b> Ingrediente básico de la cocina latinoamericana para tortillas, arepas, tamales y empanadas.<br>
        <b>Freír:</b> Cubra los mariscos o las verduras con harina de maíz para obtener un acabado frito ligero y crujiente.<br>
        <b>Polenta:</b> La harina de maíz gruesa se cocina para obtener una papilla cremosa de polenta, una base versátil para platos salados.
    </div>
    <br>
    <hr class="rounded">
</div>
