<div id="pagHome" class="content">
    <h1 id="h1Home">Harina de maiz</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/milhoflouria.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Harina de maíz: </b> Un ingrediente esencial en la cocina brasileña <br>
        <p style="margin-left: 8em;">
            La harina de maíz, derivada de la molienda de los granos de maíz secos, es un ingrediente fundamental en la
            cocina.
            Brasileño, presente en varias recetas desde la época colonial.
            Su versatilidad, sabor y valor nutricional lo convierten en un alimento indispensable en la mesa de las
            familias
            brasileñas.
            especialmente en las regiones Centro-Oeste y Nordeste.

        <p style="margin-left: 6em;"> <b> Más que un simple ingrediente: </b>

        <p style="margin-left: 8em;">
            La harina de maíz va más allá de un simple ingrediente culinario. Es rica en historia, cultura y tradición,
            representando la identidad y la creatividad del pueblo brasileño. <br>
            Su presencia en platos típicos como el cuscús, la polenta, el tamal, la torta de harina de maíz y la farofa
            demuestra la importancia
            cultural
            y gastronomía de la harina de maíz en Brasil.

        <p style="margin-left: 6em;"> <b>Tipos de harina de maíz:</b>

        <p style="margin-left: 8em;">
            <b>Harina de maíz:</b> Más fina, del tipo tamizada, utilizada en la preparación de pasteles, galletas,
            cuscús y
            polenta. <br>
            <b> Farinheira: </b> Más espesa y con granos triturados, ideal para hacer farofas, angu y biju. <br>
            <b> Semigrossa: </b> Versátil, se puede utilizar en diversas recetas, como tartas, panes, farofas y cremas.
            <br>
            <b>Entero: </b>Conserva los granos de maíz integrales, aportando un mayor contenido de fibra y nutrientes.
            <br>

        <p style="margin-left: 6em;"> <b>Beneficios para la salud:</b>

        <p style="margin-left: 8em;">
            La harina de maíz, especialmente la integral, ofrece varios beneficios para la salud, como:

        <p style="margin-left: 10em;">
            <b>Rico en fibra: </b> Ayuda a la digestión, regula el intestino y favorece la saciedad, ayudando a
            controlar
            del peso. <br>
            <b> Fuente de energía: </b> Aporta energía al organismo, principalmente en forma de carbohidratos complejos.
            <br>
            <b>Contiene vitaminas y minerales: </b>Fuente de vitaminas del grupo B, hierro, fósforo y magnesio,
            importantes
            por el bien
            funcionamiento del organismo. <br>
            <b>No contiene gluten: </b>Ideal para personas celíacas o intolerantes al gluten. <br>
            <b> Versátil y sabroso: </b> Se puede utilizar en diversas recetas, dulces y saladas, del agrado de todos.
            paladares.

        <p style="margin-left: 6em;"> <b> Delicias de la cocina brasileña: </b>

        <p style="margin-left: 8em;">
            La harina de maíz es la base de varios platos típicos brasileños, como:

        <p style="margin-left: 10em;">
            <b> Cuscús: </b> Un acompañamiento versátil que se sirve con varios platos, como carne secada al sol,
            frijoles
            tropeiro y
            Guiso. <br>
            <b> Polenta: </b> Plato italiano elaborado tradicionalmente con harina de maíz, que se puede acompañar con
            ragú
            de carne,
            salsa de tomate
            o queso. <br>
            <b> Tamal: </b> Manjar elaborado con maíz verde rallado, leche y condimentos, cocido en la propia paja del
            maíz.
            <br>
            <b> Pastel de harina de maíz: </b> Un bizcocho sencillo y sabroso, elaborado con harina de maíz, leche,
            huevos,
            azúcar y mantequilla. <br>
            <b> Farofa: </b> Un acompañamiento crujiente y sabroso, elaborado con harina de maíz tostada, mantequilla,
            cebolla y
            especias.

        <p style="margin-left: 6em;">
            La harina de maíz es un ingrediente esencial en la cocina brasileña, presente en varios platos típicos y
            disfrutado por personas de todas las edades. <br>
            Su versatilidad, sabor y valor nutricional lo convierten en un alimento completo y sabroso, que enriquece la
            mesa.
            familias brasileñas y representa la cultura y tradición del país.
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>