<h1 id="h1Home">Sorgo</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgo.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        ¿Qué es el sorgo?

        El sorgo (Sorghum bicolor) es un cereal de clima cálido, perteneciente a la familia de las gramíneas, y originario de África. Es una planta robusta y tolerante a condiciones adversas, como sequía, calor y suelos pobres, lo que la convierte en una opción ideal para regiones con climas áridos y semiáridos.
       
        Características y Beneficios del Sorgo:
       
        Versatilidad: El sorgo se puede utilizar para diversos fines, tales como:
        Alimentación humana: cereales para consumo directo, harinas, copos, panela, bebidas y otros productos.
        Alimentación animal: cereales integrales, ensilaje, heno y cereales molidos como complemento alimenticio.
        Biocombustibles: producción de etanol y biodiesel.
        Industria: producción de papel, celulosa, bioplásticos y otros productos.
        Nutrición: El sorgo es rico en nutrientes como proteínas, fibra, vitaminas y minerales. Contiene niveles significativos de hierro, zinc y antioxidantes, importantes para la salud humana.
        Resiliencia: Su rusticidad permite el cultivo en zonas de baja fertilidad, precipitaciones irregulares y altas temperaturas, lo que lo convierte en una alternativa ventajosa en regiones con desafíos climáticos.
        Sostenibilidad: El sorgo tiene un ciclo de crecimiento corto, menor demanda de agua y un manejo eficiente de los nutrientes, lo que lo convierte en un cultivo sostenible con menor impacto ambiental.
        Aplicaciones del sorgo:
       
        Seguridad alimentaria: El sorgo contribuye a la seguridad alimentaria y nutricional, especialmente en regiones con alta vulnerabilidad climática y alimentaria.
        Diversificación de la producción: El cultivo de sorgo diversifica la producción agrícola, reduciendo los riesgos y aumentando la resiliencia de los sistemas agrícolas.
        Ingresos para los agricultores: la producción de sorgo puede generar ingresos para los agricultores familiares, especialmente en zonas menos favorecidas.
        Sostenibilidad ambiental: El sorgo contribuye a la sostenibilidad ambiental, con un menor uso de recursos naturales y menores emisiones de gases de efecto invernadero.    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>
</div>
