<h1 id="h1Home">Soja RR</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sojarr.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

        <p>A soja Roundup Ready (RR) é uma variedade de soja transgênica que possui resistência ao herbicida glifosato. Vamos explorar mais sobre essa tecnologia:

        <p style="margin-left: 2em;"> <b>História da Soja RR (Roundup Ready): </b>
        <p style="margin-left: 3em;">A soja RR foi a primeira planta transgênica aprovada para cultivo no Brasil. Ela foi desenvolvida pela Monsanto nos Estados Unidos na década de 1980.
        Essa variedade de soja foi modificada geneticamente, inserindo um gene da bactéria Agrobacterium sp., tornando-a insensível ao glifosato, que é o ingrediente ativo do herbicida Roundup®.
        <p style="margin-left: 2em;"><b>Como Funciona a Soja RR: </b>
            <p style="margin-left: 3em;">A soja RR é resistente ao glifosato, o que significa que os agricultores podem aplicar esse herbicida nas lavouras sem prejudicar a soja.
        O glifosato bloqueia a enzima EPSP synthase, essencial para a síntese de aminoácidos nas plantas. Como a soja RR não é afetada pelo glifosato, ela pode crescer mesmo quando o herbicida é aplicado.
        <p style="margin-left: 2em;"><b>Adoção e Consequências: </b>
            <p style="margin-left: 3em;">A soja RR facilitou o manejo de ervas daninhas nas lavouras, reduzindo custos e tornando o controle mais eficiente.
        No Brasil, a soja RR foi legalmente cultivada a partir de 2005 e se tornou uma opção altamente competitiva para os agricultores.
        <p style="margin-left: 2em;"><b>Eventos Transgênicos Aprovados para Soja no Brasil: </b>
            <p style="margin-left: 3em;">Além da soja RR, outras variedades transgênicas também foram aprovadas no Brasil, como a soja Bt, que é resistente a insetos.
        Dicas para Usar a Soja RR e Outros Transgênicos com Herbicidas:
        <p>Consulte as melhores práticas de manejo para obter os melhores resultados com a soja RR e outras tecnologias transgênicas.
        Em resumo, a soja RR é uma importante ferramenta para os agricultores, proporcionando maior eficiência no controle de ervas daninhas e contribuindo para a produtividade das lavouras.
    
    </div>
    <br>
    <hr class="rounded">
</div>
