<h1 id="h1Home">Algodão</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/algodao.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        O algodão é uma fibra natural derivada da planta do algodoeiro, comumente usado para a produção de tecidos na indústria da moda. Essa planta pertence ao gênero Gossypium, que está na mesma família do quiabo, cacau e o hibisco, a Malvaceae. O algodão é uma planta de climas tropicais e subtropicais, logo, ele cresce em regiões quentes.

        A palavra “algodão” faz referência à cápsula de fibras macias que ficam ao redor das sementes do algodoeiro e têm a aparência de uma bola de golfe. Existem diversos tipos de algodão na natureza, desde os de fibra branca até os coloridos. A fibra do algodão é ótima para absorção, tem uma durabilidade boa, pode ser tingida com facilidade, não conduz eletricidade, se adapta ao corpo e ainda oferece certo conforto.
        
        O algodão é uma das culturas mais antigas do mundo, tendo sua origem na Índia por volta de 3000 a.C. Acredita-se que tenha sido levado para a América pelos espanhóis no século XVII. Atualmente, o algodão é cultivado em diversos países, incluindo os Estados Unidos, China, Índia, Brasil e Paquistão.
        
        No Brasil, o ciclo do algodão representa um dos ciclos econômicos do país, que ocorreu durante os séculos XVIII e XIX. Um dos fatores que propulsionaram o cultivo do algodão no país foi a Revolução Industrial Inglesa, que cada vez mais exigia matéria prima para fabricação de produtos da indústria têxtil.
    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>
</div>
