<h1 id="h1Home">Ethanol</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/etanol.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        Ethanol, also known as ethyl alcohol, is an organic compound belonging to the chemical function of alcohols. Its chemical formula is C2H6O. It is a colorless, flammable and water-miscible liquid.

        Ethanol has several industrial applications, including use as a solvent and in the production of alcoholic beverages. However, its main application is as biofuel. Ethanol is produced mainly by the fermentation of sugars present in plants such as sugar cane and corn.

        One of the great advantages of ethanol is that it generates less carbon dioxide into the atmosphere compared to gasoline. However, the price of ethanol can vary and is influenced by several factors.

        In Brazil, ethanol began to be used at the beginning of the 20th century and gained prominence with the introduction of flex fuel vehicles. However, ethanol production requires large tracts of land to grow sugar cane, which can lead to environmental damage and compete with food production.    </div>
    <br>
    <hr class="rounded">
</div>
