<div id="pagHome" class="content">
    <h1 id="h1Home">小麥</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/trigo.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> 小麥：</b> 巴西麵包的核心<br>
        <p style="margin-left: 8em;">小麥是一種源自亞洲的金穀物，已成為巴西飲食中最重要的食物之一。
            幾個世紀以來，小麥一直出現在家庭餐桌上，是生產麵包、義大利麵、蛋糕、餅乾和其他食品的必需品，被認為是一種基本且用途廣泛的食物。

        <p style="margin-left: 6em;"> <b> 一點歷史：</b>

        <p style="margin-left: 8em;">
            16 世紀，葡萄牙殖民者將小麥引進巴西。
            最初，它的種植僅限於小範圍，但隨著時間的推移，它擴展到該國的不同地區，主要是在南方。
            目前，巴西是世界第七大小麥生產國，但部分糧食仍依賴進口以滿足國內需求。
            巴西的小麥種植面臨收穫機械化、種植園健康和國際市場競爭力等挑戰。

        <p style="margin-left: 6em;"> <b> 小麥在飲食中的重要性：</b>

        <p style="margin-left: 8em;">小麥是一種富含營養的食物，例如：

        <p style="margin-left: 10em;">
            <b>碳水化合物：身體的能量來源。 </b><br>
            <b>蛋白質：</b>對於肌肉組織的發育和修復很重要。 <br>
            <b>纖維：</b>它們有助於消化、調節腸道並促進飽足感。 <br>
            <b> 維生素：</b> 富含 B 群維生素，如 B1、B2 和 B6，對能量代謝、神經系統和肌肉功能很重要。 <br>
            <b>礦物質：</b>鐵、磷、鎂和鉀的來源，這些礦物質是身體正常運作所必需的。 <br>

        <p style="margin-left: 6em;"> <b>健康益處：</b>

        <p style="margin-left: 8em;">經常食用全麥產品可以帶來多種健康益處，例如：

        <p style="margin-left: 10em;">
            <b>預防慢性疾病：</b>有助於預防慢性疾病，如第2型糖尿病、心臟病和某些類型的癌症。 <br>
            <b> 控制膽固醇：</b> 全麥中的纖維有助於降低低密度脂蛋白（「壞」）膽固醇，降低心臟病的風險。 <br>
            <b>改善消化：</b>纖維也有助於調節腸道並防止便秘。 <br>
            <b>增強免疫系統：</b>全穀類富含維生素和礦物質，有助於增強免疫系統，保護身體免受疾病侵害。 <br>
            <b>促進飽足感：</b>全麥中的纖維和蛋白質可促進飽足感，有助於控制體重。 <br>

        <p style="margin-left: 6em;"> <b>巴西文化中的小麥：</b>

        <p style="margin-left: 8em;">小麥存在於巴西的多種傳統和習俗中，例如：

        <p style="margin-left: 10em;">
            <b>小麥豐收節：</b>全國不同地區慶祝小麥豐收的活動，有音樂、舞蹈和典型食品。 <br>
            <b>自製小麥麵包：</b>巴西家庭餐桌上的基本食物，存在於多種食譜和配菜中。 <br>
            <b>小麥餅：</b>一種傳統且用途廣泛的甜點，可在多種場合享用。 <br>
            <b>小麥餅乾：</b>美味又營養的零食，適合一天中的任何時間。 <br>

        <p style="margin-left: 6em;"> <b> 巴西小麥的未來：</b>

        <p style="margin-left: 8em;"> 巴西小麥的未來取決於研發投資、尋找更能抵抗病蟲害的新品種、生產和儲存基礎設施的現代化以及促進全麥產品的消費。 <br>
            在政府、工業界和民間社會的共同努力下，巴西可以成為一個更有效率和永續的小麥生產國，滿足國內需求，甚至出口剩餘產量。 <br>
            小麥是巴西食品、文化和經濟的重要穀物。 <br>
            透過食用全麥產品，您可以為更健康、更有營養的飲食以及國家的發展做出貢獻。
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>