<h1 id="h1Home">小麥</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/trigo.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        小麥（Triticum spp.）是一種在世界各地種植的草類作物，是第二大穀類作物，僅次於玉米，領先水稻。 它的穀物廣泛用於人類消費，從用於麵包的小麥粉到作為釀造原料。 此外，它也是動物飼料的一部分。<br>
        小麥起源於中東，更具體地說是“新月沃土”，該地理區域涵蓋該地區的非洲和亞洲部分（以前的美索不達米亞）。 公元前 4,000 年左右，人們發現了小麥發酵過程，從而誕生了第一批麵包。<br>
        在巴西，小麥可能於 1534 年由 Martim Afonso de Souza 引入，他將小麥引入了現在屬於聖保羅的地區。 巴西的主要小麥產區是南里奧格蘭德州和巴拉那州。 2021/2022 年收成，巴西小麥產量預估為 810 萬噸，比上一收成增加 5.9%。<br>
        就營養而言，小麥是對我們的健康極為重要的食物。 小麥作為碳水化合物，除了是人體重要的能量來源之外，還是富含人類生命必需的維生素和礦物質的食物，如B群維生素、鉀、磷和鎂。<br >    </div>
    <br>
    <hr class="rounded">
</div>
