<h1 id="h1Home">Soy</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/soja.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        Soybeans (Glycine max) are a legume native to East Asia but are now widely cultivated and consumed throughout the world. Soy is one of the best-known seeds in the world and is essential for the production system. In Brazil, soybeans represent 56% of the area planted with grains in the country.<br>
        Soy is made up of proteins, fibers, monosaccharides, oligosaccharides, oils, calcium, phosphorus, iron, sodium, potassium, magnesium, copper, carbohydrates, lipids, vitamins B and E, omega 3 and 6. It is a good source of protein and , unlike many other protein-rich foods, is low in saturated fat and contains no cholesterol.<br>
        In Brazil, the grain was very important in 1901, from then on, on that date, cultivation began at the Campinas Agricultural Station and the seed began to be distributed to producers in São Paulo. In 2021, Brazil led the ranking as the largest producer and exporter of the grain, with a production of 135.409 million tons.<br>
        The largest soybean producers in Brazil are Mato Grosso, Paraná, Rio Grande do Sul and Goiás. It is estimated that production will increase from 135.409 million tons to 140.75 million tons, keeping the country as the largest producer in the world. grain in the world.<br>    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>
</div>
