<h1 id="h1Home">Azúcar tipo IC45</h1>
<div id="divHome">
    <img src="/assets/images/acucaric45.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

        <p>El azúcar ICUMSA 45 es uno de los tipos más buscados por los importadores mundiales de azúcar debido a su pureza y grado de blancura. Exploremos más al respecto:</p>

        <p><b>¿Qué es el azúcar ICUMSA 45?</b>
            <p style="margin-left: 2em;">El término “ICUMSA” significa “Comisión Internacional para Métodos Uniformes de Análisis del Azúcar”. Es un acrónimo que denota estándares de calidad para diferentes tipos de azúcar.</p>
            El <p style="margin-left: 2em;"><b>azúcar ICUMSA 45</b> se conoce como <b>azúcar blanco</b>. Es altamente refinado y adecuado para el consumo humano y su uso en una amplia gama de producción de alimentos.
        Su aspecto es de color blanco brillante y su pureza es alta, con un 99,8% de sacarosa en su composición.
        El proceso de refinamiento del azúcar ICUMSA 45 elimina las bacterias y los contaminantes presentes en el azúcar sin refinar, haciéndolo más seguro para el consumo.
        <p><b>Características del Azúcar ICUMSA 45:</b><br>
        <p style="margin-left: 2em;"><b>Polarización:</b> Mínimo 99,80 grados.<br>
        <b>Contenido de cenizas:</b> Máximo 0,04%.<br>
        <b>Solubilidad:</b> 100% (seco y libre de retardo).<br>
        <b>Color:</b> Blanco brillante.<br>
        <b>Granulación:</b> Bien.<br>
        <b>Humedad:</b> Máximo 0,04%.</p><br>
        <b>Aplicaciones:</b>
        <p style="margin-left: 2em;">El azúcar ICUMSA 45 se usa comúnmente en la industria de alimentos y bebidas, especialmente en aplicaciones donde una apariencia blanca pura es crucial.
        Su solubilidad es 100% DTR (dentro de los límites aceptados internacionalmente) y fluidez, lo que garantiza una fácil aplicación.
        Por lo tanto, si buscas azúcar de alta calidad para tus necesidades, ¡el <b>azúcar ICUMSA 45</b> es una excelente opción!
    </div>
    
    <br>
    <hr class="rounded">
</div>
