<h1 id="h1Home">鑽石</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/diamante.jpg" width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        鑽石是大自然最美麗、最珍貴的創造物之一，也是唯一由單一元素碳組成的天然石材。 鑽石結構由排列在四面體四個角上的純碳原子和排列在其中心的單一碳原子組成。 由於這種幾何排列，鑽石非常緻密，密度高（3.5g/cm3），是已知最硬的天然物質。

        鑽石以其無與倫比的亮度和將白光分解為彩虹顏色的能力而聞名。 當一束白光照射到鑽石的一個刻面時，它會折射並分散成構成鑽石的顏色。 鑽石切割的目的是增強其內部光線的反射。

        關於人類對鑽石迷戀的第一份報告是在公元前 800 年左右的印度文獻中發現的。它們描述了這些晶體的美麗和純淨，並且它們的耐用性獲得了神秘的意義和據說的神奇力量。

        如今，鑽石被用於珠寶，是兩個人之間永恆的愛、承諾和忠誠的象徵。 此外，鑽石也用於工業，例如由於其極高的硬度而用於製造切削工具。    </div>
    <br>
    <hr class="rounded">
</div>