<h1 id="h1Home">鑽石</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/diamante.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">
    <p style="margin-left: 6em;"> <b> 鑽石：</b> 在巴西閃耀的寶石 <br>
    <p style="margin-left: 8em;">
        巴西被譽為世界上最大的鑽石生產國之一，因其品質而受到認可
        這些寶石的卓越和令人驚嘆的美麗。
        巴西鑽石分佈於全國不同地區，主要分佈在迪亞曼蒂納 (Chapada Diamantina)，令人著迷。
        世界以其光澤、色彩和無可挑剔的剪裁而聞名。

    <p style="margin-left: 6em;"> <b> 百萬富翁之旅：</b>
    <p style="margin-left: 8em;">
        巴西的鑽石勘探歷史可以追溯到 18 世紀，當時第一批礦床被發現
        發現於米納斯吉拉斯州地區。
        從那時起，對這些寶石的尋找促進了該地區的發展，吸引了冒險家，
        來自世界各地的礦工和投資。

    <p style="margin-left: 6em;"> <b> 獨特功能：</b>

    <p style="margin-left: 8em;">
        巴西鑽石以其獨特的特徵而著稱，例​​如：

    <p style="margin-left: 10em;">
        <b>純度：</b>它們呈現出高度的純度，幾乎沒有夾雜物或缺陷。 <br>
        <b>顏色：</b>它們有不同的顏色，從傳統的白色到罕見的色調，如粉紅色、黃色和藍色。 <br>
        <b>切割：</b>它們由熟練的工匠熟練切割，展現出它們所有的光澤和美麗。 <br>
        <b> 光澤：</b> 它們具有強烈且明顯的光澤，這使它們受到全世界的垂涎。 <br>

    <p style="margin-left: 6em;"> <b> 巴西鑽石的種類：</b>

    <p style="margin-left: 8em;">
        <b>黑鑽石：</b>巴西最常見的鑽石類型，以其黑色和高電阻而聞名。 <br>
        <b>Maculine：</b>它有黑色或棕色斑點，但仍然具有很大的價值。 <br>
        <b> 輝煌：</b> 切割成三角形，是最受歡迎的類型，因其美麗和光澤而受到追捧。 <br>
        <b>長方形寶石：</b>切割成長方形，非常適合戒指和項鍊。 <br>
        <b>欖尖形：</b>切割成船形，外觀優雅精緻。 <br>

    <p style="margin-left: 6em;"> <b> 不只是珠寶：</b>

    <p style="margin-left: 8em;">
        巴西鑽石超越了珠寶世界。它們用於各種工業應用，例如：

    <p style="margin-left: 10em;">
        <b>切削工具：</b>其極高的硬度使其成為高精度切削工具的理想選擇。 <br>
        <b>磨料：</b>用於砂紙等磨料中，對各種材料進行拋光、拋光。 <br>
        <b> 電子產品：</b> 由於其優異的導熱性，因此成為電子設備中的元件。 <br>
        <b> 醫學：</b> 由於其生物相容性，應用於手術器械和醫療植入物。 <br>

    <p style="margin-left: 6em;"> <b> 光明的未來：</b>

    <p style="margin-left: 8em;">
        巴西的鑽石產業前景光明，在未來幾年有進一步成長的潛力。
        幾十年。

        對勘探技術、合格切割機和策略行銷的投資對於
        確保該國在全球鑽石市場的競爭力並進一步提高這種寶石的價值
        在巴西如此閃耀。

        巴西鑽石是財富、美麗和傳統的象徵。它不只是一顆寶石，更是力量與力量的象徵
        巴西的潛力，一個切割寶石並以其光輝征服世界的國家。
        <br>
        <br>
        <hr class="rounded">
</div>