<h1 id="h1Home">Copper</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/cobre.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        Copper is a chemical element with symbol Cu, atomic number 29, atomic mass 63.55 and belonging to group 11 of the periodic table. It is a metal with a discreet yellowish red color, with a slightly opaque shine and a pleasant appearance. Copper is highly resistant to corrosion and very unreactive. It is the second metal with the highest electrical conductivity, behind only silver.<br>
        In nature, copper is found in three forms: Chalcopyrite (Copper and Iron Sulfide), Chalcocite (Copper Sulfide) and Malachite (Copper Carbonate). Copper can undergo different types of chemical reactions and its best-known product is copper sulfate.<br>
        Copper has been known to humanity since the Neolithic period, when it was used to produce working instruments, weapons and utensils. It can be used in its pure form or combined with other metals, for example, the alloy between copper and tin originated the Bronze Age1.<br>
        One of the main applications of copper is for the production of metallic alloys, materials formed by the mixture of two or more components, at least one of which is metal. There are more than 1,000 types of metal alloys produced with copper. Some examples are: Brass (Copper + Zinc), Bronze (Copper + Tin), Cupronickel (Copper + Nickel), 18-karat Gold (Gold + Silver + Copper) and Amalgam (Silver + Tin + Copper + Mercury).<br>
        Currently, much of the metal is used to produce electrical wires, telephones, lighting and telecommunications cables. Copper is also used in the manufacture of cookware, as it is an excellent heat conductor material.<br>
        Copper is one of the minerals that is also important for the proper functioning of the human body. It is found in low concentrations in the blood, but has functions related to enzyme activity and the formation of blood cells. The foods in which we can find copper are: seafood, eggs, beef and pork, almonds, mushrooms, sunflower seeds, beans and nuts.<br>    </div>
    <br>
    <hr class="rounded">
</div>