<div id="pagHome" class="content">
    <h1 id="h1Home">Copper</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/cobre.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Copper: </b> The Essential Metal for Modernity <br>
        <p style="margin-left: 8em;">
            Copper, a ductile, malleable metal with high electrical and thermal conductivity, stands out as an element
            fundamental to the development of modern society.
            Present in several industry sectors, copper guarantees the functioning of essential equipment for our
            day to day, from energy generation to digital communication.

        <p style="margin-left: 6em;"> <b> Metal with a Rich History: </b>

        <p style="margin-left: 8em;">
            The use of copper dates back thousands of years, with records of its use in Mesopotamia around 6000 BC.
            Throughout history, copper has been used for various purposes, such as:

        <p style="margin-left: 10em;">
            <b> Manufacture of tools and weapons: </b> In prehistoric times, copper was used to make tools and weapons,
            due to its malleability and resistance. <br>
            <b> Construction: </b> Copper was used in the construction of houses, temples and other monuments, mainly
            for
            its
            corrosion resistance. <br>
            <b> Currency: </b> In several ancient civilizations, copper was used as currency of exchange, due to its
            value
            and
            durability. <br>
            <b> Decorative objects: </b> Copper was also used to manufacture decorative objects, such as vases,
            sculptures
            and
            jewelry. <br>

        <p style="margin-left: 6em;"> <b> Unique Properties of Copper: </b>

        <p style="margin-left: 8em;">
            Copper has several properties that make it an essential metal for several applications:

        <p style="margin-left: 10em;">
            <b> High electrical conductivity: </b> Copper is one of the best conductors of electricity, being used in
            the
            manufacture of
            wires, cables, electric motors and other electronic components. <br>
            <b> High thermal conductivity: </b> Copper is also an excellent conductor of heat, being used in water pipes
            hot water, heat exchangers and radiators. <br>
            <b> Malleability and ductility: </b> Copper is a malleable and ductile metal and can be easily shaped into
            different shapes.
            shapes, which facilitates its use in different types of applications. <br>
            <b>Corrosion resistance:</b> Copper is a corrosion-resistant metal, making it ideal for use in humid
            environments
            or saline. <br>
            <b> Recyclability: </b> Copper is a highly recyclable material, which contributes to environmental
            sustainability. <br>


        <p style="margin-left: 6em;"> <b> Applications of Copper in Modernity: </b>

        <p style="margin-left: 8em;">
            Copper is one of the most used metals in the world today, with diverse applications in different sectors:

        <p style="margin-left: 10em;">
            <b> Energy generation and distribution: </b> Copper is essential for the generation, transmission and
            distribution of energy
            electrical, being used in wires, cables, transformers and other components. <br>
            <b> Civil construction: </b> Copper is used in hot and cold water pipes, electrical wiring, roofs and others
            civil construction components. <br>
            <b> Electronics: </b> Copper is used in various electronic components, such as printed circuits, wires,
            cables
            and
            connectors. <br>
            <b> Automotive: </b> Copper is used in electrical wiring, electric motors, radiators and other vehicle
            components
            motor vehicles. <br>
            <b> Industry: </b> Copper is used in various industrial equipment, such as engines, piping, heat exchangers
            and
            other components. <br>

        <p style="margin-left: 6em;"> <b> A Sustainable Future with Copper: </b>

        <p style="margin-left: 8em;">Copper will continue to be an essential metal for the development of modern
            society,
            with a promising future
            driven by growing demand for renewable energy, electrification and urbanization. <br>

            Recycling copper is essential to ensure the sustainability of its use, reducing the impact
            environmental impact of its production. <br>

            Copper is an essential metal for our daily lives, contributing to technological development, the generation
            of
            energy, construction and several other sectors of the global economy. <br>

            Investing in research, development and recycling of copper is essential to guarantee a brighter future
            sustainable for the planet and country for the next generations.
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>