<h1 id="h1Home">Coffee</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/cafe.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        Coffee is a product of primary origin used as a raw material for different sectors of society. Furthermore, coffee is one of the main components of the value of Brazilian agricultural production 2. If you want to know more about the coffee market, its future prospects and the commercialization of the commodity
    </div>
    <br>
    <hr class="rounded">
</div>
