<h1 id="h1Home">Coffee</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/cafe.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">
    <p style="margin-left: 6em;"> <b> Brazilian Coffee: </b> A Flavor that Conquers the World
    <p style="margin-left: 8em;"> Brazilian coffee is internationally recognized for its excellence in flavor, aroma
        and quality. Grown in regions with ideal climates and altitudes, Brazilian coffee stands out for its diversity
        of blends and roasts, catering to the most diverse palates.

    <p style="margin-left: 6em;"> <b> A Little History: </b>
    <p style="margin-left: 8em;">The history of coffee in Brazil dates back to the 18th century, when seedlings were
        introduced
        in the country. Since then, coffee has become an essential part of Brazilian culture and economy. Today, Brazil
        is the
        largest producer and exporter of coffee in the world, responsible for around a third of global production.

    <p style="margin-left: 6em;"> <b> Characteristics of Brazilian Coffee: </b>
    <p style="margin-left: 8em;"> <b> Flavor: </b> Brazilian coffee has a rich and intense flavor, with notes that
        They vary according to the growing region and the type of roast. <br>
        <b> Aroma: </b> The aroma of Brazilian coffee is striking and fruity, with notes of chocolate, spices and
        flowers.
        <br>
        <b> Acidity: </b> The acidity of Brazilian coffee is generally low, resulting in a smooth and balanced drink.
        <br>
        <b> Body: </b> The body of Brazilian coffee varies from medium to full-bodied, depending on the roast. <br>

    <p style="margin-left: 6em;"> <b> Types of Brazilian Coffee: </b>

    <p style="margin-left: 8em;"> <b> Arabica: </b> The most common variety of coffee in Brazil, known for its flavor
        superior and complex aroma. <br>
        <b> Robusta: </b> A more robust variety, with a higher caffeine content and a more bitter flavor. <br>
        <b> Natural: </b> Coffee drying process in which the beans are dried in the sun, preserving their fruity flavor.
        <br>
        <b> Washed: </b> Coffee drying process in which the beans are washed before being dried, resulting in a
        cleaner and more acidic flavor. <br>

    <p style="margin-left: 6em;"> <b> Brazilian Coffee in the World: </b>

    <p style="margin-left: 8em;"> Brazilian coffee is appreciated throughout the world for its superior quality and
        versatility. <br>
        It is used in different types of drinks, such as espresso, cappuccino, latte macchiato and filtered coffee. <br>

        Brazilian coffee is also an important ingredient in several culinary recipes, such as cakes, pies and
        candy. <br>

    <p style="margin-left: 6em;"> <b> Benefits of Brazilian Coffee: </b>

    <p style="margin-left: 8em;">Rich in antioxidants, which fight free radicals and protect the body's cells.
        <br>
        Source of caffeine, which improves alertness and concentration. <br>
        Helps with digestion and metabolism. <br>
        It may reduce the risk of some chronic diseases, such as type 2 diabetes and neurodegenerative diseases. <br>

    <p style="margin-left: 6em;"> <b> Conclusion: </b>

    <p style="margin-left: 8em;"> Brazilian coffee is a high quality product that conquers palates all over the world.
        world. Its rich history, unique flavor and diverse benefits make it an ideal drink for any occasion.
        <br>

        If you haven't tried Brazilian coffee yet, I invite you to do so! I'm sure you will
        fall in love with this delicious and special drink.

        <br>
        <br>
        <hr class="rounded">
</div>