<div id="pagHome">
    <h1 id="h1Home">高粱</h1>
    <div id="divHome">
        <ngx-slick-carousel class="carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <figure>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">
                        <img src="{{ slide.img }}" alt="" class="img-style">
                    </a>
                    <figcaption  class="img-label">
                        <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                    </figcaption>
                </figure>
            </div>
        </ngx-slick-carousel>
    </div>
    <br>
    <br>
    <div>

        <p style="margin-left: 6em;"> <b> 高粱：</b> 巴西農業未來前景光明的穀物 <br>
        <p style="margin-left: 8em;">高粱是一種古老而堅韌的穀物，在農業領域越來越受到重視
            巴西人作為替代
            生產多樣化和確保糧食安全的有前途的方法。
            高粱適應不同的氣候和土壤，具有優越的特性，使其成為理想的選擇
            吸引人的
            對於農民和消費者。 <br>

        <p style="margin-left: 6em;"> <b> 多功能穀物：</b>

        <p style="margin-left: 8em;"> 高粱因其多功能性而脫穎而出，可用於不同的細分市場：

        <p style="margin-left: 10em;"> <b>人類食物：</b>新鮮穀物、高粱粉、高粱片、
            高粱面等<br>
            <b>動物飼料：</b>飼養牛、豬、家禽和其他動物的能量和營養來源。 <br>
            <b>生質燃料：</b>生產乙醇和沼氣、再生和永續的車輛燃料
            汽車和能源發電。 <br>
            <b>工業：</b>塑膠、生物材料、藥品和其他產品的生產。 <br>


        <p style="margin-left: 6em;"> <b> 農業優勢：</b>

        <p style="margin-left: 8em;">高粱種植為巴西農業提供了顯著優勢：

        <p style="margin-left: 10em;">
            <b> 抗旱性：</b> 高粱適應乾燥的氣候條件，可承受長期乾旱
            大
            效率高於其他穀物，例如玉米。 <br>
            <b>對鹽鹼土的耐受性：</b>高粱對鹽鹼土和退化土壤具有耐受性，允許
            它的生產
            在土壤條件惡劣的地區。 <br>
            <b> 投入的需求較低：</b> 高粱比其他穀物需要較少的農藥和化肥，
            貢獻
            永續農業和環境保護。 <br>
            <b>栽培週期短：</b>高粱的栽培週期短，每次收穫可以收穫一次以上。
            年在某些
            地區。 <br>

        <p style="margin-left: 6em;"> <b> 營養穀物：</b>

        <p style="margin-left: 8em;">高粱是一種富含營養的食物，例如：

        <p style="margin-left: 10em;">
            <b>碳水化合物：</b>身體的能量來源。 <br>
            <b>蛋白質：</b>對於肌肉組織的發育和修復很重要。 <br>
            <b>纖維：</b>它們有助於消化、調節腸道並促進飽足感。 <br>
            <b> 維生素：</b> 富含 B 群維生素，如 B1、B2 和 B6，對新陳代謝很重要
            能量、神經系統和肌肉功能。 <br>
            <b> 礦物質：</b> 鐵、磷、鎂和鉀的來源，是身體正常運作所必需的礦物質
            身體。 <br>

        <p style="margin-left: 6em;"> <b>健康益處：</b>

        <p style="margin-left: 8em;">經常食用高粱可以帶來多種健康益處，例如：

        <p style="margin-left: 10em;"> <b> 預防慢性疾病：</b> 有助於預防慢性疾病，如
            2 型糖尿病、心臟病和
            某些類型的癌症。 <br>
            <b> 控制膽固醇：</b> 高粱中的纖維有助於降低低密度脂蛋白（「壞」）膽固醇，
            減少
            心臟病的風險。 <br>
            <b>改善消化：</b>纖維也有助於調節腸道並防止便秘。
            增強免疫系統：高粱富含維生素和礦物質，有助於增強免疫系統
            免疫學,
            保護身體免受疾病侵害。 <br>
            <b>促進飽足感：</b>高粱中的纖維和蛋白質可促進飽足感，有助於控制
            重量
            身體。 <br>


        <p style="margin-left: 6em;"> <b> 永續的未來：</b>

        <p style="margin-left: 8em;">高粱在建立更永續的未來方面發揮著至關重要的作用
            用於農業
            巴西：

        <p style="margin-left: 10em;"> <b> 糧食安全：</b> 為國家糧食安全做出貢獻，
            糧食生產多樣化
            確保人們獲得營養食品。 <br>
            <b>環境永續性：</b>透過降低成本來促進農業的環境永續性
            利用
            投入和對不同氣候條件的適應。 <br>
            <b>農民收入：</b>為農民創造收入，特別是在有條件的地區
            氣候
            不利條件或退化土壤。 <br>
        <p style="margin-left: 6em;">高粱是一種很有前途的穀物，在農業的未來具有巨大的潛力
            巴西人。

            其適應性、多功能性、營養價值以及對永續發展的正面影響使其成為
            選項
            對農民、消費者和環境都具有吸引力。
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>