
<h1 id="h1Home">高粱</h1>
<div id="divCarousel">
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <figure>
                <img src="{{ slide.img }}" alt="" class="img-style">
                <figcaption>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                </figcaption>
            </figure>
        </div>
    </ngx-slick-carousel>
    <br>
    <br>
    <div class="textFont">

        <p style="margin-left: 2em;"><b>高粱：一種多用途、適應性強的作物</b>

            <p style="margin-left: 3em;">高粱是一種原產於非洲的草類植物，現已成為世界各地的重要作物。它是一種多功能工廠，可用於多種用途，包括食品和飼料、生物燃料生產和材料製造。高粱是一種有彈性的作物，可以承受乾旱和炎熱等壓力條件。它是糧食安全和永續發展的重要作物。
           
            <p style="margin-left: 2em;"><b>高粱類型</b>
           
            <p style="margin-left: 3em;">種植高粱是為了獲取其穀物，這些穀物可用作人類和動物飼料。
            甜高粱：甜高粱因其含糖量高而種植，用於生產乙醇和其他生物燃料。
            掃帚：高粱因其長圓錐花序而種植，用於製造掃帚和其他產品。
            飼料：飼料高粱是為了飼料而種植的，用於餵養牲畜。
           
            <p style="margin-left: 3em;">高粱主要有四種：穀物高粱、甜高粱、高粱和飼料高粱。每種類型的高粱都有不同的種植目的。粒用高粱是最常見的高粱類型，用於人類和動物食品。甜高粱用於生產生質燃料，高粱用於製造掃帚和其他產品，飼料高粱用於飼養牲畜。
           
            <p style="margin-left: 2em;"><b>高粱的重要性</b>
           
            <p style="margin-left: 3em;">糧食安全：高粱是全世界數百萬人的重要食物來源。它是一種營養豐富的作物，可以提供能量和蛋白質。
            永續性：高粱是一種有彈性的作物，可以承受乾旱和炎熱等壓力條件。它是糧食安全和永續發展的重要作物。
            生質燃料：甜高粱是生質燃料的重要來源。高粱乙醇是一種可再生且可持續的燃料，可以幫助減少我們對化石燃料的依賴。
            材質：高粱可用於製造多種材料，包括紙張、塑膠和紡織品。
           
            <p style="margin-left: 3em;">高粱是重要的作物，原因有很多。它是糧食安全的重要來源，是永續作物，是生物燃料的重要來源，可用於製造多種材料。高粱是一種用途廣泛且有價值的作物，在未來農業中發揮重要作用。
           
            <p style="margin-left: 2em;"><b>巴西的高粱產量</b>
           
            <p style="margin-left: 3em;">巴西是世界第三大高粱生產國，僅次於美國和中國。
            2023年巴西高粱產量為3,130萬噸。
            高粱在巴西所有地區都有種植，但主要生產國是中西部和東北部各州。
            高粱在巴西主要用於動物飼料，但也用於生產生質燃料和食品工業。
           
            <p style="margin-left: 3em;">巴西是重要的高粱生產國和消費國。該作物在全國各地均有種植，但主要生產地為中西部和東北部各州。高粱在巴西主要用作動物飼料，但也用於生產生質燃料和食品工業。
           
            <p style="margin-left: 2em;"><b>高粱的未來</b>
           
            <p style="margin-left: 3em;">高粱是一種前景廣闊的作物。
            由於世界人口的成長以及對食品、生質燃料和材料的需求不斷增長，預計未來幾年對高粱的需求將會增加。
            高粱是一種能夠承受氣候變遷的彈性作物，使其成為未來糧食安全的重要作物。
            研究人員正在努力開發產量更高、抗病性和抗逆性更高的高粱新品種。
           
            <p style="margin-left: 3em;">高粱前景廣闊。預計未來幾年對高粱的需求將會增加，使其成為糧食安全和永續發展的重要作物。
    </div>
    <br>
    <hr class="rounded">


</div>