<div id="pagHome" class="content">
    <h1 id="h1Home">Sorgo Granífero</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sorgogranifero.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">

        <p style="margin-left: 6em;"> <b> Sorgo Granífero: </b> Um Cereal Promissor para o Futuro da Agricultura
            Brasileira
            <br>

        <p style="margin-left: 8em;">
            O sorgo granífero, também conhecido como milheto, vem se destacando como uma promessa para o futuro da
            agricultura brasileira. <br>
            Com características únicas e alto potencial produtivo, o sorgo se apresenta como uma alternativa sustentável
            e
            resiliente para diversificar a produção de grãos no país, contribuindo para a segurança alimentar e o
            desenvolvimento rural.

        <p style="margin-left: 6em;"> <b> Um Cereal Versátil e Adapável: </b>

        <p style="margin-left: 8em;">
            <b> Clima e Solo: </b>
            O sorgo se adapta a diversos climas e tipos de solo, desde regiões semiáridas até áreas com alta
            pluviosidade, tolerando inclusive solos salinos e ácidos. <br>
            <b> Ciclo Curto: </b> Possui um ciclo de cultivo curto, o que permite o plantio em diferentes épocas do ano
            e a
            rotação
            de culturas, otimizando o uso da terra. <br>
            <b> Resistência à Seca: </b> O sorgo é altamente resistente à seca, uma característica crucial para o
            cultivo em
            regiões
            com baixa disponibilidade de água. <br>
            <b> Doenças e Pragas: </b> Apresenta menor suscetibilidade a doenças e pragas em comparação a outros
            cereais,
            reduzindo a
            necessidade de uso de agrotóxicos.

        <p style="margin-left: 6em;"> <b> Benefícios para a Agricultura Brasileira: </b>

        <p style="margin-left: 8em;">
            <b> Diversificação da Produção: </b>
            O cultivo do sorgo contribui para a diversificação da produção de grãos no Brasil,
            diminuindo a dependência da soja e do milho. <br>
            <b> Segurança Alimentar: </b> Garante maior segurança alimentar para a população, pois oferece uma
            alternativa
            alimentar
            nutritiva e de fácil produção. <br>
            <b> Sustentabilidade: </b> O sorgo é um cereal sustentável, pois requer menos água, fertilizantes e
            agrotóxicos
            em
            comparação a outros cereais. <br>
            <b> Desenvolvimento Rural: </b> Impulsiona o desenvolvimento rural, gerando renda e oportunidades para
            pequenos
            agricultores.

        <p style="margin-left: 6em;"> <b> Aplicações Diversas: </b>

        <p style="margin-left: 8em;">
            O sorgo granífero possui diversas aplicações, como:

        <p style="margin-left: 10em;">
            <b> Alimentação Humana: </b> Grãos frescos, farinha de sorgo, flocos de sorgo, óleo de sorgo, etc. <br>
            <b> Ração Animal: </b> Fonte de energia e nutrientes para a criação de gado, suínos, aves e outros animais.
            <br>
            <b> Biocombustíveis: </b> Produção de etanol e biogás, combustíveis renováveis e sustentáveis. <br>
            <b> Indústria: </b> Produção de plásticos, borracha, produtos farmacêuticos, cosméticos e outros produtos.

        <p style="margin-left: 6em;"> <b> Um Futuro Promissor: </b>

        <p style="margin-left: 8em;">
            O sorgo granífero tem um futuro promissor no Brasil. <br>
            Com investimentos em pesquisa e desenvolvimento, inovação tecnológica e políticas públicas de incentivo, o
            sorgo
            pode se tornar um importante cereal para a agricultura brasileira, contribuindo para a diversificação da
            produção, a segurança alimentar, a sustentabilidade e o desenvolvimento rural. <br>
            O sorgo granífero representa uma oportunidade para o Brasil de construir uma agricultura mais resiliente,
            sustentável e próspera, garantindo a segurança alimentar da população e impulsionando o desenvolvimento do
            país.
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>