<h1 id="h1Home">Sorgo Granífero</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgogranifero.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

        <p>O sorgo granífero é um tipo de sorgo com características específicas e diversas aplicações. Vamos explorar mais detalhes sobre ele:

        <p><b>O que é sorgo granífero? </b>
            <p style="margin-left: 2em;">O sorgo granífero (Sorghum bicolor) é uma espécie de cereal que pertence à família Poaceae, a mesma família do milho.
            Também conhecido como milho-da-guiné, o sorgo granífero é versátil e de grande importância econômica.
            Suas plantas têm porte baixo, com altura de até 170 cm, e produzem grãos na extremidade superior da planta.
            Os grãos do sorgo granífero são o principal produto e são utilizados principalmente na indústria de rações para animais. Além disso, podem ser empregados na forma de silagem.<br>
        <p><b>Benefícios econômicos e sociais:</b>
        <p style="margin-left: 2em;">O sorgo granífero é uma alternativa segura e lucrativa para a produção de grãos na safrinha (safra de inverno).
            Possui baixa suscetibilidade a micotoxinas e grande tolerância ao alumínio tóxico no solo e ao estresse hídrico.
            Sua produtividade varia entre 4 e 6 toneladas por hectare, tornando-o uma escolha interessante para os produtores.
            Os grãos de sorgo são utilizados na fabricação de ração animal, beneficiando criadores de animais e a indústria de ração.
        <p><b>Cultivo e características:</b>
        <p style="margin-left: 2em;">O sorgo granífero é 100% mecanizável, desde o plantio até a colheita.
            Sua panícula é pequena e compacta, localizada na extremidade superior da planta.
            É uma cultura tolerante à seca e ideal para terras áridas.
            Além dos grãos, após a colheita, o resto da planta ainda verde pode ser usado como feno ou para pastejo.
        <p>Em resumo, o sorgo granífero é uma opção promissora para os agricultores brasileiros, oferecendo benefícios econômicos e ambientais em meio aos desafios climáticos.
    </div>
    <br>
    <hr class="rounded">
</div>
