<h1 id="h1Home">Soja Intacta</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sojaintacta.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

        <p>A soja Intacta é uma variedade transgênica que tem revolucionado o agronegócio nos últimos anos. Vamos entender mais sobre essa tecnologia:

        <p style="margin-left: 2em;"><b>O que é a Soja Intacta? </b>
            <p style="margin-left: 3em;">A soja Intacta é um tipo de soja transgênica criada com o objetivo de melhorar a produtividade agrícola.
        Os grãos de soja Intacta passaram por modificações genéticas em laboratório para obter melhores resultados.
        Essa tecnologia utiliza proteínas derivadas da bactéria Bacillus thuringiensis (Bt) para tornar os grãos resistentes a insetos-pragas, como lagartas.
        <p style="margin-left: 2em;"><b>Como Funciona a Tecnologia Intacta: </b>
            <p style="margin-left: 3em;">No grão de soja Intacta, foram inseridas as proteínas Cry1Ac e Cry1F, derivadas da bactéria Bt.
        Essas proteínas atacam o sistema digestivo das lagartas, tornando os grãos resistentes a esses insetos.
        A tecnologia Intacta também confere resistência ao herbicida glifosato, o que reduz a necessidade de aplicação de agroquímicos.
        <p style="margin-left: 2em;"><b>Benefícios da Soja Intacta:</b>
            <p style="margin-left: 3em;"><b>Aumento da Produtividade:</b> Com menos perdas causadas por pragas, os agricultores obtêm maior rendimento.
            <p style="margin-left: 3em;"><b>Qualidade do Produto:</b> A soja Intacta mantém sua qualidade nutricional e comercial.
            <p style="margin-left: 3em;"><b>Custo-Benefício a Longo Prazo:</b> A redução no uso de defensivos agrícolas compensa o investimento inicial.<br>
        <p>A soja Intacta é uma importante ferramenta para enfrentar os desafios da agricultura moderna, garantindo maior eficiência e sustentabilidade.

    </div>
    <br>
    <hr class="rounded">
</div>
