<div id="pagHome" class="content">
    <h1 id="h1Home">Farinha de Milho</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/milhoflouria.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">

        <p style="margin-left: 6em;"> <b> Farinha de Milho: </b> Um Ingrediente Essencial na Culinária Brasileira <br>
        <p style="margin-left: 8em;">
            A farinha de milho, derivada da moagem dos grãos secos do milho, é um ingrediente fundamental na culinária
            brasileira, presente em diversas receitas desde o período colonial.
            Sua versatilidade, sabor e valor nutritivo a tornam um item indispensável na mesa das famílias brasileiras,
            especialmente nas regiões Centro-Oeste e Nordeste.

        <p style="margin-left: 6em;"> <b> Mais do que um Simples Ingrediente: </b>

        <p style="margin-left: 8em;">
            A farinha de milho vai além de um simples ingrediente culinário. Ela é rica em história, cultura e tradição,
            representando a identidade e a criatividade do povo brasileiro. <br>
            Sua presença em pratos típicos como cuscuz, polenta, pamonha, bolo de fubá e farofa demonstra a importância
            cultural
            e gastronômica da farinha de milho no Brasil.

        <p style="margin-left: 6em;"> <b> Tipos de Farinha de Milho: </b>

        <p style="margin-left: 8em;">
            <b> Fubá: </b> Tipo mais fino e peneirado, utilizado no preparo de bolos, biscoitos, cuscuz e polenta. <br>
            <b> Farinheira: </b> Mais grossa e com grãos triturados, ideal para fazer farofas, angu e biju. <br>
            <b> Demigrossa: </b> Versátil, pode ser utilizada em diversas receitas, como bolos, pães, farofas e cremes.
            <br>
            <b> Integral: </b> Preserva os grãos inteiros do milho, proporcionando maior teor de fibras e nutrientes.
            <br>

        <p style="margin-left: 6em;"> <b> Benefícios para a Saúde: </b>

        <p style="margin-left: 8em;">
            A farinha de milho, especialmente a integral, oferece diversos benefícios para a saúde, como:

        <p style="margin-left: 10em;">
            <b> Rica em fibras: </b> Auxilia na digestão, regula o intestino e promove a saciedade, auxiliando no
            controle
            do peso. <br>
            <b> Fonte de energia: </b> Fornece energia para o corpo, principalmente na forma de carboidratos complexos.
            <br>
            <b> Contém vitaminas e minerais: </b> Fonte de vitaminas do complexo B, ferro, fósforo e magnésio,
            importantes
            para o bom
            funcionamento do organismo. <br>
            <b> Não contém glúten: </b> Ideal para pessoas com doença celíaca ou intolerância ao glúten. <br>
            <b> Versátil e saborosa: </b> Pode ser utilizada em diversas receitas, doces e salgadas, agradando a todos
            os
            paladares.

        <p style="margin-left: 6em;"> <b> Delícias da Culinária Brasileira: </b>

        <p style="margin-left: 8em;">
            A farinha de milho é a base de diversos pratos típicos da culinária brasileira, como:

        <p style="margin-left: 10em;">
            <b> Cuscuz: </b> Um acompanhamento versátil, servido com diversos pratos, como carne de sol, feijão tropeiro
            e
            moqueca. <br>
            <b> Polenta: </b> Um prato italiano tradicionalmente feito com fubá, podendo ser servido com ragu de carne,
            molho de tomate
            ou queijo. <br>
            <b> Pamonha: </b> Uma iguaria feita com milho verde ralado, leite e temperos, cozida na própria palha do
            milho.
            <br>
            <b> Bolo de fubá: </b> Um bolo simples e saboroso, feito com fubá, leite, ovos, açúcar e manteiga. <br>
            <b> Farofa: </b> Um acompanhamento crocante e saboroso, feito com farinha de milho tostada, manteiga, cebola
            e
            temperos.

        <p style="margin-left: 6em;">
            A farinha de milho é um ingrediente essencial na culinária brasileira, presente em diversos pratos típicos e
            apreciado por pessoas de todas as idades. <br>
            Sua versatilidade, sabor e valor nutritivo a tornam um alimento completo e saboroso, que enriquece a mesa
            das
            famílias brasileiras e representa a cultura e a tradição do país.
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>