<h1 id="h1Home">Fubá</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhoflour.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

        <b>O que é Farinha de Milho? </b>
        
        <p style="margin-left: 2em; ">Derivada de grãos secos de milho finamente moídos<br>
        Obtida de diversas variedades de milho, como branco, amarelo e azul<br>
        Disponível em moagens grossa, média e fina para diferentes usos<br>
        Naturalmente livre de glúten, tornando-a uma ótima alternativa para pessoas com doença celíaca ou sensibilidade ao glúten<br>
        
        <p><b>Tipos de Farinha de Milho </b>
        
        <p style="margin-left: 2em; "><b>Farinha de Milho Amarela:</b> Este é o tipo mais comum, ostentando um sabor suave e cor amarelo claro. É um burro de carga na cozinha, perfeito para assar, pão de milho e polenta.<br>
        <b>Farinha de Milho Branca:</b> Esta variedade oferece um sabor ligeiramente mais doce e suave em comparação com a farinha de milho amarela. Destaca-se na confecção de tortilhas, arepas e é um ótimo espessante para sopas e ensopados.<br>
        <b>Farinha de Milho Azul:</b> Destaque-se da multidão com a farinha de milho azul! Possui um sabor único de nozes e uma cor azul vibrante que adiciona um elemento visual impressionante aos seus pratos. A farinha de milho azul brilha em tortilhas, enchiladas e pode adicionar um toque colorido aos produtos assados.<br>

        <p><b>Magia Culinária da Farinha de Milho</b>
        
        <p style="margin-left: 2em; ">
        <b>Assar:</b> A farinha de milho adiciona uma textura leve e fofa a panquecas, muffins, biscoitos e bolos.<br>
        <b>Espessar:</b> Use a farinha de milho como espessante sem glúten para sopas, ensopados e molhos.<br>
        <b>Pratos Étnicos:</b> Ingrediente básico da culinária latino-americana para tortilhas, arepas, tamales e empanadas.<br>
        <b>Fritar:</b> Cubra frutos do mar ou vegetais com farinha de milho para um acabamento frito leve e crocante.<br>
        <b>Polenta:</b> A farinha de milho grossa é cozida em um mingau de polenta cremoso, uma base versátil para pratos salgados.
    <br>    
    </div>
    <br>
    <hr class="rounded">
</div>
