<h1 id="h1Home">棉布</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/algodao.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        棉花是从棉花植物中提取的天然纤维，通常用于生产时装行业的面料。这种植物属于棉属，与秋葵、可可和芙蓉（锦葵科）属于同一科。棉花是热带和亚热带气候的植物，因此它生长在炎热的地区。

        “棉花”一词指的是围绕棉花种子的软纤维胶囊，看起来像高尔夫球。自然界中有不同类型的棉花，从白色纤维到彩色纤维。棉纤维吸水性好，耐用性好，易染色，不导电，贴合身体，有一定的舒适度。
        
        棉花是世界上最古老的农作物之一，起源于公元前 3000 年左右的印度。据信它是在 17 世纪由西班牙人带到美洲的。目前，棉花在多个国家种植，包括美国、中国、印度、巴西和巴基斯坦。
        
        在巴西，棉花周期代表了该国的经济周期之一，发生在 18 世纪和 19 世纪。促进该国棉花种植的因素之一是英国工业革命，它越来越需要原材料来制造纺织工业的产品。
    </div>
    <br>
    <hr class="rounded">
</div>
