<h1 id="h1Home">Corazón de Pollo</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/acucar.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        Presentación de Corazón de Pollo: Un pequeño órgano con sabor y beneficios
        El corazón de pollo, muchas veces subestimado, es un órgano pequeño de sabor intenso y textura firme que puede ser un ingrediente delicioso y nutritivo en muchas recetas.
        
        Características y beneficios del corazón de pollo:
        
        Sabor llamativo: Los corazones de pollo tienen un sabor único, ligeramente metálico, que los diferencia de otras partes del ave.
        Textura firme: Su textura firme y crujiente proporciona una interesante experiencia sensorial al masticar.
        Nutrición: Rica fuente de proteínas, hierro, vitaminas y minerales, importantes para la salud cardiovascular, muscular y el sistema inmunológico.
        Versatilidad: Se puede utilizar en diferentes recetas, como guisos, moquecas, brochetas, asados ​​e incluso ensaladas, adaptándose a diferentes gustos y ocasiones.
        Sostenibilidad: El consumo de corazones de pollo contribuye al pleno aprovechamiento del animal, evitando el desperdicio de alimentos.
        Costo-beneficio: Opción asequible y rentable, que proporciona una comida sabrosa y nutritiva a bajo precio.
        Preparando corazones de pollo:
        
        Limpieza: Lavar bien los corazones de pollo con agua corriente antes de prepararlos para eliminar impurezas.
        Quitar la piel y los nervios: Para una textura más tierna, se recomienda quitar la piel y los nervios a los corazones de pollo.
        Cortar: Corta los corazones de pollo por la mitad o en trozos más pequeños para facilitar la cocción y el sabor.
        Preparación: Saltee, ase, cocine a la parrilla o cocine corazones de pollo con sus condimentos favoritos, como cebolla, ajo, hierbas frescas y especias.
        Tiempo de cocción: Evite cocinar los corazones de pollo por mucho tiempo para que no se pongan duros.
        Consejos para perfeccionar el sabor:
        
        Marinar los corazones de pollo antes de cocinarlos intensifica el sabor y los hace más tiernos.
        Prueba diferentes combinaciones de condimentos para encontrar el sabor que más te guste.
        Sirva los corazones de pollo con una variedad de acompañamientos, como arroz, verduras salteadas o puré de papas, para obtener una comida completa.
        Conclusión:
        
        Los corazones de pollo son un ingrediente sabroso, nutritivo y versátil que puedes incorporar fácilmente a tu dieta. Prueba nuevas recetas y explora las diversas posibilidades culinarias que ofrece este pequeño órgano para disfrutar de una experiencia gastronómica única y nutritiva.
        
        Para más informaciones:
        
        Asociación Brasileña de Proteína Animal (ABPA): https://es.wiktionary.org/wiki/removido
        Ministerio de Agricultura, Ganadería y Abastecimiento (MAPA): https://www.gov.br/agricultura/pt-br
    </div>    <br>
    <hr class="rounded">
</div>
