<h1 id="h1Home">Açucar tipo IC45</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/acucaric45.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

        <p>O açúcar ICUMSA 45 é um dos tipos mais procurados por importadores mundiais de açúcar devido à sua pureza e grau de alvura. Vamos explorar mais sobre ele:</p>

        <p><b>O que é o açúcar ICUMSA 45?</b>
            <p style="margin-left: 2em;">O termo “ICUMSA” significa “International Commission for Uniform Methods of Sugar Analysis” (Comissão Internacional para Métodos Uniformes de Análise de Açúcar). É uma sigla que denota padrões de qualidade para diferentes tipos de açúcar.</p>
            <p style="margin-left: 2em;">O <b>açúcar ICUMSA 45</b> é conhecido como <b>açúcar branco</b>. Ele é altamente refinado e adequado para consumo humano e uso em uma ampla gama de produções alimentícias.
        Sua aparência é de um branco espumante e sua pureza é alta, com 99,8% de sacarose em sua composição.
        O processo de refinamento do açúcar ICUMSA 45 remove bactérias e contaminantes presentes nos açúcares crus, tornando-o mais seguro para consumo.
        <p><b>Características do Açúcar ICUMSA 45:</b><br>
        <p style="margin-left: 2em;"><b>Polarização:</b> Mínimo de 99,80 graus.<br>
        <b>Conteúdo de cinzas:</b> Máximo de 0,04%.<br>
        <b>Solubilidade:</b> 100% (seco e livre de retardamento).<br>
        <b>Cor:</b> Branco espumante.<br>
        <b>Granulação:</b> Fina.<br>
        <b>Umidade:</b> Máximo de 0,04%.</p><br>
        <b>Aplicações:</b>
        <p style="margin-left: 2em;">O açúcar ICUMSA 45 é comumente utilizado na indústria de alimentos e bebidas, especialmente em aplicações onde uma aparência branca e pura é crucial.
        Sua solubilidade é de 100% DTR (Dentro dos Limites Internacionalmente Aceites) e de fluxo livre, garantindo facilidade na aplicação.
        Portanto, se você está buscando um açúcar de alta qualidade para suas necessidades, o <b>açúcar ICUMSA 45</b> é uma excelente escolha!

    </div>
    
    <br>
    <hr class="rounded">
</div>
