<h1 id="h1Home">傳統大豆</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sojaconvencional.jpg" width="200" height="200">
    <br>
    <br>
    <div class="textFont">

        <p>傳統大豆是一種不涉及基因改變的種植選擇，但仍具有重要的優勢。讓我們探討一下傳統大豆的一些特徵和好處：

            <p><b>傳統大豆的特性：</b>
            <p style="margin-left: 3em;"><b>未經基因改造 (GM)：</b> 傳統大豆未經過基因改造，這意味著其天然特性保持完好。
            <p style="margin-left: 3em;"><b>天然技術：</b>雖然傳統大豆不是基因改造的，但它具有有助於保護其免受疾病和害蟲侵害的天然技術。
            <p style="margin-left: 3em;"><b>有競爭力的生產力：</b>即使沒有基因改造，傳統大豆也能達到有競爭力的生產力水準。
            <p><b>傳統大豆品種：</b> Embrapa 開發了幾種傳統大豆品種，為生產商提供了有吸引力的選擇：
           
            <p style="margin-left: 4em;"><b>BRS 284：</b>在國家生產力競賽中脫穎而出的品種，與基因改造技術平等競爭。
            <p style="margin-left: 4em;"><b>BRSMG 534：</b> 抗亞洲大豆銹病，提供更高的效率。
            <p style="margin-left: 4em;"><b>BRS 7781：</b>半早熟或早期週期，適應不同地區。
            <p style="margin-left: 4em;"><b>BRS 546：</b> 生產力高，可提早播種。
            <p style="margin-left: 4em;"><b>BRS 573：</b>在多個地區保持穩定。
            <p style="margin-left: 4em;"><b>BRS 523：</b> 早期，對臭蟲複合體具有耐受性。
            <p style="margin-left: 4em;"><b>BRS 539：</b> 憑藉 Shield® 和 Block® 技術，它還允許提前播種。
            <p style="margin-left: 4em;"><b>BRS 531：</b> 抗亞洲銹病。
            <p style="margin-left: 4em;"><b>BRS 525：</b>早熟，適合與其他作物輪作。
            <p style="margin-left: 4em;"><b>BRS 517：</b>早熟、高生產力和抗病性。
           
            <p><b>免費大豆研究所：</b><br>
            <p style="margin-left: 3em;">Instituto Soja Livre 由 Aprosoja Mato Grosso 和 Embrapa 創立，致力於促進傳統大豆市場的發展，保證農村生產者在選擇技術和品種方面的自由選擇，從而帶來收穫的獲利能力和安全性。
            <p>傳統大豆仍是農民的相關替代品，提供具有生產潛力的非基因改造選擇。
    </div>
    <br>
    <hr class="rounded">
</div>