<div id="pagHome" class="content">
    <h1 id="h1Home">傳統大豆</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sojaconvencional.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">

        <p style="margin-left: 6em;"> <b> 寶石：</b> 令人著迷的自然珠寶<br>
        <p style="margin-left: 8em;">
            寶石，真正的大自然藝術品，自古以來就因其美麗而受到讚賞，
            稀有性、象徵意義和價值。
            它們不僅是簡單的裝飾品，還承載著故事、信念和意義，喚醒人們的讚賞和
            氧
            世界各地人們的著迷。

        <p style="margin-left: 6em;"> <b> 多種顏色與屬性：</b>

        <p style="margin-left: 8em;">
            每顆寶石都具有獨特的特徵，例如寶石的顏色、切割、硬度、光澤和折射率。
            光。 <br>
            這種多樣性創造了無限的可能性，寶石適合各種品味和風格：

        <p style="margin-left: 10em;">
            <b>鑽石：</b>最堅硬的寶石，以其強烈的光澤和經典的切割而聞名
            閃亮的形狀。 <br>
            <b>藍寶石：</b>皇家藍色寶石，與皇室、智慧和繁榮有關。 <br>
            <b>紅寶石：</b>充滿活力的紅色寶石，愛情、激情和力量的象徵。 <br>
            <b>祖母綠：</b>鬱鬱蔥蔥的綠色寶石以其鮮豔的色彩和獨特的內含物而聞名。 <br>
            <b>紫水晶：</b>深紫色的石頭，與靈性、保護和直覺有關。 <br>
            <b>黃玉：</b>有不同的顏色，如黃色、藍色、粉紅色和橙色，以其透明度和顏色而聞名
            閃耀。 <br>
            <b>碧璽：</b>用途最廣泛的寶石之一，具有多種顏色和特性，包括
            罕見的帕拉伊巴碧璽。 <br>
            <b>石榴石：</b>深紅色的石頭，熱情、活力與成功的象徵。 <br>
            <b> 海藍寶石：</b> 淺藍色寶石，與安寧、平和和忠誠有關。 <br>
            <b>黃水晶：</b>充滿活力的黃色石頭，以其正能量和吸引繁榮的力量而聞名。
            <br>

        <p style="margin-left: 6em;"> <b> 不只是美麗：</b> <br>

        <p style="margin-left: 8em;">
            寶石不僅僅是美麗的物體。 <br>
            縱觀歷史，它們被用於各種目的，例如：

        <p style="margin-left: 10em;">
            <b>護身符和護身符：</b>寶石被認為具有治癒、保護和幸運的力量。
            <br>
            <b>地位與財富的象徵：</b>寶石被用來裝飾皇冠、珠寶和其他物品
            的對象
            價值，體現權力和財富。 <br>
            <b> 交換貨幣：</b> 在某些文化中，寶石被用作交換貨幣，因為
            它的價值和稀有性。 <br>
            <b>藝術品和裝飾品：</b>寶石被雕刻和切割以創造藝術品和
            裝飾物品，例如家具和器皿。

        <p style="margin-left: 6em;"> <b> 全球市場：</b> <br>

        <p style="margin-left: 8em;">
            寶石市場是世界上最重要的市場之一，每年交易額達數十億美元。
            <br>
            寶石的主要產地位於不同的國家，例如
            巴西、南非、哥倫比亞、斯里蘭卡和澳洲。

        <p style="margin-left: 6em;"> <b> 打磨：展現美麗：</b>

        <p style="margin-left: 8em;">
            切割是一種展現寶石美麗和光澤的手工過程。 <br>
            透過精確的技術，切割師將原石轉變成珠寶
            使用放大鏡、拋光機和鑽石磨盤等工具使其閃閃發光。

        <p style="margin-left: 6em;"> <b> 照顧與保護：</b>

        <p style="margin-left: 8em;">
            寶石是寶貴的資產，需要特別護理才能保持其美麗和光澤。 <br>
            重要的是要保護它們免受跌落、衝擊、化學物質和過熱源的影響。 <br>
            定期用溫水和中性肥皂清潔對於保持品質至關重要
            的石頭。 <br>
            寶石是大自然的真正饋贈，令人著迷、著迷。
            人類幾個世紀以來。 <br>
            它們的美麗、稀有、象徵意義和價值使它們成為人們渴望和欽佩的對象，
            永垂不朽的特殊時刻和
            為我們的歷史增添一絲光彩和精緻。
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>