<div id="container" [ngClass]="{ 
        sidebarActive: sidebarActive, 
         }">
    <app-sidebar></app-sidebar>
    <div id="contentContainer">
        <app-header 
            (toggleSidebar)="sidebarActive = !sidebarActive"
            [sidebarActive]="sidebarActive"
            (toogleChineseLanguage)="receiveChineseMessage($event)"
            [languageChineseActive]="languageChineseActive"
            (toogleSpanishLanguage)="receiveSpanishMessage($event)"
            [languageEspanholActive]="languageEspanholActive"
            (toogleEnglishLanguage)="receiveEnglishMessage($event)"
            [languageInglesActive]="languageInglesActive"
            (tooglePortugueseLanguage)="receivePortugueseMessage($event)"
            [languagePortuguesActive]="languagePortuguesActive"
            >
        </app-header>
        <router-outlet id="content"></router-outlet>
    </div>
</div>
