<div id="container" [ngClass]="{ 
        sidebarActive: sidebarActive, 
        idiomaActive: idiomaActive,
         }">
    <app-sidebar
    
    [languageChineseActive]="languageChineseActive"
    [languageEnglishActive]="languageEnglishActive"
    [languageSpanishActive]="languageSpanishActive"
    [languagePortugueseActive]="languagePortugueseActive"

    [idiomaActive]="idiomaActive"
    (toogleIdiomaActive)="idiomaActive"
    

    ></app-sidebar>
    <div id="contentContainer">
        <app-header 
        (toggleSidebar)="sidebarActive = !sidebarActive"
        (toogleChineseLanguage)="languageChineseActive = !languageChineseActive"
        (toogleEnglishLanguage)="languageEnglishActive = !languageEnglishActive"
        (toogleSpanishLanguage)="languageSpanishActive = !languageSpanishActive"
        (tooglePortugueseLanguage)="languagePortugueseActive = !languagePortugueseActive"
        (toogleIdiomaActive)="idiomaActive"
                    
        [sidebarActive]="sidebarActive"
        [idiomaActive]="idiomaActive"
        [languageChineseActive]="languageChineseActive"
        [languageEnglishActive]="languageEnglishActive"
        [languageSpanishActive]="languageSpanishActive"
        [languagePortugueseActive]="languagePortugueseActive">
        </app-header>
        <router-outlet id="content"></router-outlet>
    </div>
</div>

