<h1 id="h1Home">Esmeralda</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/esmeralda.jpg" width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        La esmeralda es una de las piedras preciosas más codiciadas del mundo, conocida por su hermoso y profundo verde. Es la variedad más noble del mineral berilo. El color verde de la esmeralda se debe a la presencia de pequeñas cantidades de cromo y, a veces, de vanadio.<br>

        La esmeralda es apreciada como gema y su precio por quilate la sitúa entre las piedras más valiosas del mundo. Tiene una dureza de 7,5 - 8,0 en la escala de Mohs. Los principales yacimientos de esmeraldas son colombianos, pero también se pueden encontrar en Brasil —en Minas Gerais y Goiás—, en Rusia, en Zimbabwe y en Afganistán.<br>

        La esmeralda es extremadamente sensible a los golpes fuertes, los rayones y los cambios bruscos de temperatura. Además, la esmeralda promueve la estabilidad financiera, nos sintoniza con el patrón vibratorio de la abundancia y proporciona equilibrio físico, mental y emocional a quienes la usan.<br>

        Finalmente, la esmeralda es la piedra que representa a los nacidos en el mes de mayo, siendo símbolo de renacimiento y amor. Por tanto, es el regalo ideal para cumpleaños del mes, para el Día de la Madre e incluso para futuros novios que deseen pedir matrimonio en mayo.<br>    </div>
    <br>
    <hr class="rounded">
</div>