<div id="pagHome" class="content">
    <h1 id="h1Home">Esmeralda</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/esmeralda.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Esmeralda: </b>La joya verde que encanta al mundo <br>
        <p style="margin-left: 8em;">
            La esmeralda, piedra preciosa conocida por su vibrante color verde y brillo intenso, es una de las más
            codiciadas y valiosas del mundo.
            Su belleza natural y su rico simbolismo la convierten en objeto de deseo de coleccionistas, joyeros y
            amantes de
            las piedras preciosas.

        <p style="margin-left: 6em;"> <b> Origen e Historia: </b>

        <p style="margin-left: 8em;">
            Las esmeraldas se forman en rocas ígneas y metamórficas, en condiciones de alta presión y temperatura.
            Han sido extraídos y apreciados por muchas civilizaciones a lo largo de la historia, desde los antiguos
            egipcios
            y romanos hasta los incas y aztecas.

        <p style="margin-left: 6em;"> <b>Características y Propiedades: </b>

        <p style="margin-left: 8em;">
            <b> Color: </b> El color verde de la esmeralda está provocado por la presencia de cromo en su composición.
            El
            tono verde puede variar de
            De color verde claro a verde oscuro, con tonos azulados o amarillentos. <br>
            <b>Brillo:</b> Las esmeraldas tienen un brillo vidrioso, intenso y cautivador, lo que las hace aún más
            atractivas. <br>
            <b> Corte: </b> Las esmeraldas generalmente se cortan en cabujones, lo que realza su color y brillo. <br>
            <b>Inclusiones:</b>Las pequeñas imperfecciones, conocidas como inclusiones, son comunes en las esmeraldas y
            pueden incluso agrandarse.
            su valor, si se consideran las características únicas de la piedra. <br>

        <p style="margin-left: 6em;"> <b> Simbolismo y significados: </b>

        <p style="margin-left: 8em;">
            La esmeralda se asocia con diversos simbolismos y significados, como por ejemplo:

        <p style="margin-left: 10em;">
            <b>Riqueza y prosperidad:</b> Se cree que la esmeralda atrae riqueza, abundancia y suerte a su poseedor.
            <br>
            <b>Sabiduría y conocimiento: </b>La piedra verde está relacionada con la sabiduría, la inteligencia y la
            capacidad de tomar decisiones.
            inteligente. <br>
            <b> Amor y fidelidad: </b> La esmeralda simboliza el amor verdadero, la fidelidad y la lealtad entre las
            parejas. <br>
            <b>Salud y bienestar:</b> Se cree que la esmeralda tiene propiedades curativas, que pueden aportar salud
            física
            y mental.
            para su dueño. <br>
            <b> Protección: </b> La piedra verde también se asocia con la protección contra las energías negativas y la
            envidia. <br>

        <p style="margin-left: 6em;"> <b>Depósitos principales: </b>

        <p style="margin-left: 8em;">
            Las esmeraldas se encuentran en diferentes partes del mundo, pero los principales yacimientos se encuentran
            en:

        <p style="margin-left: 10em;">
            <b> Colombia: </b> Famosa por sus esmeraldas de color verde intenso y de alta calidad, Colombia es
            considerada
            el principal
            Productor mundial de piedra. <br>
            <b> Brasil: </b> Brasil también tiene importantes depósitos de esmeraldas, principalmente en los estados de
            Minas Gerais, Goiás
            y Bahía. <br>
            <b>Zambia:</b>Las esmeraldas de Zambia son conocidas por su color verde azulado y su alta transparencia.
            <br>
            <b> Rusia: </b> Las esmeraldas rusas vienen en tonos de verde más oscuros y son valoradas por su rareza.
            <br>

        <p style="margin-left: 6em;"> <b> Consejos para comprar esmeraldas: </b>

        <p style="margin-left: 8em;">
            A la hora de comprar una esmeralda, es importante considerar algunos factores, como por ejemplo:

        <p style="margin-left: 10em;">
            <b>Origen:</b> El origen de la esmeralda es un factor importante que influye en su valor. Esmeraldas de
            yacimientos de renombre, como
            Colombia y Brasil son generalmente más caros. <br>
            <b>Color:</b>El color de la esmeralda es uno de los principales factores que determinan su valor. Esmeraldas
            con
            tonos verdes.
            intensos y vibrantes son más valorados. <br>
            <b>Claridad:</b> Las esmeraldas con pocas inclusiones son más raras y más valiosas. <br>
            <b> Talla: </b> La calidad de la talla de la esmeralda también influye en su valor. Un corte bien hecho
            resalta
            la
            Belleza y brillo de la piedra. <br>
            <b> Certificado: </b> Es importante comprar la esmeralda con un certificado de autenticidad y calidad
            emitido
            por un
            reconocido laboratorio gemológico. <br>

        <p style="margin-left: 6em;">
            La esmeralda es una gema rara y preciosa que encanta por su belleza natural y su rico simbolismo.
            Si estás pensando en adquirir una esmeralda, recuerda investigar, considera los factores mencionados
            arriba y cómprelo a un vendedor acreditado para garantizar la autenticidad y calidad de la piedra.
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>