<h1 id="h1Home">ICUMSA 100-150 azúcar</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/acucaric100.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        El azúcar ICUMSA 100-150 es un tipo intermedio dentro de la escala ICUMSA, entre ICUMSA 45 e ICUMSA VHP. Exploremos más al respecto:

        <p style="margin-left: 2em;" >¿Qué es el azúcar ICUMSA 100-150?</p>
        <p style="margin-left: 4em;" >ICUMSA 100-150 representa un nivel intermedio de pureza.<br>
        Su polarización es de al menos el 99,50%.<br>
        Tiene un contenido moderado de sacarosa, lo que lo hace adecuado para diversas aplicaciones industriales.<br>
        Su color varía de marrón claro a medio.<br>
        El tamaño de las partículas está en el rango de 0,9 a 1,2 mm.</p>
        <p style="margin-left: 2em;" >Aplicaciones:</p>
        <p style="margin-left: 4em;" >ICUMSA 100-150 se usa ampliamente en el procesamiento de alimentos y ciertas aplicaciones industriales.
        Ofrece un equilibrio entre pureza y economía, siendo adecuado para situaciones que no requieren la blancura absoluta de ICUMSA 45.
        <p>Por tanto, si buscas un azúcar con características intermedias, ¡el azúcar ICUMSA 100-150 puede ser una opción adecuada a tus necesidades!</p>
    </div>
    <br>
    <hr class="rounded">
</div>
