<h1 id="h1Home">Soja</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/soja.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

        <p>Existem mais de 2 mil tipos de soja registrados no Ministério da Agricultura, mas podemos classificá-los em três grandes grupos distintos:

        <p><b>Soja Convencional:</b> Essas sementes são produzidas de forma tradicional, sem o uso de Organismos Geneticamente Modificados (OGM’s). São cultivares não transgênicas e não possuem resistência específica a herbicidas.
        <p><b>Soja RR (Roundup Ready):</b> As cultivares de soja RR são transgênicas e tolerantes ao herbicida Glifosato. Isso significa que essas plantas podem resistir à aplicação desse herbicida, facilitando o controle de ervas daninhas na lavoura1.
        <p><b>Soja Intacta:</b> Essas sementes são produzidas com tecnologia mais avançada. Além de serem transgênicas e resistentes ao Glifosato, também possuem proteção contra pragas, como lagartas. Isso torna a soja Intacta uma escolha interessante para produtores que buscam maior proteção contra insetos1.
        
        <p>Além disso, as cultivares de soja podem apresentar diferentes tipos de crescimento, como determinado, indeterminado e semideterminado. A maioria das cultivares brasileiras possui crescimento determinado, o que significa que a planta cresce pouco após o início do florescimento e não mais ramifica2.
        
        <p>Lembrando que a escolha do cultivar correto é fundamental para o sucesso da lavoura de soja. O produtor deve considerar as características da fazenda, pesquisar as propriedades de cada variedade e investir em materiais certificados para obter os melhores resultados

    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>
</div>
