<h1 id="h1Home">Cobre</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/cobre.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        O cobre é um elemento químico com símbolo Cu, número atômico 29, massa atômica 63,55 e pertencente ao grupo 11 da tabela periódica. É um metal de coloração vermelha discretamente amarelada, com um brilho levemente opaco de aspecto agradável. O cobre é altamente resistente à corrosão e muito pouco reativo. É o segundo metal de maior condutibilidade elétrica, ficando atrás apenas da prata.<br>
        Na natureza, o cobre é encontrado em três formas: Calcopirita (Sulfeto de Cobre e Ferro), Calcocita (Sulfeto de Cobre) e Malaquita (Carbonato de Cobre). O cobre pode sofrer diversos tipos de reações químicas e o seu produto mais conhecido é o sulfato de cobre.<br>
        O cobre é conhecido pela humanidade desde o período neolítico, quando era usado para produção de instrumentos de trabalho, armas e utensílios. Ele pode ser utilizado em sua forma pura ou combinado com outros metais, por exemplo, a liga entre o cobre e o estanho originou a Era do Bronze1.<br>
        Uma das principais aplicações do cobre é para produção de ligas metálicas, materiais formados pela mistura de dois ou mais componentes, no qual pelo menos um é metal. Existem mais de 1.000 tipos de ligas metálicas produzidas com o cobre. Alguns exemplos são: Latão (Cobre + Zinco), Bronze (Cobre + Estanho), Cuproníquel (Cobre + Níquel), Ouro 18 quilates (Ouro + Prata + Cobre) e Amálgama (Prata + Estanho + Cobre + Mercúrio).<br>
        Atualmente, grande parte do metal é destinado à produção de fios elétricos, telefones, iluminação e cabos de telecomunicação. O cobre também é usado na fabricação de panelas, pois é um excelente material condutor de calor.<br>
        O cobre é um dos minerais que também apresenta importância para o bom funcionamento do organismo humano. Ele é encontrado em baixa concentração no sangue, mas tem funções relacionadas com atividade de enzimas e formação de células sanguíneas. Os alimentos em que podemos encontrar o cobre são: frutos do mar, ovos, carne de bovinos e porco, amêndoas, cogumelo, sementes de girassol, feijão e nozes.<br>
    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>
</div>