.carousel {
    display: block;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #dff7df;
}

p {
    display: block;
    margin-left: 2em;
    margin-right: 0;
  }