<h1 id="h1Home">Shopping</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/compra.png"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        Buying commodities is a common practice in the financial market and can be carried out in several ways. Commodities are basic goods, such as grains, metals and oil, that are widely used in the production of other goods and services.<br>

        There are several ways to buy commodities:<br>

        <b>Futures Contracts:</b> The most common way to buy commodities is through futures contracts, which are agreements to buy or sell a specific quantity of a commodity at a fixed price on a future date. These contracts are traded on commodity exchanges such as the New York Mercantile Exchange (NYMEX) and the Chicago Commodity Exchange (CBOT).<br>

        <b>Commodity ETFs:</b> Commodity Exchange Traded Funds (ETFs) allow investors to buy a basket of commodities rather than a single commodity. These funds are traded like shares on stock exchanges.<br>

        <b>Shares of Commodity Companies:</b> Another way to invest in commodities is to buy shares of companies that produce commodities. For example, if you want to invest in oil, you can buy shares in oil companies.<br>

        <b>Commodity Mutual Funds:</b> These funds invest in a variety of commodities and are managed by professionals. They can be a good option for investors who prefer to leave investment decisions to professionals.<br>

        Before purchasing commodities, it is important to do careful research and understand the associated risks. Commodities can be volatile and prices can fluctuate quickly. Therefore, it is advisable to seek advice from a financial advisor before investing in commodities.<br>    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>
</div>