<h1 id="h1Home">Açucar</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/canadeacucar.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        A cana-de-açúcar (Glycine max) é uma planta fina, fibrosa, de formato cilíndrico e folhas longas. Ela pode chegar a até seis metros de altura e é da mesma família que o arroz, o milho, a cevada e outras gramíneas. Seu caule é rico em sacarose, o que faz da cana a principal matéria-prima do açúcar, um alimento indispensável para o ser humano. Além disso, a cana-de-açúcar é também a principal fonte de álcool, especialmente o etanol, que é economicamente importante como combustível alternativo.<br>

        A cana-de-açúcar tem origem na Oceania, mais precisamente onde hoje é a ilha de Nova Guiné, ao norte da Austrália. Ela se dá muito bem em locais de clima tropical e subtropical, como o Brasil, onde é largamente cultivada. No Brasil, a cana-de-açúcar chegou por volta de 1520, trazida pelos portugueses. Ela prosperou principalmente no Nordeste do país, sendo responsável por transformar o Brasil no maior produtor e exportador de açúcar no período que se estendeu até o século XVII. Hoje, a maior parte dos canaviais está localizada na região interiorana de São Paulo.<br>

        A cana-de-açúcar também é utilizada no estado natural como pasto consumido pelo gado, ou na forma de ingrediente em alimentos como a rapadura, o melado, a aguardente, entre outros produtos. A cana tem também outras finalidades. Ela é utilizada no estado natural como pasto consumido pelo gado, ou na forma de ingrediente em alimentos como a rapadura, o melado, a aguardente, entre outros produtos.<br>
    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>
</div>
