#pagHome {
    overflow-y: scroll;    /* COM SCROLL VERTICAL */
    height: 90%;
    width: 100%;
    border-bottom: 5px solid #719c71;
    /* border-right: 5px solid #719c71;
    border-left: 5px solid #719c71;
    */
  }