<h1 id="h1Home">Sorgo</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgo.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        O que é sorgo?

        O sorgo (Sorghum bicolor) é um cereal de clima quente, pertencente à família das gramíneas, e originário da África. É uma planta robusta e tolerante a condições adversas, como seca, calor e solos pobres, tornando-se uma opção ideal para regiões com climas áridos e semiáridos.
        
        Características e Benefícios do Sorgo:
        
        Versatilidade: O sorgo pode ser utilizado para diversas finalidades, como:
        Alimentação humana: grãos para consumo direto, farinha, flocos, rapadura, bebidas e outros produtos.
        Alimentação animal: grãos inteiros, silagem, feno e grãos moídos como complemento alimentar.
        Biocombustíveis: produção de etanol e biodiesel.
        Indústria: produção de papel, celulose, bioplásticos e outros produtos.
        Nutrição: O sorgo é rico em nutrientes, como proteínas, fibras, vitaminas e minerais. Contém teores significantes de ferro, zinco e antioxidantes, importantes para a saúde humana.
        Resiliência: Sua rusticidade permite o cultivo em áreas com baixa fertilidade, precipitação irregular e temperaturas elevadas, tornando-se uma alternativa vantajosa em regiões com desafios climáticos.
        Sustentabilidade: O sorgo apresenta um ciclo de crescimento curto, menor demanda por água e manejo eficiente de nutrientes, tornando-o uma cultura sustentável e com menor impacto ambiental.
        Aplicações do Sorgo:
        
        Segurança alimentar: O sorgo contribui para a segurança alimentar e nutricional, especialmente em regiões com alta vulnerabilidade climática e alimentar.
        Diversificação da produção: A cultura do sorgo diversifica a produção agrícola, reduzindo riscos e aumentando a resiliência dos sistemas agrícolas.
        Renda para agricultores: A produção de sorgo pode gerar renda para agricultores familiares, especialmente em áreas menos favorecidas.
        Sustentabilidade ambiental: O sorgo contribui para a sustentabilidade ambiental, com menor uso de recursos naturais e menor emissão de gases de efeito estufa.    
    </div>
    <br>
    <hr class="rounded">
</div>
