<h1 id="h1Home">高粱</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgo.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        什麼是高粱？

        高粱（Sorghum bicolor）是一種炎熱氣候穀物，屬於禾本科，原產於非洲。 它是一種健壯的植物，能夠耐受乾旱、炎熱和貧瘠土壤等不利條件，使其成為乾旱和半乾旱氣候地區的理想選擇。
       
        高粱的特點和好處：
       
        多功能性：高粱可用於多種用途，例如：
        人類食品：直接食用的穀物、麵粉、薄片、紅糖、飲料等產品。
        動物飼料：全穀物、青貯飼料、乾草和磨碎的穀物作為膳食補充劑。
        生物燃料：乙醇和生物柴油的生產。
        工業：生產紙張、纖維素、生物塑膠等產品。
        營養：高粱富含蛋白質、纖維、維生素和礦物質等營養素。 含有大量的鐵、鋅和抗氧化劑，對人類健康很重要。
        復原力：它的質樸特性允許在肥力低、降水不規則和高溫的地區種植，使其成為面臨氣候挑戰的地區的有利替代品。
        永續性：高粱生長週期短、需水量低、養分管理高效，使其成為對環境影響較小的永續作物。
        高粱應用：
       
        糧食安全：高粱有助於糧食和營養安全，特別是在氣候和糧食脆弱性較高的地區。
        生產多樣化：高粱種植使農業生產多樣化，降低風險並提高農業系統的復原力。
        農民收入：高粱生產可以為家庭農民帶來收入，特別是在條件較差的地區。
        環境永續性：高粱有助於環境永續性，減少自然資源的使用和溫室氣體排放。    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>
</div>
