<div id="pagHome" class="content">
    <h1 id="h1Home">Soja Intacta</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sojaintacta.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Soja intacta: </b> Desafíos y oportunidades para la agricultura brasileña <br>

        <p style="margin-left: 8em;">
            La soja intacta, también conocida como soja RR (Roundup Ready), es una variedad de soja genéticamente
            modificada.
            para
            resistir el herbicida glifosato. <br>
            Su introducción en Brasil en 1996 revolucionó la agricultura nacional, aumentando significativamente la
            productividad
            y reducir los costos de producción. <br>
            Sin embargo, la soja intacta también ha generado controversia y acalorados debates, planteando interrogantes
            sobre su
            impactos
            ambientales, sociales y económicos.

        <p style="margin-left: 6em;"> <b> Ventajas de la soja intacta: </b>

        <p style="margin-left: 8em;">
            <b>Mayor productividad:</b>
            La resistencia al glifosato permitió un control eficiente de las malezas, reduciendo
            necesidad de mano de obra y herbicidas tradicionales, lo que condujo a un aumento significativo de la
            productividad
            desde el
            La soja en Brasil. <br>
            <b>Reducción de costos:</b>
            La reducción de la necesidad de mano de obra y herbicidas tradicionales resultó en una reducción
            los costos de producción, haciendo que la soja intacta sea más competitiva en el mercado internacional. <br>
            <b> Facilidad de gestión: </b>
            El control más sencillo de las malas hierbas con glifosato simplificó el manejo del cultivo,
            hacer que la soja intacta sea más accesible para los pequeños y medianos agricultores.

        <p style="margin-left: 6em;"> <b> Desafíos de la soja intacta: </b>

        <p style="margin-left: 8em;">
            <b>Impactos ambientales:</b>
            El uso intensivo de glifosato puede causar daños al medio ambiente, como contaminación del suelo y
            del agua, la muerte de insectos benéficos y el desarrollo de resistencia en las malas hierbas. <br>
            <b>Preocupaciones de salud:</b> Algunos estudios plantean preocupaciones sobre la seguridad de la soja
            intacta
            para
            salud humana,
            como la posibilidad de alergias, problemas reproductivos y el desarrollo de cáncer. <br>
            <b> Concentración del mercado: </b> La producción de semillas de soja intactas está dominada por unas pocas
            empresas.
            multinacionales, que
            plantea preocupaciones sobre la concentración del mercado y la dependencia de los agricultores de estas
            empresas. <br>
            <b>Impactos sociales:</b>La expansión de la soja intacta puede provocar deforestación, pérdida de
            biodiversidad
            y
            conflictos
            social, principalmente con comunidades indígenas y tradicionales.

        <p style="margin-left: 6em;"> <b>El futuro de la soja intacta: </b>

        <p style="margin-left: 8em;">
            La soja intacta seguirá siendo un producto importante para la agricultura brasileña, pero es fundamental
            buscar
            soluciones para minimizar sus impactos negativos y asegurar su producción y consumo de forma sostenible.
            <br>

            <b> Investigación y desarrollo: </b> Invertir en investigación y desarrollo de nuevas variedades de soja más
            resistente a
            plagas y enfermedades, con menor necesidad de herbicidas y más beneficiosas para el medio ambiente. <br>
            <b> Agricultura sostenible: </b> Adoptar prácticas agrícolas sostenibles, como la rotación de cultivos,
            administración integrada
            de plagas y enfermedades y la agricultura de precisión, para reducir el uso de pesticidas y preservar el
            medio
            ambiente.
            <br>
            <b> Diálogo y Transparencia: </b> Promover el diálogo entre diferentes sectores de la sociedad, incluidos
            agricultores,
            consumidores, industria, gobierno y academia, para buscar soluciones consensuadas a los desafíos de la soja
            intacta.

        <p style="margin-left: 6em;">
            La soja intacta tiene el potencial de contribuir a la seguridad alimentaria y el desarrollo mundial.
            Estado socioeconómico de Brasil. <br>
            Sin embargo, es fundamental que su producción y consumo se realicen de forma responsable y sostenible, para
            garantizar
            la protección del medio ambiente, la salud de la población y el bienestar de las comunidades.
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>