<h1 id="h1Home">Soja Intacta</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sojaintacta.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        <p>La soja intacta es una variedad transgénica que ha revolucionado el agronegocio en los últimos años. Entendamos más sobre esta tecnología:

            <p style="margin-left: 2em;"><b>¿Qué es la soja intacta? </b>
            <p style="margin-left: 3em;">La soja intacta es un tipo de soja transgénica creada con el objetivo de mejorar la productividad agrícola.
            La soja intacta ha sido sometida a modificaciones genéticas en el laboratorio para obtener mejores resultados.
            Esta tecnología utiliza proteínas derivadas de la bacteria Bacillus thuringiensis (Bt) para hacer que los granos sean resistentes a plagas de insectos, como las orugas.
            <p style="margin-left: 2em;"><b>Cómo funciona la tecnología intacta: </b>
            <p style="margin-left: 3em;">En soja intacta, se insertaron las proteínas Cry1Ac y Cry1F, derivadas de la bacteria Bt.
            Estas proteínas atacan el sistema digestivo de las orugas, haciendo que los granos sean resistentes a estos insectos.
            La tecnología Intacta también brinda resistencia al herbicida glifosato, lo que reduce la necesidad de aplicar agroquímicos.
            <p style="margin-left: 2em;"><b>Beneficios de la soja intacta:</b>
            <p style="margin-left: 3em;"><b>Mayor productividad:</b> Con menos pérdidas causadas por plagas, los agricultores obtienen mayores rendimientos.
            <p style="margin-left: 3em;"><b>Calidad del producto:</b> La soja intacta mantiene su calidad nutricional y comercial.
            <p style="margin-left: 3em;"><b>Costo-Beneficio a largo plazo:</b> La reducción en el uso de pesticidas agrícolas compensa la inversión inicial.<br>
            <p>La soja intacta es una herramienta importante para afrontar los desafíos de la agricultura moderna, garantizando una mayor eficiencia y sostenibilidad.    </div>
    <br>
    <hr class="rounded">
</div>
