
<h1 id="h1Home">Frango</h1>
<div id="divCarousel" >
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <figure>
                <img src="{{ slide.img }}" alt="" class="img-style">
                <figcaption>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                </figcaption>
            </figure>
        </div>
    </ngx-slick-carousel>
    <br>
    <br>
    <div class="textFont"> 
        Apresentação do Frango: Versatilidade e Sabor à Sua Mesa
        O frango (Gallus gallus domesticus) é uma ave doméstica apreciada no mundo todo por sua carne saborosa, versátil e nutritiva. Sua criação oferece diversas opções de cortes para atender às suas necessidades culinárias.
        
        Cortes de Frango:
        
        Peito: Corte magro e rico em proteínas, ideal para grelhar, assar ou fritar.
        Sobrecoxa: Corte com mais gordura e sabor, perfeito para assar, ensopar ou refogar.
        Coxa: Corte saboroso e suculento, ideal para assar, fritar ou fazer moqueca.
        Asa: Corte popular para fritar, assar ou grelhar, podendo ser temperado de diversas maneiras.
        Drumet: Parte da asa com mais carne, ideal para assar, fritar ou fazer petiscos.
        Moela: Órgão com textura crocante, ideal para ensopados, refogados ou moquecas.
        Fígado: Víscera rica em ferro e vitaminas, ideal para refogados, patês ou recheios.
        Coração: Víscera com textura firme e sabor intenso, perfeito para refogados, espetinhos ou assados.
        Benefícios do Frango:
        
        Nutrição: Carne rica em proteínas, vitaminas e minerais, com baixo teor de gordura saturada.
        Versatilidade: Diversos cortes para atender às suas necessidades culinárias e preferências.
        Sabor: Carne saborosa que pode ser temperada de diversas maneiras.
        Preço: Carne acessível e com bom custo-benefício.
        Sustentabilidade: Criação com menor impacto ambiental em comparação com outras carnes.
        Dicas para Preparar Frango:
        
        Higiene: Lave bem as mãos e os utensílios antes de manusear o frango.
        Cocção: Cozinhe o frango até que esteja completamente cozido para evitar doenças.
        Temperos: Explore diversos temperos para variar o sabor do frango.
        Criatividade: Experimente novas receitas e cortes de frango para diversificar seu cardápio.
        Conclusão:
        
        O frango é uma excelente opção para uma alimentação nutritiva, saborosa e acessível. Com seus diversos cortes e possibilidades culinárias, o frango é um ingrediente versátil que pode agradar a todos os paladares.
        
        Para mais informações:
        
        Associação Brasileira de Proteína Animal (ABPA): [[URL inválido removido]]([URL inválido removido])
        Ministério da Agricultura, Pecuária e Abastecimento (MAPA): https://www.gov.br/agricultura/pt-br   
    </div>    
    <br>
    <hr class="rounded">


</div>

