<h1 id="h1Home">Iron</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/ferro.jpg" width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        Iron is a chemical element represented by the symbol Fe, with atomic number 26 and atomic mass 55.851. This transition metal has a silvery-white color in a chemically pure state, but has a grayish color due to the presence of iron sulfide, silicide and carbide. Iron has strong magnetic properties and is known for being one of the most used elements in the history of humanity.<br>

        In nature, iron is not found in a free state, but commonly in the form of pyrite (FeS), hematite (Fe2O3) and magnetite (Fe3O4). By reducing these compounds in a furnace heated to a temperature of 2000°C, iron is obtained.<br>

        Iron has a wide range of applications. It is an essential component in the production of steel, an alloy of iron and carbon, which is widely used in civil construction, in the manufacture of automobiles, ships, among others. Furthermore, iron is a mineral nutrient necessary to maintain the body's well-being, energy and healthy metabolism3. It helps cellular health and is involved in many enzyme functions.<br>

        However, it is important to note that the extraction and use of iron has significant impacts on the environment. Iron mining can lead to soil and water degradation, while steel production is one of the most energy-intensive industries and contributes significantly to global carbon dioxide emissions.<br>    </div>
    <br>
    <hr class="rounded">
</div>