<div id="pagHome" class="content">
    <h1 id="h1Home">Iron</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/ferro.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Iron: </b> An Essential Metal for Modern Civilization <br>
        <p style="margin-left: 8em;">Iron, an abundant metal in the Earth's crust, has shaped human history since
            the Iron Age,
            around 1200 BC. Its durability, resistance and versatility made it essential for the development
            of tools,
            weapons, machines and infrastructure, driving progress in several areas.

        <p style="margin-left: 6em;"> <b> Iron Properties: </b>

        <p style="margin-left: 8em;">
            <b> Strong and Resistant: </b> Withstands great forces and impacts, making it ideal for buildings, machines
            and
            tools. <br>
            <b> Malleable and Ductile: </b> Can be molded into different shapes, allowing the creation of complex and
            personalized. <br>
            <b> Magnetic: </b> This property is fundamental for electric motors and other devices
            electromagnetic. <br>
            <b> High Thermal and Electrical Conductivity: </b> Efficient in transferring heat and electricity, being
            used in various electronic components and heating systems. <br>
            <b> Alloys with Other Metals: </b> Forms alloys with other metals, such as carbon (steel) and nickel
            (stainless
            steel),
            expanding its properties and applications. <br>

        <p style="margin-left: 6em;"> <b> Iron Applications: </b>

        <p style="margin-left: 8em;">
            <b> Civil Construction: </b> Iron rebar reinforces concrete in buildings, bridges and other structures. <br>
            <b> Automotive Industry: </b> Vehicle bodies, engines and parts are manufactured with steel and cast iron.
            <br>
            <b> Machinery and Equipment: </b> Agricultural machinery, industrial tools and construction equipment
            They use cast iron and steel. <br>
            <b> Household appliances: </b> Refrigerators, stoves, washing machines and other household appliances have
            components
            of iron and steel. <br>
            <b>Railway Tracks:</b> Cast iron and steel are used in the construction of railway tracks,
            allowing the efficient transport of people and cargo. <br>

        <p style="margin-left: 6em;"> <b> Iron in History: </b>

        <p style="margin-left: 8em;">
            <b> Iron Age: </b> The Iron Age marked the transition from the Bronze Age, driving development
            of more efficient tools, weapons and agriculture. <br>
            <b> Industrial Revolution: </b> Iron was crucial to the Industrial Revolution, allowing the construction of
            machines, tools and infrastructure that boosted production and trade. <br>
            <b>Historic Buildings:</b>Iconic bridges, monuments and skyscrapers such as the Eiffel Tower and the Golden
            Gate
            Bridge, used iron and steel in its construction. <br>
            <b> Challenges and Sustainability: </b>

        <p style="margin-left: 10em;">
            <b> Mining and Environmental Impact: </b> The extraction of iron ore can cause environmental impacts, such
            as
            deforestation, water and air pollution. Sustainable mining practices and recycling technologies are
            essential to minimize these impacts. <br>
            <b> Corrosion: </b> Iron is susceptible to corrosion, which requires protective measures such as painting,
            galvanizing
            or the use of stainless steel, to extend its useful life. <br>

        <p style="margin-left: 6em;">
            Iron remains an essential metal for modern society, driving development in several
            sectors.
            With responsible use, sustainable mining practices and innovative technologies, iron will continue to
            contribute to the progress of humanity for many years to come.
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>