<div id="pagHome">
    <h1 id="h1Home">Black Beans</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/feijaopreto.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div>
        <p style="margin-left: 6em;"> <b> Black Beans: </b> A Nutritious and Versatile Food for the Brazilian Table <br>
        <p style="margin-left: 8em;">Black beans, one of the most traditional ingredients in Brazilian cuisine, are much
            more than a simple
            food. <br> It is a symbol of the country's culture and history, present on family tables for centuries and
            considered
            a complete and nutritious food. <br>

        <p style="margin-left: 6em;"> <b> A Little History: </b>

        <p style="margin-left: 8em;"> Black beans were introduced to Brazil by the Portuguese in the 16th century and
            quickly adapted to the climate and soil
            Brazilian. <br>
            Over time, it became a staple food in the population's diet, gaining prominence in culture.
            food in the country and becoming one of the main dishes of Brazilian cuisine. <br>

        <p style="margin-left: 6em;"> <b> Nutritional Properties: </b>

        <p style="margin-left: 8em;"> Black beans are a food rich in protein, fiber, vitamins and minerals, essential
            for
            health and well-being.

        <p style="margin-left: 10em;"> <b> Proteins: </b> Source of high quality vegetable proteins, important for
            tissue
            development and repair
            muscular. <br>
            <b> Fibers: </b> They aid in digestion, regulate the intestine and promote satiety, helping to control
            weight.
            <br>
            <b> Vitamins: </b> Rich in B complex vitamins, such as B1, B2 and B6, important for energy metabolism, the
            nervous and muscular function. <br>
            <b> Minerals: </b> Source of iron, phosphorus, magnesium and potassium, essential minerals for the proper
            functioning of the body. <br>

        <p style="margin-left: 6em;"> <b>Health Benefits:</b>

        <p style="margin-left: 8em;"> Regular consumption of black beans can bring several health benefits, such as:
            <br>

        <p style="margin-left: 10em;"> <b> Prevent chronic diseases: </b> Helps in the prevention of chronic diseases
            such
            as type 2 diabetes, heart disease and some
            types of cancer. <br>
            <b> Control cholesterol: </b> The fiber present in black beans helps reduce LDL ("bad") cholesterol,
            reducing
            risk of heart disease. <br>
            <b>Improve digestion:</b>Fibers also help regulate the intestines and prevent constipation. <br>
            <b> Strengthen the immune system: </b> Rich in vitamins and minerals, black beans help strengthen the system
            immunological, protecting the body against diseases. <br>
            <b> Promote satiety: </b> The fiber and proteins in black beans promote satiety, helping to control weight
            body. <br>


        <p style="margin-left: 6em;"> <b>Cooking Versatility:</b>

        <p style="margin-left: 8em;"> Black beans are an extremely versatile ingredient and can be used in various
            culinary
            dishes
            Brazilian, such as:

        <p style="margin-left: 10em;"> <b> Feijoada: </b> A typical Brazilian dish made with black beans, dried meat,
            sausage, paio and seasonings. <br>
            <b> Tropeiro: </b> A dish from Minas Gerais made with black beans, cracklings, cassava flour, cabbage and
            eggs.
            <br>
            <b> Baião de Dois: </b> A northeastern dish made with black beans, rice, coalho cheese, bottled butter and
            dried
            meat. <br>
            <b> Salpicão: </b> A refreshing salad made with black beans, shredded chicken, tomatoes, onions and
            seasonings.
            <br>
            <b> Black bean soup: </b> A nutritious and tasty soup made with black beans, vegetables, seasonings and
            vegetable or meat broth. <br>

        <p style="margin-left: 6em;"> Black beans are a complete, nutritious, versatile and tasty food that should be
            part
            of your regular diet.
            all Brazilians. <br><br>

            In addition to being a traditional and culturally important food, black beans offer several benefits for the
            health and can be used in a variety of delicious dishes.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>