<h1 id="h1Home">Materias primas internacionales</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/agrokelvy4.png" alt="agrokelvy" width="200" height="200" >
    <br>

    <div class="container">    
        <br>
        <h4 id="divText">Las materias primas son productos básicos que se comercializan a gran escala. Los principales productos básicos comercializados en todo el mundo incluyen:</h4>
        <b>Petróleo:</b> Es el producto básico más comercializado en el mundo. El petróleo se utiliza para producir gasolina, diésel, queroseno y otros productos derivados del petróleo. El precio del petróleo está influenciado por varios factores, como la oferta y la demanda, la política internacional y los desastres naturales.<br>
        <b>oro:</b> El oro es un bien valioso que se utiliza en joyería, electrónica e inversiones. El precio del oro está influenciado por varios factores, como la inflación, la política internacional y la demanda de joyas.<br>
        <b>Soja:</b> La soja es un producto agrícola que se utiliza para producir aceite de soja, piensos para animales y biocombustibles. El precio de la soja está influenciado por varios factores, como la oferta y la demanda, el clima y las políticas gubernamentales.<br>
        <b>Maíz:</b> El maíz es un producto agrícola que se utiliza para producir piensos para animales, biocombustibles y alimentos para humanos. El precio del maíz está influenciado por varios factores, como la oferta y la demanda, el clima y las políticas gubernamentales.<br>
        <b>Café:</b> El café es un producto agrícola que se utiliza para producir café tostado y molido, café instantáneo y otras bebidas. El precio del café está influenciado por varios factores, como la oferta y la demanda, el clima y las políticas gubernamentales.<br>
        <b>Azúcar:</b> El azúcar es un producto agrícola que se utiliza para producir alimentos y bebidas. El precio del azúcar está influenciado por varios factores, como la oferta y la demanda, el clima y las políticas gubernamentales.<br>
        <b>Algodón:</b> El algodón es un producto agrícola que se utiliza para producir ropa, telas y otros productos. El precio del algodón está influenciado por varios factores, como la oferta y la demanda, el clima y las políticas gubernamentales.<br>
        <b>Cobre:</b> El cobre es un producto metálico que se utiliza en electrónica, construcción y otras aplicaciones. El precio del cobre está influenciado por varios factores, como la oferta y la demanda, la política internacional y la economía global.<br>
        <b>Plata:</b> La plata es un producto metálico que se utiliza en joyería, electrónica y otras aplicaciones. El precio de la plata está influenciado por varios factores, como la oferta y la demanda, la política internacional y la economía global.<br>
        <b>Trigo:</b> El trigo es un producto agrícola que se utiliza para producir alimentos para humanos y animales. El precio del trigo está influenciado por varios factores, como la oferta y la demanda, el clima y las políticas gubernamentales.<br>
    </div>
</div>

