<h1 id="h1Home">Materias primas internacionales</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/agrokelvy4.png" alt="agrokelvy" >
    <span class="complementoLogo"></span>
    <img src="/carousel/browser/assets/images/naviocarga.jpg" alt="Transporte Marítimo" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities.jpg" alt="Commodities" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities2.jpg" alt="Commodities2" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities3.jpg" alt="Granos" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/acucarHome.jpg" alt="Azúcar" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/milhoHome.jpg" alt="Maíz" >
    <br>
    <div class="container">    
        <br>
        <h4 id="divText">Las materias primas son productos básicos que se comercializan a gran escala. Los principales productos básicos comercializados en todo el mundo incluyen:</h4>
        <b>Petróleo:</b> Es el producto básico más comercializado en el mundo. El petróleo se utiliza para producir gasolina, diésel, queroseno y otros productos derivados del petróleo. El precio del petróleo está influenciado por varios factores, como la oferta y la demanda, la política internacional y los desastres naturales.<br>
        <b>oro:</b> El oro es un bien valioso que se utiliza en joyería, electrónica e inversiones. El precio del oro está influenciado por varios factores, como la inflación, la política internacional y la demanda de joyas.<br>
        <b>Soja:</b> La soja es un producto agrícola que se utiliza para producir aceite de soja, piensos para animales y biocombustibles. El precio de la soja está influenciado por varios factores, como la oferta y la demanda, el clima y las políticas gubernamentales.<br>
        <b>Maíz:</b> El maíz es un producto agrícola que se utiliza para producir piensos para animales, biocombustibles y alimentos para humanos. El precio del maíz está influenciado por varios factores, como la oferta y la demanda, el clima y las políticas gubernamentales.<br>
        <b>Café:</b> El café es un producto agrícola que se utiliza para producir café tostado y molido, café instantáneo y otras bebidas. El precio del café está influenciado por varios factores, como la oferta y la demanda, el clima y las políticas gubernamentales.<br>
        <b>Azúcar:</b> El azúcar es un producto agrícola que se utiliza para producir alimentos y bebidas. El precio del azúcar está influenciado por varios factores, como la oferta y la demanda, el clima y las políticas gubernamentales.<br>
        <b>Algodón:</b> El algodón es un producto agrícola que se utiliza para producir ropa, telas y otros productos. El precio del algodón está influenciado por varios factores, como la oferta y la demanda, el clima y las políticas gubernamentales.<br>
        <b>Cobre:</b> El cobre es un producto metálico que se utiliza en electrónica, construcción y otras aplicaciones. El precio del cobre está influenciado por varios factores, como la oferta y la demanda, la política internacional y la economía global.<br>
        <b>Plata:</b> La plata es un producto metálico que se utiliza en joyería, electrónica y otras aplicaciones. El precio de la plata está influenciado por varios factores, como la oferta y la demanda, la política internacional y la economía global.<br>
        <b>Trigo:</b> El trigo es un producto agrícola que se utiliza para producir alimentos para humanos y animales. El precio del trigo está influenciado por varios factores, como la oferta y la demanda, el clima y las políticas gubernamentales.<br>

        <h4 id="divText"><b>Tipos de Operaciones Financieras</b></h4>
        <b>SBLC - Transferible/NO - Transferible - NO PB 2%:</b>
            <p>Es fundamental diferenciar entre SBLC transferible e intransferible. Mientras que los SBLC no transferibles se limitan al beneficiario original, los SBLC transferibles ofrecen la opción de transferir el crédito a otra parte, lo que permite una mayor flexibilidad en las transacciones comerciales.</p> <br>
        <b>DLC - LC - Transferible:</b>
            <p>Una Carta de Crédito Documental es un tipo de LC que incluye requisitos de documentación adicionales. Especifica los documentos necesarios que el vendedor debe presentar al banco para recibir el pago.
               Estos documentos suelen incluir facturas comerciales, conocimientos de embarque, certificados de inspección y otros documentos relevantes. Los DLC proporcionan una capa adicional de seguridad para ambas partes, garantizando que el vendedor cumpla con todas las obligaciones necesarias antes de recibir el pago.</p><br>
        <b>Venta CIF/FOB:</b>
            <p>¿Qué es el envío CIF?
                En el envío CIF, el vendedor es responsable de todos los costos y riesgos involucrados en el transporte de la mercancía al destinatario. En caso de problemas, toda la responsabilidad es de la tienda y no del cliente.</p>
       
            <p>¿Qué es el envío FOB?
                En este tipo de envío, el vendedor queda libre de responsabilidad por la entrega del producto. A diferencia del CIF, aquí es el comprador quien asume los costos y riesgos del transporte. Cuando se completa la compra, el vendedor termina su trabajo.
                La modalidad es muy utilizada entre las empresas, ya que en casos como estos es común que el comprador conozca un transportista confiable o tenga una asociación con un proveedor, lo que permite agilizar la entrega sin depender del vendedor.</p><br>
    </div>
</div>

