<div id="pagHome">
    <h1 id="h1Home">Materias primas internacionales</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/agrokelvy4.png" alt="agrokelvy">
        <span class="complementoLogo"></span>
        <img src="/carousel/browser/assets/images/naviocarga.jpg" alt="Transporte Marítimo">
        <span class="complemento"></span>
        <img src="/carousel/browser/assets/images/commodities.jpg" alt="Commodities">
        <span class="complemento"></span>
        <img src="/carousel/browser/assets/images/commodities3.jpg" alt="Granos">
        <span class="complemento"></span>
        <img src="/carousel/browser/assets/images/acucarHome.jpg" alt="Azúcar">
        <span class="complemento"></span>
        <img src="/carousel/browser/assets/images/milhoHome.jpg" alt="Maíz">
        <span class="complemento"></span>
        <img src="/carousel/browser/assets/images/coresp.jpg" alt="Core- SP">
        <br>
        <br>
    </div>
    <div>
        <h4 id="divText">
            <p style="margin-left: 6em;"><b>Materias primas</b>
        </h4>
        <h4 id="divText">
            <p style="margin-left: 8em;">Las materias primas son productos básicos que se comercializan ampliamente
                escala. Hacia
                Los principales productos comercializados en todo el mundo incluyen:
        </h4>
        <ul>
            <p style="margin-left: 10em; color: gris oscuro;">

                <li>
                    <b>Algodón:</b> El algodón es un producto agrícola que se utiliza para producir prendas de vestir,
                    tejidos y
                    otros
                    productos.
                    El precio del algodón está influenciado por varios factores, como la oferta y la demanda, el clima y
                    políticas
                    gobierno.<br>
                </li>
                <li>
                    <b>Azúcar: </b> El azúcar es un producto agrícola que se utiliza para producir alimentos y
                    bebidas. oh
                    precio de
                    El azúcar está influenciado por varios factores, como la oferta y la demanda, el clima y las
                    políticas.
                    gubernamental. <br>
                </li>
                <li>
                    <b>Café:</b> El café es un producto agrícola que se utiliza para producir café tostado y molido,
                    café
                    soluble y
                    otras bebidas. El precio del café está influenciado por varios factores, como la oferta y la
                    demanda, la
                    clima y
                    hacia
                    políticas gubernamentales.<br>
                </li>
                <li>
                    <b>Cobre:</b> El cobre es un producto metálico que se utiliza en electrónica, construcción y otros
                    aplicaciones. oh
                    El precio del cobre está influenciado por varios factores, como la oferta y la demanda, las
                    políticas
                    internacional y
                    El
                    economía global.<br>
                </li>
                <li>
                    <b>Maíz:</b> El maíz es un producto agrícola que se utiliza para producir alimento para animales,
                    biocombustible y
                    alimento para los humanos. El precio del maíz está influenciado por varios factores, como la oferta
                    y
                    demanda, la
                    Políticas climáticas y gubernamentales.<br>
                </li>
                <li>
                    <b>Oro:</b> El oro es un bien valioso que se utiliza en joyería, electrónica e inversiones. oh
                    precio
                    del
                    el oro es
                    influenciado por varios factores, como la inflación, la política internacional y la demanda de
                    joyería.<br>
                </li>
                <li>
                    <b>Petróleo:</b> Es el producto básico más comercializado en el mundo. El aceite se utiliza para
                    producir gasolina, diesel, queroseno y otros productos derivados del petróleo. El precio del
                    petróleo es
                    influenciado
                    por
                    diversos factores como la oferta y la demanda, la política internacional y los desastres
                    naturales.<br>
                </li>
                <li>
                    <b>Plata:</b> La plata es un producto metálico que se utiliza en joyería, electrónica y otros
                    aplicaciones. oh
                    precio de
                    La plata está influenciada por varios factores como la oferta y la demanda, la política
                    internacional y
                    economía
                    mundial.<br>
                </li>
                <li>
                    <b>Soja:</b> La soja es un producto agrícola que se utiliza para producir aceite de soja, piensos
                    animales y
                    biocombustible. El precio de la soja está influenciado por varios factores, como la oferta y la
                    demanda,
                    la
                    clima y
                    políticas gubernamentales.<br>
                </li>
                <li>
                    <b>Trigo:</b> El trigo es un producto agrícola que se utiliza para producir alimentos para los
                    humanos.
                    Es
                    parte
                    animal.
                    El precio del trigo está influenciado por varios factores, como la oferta y la demanda, el clima y
                    políticas
                    gobierno.<br>
                </li>
        </ul>
        <h4 id="divText">
            <p style="margin-left: 6em;"><b>Modo operativo de ventas</b>
        </h4>

        <p style="margin-left: 8em; color: gris oscuro; ">
            En el comercio internacional, los términos de negociación definen las responsabilidades y costos del
            transporte de
            mercancía del vendedor al comprador. <br>
            Comprender estos términos es crucial para garantizar una transacción segura y eficiente, evitando
            malentendidos y
            costes adicionales. <br>
            En esta guía, lo haremosanalizar en detalle los términos CIF (Costo, Seguro y Flete), FOB Estibado y FOB
            Acerca
            de
            Ruedas, revelando sus características y diferencias. <br> <br>

            <b>1. CIF (Costo, Seguro y Envío):</b>

        <p style="margin-left: 10em;">
            En CIF, el vendedor asume la responsabilidad de: <br>

        <ul>
            <p style="margin-left: 10em; color: gris oscuro;">

                <li>Costo de la mercancía: El precio acordado por el producto en sí.</li>
                <li>Seguros: Compra y pago de un seguro marítimo para cubrir riesgos durante el transporte.
                </li>
                <li>Flete: Pago por el transporte de la mercancía hasta el puerto de destino designado en el contrato.
                </li>
        </ul>

        <p style="margin-left: 10em;">
            El comprador asume la responsabilidad de:

        <ul>
            <p style="margin-left: 10em; color: gris oscuro;">

                <li>Gastos portuarios en el puerto de destino: Gastos de descarga, almacenamiento y otros costos
                    relacionados con la llegada de mercancías al puerto.</li>
                <li>Transporte interno: Contratación y pago del transporte de mercancías desde el puerto de destino
                    hasta
                    oh
                    ubicación final deseada por el comprador.</li>
                <li>Gastos de importación: Impuestos, tasas y otros cargos relacionados con el ingreso de mercancías
                    en el
                    país de destino.</li>
        </ul>

        <p style="margin-left: 8em; color: gris oscuro;">
            <b>2. FOB guardado:</b>

        <p style="margin-left: 10em;">
            En FOB Estivado, el vendedor asume la responsabilidad de:

        <ul>
            <p style="margin-left: 10em; color: gris oscuro;">
                <li>Costo de la mercancía: El precio acordado por el producto en sí.</li>
                <li>Estiba: Colocación de la mercancía a bordo del buque, incluidos los costes de apilamiento, amarre y
                    fijación.</li>
        </ul>

        <p style="margin-left: 10em;">
            El comprador asume la responsabilidad de:

        <ul>
            <p style="margin-left: 10em; color: gris oscuro;">

                <li>Seguros: Compra y pago de un seguro marítimo para cubrir riesgos durante el transporte.
                </li>
                <li>Flete: Pago por el transporte de mercancías desde el momento de su estiba hasta el puerto de
                    destino
                    designado en el contrato. </li>
                <li>Gastos portuarios en el puerto de destino: Gastos de descarga, almacenamiento y otros costos
                    relacionados con la llegada de mercancías al puerto. </li>
                <li>Transporte interno: Contratación y pago del transporte de mercancías desde el puerto de destino
                    hasta
                    oh
                    Ubicación final deseada por el comprador. </li>
                <li>Gastos de importación: Impuestos, tasas y otros cargos relacionados con el ingreso de mercancías
                    en el
                    país destino. </li>
        </ul>

        <p style="margin-left: 8em; color: gris oscuro;">
            <b>3. MANDO sobre ruedas:</b>

        <p style="margin-left: 10em;">
            En FOB Sobre Rodas, el vendedor asume la responsabilidad de:

        <ul>
            <p style="margin-left: 10em; color: gris oscuro;">

                <li>Costo de la mercancía: El precio acordado para el producto en sí. </li>
                <li>Entrega de la mercancía en el vehículo del comprador o en un lugar designado por el comprador:
                    vendedor
                    asume los costos de transporte hasta el lugar de entrega. </li>
        </ul>

        <p style="margin-left: 10em;">
            El comprador asume la responsabilidad de:

        <ul>
            <p style="margin-left: 10em; color: gris oscuro;">

                <li>Seguros: Contratación y pago de seguros (opcional, según acuerdo entre las partes).
                </li>
                <li>Gastos de importación: Impuestos, tasas y otros cargos relacionados con el ingreso de mercancías
                    en el
                    país de destino (si corresponde). </li>
        </ul>

        <h4 id="divText">
            <p style="margin-left: 6em;"><b> La elección del término comercial ideal depende de varios factores,
                    como: </b>
        </h4>

        <ul>
            <p style="margin-left: 10em; color: gris oscuro;">

                <li>Tipo de mercancía: CIF se utiliza más para carga marítima, mientras que FOB Estivada y
                    MANDO sobre ruedas
                    Se puede utilizar para diferentes tipos de transporte. </li>
                <li>Ubicación de las partes: La distancia entre el vendedor y el comprador influye en la elección de
                    término más apropiado
                    compartir costos y responsabilidades. </li>
                <li>Experiencia de las partes: Si una de las partes no tiene experienciacon importación o exportación,
                    el
                    CIF puede ser
                    más ventajoso ya que incluye seguro. </li>
                <li>Negociación entre las partes: Los términos pueden ser flexibles y ajustarse según
                    necesidades y
                    preferencias de ambas partes. </li>
        </ul>

        <h4 id="divText">
            <p style="margin-left: 6em;"><b>Recomendaciones: </b>
        </h4>
        <p style="margin-left: 10em; color: gris oscuro;">
            Consulte a un especialista en comercio internacional: un profesional experimentado puede ayudarle a
            elección de
            término comercial más adecuado para su transacción.

            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>