<h1 id="h1Home">Etanol</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/etanol.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        El etanol, también conocido como alcohol etílico, es un compuesto orgánico perteneciente a la función química de los alcoholes. Su fórmula química es C2H6O. Es un líquido incoloro, inflamable y miscible en agua.

        El etanol tiene varias aplicaciones industriales, incluido su uso como disolvente y en la producción de bebidas alcohólicas. Sin embargo, su principal aplicación es como biocombustible. El etanol se produce principalmente por la fermentación de azúcares presentes en plantas como la caña de azúcar y el maíz.

        Una de las grandes ventajas del etanol es que genera menos dióxido de carbono a la atmósfera en comparación con la gasolina. Sin embargo, el precio del etanol puede variar y está influenciado por varios factores.

        En Brasil, el etanol comenzó a utilizarse a principios del siglo XX y ganó protagonismo con la introducción de los vehículos flex fuel. Sin embargo, la producción de etanol requiere grandes extensiones de tierra para cultivar caña de azúcar, lo que puede provocar daños ambientales y competir con la producción de alimentos.    </div>
    <br>
    <hr class="rounded">
</div>
