<h1 id="h1Home">Caña de azúcar</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/canadeacucar.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">
    <p style="margin-left: 6em;"> <b> Caña de azúcar: </b> Dulzura que mueve a Brasil y al mundo
    <p style="margin-left: 8em;"> La caña de azúcar, más que un simple ingrediente culinario, es un pilar de la
        historia, la economía y la cultura.
        Brasileño. <br> Desde su introducción al país en el siglo XVI, la caña de azúcar se ha convertido en uno de los
        principales productos agrícolas del país.
        Brasil, moldeando su sociedad e impulsando su desarrollo. <br>

    <p style="margin-left: 6em;"> <b> Mucho más que azúcar: </b>

    <p style="margin-left: 8em;"> Aunque el azúcar es el producto derivado de la caña de azúcar más conocido, ofrece una
        gama de subproductos versátiles, como:

    <p style="margin-left: 8em;"><b> Etanol: </b> Fuente de energía renovable y sostenible, utilizada como combustible
        para vehículos y en la generación de
        electricidad. <br>
        <b> Melaza: </b> Un edulcorante natural rico en nutrientes, ideal para endulzar recetas y bebidas de forma más
        saludable. <br>
        <b> Vinhoto: </b> Abono orgánico rico en nutrientes, que contribuye a la fertilidad del suelo y a la calidad de
        plantaciones. <br>
        <b> Bagacilho: </b> Residuo de la molienda de la caña de azúcar, utilizado como combustible para las plantas y
        en la producción de papel y celulosa. <br>

    <p style="margin-left: 6em;"> <b> Un gigante en producción: </b>

    <p style="margin-left: 8em;"> Brasil ostenta el título de mayor productor y exportador de caña de azúcar del mundo,
        representando alrededor de un tercio
        de la producción mundial. <br> Las regiones Sureste y Centro-Oeste concentran la mayor parte del cultivo, con
        énfasis en los estados
        como São Paulo, Minas Gerais y Goiás.

    <p style="margin-left: 6em;"> <b> Impacto social y ambiental: </b>

    <p style="margin-left: 8em;"> La cadena productiva de la caña de azúcar genera millones de empleos directos e
        indirectos en Brasil, contribuyendo al
        desarrollo social y económico de las regiones productoras. <br>

        Sin embargo, el cultivo de caña de azúcar también presenta desafíos socioambientales, como la deforestación, el
        uso intensivo de agua
        y pesticidas y quema de paja de caña de azúcar.

    <p style="margin-left: 6em;"> <b> Un futuro sostenible: </b>

    <p style="margin-left: 8em;"> El sector de la caña de azúcar busca constantemente soluciones innovadoras y
        sostenibles para minimizar estos impactos,
        como: <br>

    <p style="margin-left: 8em;"> <b>Mejora de técnicas agrícolas: </b>Adopción de prácticas como agricultura de
        precisión y gestión sostenible de la tierra
        suelo para reducir el uso de recursos naturales y aumentar la productividad. <br>
        <b> Inversión en energías renovables: </b> Uso del bagacilho de caña de azúcar como fuente de energía para
        plantas y
        comunidades, reduciendo la emisión de gases contaminantes. <br>
        <b> Reciclaje y reutilización de agua: </b> Implantación de sistemas de tratamiento y reutilización de agua en
        plantas para reducir
        consumo de agua potable. <br>
        <b> Combatir la quema de paja: </b> Adopción de técnicas alternativas para la cosecha de la caña de azúcar, como
        la paja picada y quemada
        en hornos para generar energía. <br> <br>

        La caña de azúcar seguirá siendo un producto importante para Brasil, siempre y cuando su cultivo se realice de
        manera sostenible.
        sostenible y responsable. <br> <br>

        ¡Juntos podemos construir un futuro más verde y dulce para la caña de azúcar y nuestro planeta!
        <br>
        <br>
        <hr class="rounded">
</div>