<h1 id="h1Home">Caña de azúcar</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/canadeacucar.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        La caña de azúcar (Glycine max) es una planta delgada, fibrosa, de forma cilíndrica y hojas largas. Puede alcanzar hasta seis metros de altura y es de la misma familia que el arroz, el maíz, la cebada y otras gramíneas. Su tallo es rico en sacarosa, lo que convierte a la caña de azúcar en la principal materia prima del azúcar, alimento esencial para el ser humano. Además, la caña de azúcar es también la principal fuente de alcohol, especialmente etanol, que es económicamente importante como combustible alternativo.<br>

        La caña de azúcar es originaria de Oceanía, más precisamente de lo que hoy es la isla de Nueva Guinea, al norte de Australia. Se desarrolla muy bien en lugares con clima tropical y subtropical, como Brasil, donde se cultiva ampliamente. La caña de azúcar llegó a Brasil hacia 1520, traída por los portugueses. Prosperó principalmente en el Nordeste del país, siendo responsable de transformar a Brasil en el mayor productor y exportador de azúcar en el período que se extendió hasta el siglo XVII. Hoy en día, la mayoría de los campos de caña de azúcar se encuentran en la región interior de São Paulo.<br>

        La caña de azúcar también se utiliza en su estado natural como pasto consumido por el ganado, o como ingrediente de alimentos como rapadura, melaza, aguardiente, entre otros productos. La caña de azúcar también tiene otros fines. Se utiliza en su estado natural como pasto consumido por el ganado, o como ingrediente en alimentos como rapadura, melaza, aguardiente, entre otros productos.<br>    </div>
    <br>
    <hr class="rounded">
</div>
