<h1 id="h1Home">Açucar</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/acucar2.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        O que é Açúcar?
            O açúcar é um carboidrato simples, obtido principalmente da cana-de-açúcar e da beterraba sacarina. É um ingrediente essencial em diversas receitas e utilizado para adoçar alimentos e bebidas.
        
        Tipos de Açúcar:
            Açúcar cristal: É o tipo mais comum, com cristais grandes e secos.
            Açúcar refinado: Passa por um processo de refinamento que remove impurezas e deixa os cristais mais brancos e finos.
            Açúcar de confeiteiro: É um açúcar refinado moído até virar um pó fino.
            Açúcar mascavo: É um açúcar menos processado, com cristais úmidos e sabor mais intenso.
            Açúcar demerara: É um tipo de açúcar mascavo com cristais maiores e sabor mais suave.

        Siglas de tipo de açucar para comercialização:
            SUGAR IC 45 - IC 30 - IC100 - IC 150. VHP- IC600 - 1200

        Benefícios do Açúcar:        
            Energia: O açúcar fornece energia rápida para o corpo, sendo importante para atividades físicas e mentais.
            Sabor: Adoça alimentos e bebidas, tornando-os mais saborosos e atraentes.
            Conservação: Ajuda a conservar alimentos, como frutas em compotas.
            Textura: Em receitas, o açúcar contribui para a textura e cremosidade de bolos, tortas e outros doces.

        Precauções no Consumo:
            O consumo excessivo de açúcar pode trazer diversos problemas à saúde, como obesidade, diabetes, doenças cardíacas e cáries. É importante consumir o açúcar com moderação e dentro de uma dieta equilibrada.
        
        Alternativas ao Açúcar:        
            Para reduzir o consumo de açúcar, existem diversas alternativas, como:        
            Adoçantes naturais: stevia, xilitol, eritritol.
            Frutas: banana, maçã, uva.
            Mel: adoçante natural com propriedades benéficas.

        Conclusão:
        
            O açúcar é um ingrediente versátil com diversos benefícios, mas é importante consumi-lo com moderação. A escolha de alternativas ao açúcar e uma dieta equilibrada são importantes para manter uma boa saúde.
        
        Para mais informações:
        
        Associação Brasileira da Indústria de Cana-de-Açúcar (ABIA): https://www.abia.org.br/
        Ministério da Saúde: https://www.gov.br/saude/pt-br    </div>
    
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>
</div>
