<h1 id="h1Home">Azúcar ICUMSA VHP</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/acucaricVHP.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        
        El azúcar VHP es otro tipo importante de azúcar que tiene características específicas. Exploremos más al respecto:

        <p style="margin-left: 2em;" >¿Qué es el azúcar VHP?
        <p style="margin-left: 4em;" >El acrónimo “VHP” significa “Very High Polarization”. Este tipo de azúcar se caracteriza por su alta concentración de sacarosa.
        <p style="margin-left: 4em;" >El azúcar VHP se produce a partir del jugo de la caña de azúcar y pasa por un proceso de evaporación y cristalización.
        <p style="margin-left: 4em;" >Se llama “VHP” debido a su alta polarización, que hace referencia a la cantidad de sacarosa presente en el azúcar.
        <p style="margin-left: 4em;" >El azúcar VHP se utiliza generalmente en la industria exportadora, donde se transporta en grandes cantidades a otros países.
        <p style="margin-left: 4em;" >Su alta concentración de sacarosa lo hace ideal para su uso en procesos industriales, como la fabricación de bebidas, alimentos y productos químicos.</p>
        Nota: el azúcar VHP no está refinado y puede contener impurezas, pero su alta concentración de sacarosa lo hace valioso para muchas aplicaciones.

    </div>
    <br>
    <hr class="rounded">
</div>
