<div id="pagHome" class="content">
    <h1 id="h1Home">爆米花玉米</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/milhoflourbrancaia.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">

        <p style="margin-left: 6em;"> <b> 白玉米粉：</b> 巴西餐桌上的風味和多功能性 <br>
        <p style="margin-left: 8em;">
            白玉米粉是巴西美食的基本成分，源自玉米粒
            白色和優惠
            從傳統菜餚到創意食譜，用途多樣。

        <p style="margin-left: 6em;"> <b> 一點歷史：</b>

        <p style="margin-left: 8em;">
            巴西白玉米粉的歷史可以追溯到原住民時代，他們已經使用玉米
            接地到
            準備不同的食物。 <br>
            隨著葡萄牙殖民者的到來，玉米粉的消費加劇，成為一種
            密封食物
            在人們的飲食中。

        <p style="margin-left: 6em;"> <b> 營養特性：</b>

        <p style="margin-left: 8em;">
            白玉米粉是一種富含營養的食物，例如：

        <p style="margin-left: 10em;">
            <b>碳水化合物：</b>身體的能量來源。 <br>
            <b>蛋白質：</b>對於肌肉組織的發育和修復很重要。 <br>
            <b>纖維：</b>它們有助於消化、調節腸道並促進飽足感。 <br>
            <b> 維生素：</b> 富含 B 群維生素，如 B1、B2 和 B3，對新陳代謝很重要
            能量、神經系統和肌肉功能。 <br>
            <b> 礦物質：</b> 鐵、磷、鎂和鉀的來源，是身體正常運作所必需的礦物質
            身體。

        <p style="margin-left: 6em;"> <b>健康益處：</b>

        <p style="margin-left: 8em;">
            經常食用白玉米粉可以帶來多種健康益處，例如：

        <p style="margin-left: 10em;">
            <b>預防慢性疾病：</b>有助於預防慢性疾病，如第2型糖尿病、
            心臟病和某些類型的癌症。 <br>
            <b>控制膽固醇：</b>玉米粉中的纖維有助於降低低密度脂蛋白膽固醇
            （「壞」），降低心臟病的風險。 <br>
            <b>改善消化：</b>纖維也有助於調節腸道並防止便秘。 <br>
            <b>增強免疫系統：</b>玉米粉富含維生素和礦物質，有助於增強免疫力
            免疫系統，保護身體免受疾病侵害。 <br>
            <b>促進飽足感：</b>玉米粉中的纖維和蛋白質可促進飽足感，有助於
            體重控制。

        <p style="margin-left: 6em;"> <b>烹飪多功能性：</b>

        <p style="margin-left: 8em;">
            白玉米粉是一種用途極為廣泛的配料，可用於多種菜餚。
            巴西美食，例如：

        <p style="margin-left: 10em;">
            <b>玉米粉蛋糕：</b>一種傳統的巴西蛋糕，由白玉米粉、牛奶、雞蛋、糖和
            油。 <br>
            <b>玉米麵包：</b>一種用白玉米粉、牛奶、酵母和鹽製成的質樸麵包。 <br>
            <b>蒸粗麥粉：</b>東北菜，用白玉米粉、水和鹽製成。 <br>
            <b> Angu：</b> 來自米納斯吉拉斯州的一道菜，由白玉米粉、水和鹽製成。 <br>
            <b>玉米粉蒸肉：</b>典型的中西部菜餚，由新鮮磨碎的玉米、牛奶、糖和鹽製成。

        <p style="margin-left: 6em;">白玉米粉是一種美味、營養、用途廣泛的食品，應該
            所有巴西人常規飲食的一部分。 <br>
            除了作為傳統和文化上重要的成分外，白玉米粉還具有多種功效
            對健康有益，可用於各種美味菜餚。
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>