<div id="pagHome" class="content">
    <h1 id="h1Home">甜高粱</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sorgosacarino.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">

        <p style="margin-left: 6em;"> <b> 甜高粱：</b> 對巴西未來的甜蜜承諾 <br>
        <p style="margin-left: 8em;">
            甜高粱，也稱為雙色高粱或玉米甘蔗，是一種很有前途的植物
            為了巴西農業的未來。 <br>
            甜高粱具有獨特的特性和廣泛的用途潛力，成為替代品
            適用於不同經濟部門的可持續且多功能。

        <p style="margin-left: 6em;"> <b> 不只是穀物：</b>

        <p style="margin-left: 8em;">
            甜高粱不只是一顆穀物。它提供一系列產品和應用，例如：

        <p style="margin-left: 10em;">
            <b>供人類和動物食用的穀物：</b>作為能量、蛋白質和纖維的來源，高粱可以
            用於生產麵粉、薄片、義大利麵、動物飼料和其他產品。 <br>
            <b>糖和乙醇：</b>甜高粱富含蔗糖，可用於生產糖和乙醇。
            第二代乙醇，再生和可持續的生物燃料。 <br>
            <b>飼料：</b>高粱葉和稈可作為優質飼料
            動物飼料。 <br>
            <b>生物質：</b>高粱可用於生產生物質以產生能源（一種燃料）
            可再生且清潔。 <br>
            <b>可生物降解材料：</b>高粱可用於生產可生物降解材料，如
            塑膠、包裝和其他產品。

        <p style="margin-left: 6em;"> <b>甜高粱的優點：</b>

        <p style="margin-left: 8em;">
            甜高粱有幾個優點，使其成為巴西很有前途的植物：

        <p style="margin-left: 10em;">
            <b>適應力：</b>適應不同的氣候和土壤，擴大全國種植面積。 <br>
            <b>抗性：</b>抗乾旱、抗病蟲害，減少農藥的使用。 <br>
            <b>永續性：</b>生態正確的種植，與其他方法相比對環境的影響較低
            文化。 <br>
            <b>多功能性：</b>各種應用，增加生產價值並滿足不同的需求
            市場。 <br>
            <b>生物燃料的潛力：</b>有助於國家的能源安全與減少
            溫室氣體排放。

        <p style="margin-left: 6em;"> <b> 挑戰與前景：</b>

        <p style="margin-left: 8em;">
            儘管潛力巨大，甜高粱在巴西仍面臨一些挑戰，例如：

        <p style="margin-left: 10em;">
            <b>物流：</b>改善高粱運輸和儲存的物流基礎設施對於
            確保其商業化的可行性。 <br>
            <b> 研究與開發：</b> 投資於研究與開發，以改善栽培技術和
            高粱加工對於提高作物的生產力和競爭力至關重要。 <br>
            <b>市場意識：</b>提高市場對高粱及其各種益處的認識
            用途對於增加對該植物的需求至關重要。

        <p style="margin-left: 6em;">
            甜高粱為巴西實現農業生產多元化、促進農業生產提供了獨特的機會
            生物經濟並為更永續的未來做出貢獻。 <br>
            透過投資開發這種有前途的植物，該國可以加強其糧食安全，產生
            新的就業機會並為緩解氣候變遷做出貢獻。
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>