<h1 id="h1Home">甜高粱</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgosacarino.jpg" width="200" height="200">
    <br>
    <br>
    <div class="textFont">

        <p>甜高粱是高粱的一種，株高可達兩公尺以上。它的特點是具有類似於甘蔗的甜而多汁的莖。以下是有關甜高粱的一些相關資訊：

            <p style="margin-left: 2em;"><b>甜高粱的特性：</b>
            <p style="margin-left: 3em;">甜高粱：甜高粱的莖富含可發酵糖，使其成為乙醇生產的有趣替代品。
            <p style="margin-left: 3em;">開放圓錐花序：圓錐花序（束）開放，產生少量穀物（種子）。
            <p style="margin-left: 3em;">用途：甜高粱可作為飼料、青貯飼料，也可用於切割。
           
            <p style="margin-left: 2em;"><b>乙醇生產潛力：</b>
            <p style="margin-left: 3em;">甜高粱是一種正在研究的替代石油的選擇，以滿足全球燃料需求。
            <p style="margin-left: 3em;">三個特徵使這種植物具有可持續性：
            <p style="margin-left: 3em;">再生生物乙醇：甜高粱生產生質乙醇，這是一種再生能源。
            <p style="margin-left: 3em;">減排：其種植減少了污染氣體的排放。
            <p>總而言之，甜高粱在生產乙醇和作為牲畜飼料方面都具有潛力，是農業和工業的一種有趣的替代品

    </div>
    <br>
    <hr class="rounded">
</div>