<h1 id="h1Home">Sorgo Sacarino</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgosacarino.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

        <p>O sorgo sacarino é um tipo de sorgo de porte alto, com altura de planta superior a dois metros. Ele se destaca por apresentar colmo doce e suculento, semelhante ao da cana-de-açúcar. Aqui estão algumas informações relevantes sobre o sorgo sacarino:

        <p style="margin-left: 2em;"><b>Características do Sorgo Sacarino:</b>
            <p style="margin-left: 3em;">Colmo Doce: O sorgo sacarino possui colmos ricos em açúcar fermentescível, tornando-o uma alternativa interessante para a produção de etanol.
            <p style="margin-left: 3em;">Panícula Aberta: Sua panícula (cacho) é aberta e produz poucos grãos (sementes).
            <p style="margin-left: 3em;">Utilização: O sorgo sacarino pode ser utilizado como forrageiro, na forma de silagem e também para corte.
        
        <p style="margin-left: 2em;"><b>Potencial para Produção de Etanol:</b>
            <p style="margin-left: 3em;">O sorgo sacarino é uma opção em estudo para atender à demanda mundial de combustível, substituindo o petróleo.
            <p style="margin-left: 3em;">Três características tornam essa planta sustentável:
            <p style="margin-left: 3em;">Bioetanol Renovável: O sorgo sacarino produz bioetanol, uma fonte de energia renovável.
            <p style="margin-left: 3em;">Redução de Emissões: Seu cultivo diminui a emissão de gases poluentes.
        <p>Em resumo, o sorgo sacarino oferece potencial tanto na produção de etanol quanto como alimento para o gado, sendo uma alternativa interessante para a agricultura e a indústria

    </div>
    <br>
    <hr class="rounded">
</div>
