<h1 id="h1Home">Milho Branco - Canjica</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhocanjica.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">
    <p style="margin-left: 6em;"> <b> Milho Branco Canjica: </b> Um Sabor Tradicional com Versatilidade Inigualável <br>

    <p style="margin-left: 8em;">
        O milho branco canjica, também conhecido como milho de canjica, fubá de canjica ou canjicão, é um ingrediente
        tradicional da culinária brasileira, presente em diversos pratos doces e salgados. <br>
        Sua textura macia e sabor único o tornam um alimento versátil, utilizado em receitas desde caldos e ensopados
        até doces e bolos.

    <p style="margin-left: 6em;"> <b> Origem e História: </b>

    <p style="margin-left: 8em;">
        O milho branco canjica é originário da América Central e foi introduzido no Brasil pelos colonizadores
        portugueses. <br>
        Ao longo dos séculos, ele se tornou um alimento popular na cultura alimentar brasileira, especialmente nas
        regiões rurais.

    <p style="margin-left: 6em;"> <b> Propriedades Nutricionais: </b>

    <p style="margin-left: 8em;">
        O milho branco canjica é um alimento rico em nutrientes, como:

    <p style="margin-left: 10em;">
        <b> Carboidratos: </b> Fonte de energia para o corpo, principalmente na forma de amido. <br>
        <b> Proteínas: </b> Importantes para o desenvolvimento e reparo dos tecidos musculares. <br>
        <b> Fibras: </b> Auxiliam na digestão, regulam o intestino e promovem a saciedade. <br>
        <b> Vitaminas: </b> Rico em vitaminas do complexo B, como B1, B2 e B5, importantes para o metabolismo
        energético, o
        sistema nervoso e a função muscular. <br>
        <b> Minerais: </b> Fonte de ferro, fósforo, magnésio e potássio, minerais essenciais para o bom funcionamento do
        organismo.

    <p style="margin-left: 6em;"> <b> Benefícios para a Saúde: </b>

    <p style="margin-left: 8em;">
        O consumo regular de milho branco canjica pode trazer diversos benefícios para a saúde, como:

    <p style="margin-left: 10em;">
        <b> Prevenir doenças crônicas: </b> Auxilia na prevenção de doenças crônicas como diabetes tipo 2, doenças
        cardíacas e
        alguns tipos de câncer. <br>
        <b> Controlar o colesterol: </b> As fibras presentes no milho canjica ajudam a reduzir o colesterol LDL
        ("ruim"),
        diminuindo o risco de doenças cardíacas. <br>
        <b> Melhorar a digestão: </b> As fibras também auxiliam na regulação do intestino e previnem a constipação. <br>
        <b> Fortalecer o sistema imunológico: </b> Rico em vitaminas e minerais, o milho canjica ajuda a fortalecer o
        sistema
        imunológico, protegendo o organismo contra doenças. <br>
        <b> Promover a saciedade: </b> As fibras e proteínas do milho canjica promovem a saciedade, auxiliando no
        controle do
        peso corporal.

    <p style="margin-left: 6em;"> <b> Versatilidade na Culinária: </b>

    <p style="margin-left: 8em;">
        O milho branco canjica é um ingrediente extremamente versátil, podendo ser utilizado em diversos pratos da
        culinária brasileira, como:

    <p style="margin-left: 10em;">
        <b> Canjica: </b> Um prato doce tradicional feito com canjica, leite, açúcar, canela e cravo. <br>
        <b> Pamonha: </b> Um prato salgado feito com canjica ralada, leite, queijo, temperos e cozido no fogão ou na
        folha de milho. <br>
        <b> Cuscuz: </b> Um prato feito com canjica cozida e moída, podendo ser servido doce ou salgado. <br>
        <b> Sopas e ensopados: </b> A canjica pode ser utilizada para dar mais cremosidade e sabor a sopas e ensopados.
        <br>
        <b>Bolos e doces: </b> A canjica pode ser utilizada na massa de bolos, tortas e outros doces.

    <p style="margin-left: 6em;">
        O milho branco canjica é um alimento nutritivo, versátil e saboroso, que deve fazer parte da dieta regular de
        todos os brasileiros. <br>
        Além de ser um ingrediente tradicional e culturalmente importante, o milho canjica oferece diversos benefícios
        para a saúde e pode ser utilizado em uma variedade de pratos deliciosos.
        <br>
        <br>
        <hr class="rounded">
</div>