<h1 id="h1Home">Milho Branco - Canjica</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhocanjica.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

        <p style="margin-left: 2em;"><b>Milho Branco:</b><p>
            <p style="margin-left: 3em;"> Um Grão Versátil com Raízes Brasileiras
            O milho branco, também conhecido como milho-de-germinar, é uma variedade nativa do Brasil e amplamente cultivada em todo o país. Seus grãos brancos e macios o tornam um ingrediente essencial em diversos pratos tradicionais, além de possuir diversas aplicações industriais.
            
        <p style="margin-left: 2em;"><b>Características e Benefícios:</b></p>
            
        <p style="margin-left: 3em;">Sabor e textura: O milho branco apresenta um sabor suave e adocicado, com uma textura macia e cremosa quando cozido.
            Nutrição: Rico em vitaminas, minerais e fibras, o milho branco é uma fonte importante de energia para o corpo. Ele fornece carboidratos complexos, proteínas, ferro, fósforo, potássio e vitaminas do complexo B, como B1, B3 e B5.
            Versatilidade: O milho branco pode ser consumido de diversas maneiras, seja fresco, cozido, moído ou em forma de canjica, fubá, pamonha, polenta e diversos outros pratos saborosos.
            Aplicações industriais: O amido de milho extraído do milho branco é utilizado em diversos produtos alimentícios e industriais, como cremes, molhos, pães, biscoitos, tintas, cosméticos e até mesmo biocombustíveis.
            Usos Populares:
            
            <p style="margin-left: 2em;"><b>Canjica:</b></p> 
            <p style="margin-left: 3em;">Um prato típico brasileiro feito com milho branco cozido em leite ou caldo, geralmente com açúcar, canela e cravo.
            Pamonha: Uma massa fresca e cremosa feita com milho branco ralado e cozido, podendo ser salgada ou doce.
            Fubá: A farinha de milho branco é utilizada em diversas receitas, como bolos, pães, biscoitos, cuscuz e polenta.
            Milho cozido: Uma opção simples e saborosa para acompanhar refeições, o milho branco cozido pode ser temperado com manteiga, sal e pimenta.
            Creme de milho: Um creme feito com milho branco cozido, leite, manteiga e temperos, ideal para servir como entrada ou acompanhamento.
            Cultivo e Produção:
            
            O milho branco é adaptado a diversos climas e tipos de solo, com maior produção nas regiões Centro-Oeste e Sudeste do Brasil. Sua plantação exige cuidados como irrigação, adubação e controle de pragas e doenças. A colheita ocorre cerca de 90 a 120 dias após o plantio.
            
            <p style="margin-left: 2em;"><b>Importância Cultural:</b></p>
            
            <p style="margin-left: 3em;">O milho branco possui grande importância cultural no Brasil, presente em diversas lendas, festas populares e pratos típicos. É um símbolo da rica culinária brasileira e da forte ligação do povo com a terra.
            
            <p style="margin-left: 2em;"><b>Conclusão:</b></p>
            
            <p style="margin-left: 3em;">O milho branco é um grão nutritivo, versátil e com grande importância cultural no Brasil. Sua presença na culinária brasileira é vasta, desde pratos simples até receitas mais elaboradas. Além disso, suas diversas aplicações industriais o tornam um produto essencial para a economia do país.
        
    </div>
    <br>
    <hr class="rounded">
</div>
