<div id="pagHome" class="content">
    <h1 id="h1Home">Diamante</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/diamante.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Diamante: </b> A Pedra Preciosa que Brilha no Brasil <br>
        <p style="margin-left: 8em;">
            O Brasil ostenta o título de ser um dos maiores produtores de diamantes do mundo, reconhecido pela qualidade
            superior e beleza estonteante dessas pedras preciosas.
            Encontradas em diversas regiões do país, principalmente na Chapada Diamantina, os diamantes brasileiros
            encantam o
            mundo com sua brilho, cor e lapidação impecável.

        <p style="margin-left: 6em;"> <b> Uma Jornada Milionária: </b>
        <p style="margin-left: 8em;">
            A história da exploração de diamantes no Brasil remonta ao século XVIII, quando as primeiras jazidas foram
            descobertas na região de Minas Gerais.
            Desde então, a busca por essas pedras preciosas impulsionou o desenvolvimento da região, atraindo
            aventureiros,
            garimpeiros e investimentos de todo o mundo.

        <p style="margin-left: 6em;"> <b> Características Únicas: </b>

        <p style="margin-left: 8em;">
            Os diamantes brasileiros se distinguem por suas características únicas, como:

        <p style="margin-left: 10em;">
            <b> Pureza: </b> Apresentam um alto grau de pureza, com poucas inclusões ou imperfeições. <br>
            <b> Cor: </b> Variam em diversas cores, desde o branco tradicional até tons raros como rosa, amarelo e azul.
            <br>
            <b> Lapidação: </b> São lapidados com maestria por artesãos habilidosos, revelando todo o seu brilho e
            beleza. <br>
            <b> Brilho: </b> Possuem um brilho intenso e inconfundível, que os torna cobiçados no mundo todo. <br>

        <p style="margin-left: 6em;"> <b> Tipos de Diamantes Brasileiros: </b>

        <p style="margin-left: 8em;">
            <b> Carbonado: </b> O tipo mais comum de diamante no Brasil, conhecido por sua cor preta e alta resistência.
            <br>
            <b> Maculino: </b> Apresenta manchas pretas ou marrons, mas ainda possui grande valor. <br>
            <b> Brilhante: </b> Lapidado em forma triangular, é o tipo mais popular e procurado por sua beleza e brilho.
            <br>
            <b> Baguete: </b> Lapidado em forma retangular, ideal para anéis e colares. <br>
            <b> Marquise: </b> Lapidado em forma de barco, possui um visual elegante e sofisticado. <br>

        <p style="margin-left: 6em;"> <b> Mais que Joias: </b>

        <p style="margin-left: 8em;">
            Os diamantes brasileiros vão além do mundo das joias. São utilizados em diversas aplicações industriais,
            como:

        <p style="margin-left: 10em;">
            <b> Ferramentas de corte: </b> Sua dureza extrema os torna ideais para ferramentas de corte de alta
            precisão. <br>
            <b> Abrasivos: </b> Utilizados em lixas e outros materiais abrasivos para polir e lapidar diversos
            materiais. <br>
            <b> Eletrônicos: </b> Componentes em dispositivos eletrônicos devido à sua excelente condutividade térmica.
            <br>
            <b> Medicina: </b> Aplicados em instrumentos cirúrgicos e implantes médicos por sua biocompatibilidade. <br>

        <p style="margin-left: 6em;"> <b> Um Futuro Brilhante: </b>

        <p style="margin-left: 8em;">
            A indústria de diamantes no Brasil tem um futuro promissor, com potencial para crescer ainda mais nas
            próximas
            décadas.

            Investimentos em tecnologia de exploração, lapidadores qualificados e marketing estratégico são essenciais
            para
            garantir a competitividade do país no mercado global de diamantes e para valorizar ainda mais essa pedra
            preciosa
            que tanto brilha no Brasil.

            O diamante brasileiro é um símbolo de riqueza, beleza e tradição. Mais do que uma joia, ele representa a
            força e o
            potencial do Brasil, um país que lapida pedras preciosas e conquista o mundo com seu brilho.**
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>