<h1 id="h1Home">Diamante</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/diamante.jpg" width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        O diamante é uma das mais belas e preciosas criações da natureza, sendo a única pedra natural composta de um único elemento: o carbono. A estrutura do diamante é constituída de átomos de carbono puro dispostos nos quatro vértices de um tetraedro e um único no seu centro. Devido a essa disposição geométrica, o diamante é bastante compacto, possui alta densidade (3,5g/cm3) e é a substância natural mais dura que se conhece.

        O diamante é conhecido por seu inigualável brilho e a capacidade de decompor a luz branca nas cores do arco-íris. Quando um feixe de luz branca incide em uma das facetas de um diamante, sofre refração e se dispersa nas cores que o constituem. A lapidação do diamante tem como objetivo realçar as reflexões da luz em seu interior.

        Os primeiros relatos da fascinação do homem pelos diamantes foram encontrados em textos na Índia de cerca de 800 a.C. Eles descreviam a beleza e a pureza desses cristais, e a sua durabilidade ganhou significação mística e poderes supostamente mágicos.

        Hoje, os diamantes são usados em joias e são símbolos de amor eterno, compromisso e fidelidade entre duas pessoas. Além disso, os diamantes também são usados na indústria, por exemplo, na fabricação de ferramentas de corte devido à sua extrema dureza.
    </div>
    <br>
    <hr class="rounded">
</div>