<h1 id="h1Home">Oro</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/ouro.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">
    <p style="margin-left: 6em;"> <b> Oro: </b> Un metal precioso con historia, significado y diversas aplicaciones
        <br>

    <p style="margin-left: 8em;">
        El oro, metal noble conocido por su incomparable brillo y color dorado, trasciende el valor monetario y se
        convierte en
        reflejos
        por su rica historia, simbolismo y versatilidad.

    <p style="margin-left: 6em;"> <b> A través de los siglos, el oro conquistó a la humanidad y se convirtió en: </b>

    <p style="margin-left: 8em;">
        <b> Símbolo de riqueza y poder: </b> Desde la antigüedad, el oro se ha asociado con la realeza, la prosperidad y
        estatus social.
        Reyes, reinas y emperadores lucían joyas y adornos de oro, demostrando su riqueza y poder. <br>
        <b> Moneda de cambio: </b> Durante siglos, el oro sirvió de base para sistemas monetarios de diversos tipos.
        civilizaciones. Su
        la durabilidad, la rareza y la belleza lo han convertido en un medio de intercambio confiable y universal. <br>
        <b> Objeto de arte y decoración: </b> El oro ha inspirado a artistas y artesanos a lo largo de la historia,
        siendo utilizado
        en creación
        esculturas, pinturas, joyas, objetos de decoración e incluso instrumentos musicales. <br>
        <b> Reserva de valor: </b> En tiempos de inestabilidad económica, el oro se convierte en un refugio seguro para
        inversiones, porque
        mantiene su valor en el tiempo. <br>
        <b> Metal industrial: </b> A pesar de su imagen lujosa, el oro también tiene importantes aplicaciones en
        industria, como en
        electrónica, odontología e incluso medicina.

    <p style="margin-left: 6em;"> <b> Propiedades únicas del oro: </b>

    <p style="margin-left: 8em;">
        <b> Maleabilidad y ductilidad: </b> El oro es uno de los metales más maleables y dúctiles del mundo, lo que
        permite
        ser moldeado
        en hilos muy finos o láminas extremadamente delgadas. <br>
        <b> Resistencia a la corrosión: </b> El oro es altamente resistente a la corrosión y oxidación, manteniendo su
        brillo y
        belleza por
        siglos. <br>
        <b> Excelente conductor del calor y la electricidad: </b> El oro tiene una alta conductividad térmica y
        eléctrica,
        haciéndolo ideal
        para diversas aplicaciones tecnológicas. <br>
        <b>Biocompatibilidad:</b>El oro es un material biocompatible, lo que significa que no provoca reacciones
        alérgicas.
        en el cuerpo
        humano, permitiendo su uso en implantes médicos y dentales.

    <p style="margin-left: 6em;"> <b>Producción y Extracción:</b>

    <p style="margin-left: 8em;">
        El oro se encuentra en la naturaleza en muchos lugares del mundo, generalmente en forma de pepitas o vetas
        minerales.
        <br>
        Su extracción se puede realizar a través de diferentes métodos, como la minería artesanal, a pequeña escala, o
        El
        minería a gran escala, utilizando maquinaria pesada y técnicas avanzadas.

    <p style="margin-left: 6em;"> <b> Brasil: </b>

    <p style="margin-left: 8em;">
        Brasil es uno de los mayores productores de oro del mundo, con énfasis en la región amazónica. <br>
        Las actividades mineras, sin embargo, deben realizarse de manera responsable, con respeto al medio ambiente y
        comunidades locales, para asegurar la sostenibilidad del sector y la preservación de los recursos naturales.

    <p style="margin-left: 6em;"> <b>El futuro del oro: </b>

    <p style="margin-left: 8em;">
        El oro sigue siendo un activo valioso y codiciado, con diversas aplicaciones en diferentes áreas. <br>

        Se espera que la demanda de oro se mantenga fuerte en los próximos años, impulsada por factores como la
        incertidumbre económica,
        oh
        crecimiento de la clase media global y la búsqueda de inversiones seguras. <br>

    <p style="margin-left: 6em;">Por tanto, el oro sigue siendo un metal precioso que ha fascinado a la humanidad
        durante siglos.
        y seguirá desempeñando un papel
        importante en la historia, la cultura y la economía global.
        <br>
        <br>
        <hr class="rounded">
</div>