<h1 id="h1Home">Oro</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/ouro.jpg" width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        Este metal precioso, codiciado desde hace siglos, no se limita a su belleza estética. El oro tiene características únicas que lo convierten en un activo valioso en muchos sectores, desde la tecnología hasta la medicina.

        En esta presentación, exploraremos el fascinante mundo del oro, abarcando:
        
        Historia y simbolismo: Un viaje por la rica historia del oro, desde su descubrimiento hasta su significado cultural y religioso.
        Propiedades y aplicaciones: Las características únicas del oro y sus usos en áreas como joyería, electrónica, odontología e inversiones.
        Mercado global del oro: un análisis del mercado actual, incluida la oferta, la demanda, los factores que influyen en el precio y las perspectivas futuras.
        El oro como inversión: las ventajas y desventajas de invertir en oro, como la diversificación de la cartera y la protección contra la inflación.
        Impacto social y ambiental: Responsabilidad social y ambiental en la minería de oro, incluyendo prácticas sustentables y la lucha contra el trabajo ilegal.
        Desarrollo
        
        Historia y simbolismo:
        
        El oro ha fascinado a la humanidad durante miles de años, siendo utilizado en adornos, monedas y objetos religiosos.
        Simboliza riqueza, poder, prosperidad, eternidad y sabiduría en diferentes culturas.
        Su historia está entrelazada con el ascenso y caída de civilizaciones, guerras y revoluciones.
        Propiedades y aplicaciones:
        
        El oro es un metal maleable, dúctil y resistente a la corrosión.
        Su alta conductividad eléctrica lo hace imprescindible en electrónica.
        Es biocompatible y se utiliza en odontología y medicina.
        Su belleza y rareza lo hacen ideal para joyería e inversiones.
        Mercado Mundial del Oro:
        
        La demanda de oro está impulsada por varios factores, como las joyas, las inversiones y los bancos centrales.
        La oferta es limitada y depende de la minería, que puede ser compleja y desafiante desde el punto de vista ambiental.
        El precio del oro es volátil y está influenciado por factores geopolíticos, económicos y monetarios.
        El oro como inversión:
        
        El oro se considera un refugio seguro en tiempos de incertidumbre económica.
        Puede proteger contra la inflación y diversificar las carteras de inversión.
        Sin embargo, es una inversión a largo plazo con baja liquidez.
        Impacto social y ambiental:
        
        La minería de oro puede tener impactos negativos en el medio ambiente y las comunidades locales.
        Es crucial promover prácticas sostenibles y garantizar un trabajo decente y seguro.
        Las iniciativas de certificación y trazabilidad pueden ayudar a garantizar el origen responsable del oro.
        Conclusión
        
        El oro, con su brillo y su rica historia, ofrece un potencial ilimitado en muchos sectores. Al comprender sus características, aplicaciones y el mercado global, podemos desbloquear oportunidades para el desarrollo sostenible y la prosperidad.    <br>
    <hr class="rounded">
</div>