<h1 id="h1Home">Cotton</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/algodao.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        Cotton is a natural fiber derived from the cotton plant, commonly used to produce fabrics in the fashion industry. This plant belongs to the genus Gossypium, which is in the same family as okra, cocoa and hibiscus, the Malvaceae. Cotton is a plant from tropical and subtropical climates, so it grows in hot regions.
        The word “cotton” refers to the capsule of soft fibers that surround the seeds of the cotton plant and look like a golf ball. There are different types of cotton in nature, from white fibers to colored ones. Cotton fiber is great for absorption, has good durability, can be dyed easily, does not conduct electricity, adapts to the body and also offers a certain comfort.    
        Cotton is one of the oldest crops in the world, having its origins in India around 3000 BC. It is believed to have been brought to America by the Spanish in the 17th century. Currently, cotton is grown in several countries, including the United States, China, India, Brazil and Pakistan.
        In Brazil, the cotton cycle represents one of the country's economic cycles, which occurred during the 18th and 19th centuries. One of the factors that boosted the cultivation of cotton in the country was the English Industrial Revolution, which increasingly required raw materials to manufacture products in the textile industry.</div>
    <br>
    <hr class="rounded">
</div>
