<div id="pagHome" class="content">
    <h1 id="h1Home">Cotton</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/algodao.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b>Cotton: </b> A Fiber with a Thousand and One Uses
        <p style="margin-left: 6em;"> <b>Introduction </b>
        <p style="margin-left: 8em;"> Cotton, originating in Asia, is a soft, breathable and absorbent natural fiber,
            from cotton bolls. Its importance transcends the textile industry, being used in
            different sectors and impacting the lives of people around the world. In this presentation, we will explore
            the
            unique characteristics of cotton, its production process, the various uses and the socioeconomic and
            environmental aspects of cotton cultivation.
        <p style="margin-left: 6em;"> <b>Cotton Characteristics</b>

        <p style="margin-left: 8em;">
            <b>Natural fiber:</b> Renewable, biodegradable and compostable, promoting sustainability. <br />
            <b>Softness and comfort:</b> Ideal for underwear, clothing and other items that require direct contact with
            the
            skin.
            skin. <br />
            <b>Breathability:</b> Allows air circulation, providing freshness and well-being. <br />
            <b>Absorption:</b> Helps regulate body temperature, absorbing and releasing sweat. <br />
            <b>Versatility:</b> Adaptable to different processing and dyeing techniques, meeting different needs
            needs. <br />
            <b>Durability:</b> Sturdy, durable and easy to care for, extending the useful life of products. <br />

        <p style="margin-left: 6em;"> <b>Production Process </b>

        <p style="margin-left: 8em;">
            <b>Planting and Cultivation: </b> Cotton is sown in suitable soil, requiring a hot and humid climate to
            its development. <br />
            <b>Flowering and Fruiting: </b> Cotton flowers give rise to capsules that contain cotton fibers.
            <br />
            <b>Harvesting:</b> The mature capsules are harvested manually or by machines, separating the fibers from the
            seeds. <br />
            <b>Debubbling and Defibration:</b> The fibers are separated from the seeds and impurities, through a
            mechanical process. <br />
            <b>Spinning: </b> Cotton fibers are transformed into yarn, ready for weaving. <br />
            <b>Weaving: </b> Cotton threads are interwoven in different patterns, creating fabrics with different
            characteristics. <br />
            <b>Finishings: </b> Cotton fabrics can receive different finishes, such as dyeing, printing and
            mercerization, to add value and specific properties. <br />

        <p style="margin-left: 6em;"> <b>Uses of Cotton </b>

        <p style="margin-left: 8em;">
            <b>Textile: </b> Clothing, bedding, towels, scarves and other textile articles. <br />
            <b>Personal Hygiene: </b> Raw cotton in discs, flexible rods and bandages. <br />
            <b>Filters: </b> In masks, air and coffee filters. <br />
            <b>Food: </b> Edible cottonseed oil and by-products for animal feed. <br />
            <b>Industry: </b> Paper, cardboard, explosives and cellulose. <br />
            <b>Cosmetics: </b> Cotton fibers in creams, lotions and other beauty products. <br />


        <p style="margin-left: 6em;"> <b>Socioeconomic and Environmental Impacts</b>

        <p style="margin-left: 8em;">
            <b>Socioeconomic:</b> Generation of income and jobs in the countryside and in the textile industry, boosting
            the
            local and regional development. <br />
            <b>Environmental:</b> Negative impacts such as water consumption, use of pesticides and emission of
            greenhouse
            gases
            greenhouse, requiring sustainable agricultural practices to minimize damage. <br />

        <p style="margin-left: 6em;"> <b>Conclusion</b>

        <p style="margin-left: 8em;">
            Cotton, with its unique properties and versatility, is an essential fiber for human well-being and
            global economy. Understanding its production process, uses and socio-environmental impacts is crucial to
            promoting
            conscious and sustainable use of this vital natural resource. Through responsible agricultural practices and
            innovations
            technological technologies, we can ensure that cotton continues to contribute to human development and the
            preservation
            of the environment for future generations. <br>


        <p style="margin-left: 6em;"><b>Additional Resources</b>

        <p style="margin-left: 8em;">
            ABRAPA: https://www.abrapa.com.br/
            IMA: [Invalid URL removed]
            Embrapa Algodão: https://www.embrapa.br/algodao


            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>