<h1 id="h1Home">Ferro</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/ferro.jpg" width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        O ferro é um elemento químico representado pelo símbolo Fe, com número atômico 26 e massa atômica 55,851. Este metal de transição possui uma coloração branca prateada em estado quimicamente puro, mas apresenta uma coloração acinzentada devido à presença de sulfeto, siliceto e carbureto de ferro. O ferro tem propriedades magnéticas acentuadas e é conhecido por ser um dos elementos mais utilizados na história da humanidade.<br>

        Na natureza, o ferro não é encontrado em estado livre, mas comumente na forma de pirita (FeS), hematita (Fe2O3) e magnetita (Fe3O4). Através da redução desses compostos em um forno aquecido a uma temperatura de 2000°C, obtém-se o ferro.<br>

        O ferro tem uma ampla gama de aplicações. É um componente essencial na produção de aço, uma liga de ferro e carbono, que é amplamente utilizada na construção civil, na fabricação de automóveis, navios, entre outros. Além disso, o ferro é um nutriente mineral necessário para manter o bem-estar do corpo, energia e metabolismo saudável3. Ele ajuda a saúde celular e está envolvido em muitas funções da enzima.<br>

        No entanto, é importante notar que a extração e a utilização do ferro têm impactos significativos no meio ambiente. A mineração de ferro pode levar à degradação do solo e da água, enquanto que a produção de aço é uma das indústrias mais intensivas em energia e contribui significativamente para as emissões globais de dióxido de carbono.<br>
    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>
</div>