<h1 id="h1Home">Milho livre de transgênicos</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhonomgmoia.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">

    <p style="margin-left: 6em;"> <b> Milho Não-OGM: </b> Uma Escolha Consciente e Saudável <br>

    <p style="margin-left: 8em;">
        O milho não-OGM (Organismos Geneticamente Modificados) se destaca como uma alternativa saudável e sustentável
        para
        os consumidores que buscam alimentos mais naturais e livres de engenharia genética. <br>
        Cultivado sem o uso de técnicas de modificação genética, o milho não-OGM oferece diversos benefícios para a
        saúde e
        para o meio ambiente.

    <p style="margin-left: 6em;"> <b> Uma Escolha Mais Natural: </b>

    <p style="margin-left: 8em;">
        <b> Livre de OGM: </b> Produzido sem o uso de técnicas de modificação genética, garantindo que o DNA da planta
        original seja
        preservado. <br>
        <b> Sem aditivos artificiais: </b> Não contém ingredientes artificiais ou sintéticos, como agrotóxicos e
        fertilizantes
        químicos, que podem ser prejudiciais à saúde e ao meio ambiente. <br>
        <b> Sabor e aroma autênticos: </b> Preserva o sabor e aroma naturais do milho, proporcionando uma experiência
        gastronômica
        mais autêntica e saborosa.

    <p style="margin-left: 6em;"> <b> Benefícios para a Saúde: </b>

    <p style="margin-left: 8em;">
        <b> Mais nutritivo: </b> Estudos indicam que o milho não-OGM pode ter maior teor de nutrientes essenciais, como
        vitaminas,
        minerais e antioxidantes, em comparação com o milho OGM.<br>
        <b> Menos alergênico: </b> O processo de modificação genética pode aumentar o potencial alergênico de alguns
        alimentos. O
        milho não-OGM é uma opção mais segura para pessoas com alergias alimentares.<br>
        <b> Promove a biodiversidade: </b> A produção de milho não-OGM contribui para a preservação da biodiversidade,
        protegendo as
        variedades tradicionais de milho e o equilíbrio do meio ambiente.

    <p style="margin-left: 6em;"> <b> Sustentabilidade Ambiental: </b>

    <p style="margin-left: 8em;">
        <b> Menos agrotóxicos: </b> O cultivo de milho não-OGM geralmente utiliza menos agrotóxicos, reduzindo a
        contaminação do solo
        e da água, e protegendo a saúde dos agricultores e consumidores. <br>
        <b> Maior fertilidade do solo: </b> Práticas agrícolas sustentáveis, como rotação de culturas e adubação verde,
        utilizadas no
        cultivo de milho não-OGM, contribuem para a preservação e a fertilidade do solo. <br>
        <b> Combate às mudanças climáticas: </b> A produção de milho não-OGM emite menos gases de efeito estufa,
        contribuindo para a
        mitigação das mudanças climáticas e para um futuro mais sustentável.

    <p style="margin-left: 6em;"> <b> Um Futuro Promissor: </b>

    <p style="margin-left: 8em;">
        A demanda por alimentos não-OGM está crescendo em todo o mundo, impulsionada pela consciência dos consumidores
        sobre
        os benefícios à saúde e ao meio ambiente. <br>
        O Brasil, um dos maiores produtores de milho do mundo, tem grande potencial para se tornar um líder global na
        produção de milho não-OGM, atendendo à crescente demanda do mercado e contribuindo para um futuro mais
        sustentável e
        saudável. <br>
        Ao escolher o milho não-OGM, você faz uma escolha consciente e responsável por sua saúde, pelo meio ambiente e
        pelo
        futuro do planeta.
        <br>
        <br>
        <hr class="rounded">
</div>