<h1 id="h1Home">Milho livre de transgênicos</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/milhonomgmoia.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        
    <p><b>O que é Milho Não-OGM? </b>
        
       <p style="margin-left: 2em;">Milho não-OGM (Organismo Geneticamente Modificado) é cultivado sem manipulação genética em laboratório.
        O DNA do milho não-OGM permanece inalterado, preservando suas características naturais.
        Cultivado com métodos agrícolas tradicionais e sustentáveis.
        Muitas vezes rotulado como "milho natural" ou "milho livre de transgênicos".

        <p style="margin-left: 2em;">Notas<br>
        O milho não-OGM, também conhecido como milho livre de transgênicos, é cultivado através de métodos agrícolas tradicionais. 
        Isso significa que o código genético do milho não é alterado em laboratório para incorporar genes de outras espécies.  
        Essa preservação do DNA natural do milho garante que suas características intrínsecas, como sabor, textura e valor nutricional, sejam mantidas.  
        Além disso, o cultivo de milho não-OGM geralmente segue práticas agrícolas sustentáveis, promovendo a saúde do solo e do meio ambiente.  
        Para facilitar a identificação pelos consumidores, o milho não-OGM pode ser encontrado rotulado como "milho natural" ou "milho livre de transgênicos".
        
        <p><b>Benefícios do Milho Não-OGM</b>
        
        <p style="margin-left: 2em;">Sabor natural e autêntico: O milho não-OGM oferece um sabor puro e característico, sem influências de genes modificados.
        Potencialmente mais nutritivo: Alguns estudos sugerem que o milho não-OGM pode conter níveis mais elevados de certos nutrientes.
        Segurança alimentar a longo prazo: A ausência de modificações genéticas no milho não-OGM reduz potenciais riscos alimentares associados a organismos geneticamente modificados.
        Escolha sustentável: O cultivo de milho não-OGM incentiva práticas agrícolas sustentáveis e protege a biodiversidade.
        Transparência e controle do consumidor: Optando por milho não-OGM, você tem maior controle sobre os alimentos que consome.
        
        <p style="margin-left: 2em;">Notas<br>
        Escolher milho não-OGM traz consigo diversos benefícios.  Um dos principais aspectos é o sabor.  Como não sofre alteração genética, o milho não-OGM preserva seu sabor natural e característico, aquele gostinho familiar de milho fresco.  Além disso, alguns estudos sugerem que o milho não-OGM pode conter níveis mais elevados de certos nutrientes em comparação ao milho OGM.  Optar por milho não-OGM também contribui para a segurança alimentar a longo prazo, pois evita potenciais riscos associados a organismos geneticamente modificados.  Do ponto de vista ambiental, o cultivo de milho não-OGM incentiva práticas agrícolas sustentáveis que protegem a saúde do solo e a biodiversidade.  Por fim, escolher milho não-OGM permite maior transparência e controle sobre os alimentos que você consome, garantindo que sua alimentação esteja de acordo com suas preferências.
        
        <p><b>Delícias Culinárias com Milho Não-OGM</b><br>
        
        <p style="margin-left: 2em;">Milho na Espiga: Saboreie o milho não-OGM cozido na espiga para uma refeição leve e saudável.<br>
        Pipoca: Prepare pipoca caseira fresquinha e saborosa usando grãos de milho não-OGM.<br>
        Pamonha: Deguste pamonha cremosa feita com milho não-OGM batido, para um lanche típico brasileiro.<br>
        Curral de Milho: Experimente o tradicional curral de milho não-OGM cozido com legumes e temperos.
    </div>
    <br>
    <hr class="rounded">
</div>
