<h1 id="h1Home">Wheat</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/trigo.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        Wheat (Triticum spp.) is a grass cultivated throughout the world, being the second largest cereal crop, behind corn and ahead of rice. Its grain is widely used in human consumption, from wheat flour for bread to as an ingredient in brewing. In addition, it is also part of animal feed.<br>
        Wheat originates from the Middle East, more specifically in the “Fertile Crescent”, a geographical area that encompasses the African and Asian section of the region (formerly Mesopotamia). Around 4,000 BC, the wheat fermentation process was discovered, giving rise to the first breads.<br>
        In Brazil, wheat probably arrived in 1534, with Martim Afonso de Souza, who introduced it to a region that is now part of São Paulo. The main wheat growing areas in Brazil are Rio Grande do Sul and Paraná. For the 2021/2022 harvest, wheat production in Brazil is estimated at 8.1 million tons, an increase of 5.9% compared to the last harvest.<br>
        Wheat is an extremely important food for our health in terms of nutrition. In addition to being an important source of energy for the body, as it is a carbohydrate, wheat is a food rich in vitamins and minerals essential for human life, such as B vitamins, potassium, phosphorus and magnesium.<br >    </div>
    <br>
    <hr class="rounded">
</div>
