<div id="pagHome" class="content">
    <h1 id="h1Home">Wheat</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/trigo.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Wheat: </b> The Heart of Brazilian Breads <br>
        <p style="margin-left: 8em;"> Wheat, a golden cereal of Asian origin, has become one of the most important foods
            in
            the Brazilian diet.
            Present on family tables for centuries, wheat is essential for the production of bread, pasta, cakes,
            cookies
            and other food products, being considered a basic and versatile food.

        <p style="margin-left: 6em;"> <b> A Little History: </b>

        <p style="margin-left: 8em;">
            Wheat was introduced to Brazil by Portuguese colonizers in the 16th century.
            Initially, its cultivation was restricted to small areas, but over time, it expanded to different regions of
            the
            country, mainly in the South.
            Currently, Brazil is the seventh largest wheat producer in the world, but still depends on importing part of
            the
            grain to meet domestic demand.
            Wheat cultivation in Brazil faces challenges such as harvest mechanization, plantation health and
            competitiveness with the international market.

        <p style="margin-left: 6em;"> <b> The Importance of Wheat in the Diet: </b>

        <p style="margin-left: 8em;"> Wheat is a food rich in nutrients, such as:

        <p style="margin-left: 10em;">
            <b>Carbohydrates: Source of energy for the body. </b> <br>
            <b> Proteins: </b> Important for the development and repair of muscle tissues. <br>
            <b> Fibers: </b> They help with digestion, regulate the intestine and promote satiety. <br>
            <b> Vitamins: </b> Rich in B complex vitamins, such as B1, B2 and B6, important for energy metabolism, the
            nervous system and muscle function. <br>
            <b> Minerals: </b> Source of iron, phosphorus, magnesium and potassium, essential minerals for the proper
            functioning of the body. <br>

        <p style="margin-left: 6em;"> <b>Health Benefits:</b>

        <p style="margin-left: 8em;"> Regular consumption of whole wheat products can bring several health benefits,
            such
            as:

        <p style="margin-left: 10em;">
            <b> Prevent chronic diseases: </b> Helps prevent chronic diseases such as type 2 diabetes, heart disease and
            some types of cancer. <br>
            <b> Control cholesterol: </b> The fiber present in whole wheat helps reduce LDL ("bad") cholesterol,
            reducing
            the risk of heart disease. <br>
            <b>Improve digestion:</b>Fibers also help regulate the intestines and prevent constipation. <br>
            <b> Strengthen the immune system: </b> Rich in vitamins and minerals, whole wheat helps to strengthen the
            immune
            system, protecting the body against diseases. <br>
            <b> Promote satiety: </b> The fibers and proteins in whole wheat promote satiety, helping to control body
            weight. <br>

        <p style="margin-left: 6em;"> <b> Wheat in Brazilian Culture: </b>

        <p style="margin-left: 8em;">Wheat is present in several Brazilian traditions and customs, such as:

        <p style="margin-left: 10em;">
            <b> Wheat Harvest Festival: </b> Celebration of the wheat harvest in different regions of the country, with
            music, dance and typical foods. <br>
            <b> Homemade Wheat Bread: </b> A basic food on the table of Brazilian families, present in several recipes
            and
            side dishes. <br>
            <b> Wheat Cake: </b> A traditional and versatile dessert, enjoyed on many occasions. <br>
            <b> Wheat Biscuits: </b> A tasty and nutritious snack, ideal for any time of the day. <br>

        <p style="margin-left: 6em;"> <b> The future of Wheat in Brazil: </b>

        <p style="margin-left: 8em;"> The future of wheat in Brazil depends on investments in research and development,
            the
            search for new varieties that are more resistant to diseases and pests, the modernization of production and
            storage infrastructure and the promotion consumption of whole wheat-based products. <br>
            With joint efforts from the government, industry and civil society, Brazil can become a more efficient and
            sustainable wheat producer, meeting domestic demand and even exporting surplus production. <br>
            Wheat is an important cereal for Brazilian food, culture and economy. <br>
            By consuming whole wheat-based products, you contribute to a healthier and more nutritious diet and to the
            country's development.
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>