<h1 id="h1Home">Stones</h1>
<div id="divCarousel">
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <figure>
                <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">
                    <img src="{{ slide.img }}" alt="" class="img-style">
                </a>
                <figcaption>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                </figcaption>
            </figure>
        </div>
    </ngx-slick-carousel>
    <br>
    <br>
</div>
<div class="textFont">
    <p style="margin-left: 6em;"> <b> Precious Stones: </b> Jewels of Nature that Enchant and Fascinate <br>
        <p style="margin-left: 8em;">
        Precious stones, true works of art from nature, have been appreciated since ancient times for their beauty,
        rarity, symbolism and value.
        More than simple adornments, they carry stories, beliefs and meanings, awakening admiration and
        O
        fascination of people all over the world.
       
        <p style="margin-left: 6em;"> <b> A Variety of Colors and Properties: </b>
       
        <p style="margin-left: 8em;">
        Each gemstone has unique characteristics, such as color, cut, hardness, shine and refractive index of the stone.
        light. <br>
        This variety creates a universe of possibilities, with stones for all tastes and styles:
       
        <p style="margin-left: 10em;">
        <b>Diamond:</b>The hardest of the precious stones, known for its intense shine and classic cut in
        shiny shape. <br>
        <b> Sapphire: </b> Royal blue stone, associated with royalty, wisdom and prosperity. <br>
        <b> Ruby: </b> Vibrant red stone, symbol of love, passion and power. <br>
        <b> Emerald: </b> Lush green stone known for its vivid color and unique inclusions. <br>
        <b> Amethyst: </b> Deep purple stone, associated with spirituality, protection and intuition. <br>
        <b> Topaz: </b> Found in different colors, such as yellow, blue, pink and orange, known for its clarity and
        shine. <br>
        <b> Tourmaline: </b> One of the most versatile stones, with a wide variety of colors and properties, including
        rare Paraíba tourmaline. <br>
        <b> Garnet: </b> Dark red stone, symbol of passion, vitality and success. <br>
        <b> Aquamarine: </b> Light blue stone, associated with tranquility, peace and fidelity. <br>
        <b> Citrine: </b> Vibrant yellow stone, known for its positive energy and power to attract prosperity.
        <br>
       
        <p style="margin-left: 6em;"> <b> More than Beauty: </b> <br>
       
        <p style="margin-left: 8em;">
        Gemstones are more than objects of beauty. <br>
        Throughout history, they have been used for various purposes, such as:
       
        <p style="margin-left: 10em;">
        <b> Amulets and talismans: </b> Gemstones were believed to possess powers of healing, protection and luck.
        <br>
        <b> Symbols of status and wealth: </b> Precious stones were used to adorn crowns, jewelry and other
        objects of
        value, demonstrating power and wealth. <br>
        <b> Currency of exchange: </b> In some cultures, precious stones were used as currency of exchange, due to the
        its value and rarity. <br>
        <b> Objects of art and decoration: </b> Precious stones were carved and cut to create works of art and
        decorate objects, such as furniture and utensils.
       
        <p style="margin-left: 6em;"> <b> A Global Market: </b> <br>
       
        <p style="margin-left: 8em;">
        The precious stones market is one of the most important in the world, moving billions of dollars annually.
        <br>
        The main sources of precious stones are located in different countries, such as
        Brazil, South Africa, Colombia, Sri Lanka and Australia.
       
        <p style="margin-left: 6em;"> <b> Lapidation: Revealing Beauty: </b>
       
        <p style="margin-left: 8em;">
        Cutting is an artisanal process that reveals the beauty and shine of precious stones. <br>
        Through precise techniques, cutters transform rough stones into jewelry
        sparkling, using tools such as magnifying glasses, polishers and diamond discs.
       
        <p style="margin-left: 6em;"> <b> Care and Conservation: </b>
       
        <p style="margin-left: 8em;">
        Gemstones are valuable assets that require special care to maintain their beauty and shine. <br>
        It is important to protect them from falls, shocks, chemicals and sources of excessive heat. <br>
        Regular cleaning with warm water and neutral soap is essential to preserve the quality
        of the stones. <br>
        Precious stones are true gifts of nature, which enchant and fascinate people.
        humanity for centuries. <br>
        Their beauty, rarity, symbolism and value make them objects of desire and admiration,
        immortalizing special moments and
        complementing our history with a touch of shine and sophistication.    <br>
    <br>
    <hr class="rounded">

</div>