<h1 id="h1Home">Soja Convencional</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sojaconvencional.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        <p>La soja convencional es una opción de cultivo que no implica cambios genéticos, pero que aún ofrece importantes ventajas. Exploremos algunas características y beneficios de la soja convencional:

            <p><b>Características de la Soja Convencional:</b>
            <p style="margin-left: 3em;"><b>No Modificada Genéticamente (GM):</b> La soja convencional no sufre modificaciones genéticas, lo que significa que sus características naturales permanecen intactas.
            <p style="margin-left: 3em;"><b>Tecnología Natural:</b> Aunque no es transgénica, la soja convencional cuenta con tecnologías naturales que ayudan a protegerla contra enfermedades y plagas.
            <p style="margin-left: 3em;"><b>Productividad competitiva:</b> Incluso sin modificaciones genéticas, la soja convencional puede alcanzar niveles de productividad competitivos.
            <p><b>Cultivares de soja convencionales:</b> Embrapa ha desarrollado varios cultivares de soja convencionales que ofrecen opciones atractivas para los productores:
           
            <p style="margin-left: 4em;"><b>BRS 284:</b> Cultivar que se ha destacado en concursos nacionales de productividad, compitiendo en igualdad de condiciones con las tecnologías transgénicas.
            <p style="margin-left: 4em;"><b>BRSMG 534:</b> Resistente a la roya asiática de la soja, aportando mayor eficacia.
            <p style="margin-left: 4em;"><b>BRS 7781:</b> Ciclo semiprecoz o temprano, adaptado a diferentes regiones.
            <p style="margin-left: 4em;"><b>BRS 546:</b> Productiva y permite siembra temprana.
            <p style="margin-left: 4em;"><b>BRS 573:</b> Estable en múltiples regiones.
            <p style="margin-left: 4em;"><b>BRS 523:</b> Temprano, con tolerancia al complejo de chinches.
            <p style="margin-left: 4em;"><b>BRS 539:</b> Con tecnologías Shield® y Block®, también permite la siembra temprana.
            <p style="margin-left: 4em;"><b>BRS 531:</b> Resistencia a la roya asiática.
            <p style="margin-left: 4em;"><b>BRS 525:</b> Temprana, apta para rotación con otros cultivos.
            <p style="margin-left: 4em;"><b>BRS 517:</b> Temprano, alta productividad y resistencia a enfermedades.
           
            <p><b>Instituto Libre de Soja:</b><br>
            <p style="margin-left: 3em;">Fundado por Aprosoja Mato Grosso y Embrapa, el Instituto Soja Livre promueve el desarrollo del mercado de soja convencional, garantizando la libertad de elección de los productores rurales en la selección de tecnologías y cultivares que aporten rentabilidad y seguridad en la cosecha.<br>
            <p>La soja convencional continúa siendo una alternativa relevante para los agricultores, ofreciendo una opción libre de OGM con potencial productivo.
    </div>
    <br>
    <hr class="rounded">
</div>
