<div id="pagHome" class="content">
    <h1 id="h1Home">Soja Convencional</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sojaconvencional.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Soja convencional: </b> Un pilar de la agricultura brasileña con desafíos y
            Oportunidades <br>
        <p style="margin-left: 8em;">
            La soja convencional, cultivada sin el uso de técnicas de modificación genética, destaca como uno de los
            principales
            productos agrícolas de Brasil. <br>
            Su producción a gran escala impulsa la economía nacional, crea empleo y contribuye a la seguridad.
            alimentar
            global. <br>
            Sin embargo, el cultivo convencional de soja también presenta desafíos socioambientales que deben abordarse
            seriamente.
            considerado y resuelto.

        <p style="margin-left: 6em;"> <b> Un gigante agrícola: </b>

        <p style="margin-left: 8em;">
            <b> Mayor productor y exportador del mundo: </b>
            Brasil ostenta el título de mayor productor y exportador de soja del mundo,
            representa alrededor de un tercio de la producción mundial. <br>
            <b>Importancia económica:</b>
            La soja representa un pilar fundamental para la economía brasileña, generando millones de
            empleos directos e indirectos y contribuyen significativamente al PIB del país. <br>
            <b>Seguridad alimentaria:</b>
            La producción de soja a gran escala garantiza la seguridad alimentaria nacional y mundial, proporcionando
            una rica y nutritiva fuente de proteína vegetal para la población mundial. <br>

        <p style="margin-left: 6em;"> <b> Desafíos socioambientales: </b>

        <p style="margin-left: 8em;">
            <b>Deforestación:</b>
            La deforestación para la expansión de áreas de cultivo de soja convencional es una de las principales
            desafíos socioambientales, que provocan pérdida de biodiversidad, emisiones de gases de efecto invernadero y
            degradación del suelo. <br>
            <b>Uso intensivo de pesticidas:</b>
            El cultivo convencional de soja depende del uso intensivo de pesticidas, que pueden
            contaminan el suelo, el agua y los alimentos, además de perjudicar la salud humana y el medio ambiente. <br>
            <b> Resistencia a plagas y enfermedades: </b>
            El uso frecuente de los mismos pesticidas puede conducir al desarrollo de resistencia.
            en plagas y enfermedades, lo que requiere la aplicación de nuevos productos químicos y aumenta los costos de
            producción. <br>
            <b>Impactos sociales:</b>La expansión de los monocultivos de soja puede generar impactos sociales negativos,
            como la concentración
            de la tierra, los conflictos por la tierra y la migración rural.

        <p style="margin-left: 6em;"> <b> Caminos hacia un futuro sostenible: </b>

        <p style="margin-left: 8em;">
            <b>Agricultura sostenible:</b>La adopción de prácticas agrícolas sostenibles como la agricultura de
            precisión,
            la rotación
            de cultivos y el manejo integrado de plagas y enfermedades, es fundamental para reducir los impactos
            socioambientales de
            cultivo de soja. <br>
            <b> Soja certificada sin OGM: </b> La producción de soja sin OGM certificada por organismos estrictos ofrece
            hacia
            ofrecer a los consumidores una opción más sostenible y con menor impacto medioambiental. <br>
            <b> Investigación y desarrollo: </b> Invertir en investigación y desarrollo de nuevas variedades de soja más
            resistentes
            El
            plagas y enfermedades, con menor necesidad de pesticidas y más adaptados a diferentes condiciones climáticas
            es
            crucial
            para el futuro de la soja convencional. <br>
            <b> Diálogo y colaboración: </b> Diálogo entre diferentes sectores de la sociedad, como productores,
            industria,
            gobierno,
            ONG y consumidores, es fundamental encontrar soluciones conjuntas a los desafíos socioambientales de la soja
            convencional y construir un futuro más sostenible para el sector. <br>

        <p style="margin-left: 6em;">
            La soja convencional seguirá siendo un producto importante para la economía y la seguridad brasileñas
            comida mundial. <br>
            Sin embargo, es fundamental que su cultivo se realice de forma responsable y sostenible, minimizando
            impactos socioambientales y buscando alternativas para la producción de soja más limpia y amigable con el
            medio
            ambiente. <br>
            Uniendo fuerzas y adoptando prácticas agrícolas sostenibles, podemos garantizar que la soja
            convención continúa contribuyendo al desarrollo de Brasil y del mundo, sin comprometer el futuro de
            nuestro planeta.
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>