<div id="pagHome" class="content">
    <h1 id="h1Home">Sweet Sorghum</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sorgosacarino.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Sweet Sorghum: </b> A Sweet Promise for the Future of Brazil <br>
        <p style="margin-left: 8em;">
            Sweet sorghum, also known as bicolor sorghum or corn cane, stands out as a promising plant
            for the future of Brazilian agriculture. <br>
            With unique characteristics and great potential for diverse uses, sweet sorghum emerges as an alternative
            sustainable and versatile for different sectors of the economy.

        <p style="margin-left: 6em;"> <b> Much More Than a Cereal: </b>

        <p style="margin-left: 8em;">
            Sweet sorghum goes beyond just a grain. It offers a range of products and applications such as:

        <p style="margin-left: 10em;">
            <b> Grains for human and animal consumption: </b> Source of energy, proteins and fiber, sorghum can be
            used in the production of flour, flakes, pasta, animal feed and other products. <br>
            <b> Sugar and ethanol: </b> Sweet sorghum is rich in sucrose and can be used in the production of sugar and
            second generation ethanol, renewable and sustainable biofuels. <br>
            <b> Forage: </b> Sorghum leaves and stalks can be used as high-quality forage for
            animal feed. <br>
            <b> Biomass: </b> Sorghum can be used in the production of biomass to generate energy, a fuel
            renewable and clean. <br>
            <b> Biodegradable materials: </b> Sorghum can be used in the production of biodegradable materials, such as
            plastics, packaging and other products.

        <p style="margin-left: 6em;"> <b> Advantages of Sweet Sorghum: </b>

        <p style="margin-left: 8em;">
            Sweet sorghum has several advantages that make it a promising plant for Brazil:

        <p style="margin-left: 10em;">
            <b> Adaptability: </b> Adapts to different climates and soils, expanding cultivation areas throughout the
            country. <br>
            <b> Resistance: </b> Resistant to droughts, pests and diseases, reducing the need for the use of pesticides.
            <br>
            <b> Sustainability: </b> Ecologically correct cultivation, with lower environmental impact compared to
            others
            cultures. <br>
            <b> Versatility: </b> Various applications, adding value to production and meeting different demands of the
            Marketplace. <br>
            <b> Potential for biofuels: </b> Contributes to the country's energy security and the reduction of
            greenhouse gas emissions.

        <p style="margin-left: 6em;"> <b> Challenges and Perspectives: </b>

        <p style="margin-left: 8em;">
            Despite its great potential, sweet sorghum still faces some challenges in Brazil, such as:

        <p style="margin-left: 10em;">
            <b> Logistics: </b> Improving the logistics infrastructure for transporting and storing sorghum is essential
            for
            ensure the viability of its commercialization. <br>
            <b> Research and Development: </b> Invest in research and development to improve cultivation techniques and
            Sorghum processing is crucial to increasing the productivity and competitiveness of the crop. <br>
            <b>Market Awareness:</b> Promote market awareness about the benefits of sorghum and its various
            uses is essential to increase the demand for this plant.

        <p style="margin-left: 6em;">
            Sweet sorghum represents a unique opportunity for Brazil to diversify its agricultural production, boost
            the bioeconomy and contribute to a more sustainable future. <br>
            By investing in the development of this promising plant, the country can strengthen its food security,
            generate
            new jobs and contribute to the mitigation of climate change.
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>