<h1 id="h1Home">Sweet Sorghum</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgosacarino.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        <p>Sweet sorghum is a type of tall sorghum, with a plant height of more than two meters. It stands out for having a sweet and juicy stalk, similar to sugar cane. Here is some relevant information about sweet sorghum:

            <p style="margin-left: 2em;"><b>Characteristics of Sweet Sorghum:</b>
            <p style="margin-left: 3em;">Sweet Sorghum: Sweet sorghum has stalks rich in fermentable sugar, making it an interesting alternative for ethanol production.
            <p style="margin-left: 3em;">Open Panicle: Its panicle (bunch) is open and produces few grains (seeds).
            <p style="margin-left: 3em;">Use: Sweet sorghum can be used as fodder, in the form of silage and also for cutting.
           
            <p style="margin-left: 2em;"><b>Potential for Ethanol Production:</b>
            <p style="margin-left: 3em;">Sweet sorghum is an option being studied to meet global fuel demand, replacing oil.
            <p style="margin-left: 3em;">Three characteristics make this plant sustainable:
            <p style="margin-left: 3em;">Renewable Bioethanol: Sweet sorghum produces bioethanol, a renewable energy source.
            <p style="margin-left: 3em;">Emissions Reduction: Its cultivation reduces the emission of polluting gases.
            <p>In summary, sweet sorghum offers potential both in the production of ethanol and as feed for livestock, being an interesting alternative for agriculture and industry
    </div>
    <br>
    <hr class="rounded">
</div>
