<h1 id="h1Home">甘蔗</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/canadeacucar.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        甘蔗 (Glycine max) 是一種薄的纖維狀植物，具有圓柱形和長葉。 它的高度可達六米，與稻米、玉米、大麥和其他禾本科植物同科。 它的莖含有豐富的蔗糖，這使得甘蔗成為人類必需食品糖的主要原料。 此外，甘蔗也是酒精的主要來源，尤其是乙醇，它作為替代燃料具有重要的經濟意義。<br>

        甘蔗起源於大洋洲，更準確地說是現在澳洲北部的新幾內亞島。 它在熱帶和亞熱帶氣候的地方生長得很好，例如巴西，在那裡廣泛種植。 1520 年左右，葡萄牙人帶來了甘蔗到巴西。 它主要在該國東北部繁榮，使巴西在 17 世紀之前成為最大的糖生產國和出口國。 如今，大部分甘蔗田位於聖保羅內陸地區。<br>

        甘蔗在自然狀態下也可用作牛的牧草，或作為拉帕杜拉、糖蜜、白蘭地等食品的成分。 甘蔗還有其他用途。 它在自然狀態下被用作牛消耗的牧場，或作為拉帕杜拉、糖蜜、白蘭地等食品的成分。<br>    </div>
    <br>
    <hr class="rounded">
</div>
