<div id="pagHome" class="content">
    <h1 id="h1Home">甘蔗</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/canadeacucar.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> 甘蔗：</b> 感動巴西和世界的甜蜜
        <p style="margin-left: 8em;">甘蔗不只是一種簡單的烹飪原料，更是歷史、經濟和文化的支柱
            巴西人。 <br> 自16世紀傳入該國以來，甘蔗已成為該國的主要農產品之一。
            巴西塑造其社會並促進其發展。 <br>

        <p style="margin-left: 6em;"> <b> 不只是糖：</b>

        <p style="margin-left: 8em;"> 雖然糖是最著名的甘蔗衍生產品，但它提供了一系列多功能副產品，例如：

        <p style="margin-left: 8em;"><b> 乙醇：</b> 一種可再生和可持續的能源，用作車輛燃料和生產
            電。 <br>
            <b> 糖蜜：</b> 一種富含營養的天然甜味劑，非常適合以更健康的方式為食譜和飲料增甜。 <br>
            <b> Vinhoto：</b> 一種富含養分的有機肥料，有助於提高土壤肥力和作物質量
            種植園。 <br>
            <b> Bagacilho：</b> 甘蔗研磨後的殘留物，用作植物燃料以及紙張和纖維素的生產。 <br>

        <p style="margin-left: 6em;"> <b> 生產中的巨人：</b>

        <p style="margin-left: 8em;">巴西是世界上最大的甘蔗生產國和出口國，約佔三分之一
            全球產量。 <br> 東南部和中西部地區種植集中，重點放在各州
            例如聖保羅、米納斯吉拉斯州和戈亞斯州。

        <p style="margin-left: 6em;"> <b> 社會與環境影響：</b>

        <p style="margin-left: 8em;">甘蔗生產鏈為巴西創造了數百萬個直接和間接就業崗位，為
            產區社會經濟發展。 <br>

            然而，甘蔗種植也帶來了社會環境挑戰，例如森林砍伐、大量用水
            以及殺蟲劑和燃燒甘蔗秸稈。

        <p style="margin-left: 6em;"> <b> 永續的未來：</b>

        <p style="margin-left: 8em;">甘蔗產業不斷尋求創新和永續的解決方案，以盡量減少這些影響，
            喜歡：<br>

        <p style="margin-left: 8em;"> <b> 農業技術的改進：</b> 採用精準農業和永續土地管理等做法
            土壤以減少自然資源的使用並提高生產力。 <br>
            <b> 再生能源投資：</b> 使用甘蔗 bagacilho 作為植物和植物的能源
            社區，減少污染氣體的排放。 <br>
            <b>水回收再利用：</b>在工廠實施水處理和再利用系統，以減少
            飲用水消耗量。 <br>
            <b> 打擊秸稈焚燒：</b> 以替代技術收割甘蔗，例如切碎並焚燒秸稈
            在熔爐中產生能量。 <br> <br>

            只要以永續的方式種植，甘蔗將繼續成為巴西的重要產品。
            可持續且負責任。 <br> <br>

            我們可以共同為甘蔗和我們的星球建立一個更綠色、更甜蜜的未來！
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>