<h1 id="h1Home">Açucar ICUMSA VHP </h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/acucaricVHP.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

        O açúcar VHP é outro tipo importante de açúcar que possui características específicas. Vamos explorar mais sobre ele:

        <p style="margin-left: 2em;" >O que é o açúcar VHP?
        <p style="margin-left: 4em;" >A sigla “VHP” significa “Very High Polarization” (Polarização Muito Alta). Esse tipo de açúcar é conhecido por sua alta concentração de sacarose.
        <p style="margin-left: 4em;" >O açúcar VHP é produzido a partir do caldo de cana-de-açúcar e passa por um processo de evaporação e cristalização.
        <p style="margin-left: 4em;" >Ele é chamado de “VHP” devido à sua alta polarização, que se refere à quantidade de sacarose presente no açúcar.
        <p style="margin-left: 4em;" >O açúcar VHP é geralmente usado na indústria de exportação, onde é transportado em grandes quantidades para outros países.
        <p style="margin-left: 4em;" >Sua alta concentração de sacarose o torna ideal para uso em processos industriais, como a fabricação de bebidas, alimentos e produtos químicos.</p>
        Nota: O açúcar VHP não é refinado e pode conter impurezas, mas sua alta concentração de sacarose o torna valioso para muitas aplicações.

    </div>
    <br>
    <hr class="rounded">
</div>
