<h1 id="h1Home">Cobre</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/cobre.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">
    <p style="margin-left: 6em;"> <b> Cobre: ​​</b> El metal esencial para la modernidad <br>
    <p style="margin-left: 8em;">
        Destaca como elemento el cobre, un metal dúctil, maleable y de alta conductividad eléctrica y térmica.
        fundamental para el desarrollo de la sociedad moderna.
        Presente en varios sectores industriales, el cobre garantiza el funcionamiento de equipos esenciales para
        nuestra
        el día a día, desde la generación de energía hasta la comunicación digital.

    <p style="margin-left: 6em;"> <b> Metal con una rica historia: </b>

    <p style="margin-left: 8em;">
        El uso del cobre se remonta a miles de años, con registros de su uso en Mesopotamia alrededor del 6000 a.C.
        A lo largo de la historia, el cobre se ha utilizado para diversos fines, como por ejemplo:

    <p style="margin-left: 10em;">
        <b> Fabricación de herramientas y armas: </b> En la prehistoria, el cobre se utilizaba para fabricar
        herramientas y armas,
        debido a su maleabilidad y resistencia. <br>
        <b> Construcción: </b> El cobre se utilizó en la construcción de casas, templos y otros monumentos,
        principalmente por su
        resistencia a la corrosión. <br>
        <b> Moneda: </b> En varias civilizaciones antiguas, el cobre se utilizaba como moneda de cambio, debido a su
        valor y
        durabilidad. <br>
        <b> Objetos decorativos: </b> El cobre también se utilizaba para fabricar objetos decorativos, como jarrones,
        esculturas y
        joyas. <br>

    <p style="margin-left: 6em;"> <b> Propiedades únicas del cobre: ​​</b>

    <p style="margin-left: 8em;">
        El cobre tiene varias propiedades que lo convierten en un metal imprescindible para diversas aplicaciones:

    <p style="margin-left: 10em;">
        <b> Alta conductividad eléctrica: </b> El cobre es uno de los mejores conductores de la electricidad,
        utilizándose en la fabricación de
        alambres, cables, motores eléctricos y otros componentes electrónicos. <br>
        <b> Alta conductividad térmica: </b> El cobre también es un excelente conductor del calor y se utiliza en
        tuberías de agua.
        agua caliente, intercambiadores de calor y radiadores. <br>
        <b> Maleabilidad y ductilidad: </b> El cobre es un metal maleable y dúctil y se puede moldear fácilmente en
        diferentes formas.
        formas, lo que facilita su uso en diferentes tipos de aplicaciones. <br>
        <b>Resistencia a la corrosión:</b> El cobre es un metal resistente a la corrosión, lo que lo hace ideal para su
        uso en ambientes húmedos.
        o solución salina. <br>
        <b> Reciclabilidad: </b> El cobre es un material altamente reciclable, lo que contribuye a la sostenibilidad
        ambiental. <br>


    <p style="margin-left: 6em;"> <b> Aplicaciones del cobre en la modernidad: </b>

    <p style="margin-left: 8em;">
        El cobre es uno de los metales más utilizados en el mundo en la actualidad, con diversas aplicaciones en
        diferentes sectores:

    <p style="margin-left: 10em;">
        <b> Generación y distribución de energía: </b> El cobre es esencial para la generación, transmisión y
        distribución de energía.
        eléctrico, siendo utilizado en alambres, cables, transformadores y otros componentes. <br>
        <b>Construcción civil: </b> El cobre se utiliza en tuberías de agua fría y caliente, cableado eléctrico, techos
        y otros.
        Componentes de construcción civil. <br>
        <b> Electrónica: </b> El cobre se utiliza en diversos componentes electrónicos, como circuitos impresos,
        alambres, cables y
        conectores. <br>
        <b> Automoción: </b> El cobre se utiliza en cableado eléctrico, motores eléctricos, radiadores y otros
        componentes de vehículos.
        vehículos de motor. <br>
        <b> Industria: </b> El cobre se utiliza en diversos equipos industriales, como motores, tuberías,
        intercambiadores de calor y
        otros componentes. <br>

    <p style="margin-left: 6em;"> <b> Un futuro sostenible con cobre: ​​</b>

    <p style="margin-left: 8em;">El cobre seguirá siendo un metal esencial para el desarrollo de la sociedad moderna,
        con un futuro prometedor
        impulsado por la creciente demanda de energías renovables, electrificación y urbanización. <br>

        Reciclar cobre es fundamental para asegurar la sostenibilidad de su uso, reduciendo el impacto
        impacto ambiental de su producción. <br>

        El cobre es un metal esencial para nuestra vida diaria, contribuyendo al desarrollo tecnológico, la generación
        de
        energía, construcción y varios otros sectores de la economía global. <br>

        Invertir en investigación, desarrollo y reciclaje del cobre es fundamental para garantizar un futuro mejor
        sostenible para el planeta y el país para las próximas generaciones.
        <br>
        <br>
        <hr class="rounded">
</div>