<h1 id="h1Home">Cobre</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/cobre.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        El cobre es un elemento químico de símbolo Cu, número atómico 29, masa atómica 63,55 y perteneciente al grupo 11 de la tabla periódica. Es un metal de discreto color rojo amarillento, con un brillo ligeramente opaco y de agradable apariencia. El cobre es muy resistente a la corrosión y muy poco reactivo. Es el segundo metal con mayor conductividad eléctrica, sólo por detrás de la plata.<br>
        En la naturaleza, el cobre se encuentra en tres formas: calcopirita (sulfuro de cobre y hierro), calcocita (sulfuro de cobre) y malaquita (carbonato de cobre). El cobre puede sufrir diferentes tipos de reacciones químicas y su producto más conocido es el sulfato de cobre.<br>
        El cobre es conocido por la humanidad desde el Neolítico, cuando se utilizaba para producir instrumentos de trabajo, armas y utensilios. Puede usarse en su forma pura o combinado con otros metales, por ejemplo, la aleación entre cobre y estaño originó la Edad del Bronce1.<br>
        Una de las principales aplicaciones del cobre es para la producción de aleaciones metálicas, materiales formados por la mezcla de dos o más componentes, al menos uno de los cuales es metal. Existen más de 1.000 tipos de aleaciones metálicas producidas con cobre. Algunos ejemplos son: Latón (Cobre + Zinc), Bronce (Cobre + Estaño), Cuproníquel (Cobre + Níquel), Oro de 18 quilates (Oro + Plata + Cobre) y Amalgama (Plata + Estaño + Cobre + Mercurio).<br >
        Actualmente, gran parte del metal se utiliza para producir cables eléctricos, telefónicos, de iluminación y de telecomunicaciones. El cobre también se utiliza en la fabricación de utensilios de cocina, ya que es un excelente material conductor del calor.<br>
        El cobre es uno de los minerales que también es importante para el buen funcionamiento del cuerpo humano. Se encuentra en bajas concentraciones en la sangre, pero tiene funciones relacionadas con la actividad enzimática y la formación de células sanguíneas. Los alimentos en los que podemos encontrar cobre son: mariscos, huevos, carne de res y cerdo, almendras, champiñones, semillas de girasol, frijoles y nueces.<br>    </div>
    <br>
    <hr class="rounded">
</div>