<h1 id="h1Home">Diamond</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/diamante.jpg" width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        Diamond is one of nature's most beautiful and precious creations, being the only natural stone composed of a single element: carbon. The diamond structure is made up of pure carbon atoms arranged at the four corners of a tetrahedron and a single one at its center. Due to this geometric arrangement, the diamond is very compact, has a high density (3.5g/cm3) and is the hardest natural substance known.

        The diamond is known for its unparalleled brilliance and the ability to break down white light into the colors of the rainbow. When a beam of white light hits one of the facets of a diamond, it refracts and disperses into the colors that make it up. Diamond cutting aims to enhance the reflections of light inside it.

        The first reports of man's fascination with diamonds were found in texts in India from around 800 BC. They described the beauty and purity of these crystals, and their durability gained mystical significance and supposedly magical powers.

        Today, diamonds are used in jewelry and are symbols of eternal love, commitment and fidelity between two people. Furthermore, diamonds are also used in industry, for example in the manufacture of cutting tools due to their extreme hardness.    </div>
    <br>
    <hr class="rounded">
</div>