<h1 id="h1Home">Diamond</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/diamante.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">
    <p style="margin-left: 6em;"> <b> Diamond: </b> The Gemstone that Shines in Brazil <br>
    <p style="margin-left: 8em;">
        Brazil boasts the title of being one of the largest diamond producers in the world, recognized for its quality
        superior and stunning beauty of these precious stones.
        Found in different regions of the country, mainly in Chapada Diamantina, Brazilian diamonds enchant the
        world with its shine, color and impeccable cut.

    <p style="margin-left: 6em;"> <b> A Millionaire Journey: </b>
    <p style="margin-left: 8em;">
        The history of diamond exploration in Brazil dates back to the 18th century, when the first deposits were
        discovered in the region of Minas Gerais.
        Since then, the search for these precious stones has boosted the region's development, attracting adventurers,
        miners and investments from all over the world.

    <p style="margin-left: 6em;"> <b> Unique Features: </b>

    <p style="margin-left: 8em;">
        Brazilian diamonds are distinguished by their unique characteristics, such as:

    <p style="margin-left: 10em;">
        <b> Purity: </b> They present a high degree of purity, with few inclusions or imperfections. <br>
        <b> Color: </b> They vary in different colors, from traditional white to rare tones such as pink, yellow and
        blue. <br>
        <b> Cutting: </b> They are cut with mastery by skilled artisans, revealing all their shine and beauty. <br>
        <b> Shine: </b> They have an intense and unmistakable shine, which makes them coveted all over the world. <br>

    <p style="margin-left: 6em;"> <b> Types of Brazilian Diamonds: </b>

    <p style="margin-left: 8em;">
        <b> Carbonado: </b> The most common type of diamond in Brazil, known for its black color and high resistance.
        <br>
        <b> Maculine: </b> It has black or brown spots, but still has great value. <br>
        <b> Brilliant: </b> Cut in a triangular shape, it is the most popular type and sought after for its beauty and
        shine. <br>
        <b> Baguette: </b> Cut in a rectangular shape, ideal for rings and necklaces. <br>
        <b> Marquise: </b> Cut in the shape of a boat, it has an elegant and sophisticated look. <br>

    <p style="margin-left: 6em;"> <b> More than Jewels: </b>

    <p style="margin-left: 8em;">
        Brazilian diamonds go beyond the world of jewelry. They are used in various industrial applications, such as:

    <p style="margin-left: 10em;">
        <b>Cutting tools:</b> Their extreme hardness makes them ideal for high-precision cutting tools. <br>
        <b> Abrasives: </b> Used in sandpaper and other abrasive materials to polish and polish various materials. <br>
        <b> Electronics: </b> Components in electronic devices due to their excellent thermal conductivity. <br>
        <b> Medicine: </b> Applied in surgical instruments and medical implants due to their biocompatibility. <br>

    <p style="margin-left: 6em;"> <b> A Bright Future: </b>

    <p style="margin-left: 8em;">
        The diamond industry in Brazil has a promising future, with the potential to grow even further in the coming
        years.
        decades.

        Investments in exploration technology, qualified cutters and strategic marketing are essential for
        ensure the country's competitiveness in the global diamond market and to further value this precious stone
        that shines so much in Brazil.

        The Brazilian diamond is a symbol of wealth, beauty and tradition. More than a jewel, it represents strength and
        potential of Brazil, a country that cuts precious stones and conquers the world with its brilliance.**
        <br>
        <br>
        <hr class="rounded">
</div>