
<h1 id="h1Home">玉米</h1>
<div id="divCarousel">
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <figure>
                <img src="{{ slide.img }}" alt="" class="img-style">
                <figcaption>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                </figcaption>
            </figure>
        </div>
    </ngx-slick-carousel>
    <br>
    <br>
    <div class="textFont">
        <p style="margin-left: 2em;"><u>玉米史之旅</u>

            <p style="margin-left: 3em;">
            <b>古老的起源：</b>玉米，也稱為“maíz”，數千年前在中美洲被馴化，考古證據可以追溯到公元前 8,700 年<br>
           
            <b>原住民：</b>玉米是阿茲特克、瑪雅和印加文明的重要食物，是飲食的基礎，並在他們的文化和儀式中發揮著至關重要的作用。
           
            <b>歐洲簡介：</b>16世紀，西班牙探險家將玉米帶到了歐洲，它很快就成為一種流行的食物，並適應不同的氣候和土壤條件。
           
            <b>全球食品：</b>如今，玉米是世界上種植和消費最多的穀物之一，在全球糧食安全中發揮重要作用。
   
            <p style="margin-left: 2em;"><u>種玉米：從田間到餐桌</u>
   
            <p style="margin-left: 3em;">
            <b>品種多樣：</b>玉米的種類繁多，從經典的黃色到紅、藍、黑等色彩繽紛的品種，每種玉米都有獨特的特性和用途。
   
            <b>氣候和土壤：</b>玉米適應不同的氣候，從熱帶地區到溫帶氣候，並且喜歡肥沃、排水良好的土壤。
   
            <b>種植與收穫：</b>玉米種植一般在春季或初夏進行，大約三個月後收穫，此時玉米粒成熟並達到其特有的金黃色。
   
            <b>種植技術：</b>玉米種植技術因地區和玉米類型而異，但可能包括灌溉、施肥、病蟲害控制以及機械或手動收穫。    
    </div>
    <br>
    <hr class="rounded">


</div>