<h1 id="h1Home">糖</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/acucar2.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        糖

        糖是一種簡單碳水化合物，主要從甘蔗和甜菜中獲取。 它是多種食譜中的重要成分，用於使食物和飲料變甜。
       
        糖的種類：
       
        冰糖：這是最常見的類型，具有大而乾燥的晶體。
        精製糖：經過精製過程，去除雜質，使晶體更白更細。
        糖粉：將精緻糖磨成細粉。
        紅糖：這是一種加工程度較低的糖，具有濕潤的晶體和更濃鬱的味道。
        德梅拉拉糖：它是一種紅糖，晶體較大，味道較溫和。
        糖的好處：
       
        能量：糖為身體提供快速能量，對身體和精神活動都很重要。
        風味：使食物和飲料變甜，使其更美味、更有吸引力。
        保存：有助於保存食物，例如醬中的水果。
        質地：在食譜中，糖有助於蛋糕、餡餅和其他糖果的質地和奶油味。
        食用注意事項：
       
        攝取過量糖分會導致多種健康問題，如肥胖、糖尿病、心臟病和蛀牙。 適量、均衡飲食攝取糖分很重要。
       
        糖的替代品：
       
        為了減少糖的消耗，有幾種替代方案，例如：
       
        天然甜味劑：甜菊糖、木糖醇、赤藻醣醇。
        水果：香蕉、蘋果、葡萄。
        蜂蜜：具有有益特性的天然甜味劑。
        結論：
       
        糖是一種用途廣泛的成分，有很多好處，但適量食用很重要。 選擇糖的替代品和均衡飲食對於保持身體健康很重要。
       
        了解更多：
       
        巴西甘蔗工業協會 (ABIA)：https://www.abia.org.br/
        衛生署：https://www.gov.br/saude/pt-br </div>    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>
</div>
