<div id="sidebar">
    <div id="menu">

        <div *ngIf="this.languageChineseActive" class= "figure">
            <div class="figureSombra"> </div>
            <!-- Menu chines -->
            <button mat-button routerLink="home/english" id="title">
                <i class="material-icons" id="iconSpace">
                    home
                </i>
                家
            </button>
            <button mat-button [matMenuTriggerFor]="menu1" id="title" routerLink="agronegocio/english">
                <i class="material-icons" id="iconSpace">
                    storefront
                </i>
                農業綜合企業
            </button>
            <mat-menu #menu1="matMenu">
                <button mat-menu-item routerLink="acucar/english" id="subItem">
                    <i class="material-icons">
                        grass
                    </i>
                    <span id="textSubItemGrande">糖</span>

                </button>
                <button mat-menu-item routerLink="algodao/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">棉布</span>

                </button>
                <button mat-menu-item routerLink="cafe/english" id="subItem">
                    <i class="material-icons">
                        coffee
                    </i>
                    <span id="textSubItem">咖啡</span>
                </button>
                <button mat-menu-item routerLink="canadeacucar/english" id="subItem">
                    <i class="material-icons">
                        grass
                    </i>
                    <span id="textSubItemGrande">甘蔗</span>

                </button>
                <button mat-menu-item routerLink="etanol/english" id="subItem">
                    <i class="material-icons">
                        grass
                    </i>
                    <span id="textSubItem">乙醇</span>

                </button>
                <button mat-menu-item routerLink="feijaopreto/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">黑豆</span>

                </button>
                <button mat-menu-item routerLink="milho/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">玉米</span>

                </button>
                <button mat-menu-item routerLink="soja/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">大豆</span>

                </button>
                <button mat-menu-item routerLink="sorgo/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">高粱</span>

                </button>
                <button mat-menu-item routerLink="trigo/english" id="subItem">
                    <i class="material-icons">
                        workspaces
                    </i>
                    <span id="textSubItem">小麥</span>

                </button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu2" id="title" routerLink="frango/english">
                <i class="material-icons" id="iconSpace">
                    storefront
                </i>
                <span>雞</span>
            </button>
            <mat-menu #menu2="matMenu">
                <button mat-menu-item routerLink="asafrango/english" id="subItem">
                    <i class="material-icons">
                        iron
                    </i>
                    雞翅
                </button>
                <button mat-menu-item routerLink="coracaofrango/english" id="subItem">
                    <i class="material-icons">
                        iron
                    </i>
                    雞心
                </button>
                <button mat-menu-item routerLink="coxafrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    雞腿肉
                </button>
                <button mat-menu-item routerLink="drumetfrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    雞鼓
                </button>
                <button mat-menu-item routerLink="figadofrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    雞肝
                </button>
                <button mat-menu-item routerLink="moelafrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    雞肫
                </button>
                <button mat-menu-item routerLink="pefrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    雞爪
                </button>
                <button mat-menu-item routerLink="peitofrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    雞胸肉
                </button>
                <button mat-menu-item routerLink="sobrecoxafrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    雞上腿
                </button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu3" id="title" routerLink="mineral/english">
                <i class="material-icons" id="iconSpace">
                    hub
                </i>
                <span>礦物質&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </button>
            <mat-menu #menu3="matMenu">
                <button mat-menu-item routerLink="ferro/english" id="subItem">
                    <i class="material-icons">
                        iron
                    </i>
                    鐵
                </button>
                <button mat-menu-item routerLink="grafite/english" id="subItem">
                    <i class="material-icons">
                        iron
                    </i>
                    石墨
                </button>
                <button mat-menu-item routerLink="cobre/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    銅
                </button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu4" id="title" routerLink="pedra/english">
                <i class="material-icons" id="iconSpace">
                    landslide
                </i>
                石頭
            </button>
            <mat-menu #menu4="matMenu">
                <button mat-menu-item routerLink="diamante/english" id="subItem">
                    <i class="material-icons">
                        diamond
                    </i>
                    鑽石
                </button>
                <button mat-menu-item routerLink="esmeralda/english" id="subItem">
                    <i class="material-icons">
                        diamond
                    </i>
                    翠
                </button>
            </mat-menu>

            <button mat-button routerLink="quemsomos/english" id="title">
                <i class="material-icons" id="iconSpace">
                    group
                </i>
                我們是誰
            </button>
        </div>
    </div>

    <!-- Menu Ingles -->

    <div id="menu">
        <div *ngIf="this.languageEnglishActive" class= "figure">
            <div class="figureSombra"> </div>
            <button mat-button routerLink="home/english" id="title">
                <i class="material-icons" id="iconSpace">
                    home
                </i>
                Home
            </button>
            <button mat-button [matMenuTriggerFor]="menu1" id="title" routerLink="agronegocio/english">
                <i class="material-icons" id="iconSpace">
                    storefront
                </i>
                Agribusiness
            </button>
            <mat-menu #menu1="matMenu">
                <button mat-menu-item routerLink="acucar/english" id="subItem">
                    <i class="material-icons">
                        grass
                    </i>
                    <span id="textSubItemGrande">Sugar</span>

                </button>
                <button mat-menu-item routerLink="algodao/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">Cotton</span>

                </button>
                <button mat-menu-item routerLink="cafe/english" id="subItem">
                    <i class="material-icons">
                        coffee
                    </i>
                    <span id="textSubItem">Coffee</span>
                </button>
                <button mat-menu-item routerLink="canadeacucar/english" id="subItem">
                    <i class="material-icons">
                        grass
                    </i>
                    <span id="textSubItemGrande">Sugar Cane</span>

                </button>
                <button mat-menu-item routerLink="etanol/english" id="subItem">
                    <i class="material-icons">
                        grass
                    </i>
                    <span id="textSubItem">Ethanol</span>

                </button>
                <button mat-menu-item routerLink="feijaopreto/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">Black Bean</span>

                </button>
                <button mat-menu-item routerLink="milho/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">Corn</span>

                </button>
                <button mat-menu-item routerLink="soja/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">Soy</span>

                </button>
                <button mat-menu-item routerLink="sorgo/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">Sorghum</span>

                </button>
                <button mat-menu-item routerLink="trigo/english" id="subItem">
                    <i class="material-icons">
                        workspaces
                    </i>
                    <span id="textSubItem">Wheat</span>

                </button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="menu2" id="title" routerLink="frango/english">
                <i class="material-icons" id="iconSpace">
                    storefront
                </i>
                Chicken
            </button>
            <mat-menu #menu2="matMenu">
                <button mat-menu-item routerLink="asafrango/english" id="subItem">
                    <i class="material-icons">
                        iron
                    </i>
                    Chicken wings
                </button>
                <button mat-menu-item routerLink="coracaofrango/english" id="subItem">
                    <i class="material-icons">
                        iron
                    </i>
                    Chicken heart
                </button>
                <button mat-menu-item routerLink="coxafrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Chicken thighs
                </button>
                <button mat-menu-item routerLink="drumetfrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    <span style="font-size: smaller;"> Chicken Drumet</span>
                </button>
                <button mat-menu-item routerLink="figadofrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Chicken liver
                </button>
                <button mat-menu-item routerLink="moelafrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    <span style="font-size: smaller;"> Chicken gizzard</span>
                    
                </button>
                <button mat-menu-item routerLink="pefrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Chicken feets
                </button>
                <button mat-menu-item routerLink="peitofrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Chicken breast
                </button>
                <button mat-menu-item routerLink="sobrecoxafrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    <span style="font-size: smaller;"> Chicken upperleg</span>
                    
                </button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu3" id="title" routerLink="mineral/english">
                <i class="material-icons" id="iconSpace">
                    hub
                </i>
                Minerals
            </button>
            <mat-menu #menu3="matMenu">
                <button mat-menu-item routerLink="ferro/english" id="subItem">
                    <i class="material-icons">
                        iron
                    </i>
                    Iron
                </button>
                <button mat-menu-item routerLink="grafite/english" id="subItem">
                    <i class="material-icons">
                        iron
                    </i>
                    Graphite
                </button>
                <button mat-menu-item routerLink="cobre/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Copper
                </button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu4" id="title" routerLink="pedra/english">
                <i class="material-icons" id="iconSpace">
                    landslide
                </i>
                Stones
            </button>
            <mat-menu #menu4="matMenu">
                <button mat-menu-item routerLink="diamante/english" id="subItem">
                    <i class="material-icons">
                        diamond
                    </i>
                    Diamond
                </button>
                <button mat-menu-item routerLink="esmeralda/english" id="subItem">
                    <i class="material-icons">
                        diamond
                    </i>
                    Emerald
                </button>
            </mat-menu>

            <button mat-button routerLink="quemsomos/english" id="title">
                <i class="material-icons" id="iconSpace">
                    group
                </i>
                Who we are
            </button>
        </div>
    </div>

    <!-- Menu Portugues -->

    <div id="menu">
        <div *ngIf="this.languagePortugueseActive" class= "figure">
            <div class="figureSombra"> </div>
            <button mat-button routerLink="home/english" id="title">
                <i class="material-icons" id="iconSpace">
                    home
                </i>
                Home
            </button>
            <button mat-button [matMenuTriggerFor]="menu1" id="title" routerLink="agronegocio/english">
                <i class="material-icons" id="iconSpace">
                    storefront
                </i>
                Agro Negócio
            </button>
            <mat-menu #menu1="matMenu">
                <button mat-menu-item routerLink="acucar/english" id="subItem">
                    <i class="material-icons">
                        grass
                    </i>
                    <span id="textSubItemGrande">Açucar</span>

                </button>
                <button mat-menu-item routerLink="algodao/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">Algodão</span>

                </button>
                <button mat-menu-item routerLink="cafe/english" id="subItem">
                    <i class="material-icons">
                        coffee
                    </i>
                    <span id="textSubItem">Café</span>
                </button>
                <button mat-menu-item routerLink="canadeacucar/english" id="subItem">
                    <i class="material-icons">
                        grass
                    </i>
                    <span id="textSubItemGrande">Cana de Açucar</span>

                </button>
                <button mat-menu-item routerLink="etanol/english" id="subItem">
                    <i class="material-icons">
                        grass
                    </i>
                    <span id="textSubItem">Etanol</span>

                </button>
                <button mat-menu-item routerLink="feijaopreto/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">Feijão Preto</span>

                </button>
                <button mat-menu-item routerLink="milho/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">Milho</span>

                </button>
                <button mat-menu-item routerLink="soja/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">Soja</span>

                </button>
                <button mat-menu-item routerLink="sorgo/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">Sorgo</span>

                </button>
                <button mat-menu-item routerLink="trigo/english" id="subItem">
                    <i class="material-icons">
                        workspaces
                    </i>
                    <span id="textSubItem">Trigo</span>

                </button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="menu2" id="title" routerLink="frango/english">
                <i class="material-icons" id="iconSpace">
                    storefront
                </i>
                Frango
            </button>
            <mat-menu #menu2="matMenu">
                <button mat-menu-item routerLink="asafrango/english" id="subItem">
                    <i class="material-icons">
                        iron
                    </i>
                    Asa de Frango
                </button>
                <button mat-menu-item routerLink="coracaofrango/english" id="subItem">
                    <i class="material-icons">
                        iron
                    </i>
                    Coração
                </button>
                <button mat-menu-item routerLink="coxafrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Coxa frango
                </button>
                <button mat-menu-item routerLink="drumetfrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Drumet frango
                </button>
                <button mat-menu-item routerLink="figadofrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Figado frango
                </button>
                <button mat-menu-item routerLink="moelafrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Moela frango
                </button>
                <button mat-menu-item routerLink="pefrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Pé frango
                </button>
                <button mat-menu-item routerLink="peitofrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Peito frango
                </button>
                <button mat-menu-item routerLink="sobrecoxafrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Sobre coxa
                </button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu3" id="title" routerLink="mineral/english">
                <i class="material-icons" id="iconSpace">
                    hub
                </i>
                Minerais
            </button>
            <mat-menu #menu3="matMenu">
                <button mat-menu-item routerLink="ferro/english" id="subItem">
                    <i class="material-icons">
                        iron
                    </i>
                    Ferro
                </button>
                <button mat-menu-item routerLink="grafite/english" id="subItem">
                    <i class="material-icons">
                        iron
                    </i>
                    Grafite
                </button>
                <button mat-menu-item routerLink="cobre/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Cobre
                </button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu4" id="title" routerLink="pedra/english">
                <i class="material-icons" id="iconSpace">
                    landslide
                </i>
                Pedras
            </button>
            <mat-menu #menu4="matMenu">
                <button mat-menu-item routerLink="diamante/english" id="subItem">
                    <i class="material-icons">
                        diamond
                    </i>
                    Diamante
                </button>
                <button mat-menu-item routerLink="esmeralda/english" id="subItem">
                    <i class="material-icons">
                        diamond
                    </i>
                    Esmeralda
                </button>
            </mat-menu>

            <button mat-button routerLink="quemsomos/english" id="title">
                <i class="material-icons" id="iconSpace">
                    group
                </i>
                Quem somos
            </button>
        </div>
    </div>

    <!-- Menu Espanhol -->

    <div id="menu">
        <div *ngIf="this.languageSpanishActive" class= "figure">
            <div class="figureSombra"> </div>
            <button mat-button routerLink="home/english" id="title">
                <i class="material-icons" id="iconSpace">
                    home
                </i>
                Hogar
            </button>
            <button mat-button [matMenuTriggerFor]="menu1" id="title" routerLink="agronegocio/english">
                <i class="material-icons" id="iconSpace">
                    storefront
                </i>
                Agronegocios
            </button>
            <mat-menu #menu1="matMenu">
                <button mat-menu-item routerLink="acucar/english" id="subItem">
                    <i class="material-icons">
                        grass
                    </i>
                    <span id="textSubItemGrande">Azúcar</span>

                </button>
                <button mat-menu-item routerLink="algodao/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">Algodón</span>

                </button>
                <button mat-menu-item routerLink="cafe/english" id="subItem">
                    <i class="material-icons">
                        coffee
                    </i>
                    <span id="textSubItem">Café</span>
                </button>
                <button mat-menu-item routerLink="canadeacucar/english" id="subItem">
                    <i class="material-icons">
                        grass
                    </i>
                    <span id="textSubItemGrande" style="font-size: smaller;">Caña de azúcar</span>

                </button>
                <button mat-menu-item routerLink="etanol/english" id="subItem">
                    <i class="material-icons">
                        grass
                    </i>
                    <span id="textSubItem">Etanol</span>

                </button>
                <button mat-menu-item routerLink="feijaopreto/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">Frijol negro</span>

                </button>
                <button mat-menu-item routerLink="milho/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">Maíz</span>

                </button>
                <button mat-menu-item routerLink="soja/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">Soja</span>

                </button>
                <button mat-menu-item routerLink="sorgo/english" id="subItem">
                    <i class="material-icons">
                        grain
                    </i>
                    <span id="textSubItem">Sorgo</span>

                </button>
                <button mat-menu-item routerLink="trigo/english" id="subItem">
                    <i class="material-icons">
                        workspaces
                    </i>
                    <span id="textSubItem">Trigo</span>

                </button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="menu2" id="title" routerLink="frango/english">
                <i class="material-icons" id="iconSpace">
                    storefront
                </i>
                Pollo
            </button>
            <mat-menu #menu2="matMenu">
                <button mat-menu-item routerLink="asafrango/english" id="subItem">
                    <i class="material-icons">
                        iron
                    </i>
                    Alita de pollo
                </button>
                <button mat-menu-item routerLink="coracaofrango/english" id="subItem">
                    <i class="material-icons">
                        iron
                    </i>
                    <span style="font-size: smaller;">Corazón de pollo</span>                    
                    
                </button>
                <button mat-menu-item routerLink="coxafrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Muslo De Pollo
                </button>
                <button mat-menu-item routerLink="drumetfrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Muslo De Pollo
                </button>
                <button mat-menu-item routerLink="figadofrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    <span style="font-size: smaller;">Higado de pollo</span>
                </button>
                <button mat-menu-item routerLink="moelafrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    <span style="font-size: smaller;">Molleja de pollo</span>
                </button>
                <button mat-menu-item routerLink="pefrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Patas de pollo
                </button>
                <button mat-menu-item routerLink="peitofrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    <span style="font-size: smaller;">Pechuga de pollo</span>                    
                </button>
                <button mat-menu-item routerLink="sobrecoxafrango/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Muslo de pollo
                </button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu3" id="title" routerLink="mineral/english">
                <i class="material-icons" id="iconSpace">
                    hub
                </i>
                Minerales
            </button>
            <mat-menu #menu3="matMenu">
                <button mat-menu-item routerLink="ferro/english" id="subItem">
                    <i class="material-icons">
                        iron
                    </i>
                    Hierro
                </button>
                <button mat-menu-item routerLink="grafite/english" id="subItem">
                    <i class="material-icons">
                        iron
                    </i>
                    Grafito
                </button>
                <button mat-menu-item routerLink="cobre/english" id="subItem">
                    <i class="material-icons">
                        new_releases
                    </i>
                    Cobre
                </button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu4" id="title" routerLink="pedra/english">
                <i class="material-icons" id="iconSpace">
                    landslide
                </i>
                Piedras
            </button>
            <mat-menu #menu4="matMenu">
                <button mat-menu-item routerLink="diamante/english" id="subItem">
                    <i class="material-icons">
                        diamond
                    </i>
                    Diamante
                </button>
                <button mat-menu-item routerLink="esmeralda/english" id="subItem">
                    <i class="material-icons">
                        diamond
                    </i>
                    Esmeralda
                </button>
            </mat-menu>

            <button mat-button routerLink="quemsomos/english" id="title">
                <i class="material-icons" id="iconSpace">
                    group
                </i>
                Quienes somos
            </button>
        </div>
    </div>
</div>