#sidebar {
    height: 100vh;
    box-shadow: 5px 4px 4px #97be97;
    border-right: 1px solid rgb(151, 190, 151);
    width: 200px;
    background-color: rgb(31, 101, 31);
    padding-top: 100px;
    #menu {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        a {
            text-decoration: none;
            color: #333;
            border-bottom: 1px solid #ccc;
            padding: 15px 20px;

            &:hover {
                background-color: #cff5cf;

            }
        }
    }
}

#title {
    align-self: start;;
    color: rgb(80, 248, 226);
}

#subItem {
    width: 200px;
    padding-left: 40px;;
    font-size: 5px;
    background-color: #1f661f;
    color: #50f8e2;

}

#iconSpace{
    padding-right: 15px;;
}

#textSubItem {
    font-size: 15px;
    padding-left: 5px;
    color: #50f8e2;
}

#textSubItemGrande {
    font-size: 15px;
    padding-left: 5px;
}

.figureInicial {
    position: relative;
  }
  .figureSombra {
    position: absolute;
    padding-top: 100px;
    background-color: #1f661f;
    width:200px;
    height:100%;
  }
  .figure {
    position: absolute;
    top: 100px;
    background-color: #1f661f;
  }
  .figurexz {
    position: fixed;
    align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 60%;
        height:auto;
        text-align:center;
  }

