#sidebar {

    width: 200px;
    #vazio {
        background-color: #1f661f;
        display: flex;
        flex-direction: column;
        height: 80px;
    
    }

    #menu {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        button {
            text-decoration: none;
            color: #50f8e2;
            border-bottom: 1px solid #ccc;
            padding: 15px 20px;
            width: 200px;
            justify-content: flex-start;

            &:hover {
                background-color: #cff5cf;
                color: #1f661f;

            }
        }
    }
}

#title {
    align-self: start;
    color: #50f8e2;
}

#subItem {
    text-decoration: none;
    color: #50f8e2;
    border-bottom: 1px solid #ccc;
    width: 200px;
    padding-left: 40px;
    font-size: 5px;
    background-color: #1f661f;
    &:hover {
        background-color: #cff5cf;
        color: #1f661f;
    }

}

#iconSpace {
    padding-right: 15px;
    ;
}

#textSubItem {
    font-size: 15px;
    padding-left: 5px;
    color: #50f8e2;
}

#textSubItemGrande {
    font-size: 15px;
    padding-left: 5px;
}

.figureInicial {
    position: relative;
}

.figureSombra {
    position: absolute;
    padding-top: 100px;
    background-color: #1f661f;
    width: 200px;
    height: 100%;
}

.figure {
    position: absolute;
    top: 100px;
    background-color: #1f661f;
}

.figurexz {
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    height: auto;
    text-align: center;
}

