<div id="sidebar">
    <div id="menu">
        <a routerLink="">
            <i class="material-icons">
                home
            </i>
            Home
        </a>
        <a routerLink="agronegocio">
            <i class="material-icons">
                storefront
            </i>
            Agro Negócio
        </a>
        <a routerLink="cafe">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="material-icons">
                coffee
            </i>
            Café
        </a>
        <a routerLink="milho">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="material-icons">
                grain
            </i>
            Milho
        </a>
        <a routerLink="mineral">
            <i class="material-icons">
                hub
            </i>
            Minerais
        </a>
        <a routerLink="ferro">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="material-icons">
                iron
            </i>
            Ferro
        </a>
        <a routerLink="grafite">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="material-icons">
                iron
            </i>
            Grafite
        </a>
        <a routerLink="cobre">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="material-icons">
                new_releases
            </i>
            Cobre
        </a>
        <a routerLink="pedra">
            <i class="material-icons">
                landslide
            </i>
            Pedras
        </a>
        <a routerLink="diamante">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="material-icons">
                diamond
            </i>
            Diamante
        </a>
        <a routerLink="esmeralda">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="material-icons">
                diamond
            </i>
            Esmeralda
        </a>
        <a routerLink="quemsomos">
            <i class="material-icons">
                group
            </i>
            Quem somos
        </a>
    </div>
</div>