<div id="pagHome" class="content">
    <h1 id="h1Home">Harina de maíz blanco</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/milhoflourbrancaia.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b>Harina de maíz blanco: </b> Sabor y versatilidad en la mesa brasileña <br>
        <p style="margin-left: 8em;">
            La harina de maíz blanco, ingrediente fundamental de la cocina brasileña, se deriva de los granos de maíz.
            blanco y ofertas
            diversas posibilidades de uso, desde platos tradicionales hasta recetas creativas.

        <p style="margin-left: 6em;"> <b> Un poco de historia: </b>

        <p style="margin-left: 8em;">
            La historia de la harina de maíz blanco en Brasil se remonta a la época de los pueblos indígenas, que ya
            utilizaban maíz
            suelo a
            preparar diferentes alimentos. <br>
            Con la llegada de los colonizadores portugueses, el consumo de harina de maíz se intensificó, convirtiéndose
            en un
            alimento básico
            en la dieta de la población.

        <p style="margin-left: 6em;"> <b>Propiedades nutricionales:</b>

        <p style="margin-left: 8em;">
            La harina de maíz blanco es un alimento rico en nutrientes, como:

        <p style="margin-left: 10em;">
            <b> Carbohidratos: </b> Fuente de energía para el organismo. <br>
            <b> Proteínas: </b> Importantes para el desarrollo y reparación de los tejidos musculares. <br>
            <b> Fibras: </b> Ayudan a la digestión, regulan el intestino y favorecen la saciedad. <br>
            <b> Vitaminas: </b> Rica en vitaminas del grupo B, como B1, B2 y B3, importantes para el metabolismo.
            energía, el sistema nervioso y la función muscular. <br>
            <b>Minerales: </b>Fuente de hierro, fósforo, magnesio y potasio, minerales esenciales para el buen
            funcionamiento del
            cuerpo.

        <p style="margin-left: 6em;"> <b>Beneficios para la salud:</b>

        <p style="margin-left: 8em;">
            El consumo regular de harina de maíz blanco puede traer varios beneficios para la salud, como:

        <p style="margin-left: 10em;">
            <b>Prevenir enfermedades crónicas: </b> Ayuda en la prevención de enfermedades crónicas como diabetes tipo
            2,
            enfermedades cardíacas y algunos tipos de cáncer. <br>
            <b>Controlar el colesterol: </b>La fibra presente en la harina de maíz ayuda a reducir el colesterol LDL
            ("malo"), reduciendo el riesgo de enfermedades cardíacas. <br>
            <b>Mejora la digestión:</b>Las fibras también ayudan a regular los intestinos y previenen el estreñimiento.
            <br>
            <b> Fortalecer el sistema inmunológico: </b> Rica en vitaminas y minerales, la harina de maíz ayuda a
            fortalecer el
            sistema inmunológico, protegiendo al cuerpo contra enfermedades. <br>
            <b> Promueve la saciedad: </b> Las fibras y proteínas de la harina de maíz promueven la saciedad, ayudando a
            control del peso corporal.

        <p style="margin-left: 6em;"> <b>Versatilidad en la cocina:</b>

        <p style="margin-left: 8em;">
            La harina de maíz blanca es un ingrediente extremadamente versátil y se puede utilizar en una variedad de
            platos.
            Cocina brasileña, como:

        <p style="margin-left: 10em;">
            <b> Pastel de harina de maíz: </b> Un pastel tradicional brasileño elaborado con harina de maíz blanco,
            leche, huevos, azúcar y
            aceite. <br>
            <b> Pan de harina de maíz: </b> Un pan rústico elaborado con harina de maíz blanco, leche, levadura y sal.
            <br>
            <b> Cuscús: </b> Plato nororiental elaborado con harina de maíz blanco, agua y sal. <br>
            <b> Angu: </b> Plato originario de Minas Gerais elaborado con harina de maíz blanco, agua y sal. <br>
            <b> Tamal: </b> Plato típico del Medio Oeste elaborado con maíz fresco rallado, leche, azúcar y sal.

        <p style="margin-left: 6em;">La harina de maíz blanco es un alimento sabroso, nutritivo y versátil que debería
            hacer
            parte de la dieta habitual de todos los brasileños. <br>
            Además de ser un ingrediente tradicional y culturalmente importante, la harina de maíz blanco ofrece varias
            Beneficios para la salud y se puede utilizar en una variedad de platos deliciosos.
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>