<h1 id="h1Home">Trigo</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/trigo.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        O trigo (Triticum spp.) é uma gramínea cultivada em todo o mundo, sendo a segunda maior cultura de cereais, atrás do milho e à frente do arroz. Seu grão é amplamente utilizado na alimentação humana, desde a farinha de trigo para o pão até como ingrediente na fabricação de cervejas. Além disso, também compõe a alimentação animal.<br>
        O trigo é originário do Médio Oriente, mais especificamente no “Crescente Fértil”, zona geográfica que abarca o trecho africano e asiático do local (antiga Mesopotâmia). Por volta de 4.000 a.C., o processo de fermentação do trigo foi descoberto, dando origem aos primeiros pães.<br>
        No Brasil, o trigo chegou provavelmente em 1534, com Martim Afonso de Souza, que o introduziu em uma região que hoje é parte de São Paulo. As principais áreas de cultivo de trigo no Brasil são o Rio Grande do Sul e o Paraná. Para a safra 2021/2022, a produção de trigo no Brasil está estimada em 8,1 milhões de toneladas, um aumento de 5,9% em relação à safra passada.<br>
        O trigo é um alimento extremamente importante para a nossa saúde no aspecto nutricional. Além de ser uma importante fonte de energia para o organismo, por ser um carboidrato, o trigo é um alimento rico em vitaminas e minerais essenciais para vida humana, como as vitaminas do complexo B, o potássio, o fósforo e o magnésio.<br>
    </div>
    <br>
    <hr class="rounded">
</div>
