<div id="pagHome" class="content">
    <h1 id="h1Home">Trigo</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/trigo.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Trigo: </b> O Coração dos Pães Brasileiros <br>
        <p style="margin-left: 8em;"> O trigo, um cereal dourado de origem asiática, se tornou um dos alimentos mais
            importantes da dieta brasileira.
            Presente na mesa das famílias há séculos, o trigo é essencial para a produção de pães, massas, bolos,
            biscoitos
            e outros produtos alimentícios, sendo considerado um alimento básico e versátil.

        <p style="margin-left: 6em;"> <b> Um Pouco de História: </b>

        <p style="margin-left: 8em;">
            O trigo foi introduzido no Brasil pelos colonizadores portugueses no século XVI.
            Inicialmente, seu cultivo era restrito a pequenas áreas, mas com o passar do tempo, se expandiu para
            diversas
            regiões do país, principalmente no Sul.
            Atualmente, o Brasil é o sétimo maior produtor de trigo do mundo, mas ainda depende da importação de parte
            do
            grão para atender à demanda interna.
            O cultivo do trigo no Brasil enfrenta desafios como a mecanização da colheita, a sanidade das plantações e a
            competitividade com o mercado internacional.

        <p style="margin-left: 6em;"> <b> A Importância do Trigo na Alimentação: </b>

        <p style="margin-left: 8em;"> O trigo é um alimento rico em nutrientes, como:

        <p style="margin-left: 10em;">
            <b> Carboidratos: Fonte de energia para o corpo. </b> <br>
            <b> Proteínas: </b> Importantes para o desenvolvimento e reparo dos tecidos musculares. <br>
            <b> Fibras: </b> Auxiliam na digestão, regulam o intestino e promovem a saciedade. <br>
            <b> Vitaminas: </b> Rico em vitaminas do complexo B, como B1, B2 e B6, importantes para o metabolismo
            energético, o sistema nervoso e a função muscular. <br>
            <b> Minerais: </b> Fonte de ferro, fósforo, magnésio e potássio, minerais essenciais para o bom
            funcionamento do
            organismo. <br>

        <p style="margin-left: 6em;"> <b> Benefícios para a Saúde: </b>

        <p style="margin-left: 8em;"> O consumo regular de produtos à base de trigo integral pode trazer diversos
            benefícios
            para a saúde, como:

        <p style="margin-left: 10em;">
            <b> Prevenir doenças crônicas: </b> Auxilia na prevenção de doenças crônicas como diabetes tipo 2, doenças
            cardíacas e alguns tipos de câncer. <br>
            <b> Controlar o colesterol: </b> As fibras presentes no trigo integral ajudam a reduzir o colesterol LDL
            ("ruim"), diminuindo o risco de doenças cardíacas. <br>
            <b> Melhorar a digestão: </b> As fibras também auxiliam na regulação do intestino e previnem a constipação.
            <br>
            <b> Fortalecer o sistema imunológico: </b> Rico em vitaminas e minerais, o trigo integral ajuda a fortalecer
            o
            sistema imunológico, protegendo o organismo contra doenças. <br>
            <b> Promover a saciedade: </b> As fibras e proteínas do trigo integral promovem a saciedade, auxiliando no
            controle do peso corporal. <br>

        <p style="margin-left: 6em;"> <b> O Trigo na Cultura Brasileira: </b>

        <p style="margin-left: 8em;">O trigo está presente em diversas tradições e costumes brasileiros, como:

        <p style="margin-left: 10em;">
            <b> Festa do Colheita do Trigo: </b> Celebração da colheita do trigo em diversas regiões do país, com
            música,
            dança e comidas típicas. <br>
            <b> Pão de Trigo Caseiro: </b> Um alimento básico na mesa das famílias brasileiras, presente em diversas
            receitas e acompanhamentos. <br>
            <b> Bolo de Trigo: </b> Uma sobremesa tradicional e versátil, apreciada em diversas ocasiões. <br>
            <b> Biscoitos de Trigo: </b> Um lanche saboroso e nutritivo, ideal para qualquer hora do dia. <br>

        <p style="margin-left: 6em;"> <b> O futuro do Trigo no Brasil: </b>

        <p style="margin-left: 8em;"> O futuro do trigo no Brasil depende de investimentos em pesquisa e
            desenvolvimento, na
            busca por novas variedades mais resistentes a doenças e pragas, na modernização da infraestrutura de
            produção e
            armazenamento e na promoção do consumo de produtos à base de trigo integral. <br>
            Com esforços conjuntos do governo, da indústria e da sociedade civil, o Brasil pode se tornar um produtor de
            trigo mais eficiente e sustentável, atendendo à demanda interna e até mesmo exportando o excedente da
            produção.
            <br>
            O trigo é um cereal importante para a alimentação, a cultura e a economia brasileira. <br>
            Ao consumir produtos à base de trigo integral, você contribui para uma alimentação mais saudável e nutritiva
            e
            para o desenvolvimento do país.
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>