<div id="pagHome" class="content">
    <h1 id="h1Home">Commodities Internacionais</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/agrokelvy4.png"alt="agrokelvy">
        <span class="complementoLogo"></span>
        <img src="/carousel/browser/assets/images/naviocarga.jpg" alt="Transporte Marítimo">
        <span class="complemento"></span>
        <img src="/carousel/browser/assets/images/commodities.jpg" alt="Commodities">
        <span class="complemento"></span>
        <img src="/carousel/browser/assets/images/commodities3.jpg" alt="Grãos">
        <span class="complemento"></span>
        <img src="/carousel/browser/assets/images/acucarHome.jpg" alt="Açucar">
        <span class="complemento"></span>
        <img src="/carousel/browser/assets/images/milhoHome.jpg" alt="Milho">
        <span class="complemento"></span>
        <img src="/carousel/browser/assets/images/coresp.jpg" alt="Core- SP">
        <br>
        <br>
    </div>
    <div class="container">
        <h4 id="divText">
            <p style="margin-left: 6em;"><b>Commodities</b>
        </h4>
        <h4 id="divText">
            <p style="margin-left: 8em;">As commodities são produtos básicos que são comercializados em larga
                escala. As
                principais commodities negociadas no mundo incluem:
        </h4>
        <ul>
            <p style="margin-left: 10em; color: dimgrey;">

                <li>
                    <b>Açúcar: </b> O açúcar é uma commodity agrícola que é usada para produzir alimentos e
                    bebidas. O
                    preço do
                    açúcar é influenciado por vários fatores, como a oferta e a demanda, o clima e as políticas
                    governamentais. <br>
                </li>
                <li>
                    <b>Algodão:</b> O algodão é uma commodity agrícola que é usado para produzir roupas, tecidos e
                    outros
                    produtos.
                    O preço do algodão é influenciado por vários fatores, como a oferta e a demanda, o clima e as
                    políticas
                    governamentais.<br>
                </li>
                <li>
                    <b>Café:</b> O café é uma commodity agrícola que é usada para produzir café torrado e moído,
                    café
                    solúvel e
                    outras bebidas. O preço do café é influenciado por vários fatores, como a oferta e a demanda, o
                    clima e
                    as
                    políticas governamentais.<br>
                </li>
                <li>
                    <b>Cobre:</b> O cobre é uma commodity metálica que é usada em eletrônicos, construção e outras
                    aplicações. O
                    preço do cobre é influenciado por vários fatores, como a oferta e a demanda, a política
                    internacional e
                    a
                    economia global.<br>
                </li>
                <li>
                    <b>Milho:</b> O milho é uma commodity agrícola que é usada para produzir ração animal,
                    biocombustível e
                    alimentos para humanos. O preço do milho é influenciado por vários fatores, como a oferta e a
                    demanda, o
                    clima e as políticas governamentais.<br>
                </li>
                <li>
                    <b>Ouro:</b> O ouro é uma commodity valiosa que é usada em joias, eletrônicos e investimentos. O
                    preço
                    do
                    ouro é
                    influenciado por vários fatores, como a inflação, a política internacional e a demanda por
                    joias.<br>
                </li>
                <li>
                    <b>Petróleo:</b> É a commodity mais negociada do mundo. O petróleo é usado para
                    produzir gasolina, diesel, querosene e outros produtos petrolíferos. O preço do petróleo é
                    influenciado
                    por
                    vários fatores, como a oferta e a demanda, a política internacional e os desastres naturais.<br>
                </li>
                <li>
                    <b>Prata:</b> A prata é uma commodity metálica que é usada em joias, eletrônicos e outras
                    aplicações. O
                    preço da
                    prata é influenciado por vários fatores, como a oferta e a demanda, a política internacional e a
                    economia
                    global.<br>
                </li>
                <li>
                    <b>Soja:</b> A soja é uma commodity agrícola que é usada para produzir óleo de soja, ração
                    animal e
                    biocombustível. O preço da soja é influenciado por vários fatores, como a oferta e a demanda, o
                    clima e
                    as políticas governamentais.<br>
                </li>
                <li>
                    <b>Trigo:</b> O trigo é uma commodity agrícola que é usada para produzir alimentos para humanos
                    e
                    ração
                    animal.
                    O preço do trigo é influenciado por vários fatores, como a oferta e a demanda, o clima e as
                    políticas
                    governamentais.<br>
                </li>
        </ul>
        <h4 id="divText">
            <p style="margin-left: 6em;"><b>Modus Operandi de Venda</b>
        </h4>

        <p style="margin-left: 8em;  color: dimgrey; ">
            No comércio internacional, os termos de negociação definem as responsabilidades e os custos do
            transporte da
            mercadoria do vendedor para o comprador. <br>
            Compreender esses termos é crucial para garantir uma transação segura e eficiente, evitando
            mal-entendidos e
            custos adicionais. <br>
            Neste guia, vamos analisar em detalhes os termos CIF (Custo, Seguro e Frete), FOB Estivado e FOB Sobre
            Rodas, desvendando suas características e diferenças. <br> <br>

            <b>1. CIF (Custo, Seguro e Frete):</b>

        <p style="margin-left: 10em;">
            No CIF, o vendedor assume a responsabilidade por: <br>

        <ul>
            <p style="margin-left: 10em;  color: dimgrey;">

                <li>Custo da mercadoria: O preço acordado pelo produto em si.</li>
                <li>Seguro: Contratação e pagamento do seguro marítimo para cobrir os riscos durante o transporte.
                </li>
                <li>Frete: Pagamento do transporte da mercadoria até o porto de destino designado no contrato.</li>
        </ul>

        <p style="margin-left: 10em;">
            O comprador assume a responsabilidade por:

        <ul>
            <p style="margin-left: 10em;  color: dimgrey;">

                <li>Despesas portuárias no porto de destino: Taxas de descarga, armazenamento e outros custos
                    relacionados à chegada da mercadoria no porto.</li>
                <li>Transporte interno: Contratação e pagamento do transporte da mercadoria do porto de destino até
                    o
                    local final desejado pelo comprador.</li>
                <li>Despesas de importação: Impostos, taxas e outros encargos relacionados à entrada da mercadoria
                    no
                    país de destino.</li>
        </ul>

        <p style="margin-left: 8em; color: dimgrey;">
            <b>2. FOB Estivado:</b>

        <p style="margin-left: 10em;">
            No FOB Estivado, o vendedor assume a responsabilidade por:

        <ul>
            <p style="margin-left: 10em;  color: dimgrey;">
                <li>Custo da mercadoria: O preço acordado pelo produto em si.</li>
                <li>Estiva: Colocação da mercadoria a bordo do navio, incluindo custos de empilhamento, amarração e
                    fixação.</li>
        </ul>

        <p style="margin-left: 10em;">
            O comprador assume a responsabilidade por:

        <ul>
            <p style="margin-left: 10em;  color: dimgrey;">

                <li>Seguro: Contratação e pagamento do seguro marítimo para cobrir os riscos durante o transporte.
                </li>
                <li>Frete: Pagamento do transporte da mercadoria a partir do momento da estiva até o porto de
                    destino
                    designado no contrato. </li>
                <li>Despesas portuárias no porto de destino: Taxas de descarga, armazenamento e outros custos
                    relacionados à chegada da mercadoria no porto. </li>
                <li>Transporte interno: Contratação e pagamento do transporte da mercadoria do porto de destino até
                    o
                    local final desejado pelo comprador. </li>
                <li>Despesas de importação: Impostos, taxas e outros encargos relacionados à entrada da mercadoria
                    no
                    país de destino. </li>
        </ul>

        <p style="margin-left: 8em; color: dimgrey;">
            <b>3. FOB Sobre Rodas: </b>

        <p style="margin-left: 10em;">
            No FOB Sobre Rodas, o vendedor assume a responsabilidade por:

        <ul>
            <p style="margin-left: 10em;  color: dimgrey;">

                <li>Custo da mercadoria: O preço acordado pelo produto em si. </li>
                <li>Entrega da mercadoria no veículo do comprador ou em um local designado pelo comprador: O
                    vendedor
                    assume os custos de transporte até o local de entrega. </li>
        </ul>

        <p style="margin-left: 10em;">
            O comprador assume a responsabilidade por:

        <ul>
            <p style="margin-left: 10em;  color: dimgrey;">

                <li>Seguro: Contratação e pagamento do seguro (opcional, dependendo do acordo entre as partes).
                </li>
                <li>Despesas de importação: Impostos, taxas e outros encargos relacionados à entrada da mercadoria
                    no
                    país de destino (se aplicável). </li>
        </ul>

        <h4 id="divText">
            <p style="margin-left: 6em;"><b> A escolha do termo de negociação ideal depende de diversos fatores,
                    como: </b>
        </h4>

        <ul>
            <p style="margin-left: 10em;  color: dimgrey;">

                <li>Tipo de mercadoria: O CIF é mais utilizado para cargas marítimas, enquanto o FOB Estivado e o
                    FOB Sobre Rodas
                    podem ser utilizados para diversos tipos de transporte. </li>
                <li>Localização das partes: A distância entre o vendedor e o comprador influencia na escolha do
                    termo mais adequado
                    para dividir os custos e responsabilidades. </li>
                <li>Experiência das partes: Se uma das partes não possui experiência com importação ou exportação, o
                    CIF pode ser
                    mais vantajoso por incluir o seguro. </li>
                <li>Negociação entre as partes: Os termos podem ser flexíveis e ajustados de acordo com as
                    necessidades e
                    preferências de ambas as partes. </li>
        </ul>

        <h4 id="divText">
            <p style="margin-left: 6em;"><b> Recomendações: </b>
        </h4>
        <p style="margin-left: 10em;  color: dimgrey;">
            Consulte um especialista em comércio internacional: Um profissional experiente pode te auxiliar na
            escolha do
            termo de negociação mais adequado para sua transação.

            <br>
            <br>
        <footer class="footer navbar-fixed-bottom">
        </footer>
    </div>
</div>