.complementoLogo {
    background: #ffffff;
    padding-right: 100px;
}
.complemento {
    background: #ffffff;
    padding-right: 50px;
}

@media screen and (min-width: 1600px) {
    img {
      width: 200px;
      height: 200px;
    }
  }
  
  @media screen and ((min-width: 870px) and (max-width: 1599px)) {
  
    img {
      width: 10%;
      height: 10%;
    }
  }
  
  @media screen and ((min-width: 360px) and (max-width: 869px)) {
  
    img {
      width: 5%;
      height: 5%;
    }
  }