<h1 id="h1Home">Commodities Intenacionais</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/agrokelvy4.png" alt="agrokelvy" >
    <span class="complementoLogo"></span>
    <img src="/carousel/browser/assets/images/naviocarga.jpg" alt="Transporte Marítimo" >
    <span class="complemento" width="200"></span>
    <img src="/carousel/browser/assets/images/commodities.jpg" alt="Commodities" >
    <span class="complemento" width="200"></span>
    <img src="/carousel/browser/assets/images/commodities2.jpg" alt="Commodities2" >
    <span class="complemento" width="200"></span>
    <img src="/carousel/browser/assets/images/commodities3.jpg" alt="Commodities3" >
    <br>
    <div class="container">
        <br>
        <h4  id="divText">As commodities são produtos básicos que são comercializados em larga escala. As principais commodities negociadas no mundo incluem:</h4>
        <b>Petróleo:</b> É a commodity mais negociada do mundo. O petróleo é usado para produzir gasolina, diesel, querosene e outros produtos petrolíferos. O preço do petróleo é influenciado por vários fatores, como a oferta e a demanda, a política internacional e os desastres naturais.<br>
        <b>Ouro:</b> O ouro é uma commodity valiosa que é usada em joias, eletrônicos e investimentos. O preço do ouro é influenciado por vários fatores, como a inflação, a política internacional e a demanda por joias.<br>
        <b>Soja:</b> A soja é uma commodity agrícola que é usada para produzir óleo de soja, ração animal e biocombustível. O preço da soja é influenciado por vários fatores, como a oferta e a demanda, o clima e as políticas governamentais.<br>
        <b>Milho:</b> O milho é uma commodity agrícola que é usada para produzir ração animal, biocombustível e alimentos para humanos. O preço do milho é influenciado por vários fatores, como a oferta e a demanda, o clima e as políticas governamentais.<br>
        <b>Café:</b> O café é uma commodity agrícola que é usada para produzir café torrado e moído, café solúvel e outras bebidas. O preço do café é influenciado por vários fatores, como a oferta e a demanda, o clima e as políticas governamentais.<br>
        <b>Açúcar:</b> O açúcar é uma commodity agrícola que é usada para produzir alimentos e bebidas. O preço do açúcar é influenciado por vários fatores, como a oferta e a demanda, o clima e as políticas governamentais.<br>
        <b>Algodão:</b> O algodão é uma commodity agrícola que é usado para produzir roupas, tecidos e outros produtos. O preço do algodão é influenciado por vários fatores, como a oferta e a demanda, o clima e as políticas governamentais.<br>
        <b>Cobre:</b> O cobre é uma commodity metálica que é usada em eletrônicos, construção e outras aplicações. O preço do cobre é influenciado por vários fatores, como a oferta e a demanda, a política internacional e a economia global.<br>
        <b>Prata:</b> A prata é uma commodity metálica que é usada em joias, eletrônicos e outras aplicações. O preço da prata é influenciado por vários fatores, como a oferta e a demanda, a política internacional e a economia global.<br>
        <b>Trigo:</b> O trigo é uma commodity agrícola que é usada para produzir alimentos para humanos e ração animal. O preço do trigo é influenciado por vários fatores, como a oferta e a demanda, o clima e as políticas governamentais.<br>
    </div>
</div>

