.complementoLogo {
    background: #ffffff;
    padding-right: 10%;
}
.complemento {
    background: #ffffff;
    padding-right: 30px;
}

@media screen and (min-width: 1865px) {
    img {
      width: 200px;
      height: 200px;
    }
  }
  
  @media screen and ((min-width: 1273px) and (max-width: 1864px)) {
  
    img {
      width: 11%;
      height: 11%;
    }
  }

  @media screen and ((min-width: 870px) and (max-width: 1272px)) {
  
    img {
      width: 10%;
      height: 10%;
    }
  }
  
  @media screen and ((min-width: 360px) and (max-width: 869px)) {
  
    img {
      width: 8%;
      height: 8%;
    }
  }