<h1 id="h1Home">Commodities Intenacionais</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/agrokelvy4.png" alt="agrokelvy" >
    <span class="complementoLogo"></span>
    <img src="/carousel/browser/assets/images/naviocarga.jpg" alt="Transporte Marítimo" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities.jpg" alt="Commodities" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities2.jpg" alt="Commodities2" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/commodities3.jpg" alt="Grãos" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/acucarHome.jpg" alt="Açucar" >
    <span class="complemento"></span>
    <img src="/carousel/browser/assets/images/milhoHome.jpg" alt="Milho" >
    <br>
    <div class="container">
        <br>
        <h4  id="divText">As commodities são produtos básicos que são comercializados em larga escala. As principais commodities negociadas no mundo incluem:</h4>
        <b>Petróleo:</b> É a commodity mais negociada do mundo. O petróleo é usado para produzir gasolina, diesel, querosene e outros produtos petrolíferos. O preço do petróleo é influenciado por vários fatores, como a oferta e a demanda, a política internacional e os desastres naturais.<br>
        <b>Ouro:</b> O ouro é uma commodity valiosa que é usada em joias, eletrônicos e investimentos. O preço do ouro é influenciado por vários fatores, como a inflação, a política internacional e a demanda por joias.<br>
        <b>Soja:</b> A soja é uma commodity agrícola que é usada para produzir óleo de soja, ração animal e biocombustível. O preço da soja é influenciado por vários fatores, como a oferta e a demanda, o clima e as políticas governamentais.<br>
        <b>Milho:</b> O milho é uma commodity agrícola que é usada para produzir ração animal, biocombustível e alimentos para humanos. O preço do milho é influenciado por vários fatores, como a oferta e a demanda, o clima e as políticas governamentais.<br>
        <b>Café:</b> O café é uma commodity agrícola que é usada para produzir café torrado e moído, café solúvel e outras bebidas. O preço do café é influenciado por vários fatores, como a oferta e a demanda, o clima e as políticas governamentais.<br>
        <b>Açúcar:</b> O açúcar é uma commodity agrícola que é usada para produzir alimentos e bebidas. O preço do açúcar é influenciado por vários fatores, como a oferta e a demanda, o clima e as políticas governamentais.<br>
        <b>Algodão:</b> O algodão é uma commodity agrícola que é usado para produzir roupas, tecidos e outros produtos. O preço do algodão é influenciado por vários fatores, como a oferta e a demanda, o clima e as políticas governamentais.<br>
        <b>Cobre:</b> O cobre é uma commodity metálica que é usada em eletrônicos, construção e outras aplicações. O preço do cobre é influenciado por vários fatores, como a oferta e a demanda, a política internacional e a economia global.<br>
        <b>Prata:</b> A prata é uma commodity metálica que é usada em joias, eletrônicos e outras aplicações. O preço da prata é influenciado por vários fatores, como a oferta e a demanda, a política internacional e a economia global.<br>
        <b>Trigo:</b> O trigo é uma commodity agrícola que é usada para produzir alimentos para humanos e ração animal. O preço do trigo é influenciado por vários fatores, como a oferta e a demanda, o clima e as políticas governamentais.<br>

        <h4  id="divText"><b>Modus Operandi de Venda</b></h4>

        <b>CIF:</b> 
        <p>Entregue ao porto de destino; ou seja, carregamento, frete rodoviário e frete marítimo até o porto de destino</p>

        <b>FOB ESTIVADO:</b> 
        <p>É o frete com carregamento, frete rodoviário entregue no porto de embarque.</p>

        <b>FOB SOBRE RODAS:</b> 
        <p>É o frete com o carregamento na usina ou na fazenda. Frete rodoviário e marítimo por conta do comprador</p>
            <!--
            <h4  id="divText"><b>Tipos de Operações financeiras</b></h4>
            <b>SBLC - Transferable/NON - Transferable - NO PB 2%:</b> 
                <p>É essencial diferenciar entre SBLC transferível e intransferível. Enquanto os SBLC intransferíveis estão confinados ao beneficiário original , os SBLC transferíveis oferecem a opção de transferir o crédito para outra parte, permitindo maior flexibilidade nas transações comerciais.</p>
            <b>DLC - LC - Transferable:</b> 
                <p>Uma Carta de Crédito Documentária é um tipo de LC que inclui requisitos de documentação adicionais. Especifica os documentos necessários que o vendedor deve apresentar ao banco para receber o pagamento. 
                   Esses documentos normalmente incluem faturas comerciais, conhecimentos de embarque, certificados de inspeção e outros documentos relevantes. Os DLCs fornecem uma camada adicional de segurança para ambas as partes, garantindo que o vendedor cumpra todas as obrigações necessárias antes de receber o pagamento.</p>
            <b>Venda CIF/ FOB:</b> 
                <p>O que é Frete CIF?
                    No frete CIF o vendedor é responsável por todos os custos e riscos que envolvem o transporte da mercadoria até o destinatário. Em caso de problemas, toda a responsabilidade é da loja e não do cliente.</p>
            
                <p>O que é Frete FOB?
                    Neste tipo de frete o vendedor está livre da responsabilidade com a entrega do produto. Ao contrário do CIF, aqui é o comprador quem assume os custos e riscos do transporte. Quando a compra é concluída o vendedor finaliza o seu trabalho.
                    A modalidade é muito utilizada entre empresas, já que em casos como esses é comum que o comprador conheça uma transportadora de confiança ou tenha parceria com algum fornecedor, o que permite que a entrega seja agilizada sem depender do vendedor.</p>
            -->
    

        </div>
</div>

