
<h1 id="h1Home">Maíz</h1>
<div id="divCarousel" >
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <figure>
                <img src="{{ slide.img }}" alt="" class="img-style">
                <figcaption>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                </figcaption>
            </figure>
        </div>
    </ngx-slick-carousel>
    <br>
    <br>
    <div class="textFont"> 
        <p style="margin-left: 2em;"><u>Un viaje por la historia del maíz</u>

            <p style="margin-left: 3em;">
            <b>Orígenes antiguos:</b> El maíz, también conocido como "maíz", fue domesticado hace miles de años en Mesoamérica, con evidencia arqueológica que se remonta al 8.700 a.C.<br>
           
            <b>Pueblos indígenas:</b> El maíz era un alimento esencial para las civilizaciones azteca, maya e inca, sirviendo como base de la dieta y desempeñando un papel crucial en sus culturas y rituales.<br>
           
            <b>Introducción a Europa:</b> En el siglo XVI, los exploradores españoles trajeron el maíz a Europa, donde rápidamente se convirtió en un alimento popular y se adaptó a diferentes climas y condiciones del suelo.<br>
           
            <b>Alimentación global:</b> Hoy en día, el maíz es uno de los cereales más cultivados y consumidos en el mundo, con un papel fundamental en la seguridad alimentaria global.<br>
   
            <p style="margin-left: 2em;"><u>Cultivo de maíz: del campo a la mesa</u>
   
            <p style="margin-left: 3em;">
            <b>Variedades diversas:</b> El maíz viene en una amplia variedad de tipos, desde el clásico amarillo hasta variedades coloridas como el rojo, el azul y el negro, cada una con características y usos distintos.<br>
   
            <b>Clima y suelo:</b> El maíz se adapta a diferentes climas, desde regiones tropicales hasta climas templados, y prefiere suelos fértiles y bien drenados.<br>
   
            <b>Plantación y cosecha:</b> La siembra del maíz generalmente ocurre en primavera o principios de verano, y la cosecha se realiza unos tres meses después, cuando los granos maduran y alcanzan su característico color dorado.<br>
   
            <b>Técnicas de cultivo:</b> Las técnicas de cultivo de maíz varían según la región y el tipo de maíz, pero pueden incluir riego, fertilización, control de plagas y enfermedades, y cosecha mecánica o manual.<br >
    </div>    
    <br>
    <hr class="rounded">


</div>

