<h1 id="h1Home">Esmeralda</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/esmeralda.jpg" width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        A esmeralda é uma das pedras preciosas mais cobiçadas do mundo, conhecida por seu belo e profundo verde. Ela é a variedade mais nobre do mineral berilo. A cor verde da esmeralda é devida à presença de quantidades mínimas de crômio e, às vezes, de vanádio.<br>

        A esmeralda é apreciada como gema e o preço por quilate a coloca entre as pedras mais valiosas do mundo. Ela tem uma dureza de 7.5 - 8.0 na Escala de Mohs. As principais jazidas de esmeraldas são colombianas, mas podem ser encontradas também no Brasil — em Minas Gerais e em Goiás —, na Rússia, no Zimbábue e no Afeganistão.<br>

        A esmeralda é extremamente sensível a pancadas fortes, riscos e mudanças de temperatura repentinas. Além disso, a esmeralda favorece a estabilidade financeira, nos sintoniza com o padrão vibratório da abundância e proporciona o equilíbrio físico, mental e emocional em quem a usa.<br>

        Por fim, a esmeralda é a pedra que representa os nascidos no mês de maio, sendo um símbolo de renascimento e amor. Portanto, é o presente ideal para aniversariantes do mês, para o dia das mães e até para os futuros noivos que desejam fazer o pedido de casamento em maio.<br>
    </div>
    <br>
    <hr class="rounded">
</div>