<h1 id="h1Home">Esmeralda</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/esmeralda.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">
    <p style="margin-left: 6em;"> <b> Esmeralda: </b>A Jóia Verde que Encanta o Mundo <br>
        <p style="margin-left: 8em;"> 
            A esmeralda, pedra preciosa conhecida por sua cor verde vibrante e brilho intenso, é uma das mais cobiçadas e valiosas do mundo.
            Sua beleza natural e simbolismo rico a tornam um objeto de desejo para colecionadores, joalheiros e amantes de pedras preciosas.

    <p style="margin-left: 6em;"> <b> Origem e História: </b>

        <p style="margin-left: 8em;"> 
            As esmeraldas são formadas em rochas ígneas e metamórficas, sob condições de alta pressão e temperatura.
            Elas foram mineradas e apreciadas por diversas civilizações ao longo da história, desde os antigos egípcios e romanos até os incas e astecas.

    <p style="margin-left: 6em;"> <b> Características e Propriedades: </b>

        <p style="margin-left: 8em;"> 
            <b> Cor: </b> A cor verde da esmeralda é causada pela presença de cromo em sua composição. A tonalidade verde pode variar de 
                verde-claro ao verde-escuro, com tons azulados ou amarelados. <br>
            <b> Brilho:  </b> As esmeraldas apresentam um brilho vítreo, intenso e cativante, que as torna ainda mais atraentes. <br>
            <b> Lapidação:  </b> As esmeraldas geralmente são lapidadas em cabochão, o que realça sua cor e brilho. <br>
            <b> Inclusões:  </b> Pequenas imperfeições, conhecidas como inclusões, são comuns nas esmeraldas e podem até mesmo aumentar
                seu valor, se forem consideradas características únicas da pedra. <br>
    
    <p style="margin-left: 6em;"> <b> Simbolismo e Significados: </b>

        <p style="margin-left: 8em;"> 
            A esmeralda está associada a diversos simbolismos e significados, como:

            <p style="margin-left: 10em;"> 
                <b> Riqueza e prosperidade: </b> Acredita-se que a esmeralda atraia riqueza, abundância e sorte para o seu possuidor. <br>
                <b> Sabedoria e conhecimento: </b> A pedra verde é relacionada à sabedoria, à inteligência e à capacidade de tomar decisões
                    sábias. <br>
                <b> Amor e fidelidade: </b> A esmeralda simboliza o amor verdadeiro, a fidelidade e a lealdade entre casais. <br>
                <b> Saúde e bem-estar: </b> Acredita-se que a esmeralda tenha propriedades curativas, que podem trazer saúde física e mental
                    para o seu possuidor.  <br>
                <b> Proteção: </b> A pedra verde também é associada à proteção contra energias negativas e inveja. <br>
    
    <p style="margin-left: 6em;"> <b> Principais Jazidas: </b>

        <p style="margin-left: 8em;"> 
            As esmeraldas são encontradas em diversas partes do mundo, mas os principais jazidas estão localizados em:

            <p style="margin-left: 10em;"> 
                <b> Colômbia: </b> Famosa pelas esmeraldas de cor verde intensa e alta qualidade, a Colômbia é considerada o principal
                    produtor mundial da pedra. <br>
                <b> Brasil: </b>  O Brasil também possui importantes jazidas de esmeraldas, principalmente nos estados de Minas Gerais, Goiás
                    e Bahia. <br>
                <b> Zâmbia: </b>  As esmeraldas da Zâmbia são conhecidas por sua cor verde-azulada e alta transparência. <br>
                <b> Rússia: </b>  As esmeraldas russas apresentam tons de verde mais escuros e são valorizadas por sua raridade. <br>
    
    <p style="margin-left: 6em;"> <b> Dicas para Comprar Esmeraldas: </b>

        <p style="margin-left: 8em;"> 
            Ao comprar uma esmeralda, é importante considerar alguns fatores, como:

                <p style="margin-left: 10em;"> 
                <b> Origem: </b> A origem da esmeralda é um fator importante que influencia seu valor. Esmeraldas de jazidas renomadas, como
                    Colômbia e Brasil, geralmente são mais caras. <br>
                <b> Cor: </b> A cor da esmeralda é um dos principais fatores que determinam seu valor. Esmeraldas com tons de verde mais
                    intensos e vibrantes são mais valorizadas. <br>
                <b> Clareza: </b> As esmeraldas com poucas inclusões são mais raras e valiosas. <br>
                <b> Lapidação: </b> A qualidade da lapidação da esmeralda também influencia seu valor. Uma lapidação bem feita realça a
                    beleza e o brilho da pedra.  <br>
                <b> Certificado: </b> É importante comprar a esmeralda com um certificado de autenticidade e qualidade emitido por um
                    laboratório gemológico renomado.  <br>
    
    <p style="margin-left: 6em;"> 
        A esmeralda é uma jóia rara e preciosa que encanta com sua beleza natural e simbolismo rico.
        Se você está pensando em adquirir uma esmeralda, lembre-se de pesquisar bastante, considerar os fatores mencionados
        acima e comprar de um vendedor confiável para garantir a autenticidade e qualidade da pedra.
    <br>
    <br>
    <hr class="rounded">
</div>