<div id="pagHome" class="content">
    <h1 id="h1Home">Frijoles negros</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/feijaopreto.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">
        <p style="margin-left: 6em;"> <b> Frijoles Negros: </b> Un alimento nutritivo y versátil para la mesa brasileña
            <br>
        <p style="margin-left: 8em;">Los frijoles negros, uno de los ingredientes más tradicionales de la cocina
            brasileña,
            son mucho más que un simple
            alimento. <br> Es un símbolo de la cultura y la historia del país, presente en las mesas familiares desde
            hace
            siglos y considerado
            un alimento completo y nutritivo. <br>

        <p style="margin-left: 6em;"> <b> Un poco de historia: </b>

        <p style="margin-left: 8em;"> Los portugueses introdujeron los frijoles negros en Brasil en el siglo XVI y se
            adaptaron rápidamente al clima y al suelo.
            Brasileño. <br>
            Con el tiempo se convirtió en un alimento básico en la dieta de la población, ganando protagonismo en la
            cultura.
            comida del país y convirtiéndose en uno de los platos principales de la cocina brasileña. <br>

        <p style="margin-left: 6em;"> <b>Propiedades nutricionales:</b>

        <p style="margin-left: 8em;">Los frijoles negros son un alimento rico en proteínas, fibra, vitaminas y
            minerales,
            esenciales para la salud y el bienestar.

        <p style="margin-left: 10em;"> <b> Proteínas: </b> Fuente de proteínas vegetales de alta calidad, importantes
            para
            el desarrollo y reparación de tejidos.
            muscular. <br>
            <b> Fibras: </b> Ayudan en la digestión, regulan el intestino y favorecen la saciedad, ayudando a controlar
            el
            peso. <br>
            <b> Vitaminas: </b> Rica en vitaminas del complejo B, como B1, B2 y B6, importantes para el metabolismo
            energético, el
            Función nerviosa y muscular. <br>
            <b>Minerales: </b>Fuente de hierro, fósforo, magnesio y potasio, minerales esenciales para el buen
            funcionamiento del organismo. <br>

        <p style="margin-left: 6em;"> <b>Beneficios para la salud:</b>

        <p style="margin-left: 8em;"> El consumo regular de frijoles negros puede aportar varios beneficios para la
            salud,
            como por ejemplo: <br>

        <p style="margin-left: 10em;"> <b>Prevenir enfermedades crónicas: </b> Ayuda en la prevención de enfermedades
            crónicas como diabetes tipo 2, enfermedades cardíacas y algunas
            tipos de cáncer. <br>
            <b> Controlar el colesterol: </b> La fibra presente en los frijoles negros ayuda a reducir el colesterol LDL
            ("malo"), reduciendo
            riesgo de enfermedad cardíaca. <br>
            <b>Mejora la digestión:</b>Las fibras también ayudan a regular los intestinos y previenen el estreñimiento.
            <br>
            <b> Fortalecer el sistema inmunológico: </b> Ricos en vitaminas y minerales, los frijoles negros ayudan a
            fortalecer el sistema
            inmunológico, protegiendo al organismo contra enfermedades. <br>
            <b> Promueve la saciedad: </b> La fibra y las proteínas de los frijoles negros promueven la saciedad,
            ayudando a
            controlar el peso.
            cuerpo. <br>


        <p style="margin-left: 6em;"> <b>Versatilidad en la cocina:</b>

        <p style="margin-left: 8em;"> Los frijoles negros son un ingrediente extremadamente versátil y se pueden
            utilizar en
            diversos platos culinarios.
            brasileños, como por ejemplo:

        <p style="margin-left: 10em;"> <b> Feijoada: </b> Plato típico brasileño elaborado con frijoles negros, carne
            seca,
            salchicha, paio y condimentos. <br>
            <b> Tropeiro: </b> Plato originario de Minas Gerais elaborado con frijoles negros, chicharrones, harina de
            yuca,
            repollo y huevos. <br>
            <b> Baião de Dois: </b> Plato nororiental elaborado con frijoles negros, arroz, queso coalho, mantequilla
            embotellada y carne seca. <br>
            <b> Salpicão: </b> Una refrescante ensalada hecha con frijoles negros, pollo desmenuzado, tomates, cebollas
            y
            condimentos. <br>
            <b> Sopa de frijoles negros: </b> Una sopa nutritiva y sabrosa hecha con frijoles negros, verduras,
            condimentos
            y caldo de verduras o carne. <br>

        <p style="margin-left: 6em;">Los frijoles negros son un alimento completo, nutritivo, versátil y sabroso que
            debe
            formar parte de tu dieta habitual.
            todos los brasileños. <br><br>

            Además de ser un alimento tradicional y culturalmente importante, los frijoles negros ofrecen varios
            beneficios
            para el
            salud y se puede utilizar en una variedad de platos deliciosos.
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>