<h1 id="h1Home">Frijoles negros</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/feijaopreto.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        ¿Qué son los frijoles negros?

        Los frijoles negros (Phaseolus vulgaris) son un tipo de leguminosa originaria de Centro y Sudamérica, un alimento básico de la cocina brasileña, presente en varias recetas tradicionales, como la feijoada, el tutú de frijoles y el acarajé.
       
        Características y beneficios de los frijoles negros:
       
        Nutrición: Los frijoles negros son ricos en proteínas, fibra, vitaminas y minerales, como hierro, potasio y magnesio. Es una excelente fuente de proteína vegetal, importante para vegetarianos y veganos.
        Salud: El consumo regular de frijoles negros se asocia con varios beneficios para la salud, como reducir el colesterol, controlar los niveles de azúcar en sangre y prevenir enfermedades cardiovasculares.
        Versatilidad: Los frijoles negros se pueden utilizar en una variedad de recetas, como ensaladas, sopas, guisos, hamburguesas vegetarianas e incluso dulces.
        Sostenibilidad: El cultivo del frijol negro se considera sostenible, ya que requiere poco riego y contribuye a la fijación de nitrógeno en el suelo.
        Aplicaciones de los Frijoles Negros:
       
        Seguridad alimentaria: El frijol negro es un alimento asequible y nutritivo, contribuyendo a la seguridad alimentaria y nutricional de la población.
        Combatir el hambre: Los frijoles negros son una fuente importante de proteína vegetal, ayudando a combatir el hambre y la desnutrición.
        Ingresos para los agricultores: La producción de frijol negro genera ingresos para los agricultores familiares, especialmente en las zonas menos favorecidas.
        Sostenibilidad ambiental: El cultivo de frijol negro contribuye a la sostenibilidad ambiental, con un menor uso de recursos naturales y menores emisiones de gases de efecto invernadero.
        Conclusión:
       
        Los frijoles negros son un alimento nutritivo, versátil y sostenible, con el potencial de contribuir a la seguridad alimentaria, la salud de la población, los ingresos de los agricultores y la sostenibilidad ambiental. Se recomienda su consumo habitual para una dieta equilibrada y saludable.
       
        Para más informaciones:
       
        Embrapa Arroz y Frijoles: https://www.embrapa.br/arroz-e-feijao
        Asociación Brasileña de Legumbres y Oleaginosas (ABIOVE): https://www.abiove.org.br/ </div>    <br>
    <hr class="rounded">
</div>
