<div id="pagHome" class="content">
    <h1 id="h1Home">Sorgo en grano</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sorgogranifero.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div class="textFont">

        <p style="margin-left: 6em;"> <b>Sorgo en grano: </b> Un cereal prometedor para el futuro de la agricultura
            brasileña
            <br>

        <p style="margin-left: 8em;">
            El sorgo en grano, también conocido como mijo, se ha destacado como una promesa para el futuro de
            Agricultura brasileña. <br>
            Con características únicas y alto potencial productivo, el sorgo se presenta como un producto sustentable y
            forma resiliente de diversificar la producción de cereales en el país, contribuyendo a la seguridad
            alimentaria
            y
            desarrollo Rural.

        <p style="margin-left: 6em;"> <b> Un cereal versátil y adaptable: </b>

        <p style="margin-left: 8em;">
            <b>Clima y suelo:</b>
            El sorgo se adapta a diferentes climas y tipos de suelo, desde regiones semiáridas hasta zonas con alta
            lluvias, tolerando incluso suelos salinos y ácidos. <br>
            <b>Ciclo Corto: </b> Tiene un ciclo de cultivo corto, lo que permite sembrar en diferentes épocas del año y
            rotación
            de cultivos, optimizando el uso del suelo. <br>
            <b> Resistencia a la sequía: </b> El sorgo es altamente resistente a la sequía, una característica crucial
            para
            el cultivo en
            regiones
            con baja disponibilidad de agua. <br>
            <b> Enfermedades y Plagas: </b> Tiene menor susceptibilidad a enfermedades y plagas en comparación con otros
            cereales,
            reduciendo el
            necesidad de utilizar pesticidas.

        <p style="margin-left: 6em;"> <b> Beneficios para la agricultura brasileña: </b>

        <p style="margin-left: 8em;">
            <b>Diversificación de la producción:</b>
            El cultivo de sorgo contribuye a la diversificación de la producción de cereales en Brasil,
            Reducir la dependencia de la soja y el maíz. <br>
            <b> Seguridad Alimentaria: </b> Garantiza una mayor seguridad alimentaria a la población, ya que ofrece una
            alternativa
            alimentar
            nutritivo y fácil de producir. <br>
            <b> Sostenibilidad: </b> El sorgo es un cereal sostenible, ya que requiere menos agua, fertilizantes y
            pesticidas.
            en
            en comparación con otros cereales. <br>
            <b> Desarrollo rural: </b> Impulsa el desarrollo rural, generando ingresos y oportunidades para las pequeñas
            agricultores.

        <p style="margin-left: 6em;"> <b> Varias aplicaciones: </b>

        <p style="margin-left: 8em;">
            El sorgo en grano tiene varias aplicaciones, tales como:

        <p style="margin-left: 10em;">
            <b> Alimentación humana: </b> Granos frescos, harina de sorgo, hojuelas de sorgo, aceite de sorgo, etc. <br>
            <b>Alimentos para animales: </b>Fuente de energía y nutrientes para la cría de ganado vacuno, porcino, aves
            y
            otros animales. <br>
            <b> Biocombustibles: </b> Producción de etanol y biogás, combustibles renovables y sostenibles. <br>
            <b> Industria: </b> Producción de plásticos, caucho, productos farmacéuticos, cosméticos y otros productos.

        <p style="margin-left: 6em;"> <b> Un futuro prometedor: </b>

        <p style="margin-left: 8em;">
            El sorgo en grano tiene un futuro prometedor en Brasil. <br>
            Con inversiones en investigación y desarrollo, innovación tecnológica y políticas públicas de incentivo, el
            sorgo
            puede convertirse en un cereal importante para la agricultura brasileña, contribuyendo a la diversificación
            de
            producción, seguridad alimentaria, sostenibilidad y desarrollo rural. <br>
            El sorgo en grano representa una oportunidad para que Brasil construya una agricultura más resiliente.
            sostenible y próspero, garantizando la seguridad alimentaria de la población e impulsando el desarrollo del
            país.
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>