<h1 id="h1Home">Sorgo en grano</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgogranifero.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">

        <p>El sorgo en grano es un tipo de sorgo con características específicas y diversas aplicaciones. Exploremos más detalles al respecto:

            <p><b>¿Qué es el sorgo en grano? </b>
            <p style="margin-left: 2em;">El sorgo en grano (Sorghum bicolor) es una especie de cereal que pertenece a la familia de las Poaceae, la misma familia que el maíz.
            También conocido como maíz de Guinea, el sorgo en grano es versátil y de gran importancia económica.
            Sus plantas son bajas, de hasta 170 cm de altura, y producen granos en el extremo superior de la planta.
            Los granos de sorgo son el principal producto y se utilizan principalmente en la industria de alimentación animal. Además, se pueden utilizar en forma de ensilaje.<br>
            <p><b>Beneficios económicos y sociales:</b>
            <p style="margin-left: 2em;">El sorgo en grano es una alternativa segura y rentable para la producción de granos fuera de temporada (cosecha de invierno).
            Tiene baja susceptibilidad a micotoxinas y gran tolerancia al aluminio tóxico del suelo y al estrés hídrico.
            Su productividad varía entre 4 y 6 toneladas por hectárea, lo que la convierte en una opción interesante para los productores.
            Los granos de sorgo se utilizan en la fabricación de piensos, lo que beneficia a los criadores de animales y a la industria de piensos.
            <p><b>Cultivo y características:</b>
            <p style="margin-left: 2em;">El sorgo en grano está 100% mecanizado, desde la siembra hasta la cosecha.
            Su panícula es pequeña y compacta, situada en el extremo superior de la planta.
            Es un cultivo tolerante a la sequía e ideal para tierras áridas.
            Además de los granos, después de la cosecha, el resto de la planta aún verde se puede utilizar como heno o para pastoreo.
            <p>En resumen, el sorgo en grano es una opción prometedora para los agricultores brasileños, ya que ofrece beneficios económicos y ambientales en medio de los desafíos climáticos.
    </div>
    <br>
    <hr class="rounded">
</div>
