
<h1 id="h1Home">Milho</h1>
<div id="divCarousel" >
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <figure>
                <img src="{{ slide.img }}" alt="" class="img-style">
                <figcaption>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                </figcaption>
            </figure>
        </div>
    </ngx-slick-carousel>
    <br>
    <br>
    <div class="textFont"> 

        <p style="margin-left: 2em;"><u>Uma Jornada Através da História do Milho</u>

        <p style="margin-left: 3em;">
        <b>Origens antigas:</b> O milho, também conhecido como "maíz", foi domesticado há milhares de anos na Mesoamérica, com evidências arqueológicas que datam de 8.700 a.C.<br>
        
        <b>Povos indígenas:</b> O milho era um alimento essencial para as civilizações asteca, maia e inca, servindo como base da dieta e desempenhando um papel crucial em suas culturas e rituais.<br>
        
        <b>Introdução à Europa:</b> No século XVI, os exploradores espanhóis trouxeram o milho para a Europa, onde rapidamente se tornou um alimento popular e se adaptou a diferentes climas e condições de solo.<br>
        
        <b>Alimento global:</b> Hoje, o milho é um dos cereais mais cultivados e consumidos no mundo, com um papel fundamental na segurança alimentar global.<br>

        <p style="margin-left: 2em;"><u>Cultivando o Milho: Do Campo à Mesa</u>

        <p style="margin-left: 3em;">
        <b>Variedades diversas:</b> O milho apresenta uma grande variedade de tipos, desde o amarelo clássico até variedades coloridas como o vermelho, azul e preto, cada um com características e usos distintos.<br>

        <b>Clima e solo:</b> O milho se adapta a diversos climas, desde regiões tropicais até climas temperados, e prefere solos férteis e bem drenados.<br>

        <b>Plantio e colheita:</b> O plantio do milho geralmente ocorre na primavera ou no início do verão, e a colheita acontece cerca de três meses depois, quando os grãos amadurecem e atingem a cor dourada característica.<br>

        <b>Técnicas de cultivo:</b> As técnicas de cultivo do milho variam de acordo com a região e o tipo de milho, mas podem incluir irrigação, fertilização, controle de pragas e doenças, e colheita mecânica ou manual.<br>


    </div>    
    <br>
    <hr class="rounded">
</div>

