<h1 id="h1Home">乙醇</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/etanol.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        乙醇，又稱乙醇，是一種有機化合物，屬於醇的化學功能。 其化學式為C2H6O。 它是一種無色、易燃、與水混溶的液體。

        乙醇有多種工業應用，包括用作溶劑和生產酒精飲料。 然而，其主要應用是作為生物燃料。 乙醇主要透過甘蔗和玉米等植物中的糖發酵生產。

        乙醇的一大優點是，與汽油相比，它向大氣中產生的二氧化碳更少。 然而，乙醇的價格可能會有所不同，並受到多種因素的影響。

        在巴西，乙醇於 20 世紀初開始使用，並隨著靈活燃料汽車的推出而受到重視。 然而，乙醇生產需要大片土地來種植甘蔗，這可能會導致環境破壞並與糧食生產競爭。    </div>
    <br>
    <hr class="rounded">
</div>

