<h1 id="h1Home">傳統大豆</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sojarr.jpg" width="200" height="200">
    <br>
    <br>
    <div class="textFont">

        <p>抗農達 (RR) 大豆是一種基因改造大豆品種，對除草劑嘉磷塞具有抗性。讓我們進一步探討這項技術：

            <p style="margin-left: 2em;"> <b>Soya RR（農達就緒）的歷史：</b>
            <p style="margin-left: 3em;">RR 大豆是巴西第一個獲準種植的基因改造植物。它是由美國孟山都公司於1980年代開發的。
            此大豆品種經過基因改造，插入了農桿菌的基因，使其對草甘膦（除草劑 Roundup® 中的活性成分）不敏感。
            <p style="margin-left: 2em;"><b>大豆 RR 的工作原理：</b>
            <p style="margin-left: 3em;">RR 大豆對草甘膦具有抗性，這意味著農民可以在農作物上使用這種除草劑，而不會傷害大豆。
            草甘膦可阻斷 EPSP 合成酶，該酶對於植物中氨基酸的合成至關重要。由於 RR 大豆不受草甘膦影響，即使使用除草劑，它們也能生長。
            <p style="margin-left: 2em;"><b>採用與後果：</b>
            <p style="margin-left: 3em;">RR 大豆有助於農作物雜草的治理，降低成本並提高控制效率。
            在巴西，RR大豆從2005年開始合法種植，成為農民極具競爭力的選擇。
            <p style="margin-left: 2em;"><b>巴西核准大豆基改事件：</b>
            <p style="margin-left: 3em;">除了 RR 大豆外，巴西還批准了其他基因改造品種，例如抗蟲的 Bt 大豆。
            將 RR 大豆和其他基因改造生物與除草劑一起使用的技巧：
            <p>諮詢最佳管理實踐，以利用 RR 大豆和其他基因改造技術獲得最佳結果。
            總之，RR 大豆是農民的重要工具，可以提高雜草控制效率並提高作物生產力。
    </div>
    <br>
    <hr class="rounded">
</div>