<h1 id="h1Home">RR Soy</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sojarr.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        <p>Roundup Ready (RR) soybeans are a transgenic soybean variety that is resistant to the herbicide glyphosate. Let’s explore more about this technology:

            <p style="margin-left: 2em;"> <b>History of Soya RR (Roundup Ready): </b>
            <p style="margin-left: 3em;">RR soybeans were the first transgenic plant approved for cultivation in Brazil. It was developed by Monsanto in the United States in the 1980s.
            This soybean variety was genetically modified, inserting a gene from the bacteria Agrobacterium sp., making it insensitive to glyphosate, which is the active ingredient in the herbicide Roundup®.
            <p style="margin-left: 2em;"><b>How Soy RR Works: </b>
            <p style="margin-left: 3em;">RR soybeans are resistant to glyphosate, which means farmers can apply this herbicide to crops without harming the soybeans.
            Glyphosate blocks the EPSP synthase enzyme, essential for the synthesis of amino acids in plants. Because RR soybeans are not affected by glyphosate, they can grow even when the herbicide is applied.
            <p style="margin-left: 2em;"><b>Adoption and Consequences: </b>
            <p style="margin-left: 3em;">RR soybeans facilitated the management of weeds in crops, reducing costs and making control more efficient.
            In Brazil, RR soybeans were legally cultivated from 2005 and became a highly competitive option for farmers.
            <p style="margin-left: 2em;"><b>Transgenic Events Approved for Soy in Brazil: </b>
            <p style="margin-left: 3em;">In addition to RR soybeans, other transgenic varieties have also been approved in Brazil, such as Bt soybeans, which are resistant to insects.
            Tips for Using RR Soy and Other GMOs with Herbicides:
            <p>Consult best management practices to obtain the best results with RR soy and other transgenic technologies.
            In summary, RR soybeans are an important tool for farmers, providing greater efficiency in weed control and contributing to crop productivity.    </div>
    <br>
    <hr class="rounded">
</div>
