<div id="pagHome">
    <h1 id="h1Home">RR Soy</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/sojarr.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div>
        <p style="margin-left: 6em;"> <b> Soya RR: </b> The Technological Evolution that Transformed Brazilian
            Agriculture
            <br>
        <p style="margin-left: 8em;">
            RR soy, which stands for Roundup Ready Soy, represents a milestone in the history of Brazilian agriculture.
            Developed in the late 1990s, this transgenic soybean variety has become one of the main products
            agricultural sector in the country, revolutionizing the sector and boosting its productivity and
            competitiveness
            in the global market.

        <p style="margin-left: 6em;"> <b>Glyphosate Resistance: A Revolutionary Advantage:</b>

        <p style="margin-left: 8em;">
            The main characteristic of RR soybeans is its resistance to glyphosate, a highly effective herbicide in
            Control of
            weeds. <br>
            This resistance provided several benefits to farmers, such as:

        <p style="margin-left: 10em;">
            <b> Reduction in the use of herbicides: </b> The need to apply herbicides has been drastically reduced,
            minimizing environmental impact and production costs. <br>
            <b> Greater weed control: </b> RR soybeans have become more competitive against weeds,
            resulting in an increase in crop productivity. <br>
            <b> Facilitation of plantation management: </b> Facilitated control of weeds allowed for more efficient
            management
            efficient plantations, optimizing farmers' time and resources.

        <p style="margin-left: 6em;"> <b> Impact on Brazilian Agriculture: </b>

            The adoption of RR soy generated a significant impact on Brazilian agriculture, boosting several aspects of
            the
            sector:

        <p style="margin-left: 8em;">
            <b> Increased productivity: </b> Soybean productivity in Brazil has grown considerably in recent decades, in
            largely due to the adoption of RR soybeans. <br>
            <b> Expansion of the planted area: </b> The area planted with soybeans in Brazil has also expanded
            significantly, making the
            country the largest producer and exporter of soybeans in the world. <br>
            <b> Modernization of agriculture: </b> RR soybeans contributed to the modernization of Brazilian
            agriculture,
            boosting the
            adoption of new agricultural technologies and practices. <br>
            <b> Generation of income and employment: </b> The soybean production chain generates millions of direct and
            indirect jobs in Brazil,
            contributing to the country's socioeconomic development.

        <p style="margin-left: 6em;"> <b> Challenges and Perspectives: </b>

            Despite the benefits of RR soy, its use also presents some challenges, such as:

        <p style="margin-left: 8em;">
            <b> Glyphosate resistance: </b> Excessive use of glyphosate can lead to the emergence of
            glyphosate-resistant
            weeds.
            herbicide, requiring the search for new control solutions. <br>
            <b> Environmental impacts: </b> The use of herbicides, even with RR soybeans, can have negative impacts on
            the
            environment,
            such as soil and water contamination. <br>
            <b> Social issues: </b> The expansion of the area planted with soybeans can generate social conflicts, such
            as
            disputes over land and
            water.

        <p style="margin-left: 6em;"> The future of RR soybeans in Brazil will depend on the sector’s ability to deal
            with
            these challenges
            in a sustainable and responsible way. <br>
            It is essential to invest in research and development to seek new soybean varieties that are more resistant
            to
            pests and diseases, with less environmental impact and that contribute to the social development of rural
            communities. <br>
            RR soybeans will continue to be an important product for Brazilian agriculture, as long as its production
            and
            use are made in a sustainable and responsible way.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>