<div id="pagHome" class="content">
    <h1 id="h1Home">Corn</h1>
    <div id="divCarousel">
        <ngx-slick-carousel class="carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <figure>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">
                        <img src="{{ slide.img }}" alt="" class="img-style">
                    </a>
                    <figcaption>
                        <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                    </figcaption>
                </figure>
            </div>
        </ngx-slick-carousel>
        <br>
        <br>
    </div>

    <div class="textFont">

        <p style="margin-left: 6em;"> <b> Corn: </b> The Vegetable Gold of Brazil
        <p style="margin-left: 8em;">
            Corn, an ancient and versatile cereal, stands out as one of the pillars of Brazilian agriculture. <br>
            Cultivated in different regions of the country, corn has become one of Brazil's main agricultural products,
            with
            great importance for the economy, culture and nutrition of the population.

        <p style="margin-left: 6em;"> <b> Beyond Grains: </b>

        <p style="margin-left: 8em;">
            Corn goes beyond the simple golden grain. It is used in various industry segments, such as:

        <p style="margin-left: 10em;">
            <b> Human food: </b> Fresh grains, corn flour, cornmeal, corn oil, corn flakes, popcorn, starch
            corn, etc. <br>
            <b> Animal feed: </b> Source of energy and nutrients for raising cattle, pigs, poultry and other animals.
            <br>
            <b> Biofuels: </b> Production of ethanol, a renewable and sustainable fuel for motor vehicles. <br>
            <b> Industry: </b> Production of plastics, rubber, pharmaceuticals, cosmetics and other products. <br>

        <p style="margin-left: 6em;">
            <b>Importance for the Brazilian Economy:</b>

        <p style="margin-left: 8em;">
            Brazil is the largest producer and exporter of corn in the world, accounting for around a third of
            production
            global. <br>
            Corn production generates millions of direct and indirect jobs in the country, contributing significantly to
            the
            socioeconomic development of producing regions. <br>

        <p style="margin-left: 6em;"> <b> A Nutritious Cereal: </b>

        <p style="margin-left: 8em;"> Corn is a food rich in nutrients, such as:

        <p style="margin-left: 10em;">
            <b> Carbohydrates: </b> Source of energy for the body. <br>
            <b> Proteins: </b> Important for the development and repair of muscle tissues. <br>
            <b> Fibers: </b> They help with digestion, regulate the intestine and promote satiety. <br>
            <b> Vitamins: </b> Rich in B vitamins, such as B1, B2 and B5, important for energy metabolism,
            nervous system and muscular function. <br>
            <b> Minerals: </b> Source of iron, phosphorus, magnesium and potassium, essential minerals for the proper
            functioning of the
            body. <br>

        <p style="margin-left: 6em;"> <b>Health Benefits:</b>

        <p style="margin-left: 8em;"> Regular consumption of corn can bring several health benefits, such as: <br>

        <p style="margin-left: 10em;"> <b> Prevent chronic diseases: </b> Helps in the prevention of chronic diseases
            such
            as type 2 diabetes, heart disease and
            some types of cancer. <br>
            <b> Control cholesterol: </b> The fiber present in corn helps reduce LDL ("bad") cholesterol, reducing
            risk of heart disease. <br>
            <b>Improve digestion:</b>Fibers also help regulate the intestines and prevent constipation. <br>
            <b> Strengthen the immune system: </b> Rich in vitamins and minerals, corn helps to strengthen the system
            immunological, protecting the body against diseases. <br>
            <b> Promote satiety: </b> The fibers and proteins in corn promote satiety, helping to control weight
            body. <br> <br>


        <p style="margin-left: 6em;"> <b> A Promising Future: </b>

        <p style="margin-left: 8em;">Corn will continue to be a product of great importance for Brazil, with the
            potential
            to grow even further
            in the coming decades. <br>

            Investments in research and development, technological innovation and sustainability are essential for
            ensure the competitiveness of Brazilian corn in the global market and to meet the growing demand for this
            nutritious and versatile cereal. <br>

            Corn is true vegetable gold, which enriches Brazilians' tables, boosts the country's economy and
            offers several health benefits.
            <br>
            <br>
            <hr class="rounded">
    </div>
</div>