<h1 id="h1Home">Corn</h1>
<div id="divCarousel" >
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <figure>
                <img src="{{ slide.img }}" alt="" class="img-style">
                <figcaption>
                    <a routerLink="/{{ slide.routeUrl }}" routerLinkActive="active">{{ slide.title }}</a>
                </figcaption>
            </figure>
        </div>
    </ngx-slick-carousel>
    <br>
    <br>
    <div class="textFont"> 
        <p style="margin-left: 2em;"><u>A Journey Through the History of Corn</u>

            <p style="margin-left: 3em;">
            <b>Ancient origins:</b> Corn, also known as "maíz", was domesticated thousands of years ago in Mesoamerica, with archaeological evidence dating back to 8,700 BC<br>
           
            <b>Indigenous people:</b> Corn was an essential food for the Aztec, Mayan and Inca civilizations, serving as the basis of the diet and playing a crucial role in their cultures and rituals.<br>
           
            <b>Introduction to Europe:</b> In the 16th century, Spanish explorers brought corn to Europe, where it quickly became a popular food and adapted to different climates and soil conditions.<br>
           
            <b>Global food:</b> Today, corn is one of the most cultivated and consumed cereals in the world, with a fundamental role in global food security.<br>
   
            <p style="margin-left: 2em;"><u>Growing Corn: From Field to Table</u>
   
            <p style="margin-left: 3em;">
            <b>Diverse varieties:</b> Corn comes in a wide variety of types, from classic yellow to colorful varieties such as red, blue and black, each with distinct characteristics and uses.<br>
   
            <b>Climate and soil:</b> Corn adapts to different climates, from tropical regions to temperate climates, and prefers fertile, well-drained soils.<br>
   
            <b>Planting and harvesting:</b> Corn planting generally occurs in spring or early summer, and harvesting takes place about three months later, when the kernels mature and reach their characteristic golden color.<br>
   
            <b>Growing techniques:</b> Corn growing techniques vary depending on the region and type of corn, but may include irrigation, fertilization, pest and disease control, and mechanical or manual harvesting.<br >
    </div>    
    <br>
    <hr class="rounded">
</div>

