<div id="pagHome">
    <h1 id="h1Home">Ouro</h1>
    <div id="divHome">
        <img src="/carousel/browser/assets/images/ouro.jpg" width="200" height="200">
        <br>
        <br>
    </div>
    <div>
        <p style="margin-left: 6em;"> <b> O Ouro: </b> Um Metal Precioso com História, Significado e Diversas Aplicações
            <br>

        <p style="margin-left: 8em;">
            O ouro, um metal nobre conhecido por seu brilho inigualável e cor dourada, transcende o valor monetário e se
            destaca
            por sua rica história, simbolismo e versatilidade.

        <p style="margin-left: 6em;"> <b> Através dos tempos, o ouro conquistou a humanidade e se tornou: </b>

        <p style="margin-left: 8em;">
            <b> Símbolo de riqueza e poder: </b> Desde a antiguidade, o ouro foi associado à realeza, à prosperidade e
            ao
            status social.
            Reis, rainhas e imperadores ostentavam joias e adornos de ouro, demonstrando sua riqueza e poder. <br>
            <b> Moeda de troca: </b> Durante séculos, o ouro serviu como base para os sistemas monetários de diversas
            civilizações. Sua
            durabilidade, raridade e beleza o tornaram um meio de troca confiável e universal. <br>
            <b> Objeto de arte e decoração: </b> O ouro inspirou artistas e artesãos ao longo da história, sendo
            utilizado
            na criação de
            esculturas, pinturas, joias, objetos decorativos e até mesmo instrumentos musicais. <br>
            <b> Reserva de valor: </b> Em tempos de instabilidade econômica, o ouro se torna um refúgio seguro para
            investimentos, pois
            mantém seu valor ao longo do tempo. <br>
            <b> Metal industrial: </b> Apesar de sua imagem luxuosa, o ouro também possui importantes aplicações na
            indústria, como na
            eletrônica, odontologia e até mesmo na medicina.

        <p style="margin-left: 6em;"> <b> Propriedades Únicas do Ouro: </b>

        <p style="margin-left: 8em;">
            <b> Maleabilidade e ductilidade: </b> O ouro é um dos metais mais maleáveis e dúcteis do mundo, permitindo
            que
            seja moldado
            em fios finíssimos ou folhas extremamente delgadas. <br>
            <b> Resistência à corrosão: </b> O ouro é altamente resistente à corrosão e oxidação, mantendo seu brilho e
            beleza por
            séculos. <br>
            <b> Excelente condutor de calor e eletricidade: </b> O ouro possui alta condutividade térmica e elétrica,
            tornando-o ideal
            para diversas aplicações tecnológicas. <br>
            <b> Biocompatibilidade: </b> O ouro é um material biocompatível, o que significa que não causa reações
            alérgicas
            no corpo
            humano, permitindo seu uso em implantes médicos e odontológicos.

        <p style="margin-left: 6em;"> <b> Produção e Extração: </b>

        <p style="margin-left: 8em;">
            O ouro é encontrado na natureza em diversos locais do mundo, geralmente em forma de pepitas ou veios
            minerais.
            <br>
            Sua extração pode ser realizada por meio de diversos métodos, como a mineração artesanal, em pequena escala,
            ou
            a
            mineração em larga escala, utilizando maquinários pesados e técnicas avançadas.

        <p style="margin-left: 6em;"> <b> O Brasil: </b>

        <p style="margin-left: 8em;">
            O Brasil é um dos maiores produtores de ouro do mundo, com destaque para a região da Amazônia. <br>
            A atividade mineradora, no entanto, deve ser realizada de forma responsável, com respeito ao meio ambiente e
            às
            comunidades locais, para garantir a sustentabilidade do setor e a preservação dos recursos naturais.

        <p style="margin-left: 6em;"> <b> O futuro do ouro: </b>

        <p style="margin-left: 8em;">
            O ouro continua a ser um ativo valioso e cobiçado, com diversas aplicações em diferentes áreas. <br>

            A demanda por ouro deve se manter forte nos próximos anos, impulsionada por fatores como a incerteza
            econômica,
            o
            crescimento da classe média global e a busca por investimentos seguros. <br>

        <p style="margin-left: 6em;"> Portanto, o ouro permanece como um metal precioso que fascina a humanidade há
            séculos
            e continuará a ter um papel
            importante na história, na cultura e na economia global.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer class="footer navbar-fixed-bottom">
            </footer>
    </div>
</div>