<h1 id="h1Home">Ouro</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/ouro.jpg" width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        Este metal precioso, cobiçado por séculos, não se limita à sua beleza estética. O ouro possui características únicas que o tornam um ativo valioso em diversos setores, desde a tecnologia até a medicina.

        Nesta apresentação, exploraremos o fascinante mundo do ouro, abrangendo:
        
        História e simbolismo: Uma viagem pela rica história do ouro, desde a sua descoberta até o seu significado cultural e religioso.
        Propriedades e aplicações: As características singulares do ouro e seus usos em áreas como joalheria, eletrônica, odontologia e investimentos.
        Mercado global do ouro: Uma análise do mercado atual, incluindo oferta, demanda, fatores que influenciam o preço e perspectivas futuras.
        Ouro como investimento: As vantagens e desvantagens de investir em ouro, como diversificação de portfólio e proteção contra inflação.
        Impacto social e ambiental: A responsabilidade social e ambiental na mineração de ouro, incluindo práticas sustentáveis e o combate ao trabalho ilegal.
        Desenvolvimento
        
        História e simbolismo:
        
        O ouro fascina a humanidade há milhares de anos, sendo utilizado em ornamentos, moedas e objetos religiosos.
        Simboliza riqueza, poder, prosperidade, eternidade e sabedoria em diversas culturas.
        Sua história está entrelaçada com a ascensão e queda de civilizações, guerras e revoluções.
        Propriedades e aplicações:
        
        O ouro é um metal maleável, dúctil e resistente à corrosão.
        Sua alta condutividade elétrica o torna essencial na eletrônica.
        É biocompatível e usado em odontologia e medicina.
        Sua beleza e raridade o tornam ideal para joalheria e investimentos.
        Mercado global do ouro:
        
        A demanda por ouro é impulsionada por diversos fatores, como joalheria, investimentos e bancos centrais.
        A oferta é limitada e depende da mineração, que pode ser complexa e ambientalmente desafiadora.
        O preço do ouro é volátil e influenciado por fatores geopolíticos, econômicos e monetários.
        Ouro como investimento:
        
        O ouro é considerado um porto seguro em tempos de incerteza econômica.
        Pode proteger contra inflação e diversificar portfólios de investimento.
        No entanto, é um investimento de longo prazo com baixa liquidez.
        Impacto social e ambiental:
        
        A mineração de ouro pode ter impactos negativos no meio ambiente e nas comunidades locais.
        É crucial promover práticas sustentáveis e garantir o trabalho decente e seguro.
        Iniciativas de certificação e rastreabilidade podem ajudar a garantir a origem responsável do ouro.
        Conclusão
        
        O ouro, com seu brilho e história rica, oferece um potencial ilimitado em diversos setores. Ao compreendermos suas características, aplicações e o mercado global, podemos desbloquear oportunidades para o desenvolvimento sustentável e a prosperidade.    </div>
    <br>
    <hr class="rounded">
</div>