<h1 id="h1Home">Diamante</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/diamante.jpg" width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        El diamante es una de las creaciones más bellas y preciosas de la naturaleza, siendo la única piedra natural compuesta por un solo elemento: el carbono. La estructura del diamante está formada por átomos de carbono puro dispuestos en las cuatro esquinas de un tetraedro y uno solo en su centro. Debido a esta disposición geométrica, el diamante es muy compacto, tiene una alta densidad (3,5 g/cm3) y es la sustancia natural más dura conocida.

        El diamante es conocido por su brillo incomparable y la capacidad de descomponer la luz blanca en los colores del arco iris. Cuando un rayo de luz blanca incide en una de las facetas de un diamante, se refracta y se dispersa en los colores que lo componen. El corte del diamante tiene como objetivo potenciar los reflejos de la luz en su interior.

        Los primeros testimonios de la fascinación del hombre por los diamantes se encontraron en textos de la India de alrededor del año 800 a.C., que describían la belleza y pureza de estos cristales y su durabilidad adquiría un significado místico y poderes supuestamente mágicos.

        Hoy en día, los diamantes se utilizan en joyería y son símbolos del amor eterno, el compromiso y la fidelidad entre dos personas. Además, los diamantes también se utilizan en la industria, por ejemplo en la fabricación de herramientas de corte, debido a su extrema dureza.    </div>
    <br>
    <hr class="rounded">
</div>