<h1 id="h1Home">Sorghum</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/sorgo.jpg"  width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        What is sorghum?

        Sorghum (Sorghum bicolor) is a hot climate cereal, belonging to the grass family, and originating in Africa. It is a robust plant and tolerant of adverse conditions, such as drought, heat and poor soils, making it an ideal option for regions with arid and semi-arid climates.
       
        Characteristics and Benefits of Sorghum:
       
        Versatility: Sorghum can be used for various purposes, such as:
        Human food: grains for direct consumption, flour, flakes, brown sugar, drinks and other products.
        Animal feed: whole grains, silage, hay and ground grains as a dietary supplement.
        Biofuels: production of ethanol and biodiesel.
        Industry: production of paper, cellulose, bioplastics and other products.
        Nutrition: Sorghum is rich in nutrients such as proteins, fiber, vitamins and minerals. Contains significant levels of iron, zinc and antioxidants, important for human health.
        Resilience: Its rusticity allows cultivation in areas with low fertility, irregular precipitation and high temperatures, making it an advantageous alternative in regions with climatic challenges.
        Sustainability: Sorghum has a short growth cycle, lower water demand and efficient nutrient management, making it a sustainable crop with less environmental impact.
        Sorghum Applications:
       
        Food security: Sorghum contributes to food and nutritional security, especially in regions with high climate and food vulnerability.
        Production diversification: Sorghum cultivation diversifies agricultural production, reducing risks and increasing the resilience of agricultural systems.
        Income for farmers: Sorghum production can generate income for family farmers, especially in less favored areas.
        Environmental sustainability: Sorghum contributes to environmental sustainability, with less use of natural resources and fewer greenhouse gas emissions.    </div>
    <br>
    <footer class="footer navbar-fixed-bottom">
            </footer>
</div>

