<h1 id="h1Home">鐵</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/ferro.jpg" width="200" height="200" >
    <br>
    <br>
    <div  class="textFont">
        鐵是化學元素，用符號Fe表示，原子序數26，原子質量55.851。 這種過渡金屬在化學純狀態下呈現銀白色，但由於硫化鐵、矽化物和碳化物的存在而呈現淺灰色。 鐵具有很強的磁性，是人類歷史上最常用的元素之一。<br>

        在自然界中，鐵並不是以遊離狀態存在的，而是通常以黃鐵礦 (FeS)、赤鐵礦 (Fe2O3) 和磁鐵礦 (Fe3O4) 的形式存在。 透過在加熱至 2000°C 的爐子中還原這些化合物，可以獲得鐵。<br>

        鐵有廣泛的用途。 它是鋼（鐵和碳的合金）生產的重要組成部分，廣泛用於土木建築、汽車、船舶等的製造。 此外，鐵是維持身體健康、能量和健康新陳代謝所必需的礦物質營養素3。 它有助於細胞健康並參與許多酶功能。<br>

        然而，值得注意的是，鐵的提取和使用對環境有重大影響。 鐵礦開採會導致土壤和水的退化，而鋼鐵生產是能源最密集的產業之一，對全球二氧化碳排放產生重大影響。<br>    </div>
    <br>
    <hr class="rounded">
</div>