<h1 id="h1Home">鐵</h1>
<div id="divHome">
    <img src="/carousel/browser/assets/images/ferro.jpg" width="200" height="200">
    <br>
    <br>
</div>
<div class="textFont">
    <p style="margin-left: 6em;"> <b> 鐵：</b> 現代文明的基本金屬<br>
    <p style="margin-left: 8em;">鐵是地殼中豐富的金屬，從那時起就塑造了人類歷史
        鐵器時代，
        公元前 1200 年左右，它的耐用性、抵抗力和多功能性使其對發展至關重要。
        的工具，
        武器、機器和基礎設施，推動多個領域取得進展。

    <p style="margin-left: 6em;"> <b> 鐵屬性：</b>

    <p style="margin-left: 8em;">
        <b> 堅固耐用：</b> 可承受巨大的力量和衝擊，使其成為建築物、機器和設備的理想選擇。
        工具。 <br>
        <b>可塑性和延展性：</b>可以模製成不同的形狀，允許創建複雜和
        個性化。 <br>
        <b> 磁性：</b> 此屬性是電動機和其他設備的基礎
        電磁。 <br>
        <b> 高導熱性和導電性：</b> 有效傳遞熱能和電力，
        用於各種電子元件和加熱系統。 <br>
        <b>與其他金屬的合金：</b>與其他金屬形成合金，例如碳（鋼）和鎳（不銹鋼），
        擴大其性能和應用。 <br>

    <p style="margin-left: 6em;"> <b> 熨斗應用：</b>

    <p style="margin-left: 8em;">
        <b>土木建築：</b>鋼筋可增強建築物、橋樑和其他結構中的混凝土。 <br>
        <b>汽車工業：</b>車身、引擎和零件由鋼和鑄鐵製造。 <br>
        <b>機械和設備：</b>農業機械、工業工具和建築設備
        他們使用鑄鐵和鋼。 <br>
        <b>家用電器：</b>冰箱、爐灶、洗衣機等家用電器都有組件
        鋼鐵。 <br>
        <b>鐵路軌道：</b>鑄鐵和鋼用於建造鐵路軌道，
        實現人員和貨物的高效運輸。 <br>

    <p style="margin-left: 6em;"> <b>歷史上的鐵：</b>

    <p style="margin-left: 8em;">
        <b>鐵器時代：</b>鐵器時代標誌著青銅時代的過渡，推動了發展
        更有效的工具、武器和農業。 <br>
        <b>工業革命：</b>鐵對工業革命至關重要，可以建造
        促進生產和貿易的機器、工具和基礎設施。 <br>
        <b>歷史建築：</b>標誌性橋樑、紀念碑和摩天大樓，如艾菲爾鐵塔和金門大橋
        橋樑，在其建造中使用了鋼鐵。 <br>
        <b>挑戰與永續性：</b>

    <p style="margin-left: 10em;">
        <b>採礦和環境影響：</b>鐵礦石的開採會造成環境影響，例如
        森林砍伐、水和空氣污染。可持續採礦實踐和回收技術
        最大限度地減少這些影響至關重要。 <br>
        <b>腐蝕：</b>鐵容易腐蝕，需採取噴漆、鍍鋅等防護措施
        或採用不銹鋼材質，以延長其使用壽命。 <br>

    <p style="margin-left: 6em;">
        鐵仍然是現代社會的重要金屬，推動了多個領域的發展
        部門。
        透過負責任的使用、永續採礦實踐和創新技術，鐵將繼續
        為人類未來的進步做出貢獻。
        <br>
        <br>
        <hr class="rounded">
</div>